@import "../variables.less";
@import "../mixins.less";

.confirmation-error-page {}

.error-page {
    padding: 40px;
    background: #fff;


    &__title {
        font-size: 26px;
        color: @textColor1;
        margin-bottom: 20px;
        text-align: center;
        margin:100px 0px;
    }

    &__info {
        font-size: 18px;
        color: @textColor2;
        text-align: center;
        &__item{margin-bottom: 20px;}
    }
}
