@import "../variables.less";
@import "../mixins.less";
@import "../static-page.less";

.iepage {
	background-color:white;

	&__image{
		border-radius:90px;
		width:180px;
		height:180px;
	}

	&__error{
		.font-size(40);
		font-weight:bold;
	}

	&__error-description {
		.font-size(18);

	}

	&__mozilla{
		left:-22px;

	}

	&__opera {
		left:-18px;
	}

	&__engine-image {
		width:70px;
		height:70px;
	}
}
