@-webkit-keyframes fillToRight {
  to {
    width: 100%
  }
}

@keyframes fillToRight {
  to {
    width: 100%
  }
}

.pt70 {
  padding-top: 70px
}

.pt30 {
  padding-top: 30px
}

.pb30 {
  padding-bottom: 30px
}

.mr20 {
  margin-right: 20px
}

.container {
  width: 1100px
}

.voucher {
  padding-top: 70px;
  background: #fff
}

.voucher__header {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  font-size: 1.5rem
}

.voucher__header * {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__nights {
  height: 70px;
  width: 70px;
  background: #5f6665;
  border-radius: 35px;
  position: relative;
  color: #fff;
  top: -10px;
  padding: 15px
}

.voucher__nights .num {
  font-weight: 800
}

.voucher__hotelmeta {
  line-height: 1.5
}

.voucher__hotelmeta>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__bookingmeta {
  border-bottom: 1px solid #000
}

.voucher__bookingmeta>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__title {
  font-size: .875rem;
  line-height: 1.5
}

.voucher__body {
  font-size: 1.5rem
}

.voucher__date {
  font-weight: 800
}

.voucher__year {
  font-weight: 100
}

.voucher__day,
.voucher__rooms {
  font-size: 1.25rem
}

.voucher__rooms {
  font-weight: 700
}

.voucher__dates>*,
.voucher__roomconfig>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__farehead {
  font-weight: 600
}

.voucher__faredetails>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__faredetails .breakup {
  width: 50%
}

.voucher__faredetails .breakup>* {
  line-height: 1.5
}

.voucher__payment {
  border-bottom: 1px solid #000;
  color: #000
}

.voucher__payment>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__payment .left {
  width: 50%
}

.voucher__payment .left>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__payment .right {
  width: 50%
}

.voucher__payment .right>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__final {
  font-size: 1.5rem
}

.voucher__about {
  border-bottom: 1px solid #000;
  height: 750px
}

.voucher__list {
  line-height: 1.5
}

.voucher__footer {
  height: 100px;
  border-bottom: 1px solid #000
}

.voucher__footer>* {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.voucher__footerlabel {
  color: #999;
  line-height: 1.5
}

.voucher__footerinfo {
  color: #000;
  font-size: 1.25rem
}

.voucher__treebo {
  height: 100px
}

.voucher__faq-link {
  margin-top: 25px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.new-voucher header {
  border-bottom: 1px solid #000;
  padding-bottom: 15px
}

.new-voucher .city {
  font-weight: 100;
  color: #000
}

.new-voucher .title {
  font-size: 1.25rem;
  float: left
}

.new-voucher .logo {
  float: right
}

.new-voucher .hotelmeta {
  float: left
}

.new-voucher .bookingmeta {
  height: 110px;
  border-bottom: 1px solid #000;
  padding-bottom: 15px
}

.new-voucher .bookingmeta>* {
  width: 50%;
  float: left
}

.new-voucher .bookingmeta .dates>* {
  width: 33%;
  float: left
}

.new-voucher .bookingmeta .roomconfig>* {
  width: 50%;
  float: left
}

.new-voucher .farehead {
  font-weight: 600
}

.new-voucher .faredetails>* {
  width: 50%
}

.new-voucher .faredetails .breakup {
  font-size: .9375rem
}

.new-voucher .faredetails .breakup>* {
  margin-bottom: 5px
}

.new-voucher .payment {
  border-bottom: 1px solid #000;
  padding-bottom: 50px
}

.new-voucher .payment .right>*,
.new-voucher .payment>* {
  width: 50%;
  float: left
}

.new-voucher .footer {
  height: 120px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px
}

.new-voucher .footer>* {
  width: 50%;
  float: left
}

.new-voucher .footer .imgcontainer {
  width: 10%;
  float: left
}

.new-voucher .footer .left,
.new-voucher .footer .right {
  float: left
}

.new-voucher .footer .left {
  width: 60%
}

.new-voucher .footer .right {
  width: 40%
}

.new-voucher .footer .right .imgcontainer {
  width: 15%
}

.new-voucher .footer .detail {
  width: 70%;
  float: left
}
