{% extends "root-desktop.html" %} {% block content %}
	<div class="container ph40 contactus">
		<div class="contactus__wrapper">

			<div class="contactus__lower">
				<div class="mb30 contactus__query">
					<h2 class="contactus__title ">We'd love to hear from you</h2>
					<div class="separator"></div>
					<p class="contactus__heading mb10">
						What is your query about
					</p>
					<div class="select">
						<select id="select-option" class="contactus__select-tag">
							<option formtoshow="hotel-rooms-availability-form" id ="s1" value = "hotel-rooms-availability">Hotel / Room Availability</option>
							<option formtoshow="corporate-travelagent-form" id = "s2" value = "corporate-travel">Corporate or Travel Agent Tie ups </option>
							<option formtoshow="booking-form" id = "s3" value = "booking" >Booking Confirmation/Modification/Cancellation</option>
							<option formtoshow="refund-form" id = "s4" value = "refund">Refund Related</option>
							<option formtoshow="checkin-checkout-form" id = "s5" value="checkin-checkout">Check In/Check out related</option>
							<option formtoshow="others-form" id = "s6" value="other">Other Request</option>

						</select>
					</div>
				</div>

				<div class = "form_type">
					{% include "desktop/contactus/forms/hotel-rooms-availability.html" %}
					{% include "desktop/contactus/forms/corporate-travelagent.html" %}
					{% include "desktop/contactus/forms/booking-confirmation-modification-cancellation.html" %}
					{% include "desktop/contactus/forms/refund.html" %}
					{% include "desktop/contactus/forms/others.html" %}
					{% include "desktop/contactus/forms/checkin-checkout.html" %}

				</div>
			</div>
			</div>

			<div class="separator separator--transparent"></div>

			<div class="contactus__upper">
				<h1 class="contactus__title">Contact Us</h1>
				<h3 class="contactus__medheading"><span class="">Office Address</span></h3>

				<div class="details flex-row">
					<div class=" text-left flex-column details__address">
						<h5 class="mb20"><span class="uc contactus__underline">Bangalore</span></h5>
						<div class = "mb50 contactus__bangalore">
								<p>Treebo Hotels</p>
								<p>AMR Tech Park, Block 1, First Floor 23 & 24,</p>
								<p>Hosur Main Road, Bommanahalli,</p>
								<p>Bengaluru, Karnataka - 560068</p>
						</div>
						<p class = "mb10">
							<i class="fa fa-times mr10 icon-telephone contactus__icon"></i>  <span class="contactus__reach-us">Reach us at <b>+91 9322 800 100</b></span>
						</p>
						<p>
							<i class="fa fa-times mr10 icon-mail contactus__icon"></i> Mail us at <a href="mailto:hello@treebohotels.com?subject=Hi !" target="_top"><b class="contactus__mail">hello@treebohotels.com</b></a>
						</p>

					</div>

					<div class="text-right details__map">
						<div class = "contactus__map">
							<div id='gmap_canvas' class = "contactus__mapLayout"></div>
						</div>

					</div>
				</div>
			</div>
		</div>

{% endblock %}