{% extends "root-desktop.html" %} {% block content %}

<div class="container aboutus">
			<!-- Story Starts -->
			<div class="flex-column ph250 story">
				<header class = "aboutus__header_info text-center mt40 mb30 story__header">
					OUR STORY
				</header>

				<div class="text-center ph20 story__content">
					<p class="mt10 mb20 story__item">
						Treebo derives its name from "Bo Tree", the fig tree under which Gautam Buddha attained enlightenment. The fig tree family - banyan, peepal among others - has inspired not just our name but also what we do.

					</p>

					<p class="mb20 story__item">
						In many ways these trees were the earliest form of budget hotels, offering shelter to travelers without discriminating between the rich and the poor. We too are obsessed about offering quality accommodation at affordable prices. The soothing shade of these trees allowed several interesting conversations among fellow travelers. While serving our guests dutifully, we too love to strike up a conversation or two with them.

					</p>

					<p class = "story__item">
						And finally, we also aspire to emulate the vast reach of the banyan tree. With presence in 100+ cities (and counting), we are making sure that we are available to serve wherever your travels take you. With the same obsession for quality. With the same penchant for conversations.
					</p>

					<div>Would love to hear from you too. Do drop by or call us sometimes.</div>
				</div>
			</div>
			<!-- Story Ends -->


			<!-- Leadership starts -->
			<div class = "aboutus__flex_item mt30 leadership">
				<header class = "aboutus__header_info text-center mt30 mb30 leadership__header">
					LEADERSHIP TEAM
				</header>
				<div class="separator"></div>

				<div class = "flex-row flex--space-around ph150 leadership__content">

					<div class = "leadership__profile flex-column text-center leadership__item">
						<img src = "{% get_static_url %}desktop/images/founders-image/rahul-new.png" class = "leadership__profile_image">
						<div class="separator"></div>
						<div class="separator"></div>
						<h4 class="leadership__name mt10 mb5">Rahul Chaudhary</h4>
						<h5 class="leadership__founder mb5">Founder</h5>
						<div class="leadership__founder_info">Founder @Treebo * Worked @Myntra (now part of Flipkart) and @McKinsey & Company * Studied@Indian Institute of Management, Ahmedabad and @Indian Institute of Technology Roorkee</div>

						<div class = "leadership__sociallinks ">
							<div class="leadership__linkedin-icon">
								<a href="https://www.linkedin.com/in/chaudharyrahul" target="_blank"><i class="fa fa-times mr10 icon-linkedin anchor anchor-white"></i></a>
							</div>
							<div class="leadership__twitter-icon">
								<a href="https://twitter.com/7rahulc" target="_blank"><i class="fa fa-times mr10 icon-twitter pl3 pt2 anchor anchor-white"></i></a>
							</div>
						</div>
					</div>


					<div class = "leadership__profile flex-column text-center leadership__item">
						<img src = "{% get_static_url %}desktop/images/founders-image/sidharth-new.png" class = "leadership__profile_image">
						<div class="separator"></div>
						<div class="separator"></div>
						<h4 class = "leadership__name mt10 mb5">Sidharth Gupta</h4>
						<h5 class = "leadership__founder mb5">Founder</h5>
						<div class = "leadership__founder_info"> Founder @Treebo * Worked @Myntra (now part of Flipkart) and @McKinsey & Company *  Studied@Indian Institute of Management, Bangalore and @Indian Institute of Technology, Roorkee</div>


						<div class = "leadership__sociallinks">
							<div class="leadership__linkedin-icon">
								<a href="https://www.linkedin.com/in/guptasidharth" target="_blank"><i class="fa fa-times mr10 icon-linkedin anchor anchor-white"></i></a>
							</div>
							<div class="leadership__twitter-icon">
								<a href="https://twitter.com/sidtreebo" target="_blank"><i class="fa fa-times mr10 icon-twitter pl3 pt2 anchor anchor-white"></i></a>
							</div>
						</div>
					</div>


					<div class = "leadership__profile flex-column text-center leadership__item">
						<img src = "{% get_static_url %}desktop/images/founders-image/kaddy-new.png" class = "leadership__profile_image">
						<div class="separator"></div>
						<div class="separator"></div>
						<h4 class = "leadership__name mt10 mb5">Kadam Jeet Jain</h4>
						<h5 class = "leadership__founder mb5">Founder</h5>
						<div class = "leadership__founder_info">Founder @Treebo * Worked at @mygola.com, @SMSGupshup * Technology enthusiast * Studied at @Indian Institute Of Technology - Roorkee</div>


						<div class = "leadership__sociallinks">
							<div class="leadership__linkedin-icon">
								<a href="https://www.linkedin.com/in/kaddy" target="_blank"><i class="fa fa-times mr10 icon-linkedin anchor anchor-white"></i></a>
							</div>
							<div class="leadership__twitter-icon">
								<a href="https://twitter.com/kaddyiitr" target="_blank"><i class="fa fa-times mr10 icon-twitter pl3 pt2 anchor anchor-white"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Leadership ends -->

			<div class="separator"></div>
			<!-- Join starts -->
			<div class = "aboutus__flex_item joinus pt10 text-center mt30 flex-row flex--align-center ">
				<div>
					<header class = "joinus__header_joinus mb20">
						JOIN US
					</header>
					<p class="ph150">
						As we grow rapidly to disrupt the multi billion dollar budget hotel market, we are looking for innovative minds to work with us. If our story strikes a chord, reach out to us with your resume at
						<div class = "joinus__mail text-center"><a href="https://careers.treebohotels.com" target="_blank" class="joinus__careers-link">careers@treebohotels.com</a></div>
					</p>
				</div>
			</div>
			<!-- Join ends -->

			<!-- News Starts -->
			<div class = "aboutus__flex_item text-center mt30 mb40 treebonews">
				<header class = "treebonews__header_treebo mb50">
					WE HAVE BEEN FEATURED
				</header>
				<div class = "treebonews__news_image_row">
					<div class = "treebonews__news_image"> <a href="//goo.gl/ZTcYNO" target="_blank"><img src = "{% get_static_url %}desktop/images/yourstory.png" alt="Yourstory.com" title="click to read"/> </a></div>

					<div class = "treebonews__news_image"> <a href="//goo.gl/Wg6i87" target="_blank"><img src = "{% get_static_url %}desktop/images/economictimes.png" alt="economictimes" title="click to read"/> </a></div>

					<div class = "treebonews__news_image"> <a href="//goo.gl/H2OpPW" target="_blank"><img src = "{% get_static_url %}desktop/images/dna.png" alt="dnaindia.com" title="click to read"/> </a></div>

					<div class = "treebonews__news_image"> <a href="//goo.gl/E1VwJm" target="_blank"><img src = "{% get_static_url %}desktop/images/businessworld.png" alt="businessworld.in" title="click to read"/> </a></div>

					<div class = "treebonews__news_image"> <a href="//goo.gl/jU6IlE" target="_blank"><img src = "{% get_static_url %}desktop/images/travhq.png" alt="travhq.com" title="click to read"/> </a></div>
				</div>

			</div>
			<!-- News Starts -->

</div>

{% endblock %}
