{% extends "root-desktop.html" %} {% block content %}
<div class="page container">
	<div class="policyPage">
    	<div class="flex-column ph60">
    		<div class="policyPage__heading mt30 mb30">
					<p>Privacy Policy</p>
			</div>
    		<div class="policyPage__content mb20">
    			<p>
    				We, Ruptub Solutions Private Limited, alias <b>"Treebo Hotels"</b>, <b>"us"</b>, <b>"we"</b> or <b>"our"</b>, involved in the business of inter alia facilitating your enquiries and booking of our branded budget accommodation properties through our Website (as defined below) and App ( as defined below), are fully committed to respecting your privacy and shall ensure that your personal information is safe with us. This privacy policy sets out the information practices of our Website and App including the type of information that is collected, how the information is collected, how the information is used and with whom it is shared (<b>"Privacy Policy"</b>). Reference to <b>"you"</b> or <b>"your"</b> in this Privacy Policy refers to the users of this Website, whether or not you access the services offered by us (<b>"Services"</b>) or consummate a transaction on the Website.</p>

    			<p><b>
    				By using our website, services and the App or by otherwise giving us your information, you agree to the terms of this privacy policy. You also expressly consent to our use and disclosure of your Personal Information (as defined below) in the manner prescribed under this Privacy Policy and further signify your agreement to this Privacy Policy, the stay policy (Available <a href="{% get_static_url %}desktop/docs/stay_policy.pdf" target="_blank">here</a>) and the Terms of Use (Available <a href="/terms/" target="_blank">here</a>). If you do not agree to this Privacy Policy, do not subscribe to the services, use the website or the App and do not give us any of your information.</b></p>

    			<ol class="pl20" type="1">
    				<li class="li-class"><p class="policyPage__content-heading">DEFINITIONS</p>
    					<p><b>"App"</b> shall mean the mobile software application in the name of Treebo Hotels which can be downloaded from a public forum and installed and operated on a mobile device. </p>
						<p><b>"Audit Information"</b> shall have the meaning ascribed to such term in Clause 2.1 (e) and 2.2 (e) of this Privacy Policy.</p>
						<p><b>"Force Majeure Event"</b> shall mean any event that is beyond our reasonable control and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or industrial action or any kind, riots, insurrection, war, acts of government, computer hacking, unauthorized access to your mobile or storage device, crashes, breach of security and encryption.</p>
						<p><b>"Friends of Treebo"</b> shall have the meaning ascribed to such term in Clause 2.1 (e) of this Privacy Policy.</p>
						<p><b>"Hotel Information"</b> shall have the meaning ascribed to such term in Clause 2.1 (f) and 2.2(f) of this Privacy Policy.</p>
						<p><b>"Mobile Device Information"</b> shall have the meaning ascribed to such term in Clause 2.2 (b) of this Privacy Policy.</p>
						<p><b>"Technical Information"</b> shall have the meaning ascribed to such in Clause 2.2(a) of this Privacy Policy.<p>
						<p><b>"Personal Information"</b> refers to any information that relates to a natural person, which, either directly or indirectly, in combination with other information available or likely to be available with us is capable of identifying such person.</p>


    					<ol class="ml20" type="a">
    						<li class="mb10 li-class">passwords;</li>
    						<li class="mb10 li-class">financial information such as bank account or credit card or debit card or other payment instrument details;</li>
    						<li class="mb10 li-class">physical, physiological and mental health condition;</li>
    						<li class="mb10 li-class">sexual orientation;</li>
    						<li class="mb10 li-class">medical records and history;</li>
    						<li class="mb10 li-class">biometric information;</li>
    						<li class="mb10 li-class">any detail relating to the above clauses as provided to body corporate for providing service; and</li>
    						<li class="mb10 li-class">any of the information received under above clauses by body corporate for processing, stored or processed under lawful contract or otherwise.</li>


    					</ol>

    					<p><b>"SNS"</b> shall have the meaning ascribed to such term in Clause 2.1 (b) of this Privacy Policy.</p>
						<p><b>"Third Party"</b> refers to any person or entity other than you or us.</p>
						<p><b>"Third Party Account"</b> shall have the meaning ascribed to such term in Clause 2.1 (b) of this Privacy Policy.</p>
						<p><b>"Treebo Centre"</b> shall have the meaning ascribed to such term in Clause 2.2 (b) of this Privacy Policy.</p>
						<p><b>"Website"</b> shall mean <a href="/" target="_blank">www.treebo.com</a>.</p>
    				</li>

    				<li class=" li-class mt20"><p class="policyPage__content-heading">INFORMATION COLLECTION</p>
    					<ol type="i">
    						<li class="mb10 li-class"><p class="policyPage__subheading"><b>Information Collected by the Website</b></p>
    							<p class="policyPage__subheading pl5">Information provided by you in relation to the registration process:</p>
    							<ol type="a">
		    						<li class="mb10 li-class">In order to provide you a safe, efficient, smooth and customized experience and in order to take advantage of certain features available on the Website including, but not limited to, public forums, accessing or uploading reviews or taking part in surveys, you will be asked to complete an online registration form which will provide us with your Personal Information such as name, address, phone number and email address. In the event you register with us, you will also be asked to choose a user identity and password in order to identify yourself during future uses of the Website.</li>
		    						<li class="mb10 li-class">You can also register on the Website by logging into online accounts that you may have with Third Party service providers (<b>"SNS"</b>) (e.g. Facebook); (each such account, a <b>"Third Party Account"</b>), in the manner described below. As part of the functionality of the Website, you may link your account with Third Party Accounts, by either: (i) providing your Third Party Account login information to us through the Website; or (ii) allowing us to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. You represent that you are entitled to disclose your Third Party Account login information to us and/or grant us access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating us to pay any fees or making us subject to any usage limitations imposed by the applicable SNS. If you decide to register by logging into a Third Party Account via our Website, we will obtain from your public profile the Personal Information you have provided to the applicable SNS (such as your name, email address, profile picture, names of SNS friends, names of SNS groups to which you belong, other information you make publicly available via the applicable SNS and/or other information you authorize us to access by authorizing the SNS to provide such information to us) from your Third Party Accounts and use that information to create your account and profile page and you will become a member on the Website. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, you understand that by granting us access to the public profile of your Third Party Account, we will access, make available and store (if applicable and as permitted by the SNS and authorized by you) the information in the public profile of your Third Party Account so that it is available on and through your account on the Website. If there is information about your <b>"friends"</b> or people with whom you are associated in your Third Party Account, the information we obtain about those <b>"friends"</b> or people with whom you are associated, may also depend on the privacy settings such people have with the applicable SNS.</li>

		    						<li class="mb10 li-class">We also collect certain Sensitive Personal Data or Information to (i) facilitate your payment towards the booking of the desired hotel; and (ii) ensure that our hotels match the specifications provided by you at the time of booking. Further, we may collect certain other information that may not be categorized as Personal Information as part of the registration, administration and personalization of your account profile.</li>

		    						<li class="mb10 li-class">While we recommend that you register yourself with us to maximize your experience on the Website, this feature is optional and you may opt out of registering on the Website and continue to use the Website as a guest. However, if you choose to register on the Website, you will have to provide certain Personal Information that is necessary for us to deliver our Services.</li>

		    						<li class="mb10 li-class">In addition to the collection of Personal Information and Sensitive Personal Data or information for facilitating the provision of our services, we also collect personal and certain Sensitive Personal Data or Information by way of the <b>"Friends of Treebo"</b> initiative on the Website. Friends of Treebo is a unique initiative under which we crowdsource our quality audits to users to get a true and accurate assessment of the quality delivered at our hotels. The users can sign up for the initiative by entering their Personal Information including without limitation the name, email address, mobile number, current address, resident city, age, marital status, assets owned, occupation, best travel experiences and such other information as may be sought by us. Once you have signed up for the Friends of Treebo initiative, you will be required to provide certain information in connection with your stay experience at the hotels of our discretion (such information, <b>"Audit Information"</b>). In addition to this Privacy Policy, all users who sign up for the  <b>"Friends of Treebo"</b> initiative would also be bound by the <b>"Friends of Treebo"</b> Terms and conditions (available<a href="//www.treebo.com/static/files/FriendsofTreebotermsandconditions.pdf" target="_blank"> here</a>). We may associate your Audit Information with any Personal Information you provide, and we treat the combined information as Personal Information.</li>

		    						<li class="mb10 li-class">In addition to the collection of Personal Information and Sensitive Personal Data or Information for facilitating the provision of our Services, we also collect information from representatives of Hotels who wish to register with us under the <b>"Join our Network"</b> platform. During the stage of registration, the <b>"Join our Network"</b> platform collects certain information including without limitation the name of the hotel, address of the hotel, phone number of the hotel, state and city in India in which the hotel is located, number of rooms at the hotel, average room rate of the hotel, current occupancy of the hotel in percentage, name of the contact person at the hotel, personal phone number of the contact person at the hotel and such other information as may be sought by us (such information, <b>"Hotel Information"</b>). We may associate your Hotel Information with any Personal Information you provide, and we treat the combined information as Personal Information.</li>


    							</ol>
   							</li>

    						<li class="mb10 li-class"><p class="policyPage__content-heading">Information collected by the App</p>
    							<ol type="a">
		    						<li class="mb10 li-class">In addition to our Website, you may use our Services through our App which is downloaded by you from a public forum providing software mobile applications. You agree that we may collect and use technical data and related information, including but not limited to, technical information such as health status and SIM card related data about the mobile device, the system and the App located on the mobile device (collectively, <b>"Technical Information"</b>) that is gathered periodically to facilitate the provision of Services. </li>

		    						<li class="mb10 li-class">When you use the App on your mobile device, we may automatically collect some or all of the following information (collectively, <b>"Mobile Device Information"</b>), including without limitation:
		    							<ul>
		    								<li class="mb10 mt10 li-class">The phone number or other unique device identifier assigned to your mobile device - such as the International Mobile Equipment Identity or the Mobile Equipment ID Number;</li>

		    								<li class="mb10 mt10 li-class">The IP address of your mobile device;</li>

		    								<li class="mb10 mt10 li-class">The manufacturer and model of your mobile device;</li>

		    								<li class="mb10 mt10 li-class">The type of mobile Internet browsers you are using;</li>

		    								<li class="mb10 mt10 li-class">Your geographic location;</li>

		    								<li class="mb10 mt10 li-class">The call record of the calls between you and our customer support centre; (<b>"Treebo Centre"</b>);</li>

		    								<li class="mb10 mt10 li-class">Information which allows us to personalize the Services and the content available through the App.</li>
		    							</ul>

		    						</li>


		    						<li class="mb10 li-class">We may use the Mobile Device Information for the following purposes:
		    							<ul>
		    								<li class="mb10 mt10 li-class">TTo identify your location when the App is activated;</li>

		    								<li class="mb10 mt10 li-class">To prevent, discover and investigate violations of this Privacy Policy or the Terms and Conditions, and to investigate fraud or other matters; and</li>

		    								<li class="mb10 mt10 li-class">To provide uninterrupted Services to you </li>
		    							</ul>

		    							<p>We may associate your Technical Information and Mobile Device Information with any Personal Information you provide, and we treat the combined information as Personal Information.</p>

		    						</li>

		    						<li class="mb10 li-class">In addition to the Technical information and the Mobile Device Information, we also collect information provided by you in relation to the registration process:
		    							<ul>
		    								<li class="mb10 mt10 li-class">In order to provide you a safe, efficient, smooth and customized experience and in order to take advantage of certain features available on the App including, but not limited to, public forums, accessing or uploading reviews or taking part in surveys, you will be asked to complete an online registration form which will provide us with your Personal Information such as name, address, phone number and email address. In the event you register with us, you will also be asked to choose a user identity and password in order to identify yourself during future uses of the App.</li>

		    								<li class="mb10 mt10 li-class">You can also register on the App by logging into any of your Third Party Accounts, in the manner described below. As part of the functionality of the App, you may link your account with Third Party Accounts, by either: (i) providing your Third Party Account login information to us through the App; or (ii) allowing us to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. You represent that you are entitled to disclose your Third Party Account login information to us and/or grant us access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating us to pay any fees or making us subject to any usage limitations imposed by the applicable SNS. If you decide to register by logging into a Third Party Account via our App, we will obtain from your public profile the Personal Information you have provided to the applicable SNS (such as your name, email address, profile picture, names of SNS friends, names of SNS groups to which you belong, other information you make publicly available via the applicable SNS and/or other information you authorize us to access by authorizing the SNS to provide such information to us) from your Third Party Accounts and use that information to create your account and profile page and you will become a member on the App. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, you understand that by granting us access to the public profile of your Third Party Account, we will access, make available and store (if applicable and as permitted by the SNS and authorized by you) the information in the public profile of your Third Party Account so that it is available on and through your account on the App. If there is information about your <b>"friends"</b> or people with whom you are associated in your Third Party Account, the information we obtain about those <b>"friends"</b> or people with whom you are associated, may also depend on the privacy settings such people have with the applicable SNS.</li>

		    								<li class="mb10 mt10 li-class">We also collect certain Sensitive Personal Data or Information to (i) facilitate your payment towards the booking of the desired hotel; and (ii) ensure that our hotels match the specifications provided by you at the time of booking. Further, we may collect certain other information that may not be categorized as Personal Information as part of the registration, administration and personalization of your account profile.</li>

		    								<li class="mb10 mt10 li-class">While we recommend that you register yourself with us to maximize your experience on the App this feature is optional and you may opt out of registering on the App and continue to use the App as a guest. However, if you choose to register on the App, you will have to provide certain Personal Information that is necessary for us to deliver our Services</li>
		    							</ul>

		    						</li>


		    						<li class="mb10 li-class">In addition to the collection of Personal Information and Sensitive Personal Data or information for facilitating the provision of our services, we also collect personal and certain Sensitive Personal Data or Information by way of the <b>"Friends of Treebo"</b> initiative on the App. Friends of Treebo is a unique initiative under which we crowdsource our quality audits to users to get a true and accurate assessment of the quality delivered at our hotels. The users can sign up for the initiative by entering their Personal Information including without limitation the name, email address, mobile number, current address, resident city, age, marital status, assets owned, occupation, best travel experiences and such other information as may be sought by us. Once you have signed up for the Friends of Treebo initiative, you will be required to provide certain information in connection with your stay experience at the hotels of our discretion (such information, <b>"Audit Information"</b>). In addition to this Privacy Policy, all users who sign up for the  <b>"Friends of Treebo"</b> initiative would also be bound by the <b>"Friends of Treebo"</b> Terms and conditions (available<a href="//www.treebo.com/static/files/FriendsofTreebotermsandconditions.pdf" target="_blank"> here</a>). We may associate your Audit Information with any Personal Information you provide, and we treat the combined information as Personal Information.</li>

		    						<li class="mb10 li-class">In addition to the collection of Personal Information and Sensitive Personal Data or Information for facilitating the provision of our Services, we also collect information from representatives of Hotels who wish to register with us under the <b>"Join our Network"</b> platform. During the stage of registration, the <b>"Join our Network"</b> platform collects certain information including without limitation the name of the hotel, address of the hotel, phone number of the hotel, state and city in India in which the hotel is located, number of rooms at the hotel, average room rate of the hotel, current occupancy of the hotel in percentage, name of the contact person at the hotel, personal phone number of the contact person at the hotel and such other information as may be sought by us (such information, <b>"Hotel Information"</b>). We may associate your Hotel Information with any Personal Information you provide, and we treat the combined information as Personal Information.</li>


    							</ol>
    						</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class=" policyPage__content-heading ">USE OF INFORMATION COLLECTED </p>
    					<ol type="i">
    						<li class="li-class mb10">Our primary goal in collecting your Personal Information and Sensitive Personal Data or Information is to provide Services to you and to provide you with an enhanced experience when using the Website and/or the App. We use the information provided by you for booking hotels chosen by you and for such functions as may be necessary to record, support and facilitate your access to the Website and/or the App. We also use Hotel Information provided by you for registration of hotels who wish to join our network of hotels. We also use the Audit Information provided by you to ensure and safeguard the quality standards at our hotels.</li>

    						<li class="li-class">Cookies: Cookies are small pieces of information saved by your browser. Cookies are used to record various aspects of your visit and assist us to provide you with uninterrupted service. Cookies may be set in your browser by us when you access the Website or the App or may be set in when you visit Third Party apps or websites. This anonymous information is maintained distinctly and is not linked to the Personal Information that you submit to us.
							<p>We use cookies collected to:</p>
							<ol class="" type="a">
								<li class="li-class">Authenticate your login information; </li>
								<li class="li-class">Enable our security features;</li>
								<li class="li-class">Show you advertising; and</li>
								<li class="li-class">Improve and develop the features of the Website and the App.</li>
							</ol>
							<p class="pt20">Please feel free to change your browser settings if you do not wish to accept cookies. However, please note that changing your browser setting may affect your experience on the Website and the App.</p>

    						</li>

    						<li class="li-class mb10">Others: In addition to the cookies, we may also collect information to enable us to better understand you so that we can improve your user experience; to assist our customer service and technical support personnel; and put processes in place to prevent fraud and unlawful use. In an effort to make the Website and the App effective and in order to improve the Website and the App, certain information may be collected each time you access the Website and the App. Such information or data may include, but shall not limit to, IP address, your server details, duration of your visit, date, time or purpose of your visit. Such information may be saved on our servers and shall not be shared with any Third Party or accessible by any Third Party, except in the manner contemplated under this Privacy Policy. In addition to cookies, we use web beacons, ad tags, pixels to advertise as part of the Website and the App. The abovementioned data may be used by us and may be shared with our sponsors, investors, advertisers, developers, strategic business partners or other associates to enhance and grow the user experience in relation to the Website and the App.</li>

    						<li class="li-class mb10">Communication: We may offer email, App notifications, short message service (sms), multimedia message service (mms) or other forms of communication to respond to any queries that you may have, to provide any information in connection with the bookings made by you, to ensure that the Services have been provided to you in a timely manner and also to share information with you about certain promotions or features the Website or the App may choose to offer, or about our affiliates, subsidiaries, business partners, advertisers and sponsors. You may receive such communication when you have registered as a user.</li>

    					</ol>
    				</li>

    				<li class="li-class mt20"><p class=" policyPage__content-heading ">SHARING OF INFORMATION  </p>
    					<ol type="i">

    						<li class="li-class">To the extent necessary to provide you the Services, we may provide your Personal Information to the following Third Parties without notice to you:
								<ol class="mt10 mb10" type="a">
									<li class="li-class">Third Party contractors, who work on behalf of or with us to provide you with such services, to help us communicate with you or to maintain the Website or the App, on a 'need to know' basis;</li>
									<li class="li-class">Governmental authorities, in such manner as permitted or required by applicable law;</li>
									<li class="li-class">corporate entities and affiliates, to help detect and prevent identity theft, fraud and other potentially illegal acts, correlate related or multiple accounts to prevent abuse of our Services, and to facilitate joint or co-branded services that you request, where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing, unless you explicitly opt-in; and/or</li>

									<li class="li-class">another business entity, should we plan to merge with, or be acquired by that business entity, or re-organization, amalgamation, restructuring of business. Should such a transaction occur, that other business entity (or the new combined entity) will be required to follow this Privacy Policy with respect to your Personal Information and Sensitive Personal Data or Information</li>
								</ol>

    						</li>

    						<li class="li-class mb10">Legal proceedings: In the event we are required to respond to subpoenas, court orders or other legal process, your Personal Information may be disclosed pursuant to such subpoena, court order or legal process, which may be without notice to you.</li>

    					</ol>
    				</li>




    				<li class="li-class mt20"><p class=" policyPage__content-heading">LINK TO THIRD PARTY WEBSITES AND APPS</p>
    					<p>The Website, the App and any other communication sent to you may also contain/display Third Party advertisements and links to other websites, applications or products and services. You agree and acknowledge that these websites and applications are operated by Third Parties and are not controlled by, or affiliated to, or associated with us, unless expressly specified. We are not responsible for any form of transmission, whatsoever, received by you from any such Third Party. Accordingly, we do not make any representations concerning the privacy practices or policies of such Third Parties or terms of use of such websites or applications, nor do we control or guarantee the accuracy, integrity, or quality of, without limitation, the information, data, text, software, music, sound, photographs, graphics, videos, messages or other materials available on such websites or applications. The inclusion or exclusion does not imply any endorsement by us of such websites, applications, the Third Party, or the information on such websites or such applications. The information provided by you to such Third Party websites or applications shall be governed in accordance with the privacy policies of such websites or applications and it is recommended that you review the privacy policy on any such websites and applications prior to using such websites or applications.</p>

    					<p>These Third Party websites and applications and advertisers may use technology to send advertisements directly to your browser. In such cases, the Third Party websites, applications or advertisers automatically receive your IP address. They may also use cookies, JavaScript, web beacons and other technologies to measure the effectiveness of their advertisements and to personalize advertising content. We do not have access to or control over cookies or other features that such Third Party websites and applications and advertisers may use, and the information practices of these Third Party websites and applications and advertisers are not covered by this Privacy Policy. Please contact them directly for more information about their privacy practices.</p>

    				</li>

    				<li class="li-class mt20"><p class=" policyPage__content-heading">SECURITY</p>
    					<p>We strive to ensure the security, integrity and privacy of your Personal Information and Sensitive Personal Data or Information and to protect your Personal Information and Sensitive Personal Data or Information against unauthorized access, alteration, disclosure or destruction. The Website and App have stringent security measures (physical, electronic and managerial) in place to protect against the loss, misuse, and alteration of the Personal Information and Sensitive Personal Data or Information under our control. You shall have a right to view and modify the contents of your profile on the website and the App. Whenever you change or access your account information, we offer the use of a secure server. The Website's and App's servers are accessible only to authorized personnel and your information is shared with our employees and authorized personnel on a 'need to know' basis, to complete the transaction and to provide the Services.</p>

    					<p>We are not responsible for any breach of security or for any actions of any Third Parties that receive your Personal Information and Sensitive Personal Data or Information. The Services also linked to Third Party sites and we are not/shall not be responsible for the privacy practices or the content of such sites.</p>

						<p>Notwithstanding anything contained in this Privacy Policy or elsewhere, we shall not be held responsible for any loss, damage or misuse of your Personal Information and Sensitive Personal Data or Information, if such loss, damage or misuse is attributable to a Force Majeure Event.</p>

    				</li>

    				<li class="li-class mt20"><p class=" policyPage__content-heading">NOTIFICATION OF CHANGES </p>
    					<p>We may update this Privacy Policy at any time, with or without advance notice. In the event there are significant changes in the way we treat your Personal Information, or in the Privacy Policy document itself, we will display a notice on the Website so that you may review the changed terms prior to continuing to use the Website. As always, if you object to any of the changes to our terms, and you no longer wish to use the Website, you may contact <a href="mailto:alerts.webbooking@treebohotels.com?subject=Please deactivate my account" target="_top">alerts.webbooking@treebohotels.com</a>, to deactivate your account. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account.</p>

    					<p>Using our Services or accessing the Website or the App after a notice of changes has been sent to you shall constitute your consent to the changed terms.</p>

    				</li>

    				<li class="li-class mt20"><p class=" policyPage__content-heading">ADDRESS FOR PRIVACY QUESTIONS </p>
    					Should you have questions about the Privacy Policy or our information collection, use and disclosure practices, you may contact us at the address: <a href="mailto:alerts.webbooking@treebohotels.com?subject=Query regarding privacy policy" target="_top">alerts.webbooking@treebohotels.com</a>. We will use reasonable efforts to respond promptly to requests, questions or concerns you may have regarding our use of your Personal Information. Except where required by law, we cannot ensure a response to questions or comments regarding topics unrelated to this Privacy Policy or our privacy practices.
    				</li>

    				<li class="li-class mt20"><p class=" policyPage__content-heading">GRIEVANCE OFFICER</p>
    					In accordance with the Information Technology Act, 2000 and the rules made thereunder, the name and contact details of the Grievance Officer are provided below:
    				</li>


    			</ol>

    		</div>
    		<div class="policyPage__officer mb20 pl25">
                <p>Email Address: <a href="mailto:alerts.webbooking@treebohotels.com?subject=Grievance Redressal" target="_top">alerts.webbooking@treebohotels.com</a></p>
            </div>
   		 </div>
	</div>
</div>
{% endblock %}
