<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Image Upload details</title>
    <style>
        .info {
            padding-top: 10px;
            font-size: large;
        }
    </style>
</head>
<body>

<div class="confirm-text">Please confirm the details before proceeding</div>

<br>
<div class="info">Entered Hotel ID - </div>
<table>
    <tr>
        <td>{{ data.hotel_id }}</td>
    </tr>

</table>

<form action="" enctype="multipart/form-data" method="post" style="display: none" name="confirm-form">
    {% csrf_token %}
    {{ form.as_p }}
    {{ wizard.management_form }}
    <input name="uuid" type="hidden" value="{{ uuid }}">

</form>
<button onclick="window.history.back();">Back</button>
<button type="submit" onclick="confirmFormSubmit();">Confirm</button>
<script>

    function confirmFormSubmit() {
        var confirmation = window.confirm('Have you verified the details above? Clicking on yes will upload the images!');
        if (confirmation) {
            submitForm();
        }
    }

    function submitForm() {
        document.forms.namedItem('confirm-form').submit();
    }
</script>
</body>
</html>