{% load url_hashifier %}
{% for hotel in results%}
<div soldout="{{hotel.available}}" style="order:{{forloop.counter0}}" class="results__row hotelAvailibility-{{hotel.available}}" data-id="{{hotel.id}}" checkin-date="{{hotel.cancelAuditDate}}" audit-id="{{hotel.orderId}}" hotel="{{ hotel.hotelName }}" room-type="{{hotel.cheapest_room_type}}">

    <input type="hidden" class="js-hidden-amenities" name="name" value="{{hotel.amenities|join:'||'}}">
    <div class="results__item hotel flex-row">

        <div class="hotel__images">
            <div class="paging-info pos-abs"></div>
            <div class="js-hotels-carousel carousel image-carousel pos-rel">
                {% for image in hotel.images %}
                <div class="carousel__img" style="background-image: url('{% get_static_url %}desktop/images/new_treeboleaf.png');"><img class="" data-lazy="{{ image.url }}?w=250&fit=crop&fm=jpg&h=200" src=""></div>
                {% endfor%}
            </div>
        </div>
        <div class="hotel__content flex-column">
            {% if hotel.promoTagline%}
            <div promocode="{{hotel.promoTagline}}" class="a-promo hotel__promo"><i class="icon-deals"></i>{{hotel.promoTagline}}</div>

            {% endif%}
            <div class="hotel__name">{{ hotel.hotelName }}
                {% for categoty in hotel.categories %}
                    <span class="category-tag">{{categoty}}</span>
                {% endfor%}
            </div>

            <div class="hotel__info flex-row flex--space-between">
                <div locality="{{hotel.area.locality}}" city="{{hotel.area.city}}" class="hotel__address analytics-address">
                    <div  class="street pos-rel"><i class="icon-location"></i>{{ hotel.area.locality }}, {{ hotel.area.city }}</div>
                </div>
            </div>
            <div class="hotel__footer">
               <div class="hotel__action flex-row pos-rel">
                    <div class="hotel__credits pos-abs">
                        {{hotel.credits}} credits
                    </div>
                    <div class="flex-row flex--align-center">
                        {% if hotel.available == "scheduleaudit" %}
                        <div class="scheduleAudit analytics-quickbook hotel__action__book btn btn--secondary btn--round">Schedule Audit</div>

                        {% elif hotel.available == "canceldaudit" %}
                        <div class="cancelAudit analytics-quickbook hotel__action__book btn btn--secondary btn--round">Cancel Audit</div>

                        {% elif hotel.available == "closedaudit" %}
                        <div class="closeAudit analytics-quickbook hotel__action__book btn btn--secondary btn--round">Audit Closed</div>

                        {% elif hotel.available == "soldout" %}
                        <div class="soldOut analytics-quickbook hotel__action__book btn btn--secondary btn--round">Sold Out</div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor%}
