{% extends "fot-root-desktop.html" %} {% block content %}
<div class="result-page">
    <div class="result-page__search-container flex-row flex--align-center">
        {% include "desktop/includes/searchFotWidget.html" %}
    </div>

    <input id="hotelCity" type="hidden" name="city" value="{{city}}">
    <input id="userId" type="hidden" name="user_id" value="{{request.user.id}}">
    <input id="userEmail" type="hidden" name="user_email" value="{{request.user.email}}">
    <input id="redemptionStatusToggle" type="hidden" name="redemption_toggle" value="{{is_redemption_enable}}">

    <div class="result-page__content">
        <div class="container column flex-row main-wrapper">
            <div class="column__left flex-column left-part">
                {% if auditcount >= 2 %}
                    <div id="maxAuditBookedError" class="result-page__audit-error">
                        You have reached your audit limit and cannot book more audits at the moment. Please complete the scheduled audits first.
                    </div>
                {% elif userAlreadyBookedToday %}
                    <div id="sameDateAuditError" class="result-page__audit-error">
                        You have already booked an audit for this date. Please choose another date. Find your upcoming audits <a href="/account" target="_blank" class="result-page__link">here</a>.
                    </div>
                {% endif %}
                <div class="results">
                    {% if results|length < 1 %}
                        <div class="no-result">
                            <div class="no-result__container flex-row flex--align-center">
                                <div class="no-result__icon">
                                    <i class="sprite-illustration sprite-illustration--empty"></i>
                                </div>
                                <div class="no-result__text">
                                    <div class="no-result__title">NO result found matching your search!</div>
                                    <div class="no-result__sub"> We couln't find any result that matched your criteria, but tweaking your search may help!
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif%}
                    <div class="search-results-container flex-column">
                        {% include "desktop/fot/audit/hotel.html" with results=results %}
                        <div class="result-page__no-filter-result hide" id="noFilterResult">
                            <div class="no-result">
                                <div class="no-result__container flex-row flex--align-center">
                                    <div class="no-result__icon">
                                        <i class="sprite-illustration sprite-illustration--empty"></i>
                                    </div>
                                    <div class="no-result__text">
                                        <div class="no-result__title">NO results found matching your criteria!</div>
                                        <div class="no-result__sub">We couldn't find any result that matched your criteria. Try applying different filters !
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="column__right pos-rel side-window sidebar">
                <div id="sideWidgets"></div>
            </div>
        </div>
        <div class="flex-column seo-bottom">
        </div>
    </div>


    <div id="confirmAudit" class="modal popup-modal pos-abs flex-column hide">
        <div class="modal__body popup-modal__body pos-rel">
            <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                <i class="icon-cross"></i>
            </div>
            <div class="auditPopup">
                <div class="auditPopup__title text-center">
                        PLEASE CONFIRM YOUR BOOKING!
                </div>
                <div class="auditPopup__desc">
                    Awesome! You are almost done. Please read the note below and confirm your booking:
                </div>

                <ol type='1'>
                    <li class="auditPopup__li-class">In case your travel plans change, please cancel your audit at least 24 hours prior to check-in, so that your slot becomes available to other members. </li>
                    <li class="auditPopup__li-class">Please submit your feedback within 24 hours of checkout. We may not be able to offer audit slots in future if you submit feedback late.</li>
                </ol>

                <div class="flex-column">
                    <div class="auditPopup__term">
                        <input type="checkbox" name="terms1" class="check-term" value="">I agree to conduct a mystery audit at <span id="checkHotel" class="auditPopup__highlight"></span> on <span id="checkDate" class="auditPopup__highlight"></span>.
                    </div>
                </div>
                <div class="text-center mt30">
                    <input id="auditConfirm" type="submit" class="btn auditPopup__submit submit" value="confirm"/>
                </div>

            </div>
        </div>
    </div>


    <div id="auditSuccess" class="modal popup-modal pos-abs flex-column fot-success-fail hide">
        <div class="modal__body popup-modal__body pos-rel">
            <div class="flex-column text-center">
                <div class="fot-success-fail__header">
                    CONGRATULATIONS! YOUR AUDIT IS CONFIRMED.
                </div>

                {% if auditcount|add:'1' <= userSlotsAllowed %}
                    <div class="fot-success-fail__desc">
                         Wasn’t this quick and easy? You will shortly receive a confirmation voucher, and a separate email with instructions and the feedback link.
                    </div>

                    <div class="text-center mt30">
                        <div id="bookAnotherAudit" class="btn fot-success-fail__book-audit submit">BOOK ANOTHER AUDIT</div>
                    </div>

                {% else %}

                    <div class="fot-success-fail__desc">
                         <p>You will soon receive a confirmation voucher and an email with instructions for audit.</p>
                    </div>
                    <div class="fot-success-fail__desc">
                         <p>You seem to have reached your audit limit. Please book a Treebo room if you are looking for more accommodation.</p>
                    </div>

                    <div class="text-center flex-row mt50">
                        <a href="/" value="" target="_blank"><div id="bookTreebo" class="btn fot-success-fail__audit-button submit">BOOK A TREEBO</div></a>
                        <a href="/fot/search" value=""><div id="backSearch" class="btn fot-success-fail__back submit">BACK TO SEARCH</div></a>
                    </div>

                {% endif %}

                <div class="fot-success-fail__desc">
                     Have any queries? Check out the <a href="/faq/#fot" target="_blank"><u>FAQs</u></a>.
                </div>

            </div>

        </div>
    </div>

    <div id="auditFail" class="modal popup-modal pos-abs flex-column fot-success-fail hide">
        <div class="modal__body popup-modal__body pos-rel">
            <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                <i class="icon-cross"></i>
            </div>
            <div class="flex-column text-center">
                <div class="fot-success-fail__header">
                    <span class="fot-success-fail__congo-sorry-text">OOOPS! </span>SOMETHING WENT WRONG
                </div>

                <div class="fot-success-fail__desc">
                    Sorry! Something went wrong during the booking process. Please schedule an audit again.
                </div>

                <div class="text-center mt30">
                    <a href="/fot/search" value=""><div id="backSearch" class="btn fot-success-fail__book-audit submit">Book an audit</div></a>
                </div>
            </div>

        </div>
    </div>

    <div id="validateFail" class="modal popup-modal pos-abs flex-column fot-success-fail hide">
        <div class="modal__body popup-modal__body pos-rel">
            <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                <i class="icon-cross"></i>
            </div>
            <div class="flex-column text-center">
                <div class="fot-success-fail__header">
                    <span class="fot-success-fail__congo-sorry-text">OOOPS! </span>SLOTS ARE FULL NOW
                </div>

                <div class="fot-success-fail__desc">
                    Sorry! Seems like the slots are fully occupied now. Please schedule an audit for a different date.
                </div>

                <div class="text-center mt30">
                    <a href="/fot/search" value=""><div id="backSearch" class="btn fot-success-fail__book-audit submit">Book an audit</div></a>
                </div>
            </div>

        </div>
    </div>

    <div id="popupModal" class="modal popup-modal pos-abs flex-column hide">
        <div class="modal__body popup-modal__body pos-rel">
            <div id="closeModal" class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                <i class="icon-cross"></i>
            </div>
            <div id="suspendRedemption" class="night-redemption flex-column text-center hide">
                <div class="text-center night-redemption__header">We are sorry!</div>

                <div class="">
                    <div class="night-redemption__suspend-redemption-text">Coupon generation is temporarily unavailable - We regret the inconvenience.</div>
                </div>
                <div class="night-redemption__fot-email">
                    Have any queries? Write back to us at <a href="mailto:friends@treebohotels.com" target="_top">friends@treebohotels.com</a>
                </div>
            </div>

            <div id="generateVoucher" class="night-redemption flex-column text-center hide">
                <div class="text-center night-redemption__header">REDEEM YOUR CREDITS!</div>
                <div class="flex-column">
                    <div class="flex-column text-center">
                        <div class="night-redemption__avail-credit-key">
                            TOTAL CREDITS AVAILABLE
                        </div>

                        <div id="userCredit" class="night-redemption__avail-credit-value">
                        </div>
                    </div>
                    <div class="night-redemption__redeem-notification">
                        1000 credits = 1000 Rs voucher
                    </div>
                </div>

                <div class="night-redemption__redeem-input flex-row">
                    <div class="night-redemption__amount">How many credits do you want to redeem?</div>
                    <div>
                        <div>
                            <input type="number" id="creditRedeem" name="credit-redeem" class="night-redemption__form-input" value="0">
                            </input>
                        </div>
                    </div>
                </div>
                <div class="text-center mt40">
                    <input id="generateVoucherBtn" type="submit" class="btn night-redemption__submit submit mb20" value="GENERATE VOUCHER"/>
                </div>
                <div class="night-redemption__desc">
                    Have any queries? Check out the <a href="/faq/#fot" target="_blank"><u>FAQs</u></a>.
                </div>
            </div>

            <div id="confirmVoucher" class="night-redemption flex-column text-center hide">
                <div class="night-redemption__header">REDEEM YOUR CREDITS!</div>
                <div class="night-redemption__subheading">
                    Are you sure you want to redeem <span id="creditRedeemed"></span> credits for Rs. <span id="creditRupees"></span> voucher?
                </div>

                <div class="night-redemption__redeem-notification">
                    You will not be able to convert your voucher back to credits.
                </div>
                <div class="flex-row flex--space-around night-redemption__confirm-cancel-btn">
                    <div>
                        <input id="confirmVoucherBtn" type="submit" class="btn night-redemption__buttons submit " value="CONFIRM"/>
                    </div>
                    <div>
                        <!-- <input id="cancelVoucherBtn" type="submit" class="night-redemption__cancel " value="CANCEL"/> -->
                        <div id="cancelVoucherBtn" class="btn night-redemption__cancel submit">CANCEL</div>
                    </div>
                </div>
            </div>

            <div id="bookingVoucher" class="night-redemption flex-column text-center hide">
                <div class="night-redemption__header">REDEEM YOUR CREDITS!</div>
                <div class="night-redemption__subheading night-redemption__freenight">
                    Congratulations! You just earned a discount voucher of Rs <span id="freeCouponOffered"></span>.
                </div>

                <div class="night-redemption__redeem-notification">
                    Visit Treebo website, select hotel of your choice and apply the coupon to redeem your discount.
                </div>

                <div id="voucherCode" class="night-redemption__voucher"></div>

                <div class="night-redemption__redeem-notification">
                    <p>The above coupon code is valid for next 60 days.</p>
                    <p>For more information, read <a href="/faq/#fot" target="_blank"><u>FAQs</u></a>.</p>
                </div>

                <div class="text-center mt30">
                    <a href='/' target="_blank"><input id="bookingVoucherBtn" type="submit" class="btn night-redemption__submit submit mb20" value="MAKE A BOOKING"/></a>
                </div>
            </div>

            <div id="cancelAudit" class="cancel-audit flex-column text-center hide">
                <div class="cancel-audit__header">CANCEL YOUR AUDIT</div>
                <div class="cancel-audit__subheading">Hmmm! Do you really want to cancel this audit?</div>
                <div class="flex-row yes-no-popup__popup-btn">
                    <div>
                        <input id="cancelYesBtn" type="submit" class="btn yes-no-popup__yes-btn submit " value="YES"/>
                    </div>
                    <div>
                        <input id="cancelNoBtn" type="submit" class="btn yes-no-popup__no-btn btn--secondary submit" value="NO"/>
                    </div>
                </div>
            </div>

            <div id="auditCancelled" class="cancel-audit flex-column text-center hide">
                <div class="cancel-audit__header">AUDIT SUCCESSFULLY CANCELLED</div>
                <div class="cancel-audit__subheading">Your audit has been successfully cancelled. Do you want to book another audit?</div>
                <div class="flex-row yes-no-popup__popup-btn">
                    <div>
                        <input id="cancelledYesBtn" type="submit" class="btn yes-no-popup__yes-btn submit " value="YES"/>
                    </div>
                    <div>
                        <input id="cancelledNoBtn" type="submit" class="btn yes-no-popup__no-btn btn--secondary submit" value="NO"/>
                    </div>
                </div>
            </div>
            <div id="cancelReject" class="cancel-audit flex-column text-center hide">
                <div class="cancel-audit__header">SORRY! YOU CANNOT CANCEL THIS AUDIT.</div>
                <div class="cancel-audit__desc">
                    <p>You cannot cancel a scheduled audit within 24 hours of check-in. Please write to <a href="mailto:friends@treebohotels" target="_top">friends@treebohotels.com</a> immediately to cancel your booking.</p>
                    <p class="mt20">Please Note: Not showing up for audit without cancellation may lead to suspension of your account.</p>
                </div>
                <div class="text-center">
                    <a href="mailto:friends@treebohotels" target="_top"><div id="cancelAuditMailBtn" class="btn cancel-audit__button submit">CANCEL YOUR BOOKING</div></a>
                </div>
            </div>

        </div>
    </div>

    <!--<form method="post" action="/rest/v1/bookings/savebooking" id="fotUserInfoForm" class="traveller-form hide">-->
    <form method="post" action="{% url "fot:initiate-audit" %}" id="fotUserInfoForm" class="traveller-form hide">
        <input type="hidden" id="roomconfig" name="roomconfig" value="" />
        <input type="hidden" id="couponcode" name="couponcode" value="" />
        <input type="hidden" id="final_hidden_discount_value" name="final_hidden_discount_value" value="0.0" />
        <input type="hidden" id="checkin" name="checkin" value="" />
        <input type="hidden" id="checkout" name="checkout" value="" />
        <input type="hidden" id="final_hidden_total_cost" name="final_hidden_total_cost" value="0" />
        <input type="hidden" id="hotelid" name="hotelid" value="" />
        <input type="hidden" id="roomtype" name="roomtype" value="" />
        <input type="hidden" id="channel" name="channel" value="desktop" />
        <div id="hiddenrow"></div>
        <div class="">
            <label for="">Primary Traveler Details</label>
            <div id="guestWidget">
                <div class="guest-details__row flex-row">
                    <div class="float-labels guest-details__name">
                        <input type="text" name="name" pattern=".+" class="float-labels__input" placeholder="Name" value="{{ request.user.first_name }}">
                        <label class="float-labels__label">Name</label>
                    </div>
                    <div class="float-labels guest-details__mobile">
                        <input type="number" name="mobile" pattern=".+" class="float-labels__input" placeholder="Mobile number" value="{% if request.user.phone_number %}{{request.user.phone_number}}{% else %}9322800100{% endif %}">
                        <label class="float-labels__label">Mobile Number</label>
                    </div>
                    <div class="float-labels guest-details__email">
                        <input type="text" name="email" pattern=".+" class="float-labels__input" placeholder="Email address" value="{{ request.user.email}}">
                        <label class="float-labels__label">Email ID</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="spl-req mt20 mb10">Special Requests</div>
        <div class="flex-row request-details flex-row">
            <div class="request-details__item request-details__cio">
                <div class="request-details__item__title">Specify Check-In Check-Out Time</div>
                <div class="cio-row flex-row flex--align-center">
                    <label class="request-details__item__label label-text">Check-In</label>
                    <div class="select medium">
                        <select class="" name="check_in_time">
                            <option value="12pm" selected="selected">12pm</option>
                            <option value="7am">07am</option>
                            <option value="8am">08am</option>
                            <option value="9am">09am</option>
                            <option value="10am">10am</option>
                            <option value="11am">11am</option>
                            <option value="12pm">12pm</option>
                            <option value="1pm">01pm</option>
                            <option value="2pm">02pm</option>
                            <option value="3pm">03pm</option>
                            <option value="4pm">04pm</option>
                            <option value="5pm">05pm</option>
                            <option value="6pm">06pm</option>
                            <option value="7pm">07pm</option>
                            <option value="8pm">08pm</option>
                            <option value="9pm">09pm</option>
                            <option value="10pm">10pm</option>
                            <option value="11pm">11pm</option>
                        </select>
                    </div>
                </div>
                <div class="cio-row flex-row flex--align-center">
                    <label class="request-details__item__label label-text">Check-Out</label>
                    <div class="select medium">
                        <select class="" name="check_out_time">
                            <option value="1am">01am</option>
                            <option value="2am">02am</option>
                            <option value="3am">03am</option>
                            <option value="4am">04am</option>
                            <option value="5am">05am</option>
                            <option value="6am">6am</option>
                            <option value="7am">07am</option>
                            <option value="8am">08am</option>
                            <option value="9am">09am</option>
                            <option value="10am">10am</option>
                            <option value="11am" selected="selected">11am</option>
                            <option value="12pm">12pm</option>
                            <option value="1pm">01pm</option>
                            <option value="2pm">02pm</option>
                            <option value="3pm">03pm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="request-details__item request-details__specific">
                <div class="request-details__item__title">Specify any other request</div>
                <textarea name="message" rows="8" cols="40"></textarea>
            </div>
        </div>

        {% csrf_token %}
    </form>
</div>

{% endblock %}
