{% extends "root-mobile.html" %} {% load url_tag %} {% block header %} {% include "mobile/includes/header.html" %} {% endblock %} {% block content %}
<div class="resetpassword auth-page">
	<div class="auth-page__header">RESET PASSWORD</div>
    <div class="resetmsg hide"></div>
	<form class="" id="resetForm">
            <div class="float-labels">
                <input id="pass" type="password" name="name" pattern=".+" required="true" class="float-labels__input resetpassword__input" placeholder="New Password" value=""
                data-parsley-minlength="6"
                data-parsley-required="true"
                data-parsley-required-message="Enter valid password">
                <label class="float-labels__label">New Password</label>
            </div>
            <div class="float-labels">
                <input id="repeatpass" type="password" name="name" pattern=".+" required="true" class="float-labels__input resetpassword__input" placeholder="Confirm password" value=""
                data-parsley-required="true"
                data-parsley-minlength="6"
                data-parsley-required-message="Enter confirm password">
                <label class="float-labels__label">Confirm password</label>
            </div>
            <input type="submit" name="button" id="resetSubmit" class="btn auth__button btn__reset" value="Submit"/>
    </form>
</div>

{% endblock %}
