<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Hotel Upload details</title>
    <style>
        .info {
            padding-top: 10px;
            font-size: large;
        }

        td {
            border: solid 1px;
            padding: 5px;
            max-width: 500px;
        }

        .confirm-text {
            font-size: 20px;
            font-weight: bold;
        }

        .warnings {
            color: red;
            font-size: 15px;
        }
    </style>
</head>
<body>

<div class="confirm-text">Please confirm the details before proceeding</div>

<br>

<div class="warnings">
    <ul>
        {% for warning in warnings %}
            {% for key, value in warning.items %}
                <li>{{ key }} - {{ value }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

</div>

<div class="info">Hotel</div>
<table>
    <tr>
        <td>Name</td>
        <td>{{ data.hotel.name }}</td>
    </tr>
    <tr>
        <td>Hotelogix Id</td>
        <td>{{ data.hotel.hotelogix_id }}</td>
    </tr>
    <tr>
        <td>Hotelogix Name</td>
        <td>{{ data.hotel.hotelogix_name }}</td>
    </tr>
    <tr>
        <td>Tagline</td>
        <td>{{ data.hotel.tagline }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ data.hotel.description }}</td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{ data.hotel.phone_number }}</td>
    </tr>
    <tr>
        <td>Total Room Count</td>
        <td>{{ data.hotel.room_count }}</td>
    </tr>
    <tr>
        <td>Check In Time</td>
        <td>{{ data.hotel.checkin_time }}</td>
    </tr>
    <tr>
        <td>Check out time</td>
        <td>{{ data.hotel.checkout_time }}</td>
    </tr>
    <tr>
        <td>Street</td>
        <td>{{ data.hotel.street }}</td>
    </tr>
    <tr>
        <td>Landmark</td>
        <td>{{ data.hotel.landmark }}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{ data.hotel.latitude }}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{ data.hotel.longitude }}</td>
    </tr>
</table>

<div class="info">Rooms</div>
{% for room in data.rooms %}
    <div class="info">{{ room.room_type }}</div>
    <table>
        <tbody>
        <tr>
            <td>Hx Room Type Code</td>
            <td>{{ room.room_type_code }}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{ room.price }}</td>
        </tr>
        <tr>
            <td>Max Guest Allowed</td>
            <td>{{ room.max_guest_allowed }}</td>
        </tr>
        <tr>
            <td>Max Adult With Children</td>
            <td>{{ room.max_adult_with_children }}</td>
        </tr>
        <tr>
            <td>Max Children</td>
            <td>{{ room.max_children }}</td>
        </tr>
        <tr>
            <td>No of Rooms</td>
            <td>{{ room.quantity }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ room.description }}</td>
        </tr>
        <tr>
            <td>Base Rate</td>
            <td>{{ room.base_rate }}</td>
        </tr>
        </tbody>
    </table>

{% endfor %}
{#<div class="info">Rooms Amenities</div>#}
{#    <table>#}
{#        <tbody>#}
{#        {% if data.rooms_amenities %}#}
{#            <tr>#}
{#                <td>Room Type</td>#}
{#                <td>Amenities</td>#}
{#            </tr>#}
{#            {% for room in data.rooms_amenities %}#}
{#                <tr>#}
{#                    <td>{{room}}</td>#}
{#                    <td>{{data.rooms_amenities}}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#             <td> Not Specified</td>#}
{#        {% endif %}#}
{##}
{#        </tbody>#}
{#    </table>#}


<div class="info">Locality</div>
<table>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ data.locality.name }}</td>
    </tr>
    <tr>
        <td>Pincode</td>
        <td>{{ data.locality.pincode }}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{ data.locality.latitude }}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{ data.locality.longitude }}</td>
    </tr>
    </tbody>
</table>

<div class="info">City</div>

<table>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ data.city.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ data.city.description }}</td>
    </tr>
    <tr>
        <td>Tagline</td>
        <td>{{ data.city.tagline }}</td>
    </tr>
    <tr>
        <td>Subscript</td>
        <td>{{ data.city.subscript }}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{ data.state.name }}</td>
    </tr>
    </tbody>
</table>
<div class="info">Facilities</div>
<table>
    {% for facility in data.facilities %}
        <tr>
            <td colspan="2">{{ facility.name }}</td>
        </tr>
    {% endfor %}
</table>

<div class="info">Highlights</div>
<table>
    {% for highlight in data.highlights %}
        <tr>
            <td colspan="2">{{ highlight.description }}</td>
        </tr>
    {% endfor %}
</table>

<div class="info">Landmark 1</div>
<table>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ data.landmark_1.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ data.landmark_1.description }}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{ data.landmark_1.latitude }}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{ data.landmark_1.longitude }}</td>
    </tr>
    <tr>
        <td>Popularity</td>
        <td>{{ data.landmark_1.popularity }}</td>
    </tr>
    <tr>
        <td>Distance</td>
        <td>{{ data.landmark_1_directions.distance }} kms</td>
    </tr>
    <tr>
        <td>Directions For Email</td>
        <td>{{ data.landmark_1_directions.directions_for_email_website }}</td>
    </tr>
    </tbody>
</table>

<div class="info">Landmark 2</div>
<table>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ data.landmark_2.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ data.landmark_2.description }}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{ data.landmark_2.latitude }}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{ data.landmark_2.longitude }}</td>
    </tr>
    <tr>
        <td>Popularity</td>
        <td>{{ data.landmark_2.popularity }}</td>
    </tr>
    <tr>
        <td>Distance</td>
        <td>{{ data.landmark_2_directions.distance }} kms</td>
    </tr>
    <tr>
        <td>Directions For Email</td>
        <td>{{ data.landmark_2_directions.directions_for_email_website }}</td>
    </tr>
    </tbody>
</table>

<div class="info">Airport</div>
<table>
    <thead>Airport</thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ data.airport.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ data.airport.description }}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{ data.airport.latitude }}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{ data.airport.longitude }}</td>
    </tr>
    <tr>
        <td>Popularity</td>
        <td>{{ data.airport.popularity }}</td>
    </tr>
    <tr>
        <td>Distance</td>
        <td>{{ data.airport_directions.distance }} kms</td>
    </tr>
    <tr>
        <td>Directions For Email</td>
        <td>{{ data.airport_directions.directions_for_email_website }}</td>
    </tr>
    </tbody>
</table>

<div class="info">Railway Station</div>
<table>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{ data.railway.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ data.railway.description }}</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>{{ data.railway.latitude }}</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>{{ data.railway.longitude }}</td>
    </tr>
    <tr>
        <td>Popularity</td>
        <td>{{ data.railway.popularity }}</td>
    </tr>
    <tr>
        <td>Distance</td>
        <td>{{ data.railway_directions.distance }} kms</td>
    </tr>
    <tr>
        <td>Directions For Email</td>
        <td>{{ data.railway_directions.directions_for_email_website }}</td>
    </tr>
    </tbody>
</table>

<div class="info">Maximojo Mappings</div>
<table>
    <tbody>
    <tr>
        <td>Hotel Code</td>
        <td>{{ data.hotel_mm_code }}</td>
    </tr>
    <tr>
        <td>Acacia Room Code</td>
        <td>{{ data.hotel_mm_acacia_room_code }}</td>
    </tr>
    <tr>
        <td>Oak Room Code</td>
        <td>{{ data.hotel_mm_oak_room_code }}</td>
    </tr>
    <tr>
        <td>Maple Room Code</td>
        <td>{{ data.hotel_mm_maple_room_code }}</td>
    </tr>
    <tr>
        <td>Mahogany Room Code</td>
        <td>{{ data.hotel_mm_mahogany_room_code }}</td>
    </tr>
    </tbody>
</table>
<div class="info">Seo Stuff</div>
<table>
    <tbody>
    <tr>
        <td>Hotel Seo Title</td>
        <td>{{ data.hotel_seo_meta_title }}</td>
    </tr>
    <tr>
        <td>Hotel Seo Tags</td>
        <td>{{ data.hotel_seo_meta_tags }}</td>
    </tr>
    <tr>
        <td>City Seo Title</td>
        <td>{{ data.city_seo_meta_title }}</td>
    </tr>
    <tr>
        <td>City Seo Tags</td>
        <td>{{ data.city_seo_meta_tags }}</td>
    </tr>
    </tbody>
</table>
<form action="" enctype="multipart/form-data" method="post" style="display: none" name="confirm-form">
    {% csrf_token %}
    {{ form.as_p }}
    {{ wizard.management_form }}
    <input name="uuid" type="hidden" value="{{ uuid }}">

</form>
<button onclick="window.history.back();">Back</button>
<button type="submit" onclick="confirmFormSubmit();">Confirm</button>
<script>

    function confirmFormSubmit() {
        var confirmation = window.confirm('Have you verified the details above? Clicking on yes will make the hotel live!');
        if (confirmation) {
            submitForm();
        }
    }

    function submitForm() {
        document.forms.namedItem('confirm-form').submit();
    }
</script>
</body>
</html>