<script>var rt =  {{ request.baseJsObj|safe }}  </script>
{% if request.jsvars %}
<script>
	var pagevars = JSON.parse('{{request.jsvars|safe}}');
	for(var x in pagevars){
		rt[x] = pagevars[x];
	}
</script>
{% endif %}