{% load staticfiles %} {% load url_hashifier %}
<div class="drawer">
    <nav role="navigation" class="drawer-body">
        {% if request.session.isAuthenticated %}
        <div id="user" class="cap">Hi {{ request.user.first_name }}</div>
        {% endif %}
        <ul class="menu-nav">
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/">Home</a>
            </li>
            {% if not request.session.isAuthenticated %}
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/login/">Log In</a>
            </li>
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/register/">Sign Up</a>
            </li>
            {% else %}
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/user/booking-history/">Bookings</a>
            </li>
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/user/settings/">Settings</a>
            </li>
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/logout/">Logout</a>
            </li>
            {% endif %}
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/#whyus">Why Treebo</a>
            </li>
            <li class="menu-nav-item">
                <a class="menu-nav-item-link" data-toggle="modal" href="/feedback/">Feedback</a>
            </li>
        </ul>
    </nav>
    <div class="help pos-abs row block text-center">
        <div class="mb10 need">Need Help? call us 24/7</div>
        <div class="number"><a href="tel:+91 9322-800-100" class="anchor anchor-white">+91 9322-800-100</a></div>
    </div>
</div>
