<footer class="footer">
  <div class="container">
    <div class="footer__links">
      <div>
        <h5 class="heading-1 footer__links__title">COMPANY</h5>
        <ul class="footer__links__list">
          <li><a href="/aboutus/">About</a></li>
          <li><a href="/contactus/">Contact</a></li>
          <li><a href="https://careers.treebohotels.com/" target="_blank">Careers</a></li>
          <li><a href="/faq/">Faq</a></li>
          <li><a href="/terms/">Terms of Service</a></li>
          <li><a href="/policy/">Privacy Policy</a></li>
          <li><a href="">Feedback</a></li>
          <li><a href="http://blog.treebohotels.com/" target="_blank">Blog</a></li>
        </ul>
      </div>
      <div>
        <h5 class="footer__subheading heading-1 footer__links__title">BUSINESS</h5>
        <ul class="footer__links__list">
          <li><a href="/joinus/">Join our Network</a></li>
          <li><a href="mailto:corporate@treebohotels.com" target="_blank">Corporate Enquiry</a></li>
          <li><a href="mailto:ta@treebohotels.com" target="_blank">Travel Agents</a></li>
        </ul>

      </div>
      <div>
        <h5 class="footer__subheading heading-1 footer__links__title">DISCOVER</h5>
        <ul class="footer__links__list">
          <li><a href="http://alpha.treebohotels.com/" target="_blank">Alpha</a></li>
          <li><a href="/fot/">Friends of Treebo</a></li>
        </ul>
      </div>
      <div>
        <h5 class="footer__subheading heading-1 footer__links__title">SOCIAL</h5>
        <ul class="footer__links__list">
          <li><a href="https://www.facebook.com/TreeboHotels/" target="_blank"><i class="footer__social-icon icon-fb"></i><!-- react-text: 6044 -->Facebook<!-- /react-text --></a></li>
          <li><a href="https://twitter.com/TreeboHotels" target="_blank"><i class="footer__social-icon icon-twitter"></i><!-- react-text: 6048 -->Twitter<!-- /react-text --></a></li>
          <li><a href="https://www.linkedin.com/company/treebo-hotels/" target="_blank"><i class="footer__social-icon icon-linkedin"></i><!-- react-text: 430 -->Linkedin<!-- /react-text --></a></li>
          <li><a href="https://www.instagram.com/treebo_hotels/" target="_blank"><i class="footer__social-icon icon-instagram"></i><!-- react-text: 6052 -->Instagram<!-- /react-text --></a></li>
          <li><a href="https://plus.google.com/101173360836250828959" target="_blank"><i class="footer__social-icon icon-google-plus"></i><!-- react-text: 6056 -->Google Plus<!-- /react-text --></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


{% if not footerCopyrightDisabled %}
    <section class="seo-footer">
      <div class="container">
        <h2 class="heading-2">Copyright © 2014 - 2017, Treebo.com</h2>
        <p class="seo-footer__text">Treebo Hotels provides transparent online hotel booking experience to all its customers. It’s India’s #1 branded budget hotels with its presence in 30+ cities (including the metro cities of Delhi, Mumbai, Pune, Ahmedabad, Bangalore, Chennai, Hyderabad,
          Kolkata) and more than 120 hotels.</p>
        <p class="seo-footer__text">At Treebo Hotels you get quality stays, affordable rates, amazing offers, flexibilities such as book now pay later, instant hotel booking confirmations, 100% money back guarantee, free cancellations, and a 24x7 available Guest Delight team to answer
          booking or travel related queries. All these give our guests the freedom to book a hotel first and plan their travel next.</p>
        <p class="seo-footer__text">With no compromise on quality, every Treebo booking comes along with three promises – clean and fresh rooms, assured essentials and 30-minute service guarantee.</p>
        <p class="seo-footer__text">We have a set of standard Treebo offerings such as air-conditioned rooms (not applicable for hill stations), free Wi-Fi, complimentary breakfast, TV with DTH connection, complimentary bottled water, electric kettle, fully functional bathroom, spotless,
          fresh linens (towels, bedsheets) and Treebo toiletries. So, if you find any of these dysfunctional, let us know and we’ll fix it within 30 minutes.</p>
        <p class="seo-footer__text">Treebo is the fastest growing chain of budget hotels and has been recognised for its good reviews across all travel platforms as well. Book a stay with us to experience delightful service, interactive, enthusiastic, warm staff behaviour, the best
          amenities, and believe it yourself.</p>
        <h2 class="subheading-3 seo-footer__title">Cities</h2>
        <div class="seo-footer__text seo-footer__cities">
          {% for city in cities %}
          <a href='{{ city.url }}' class='seo-footer__link'>{{ city.name }}</a>
          {% endfor %}
        </div>
        <a class="seo-footer__logo" href="/"><img class="seo-footer__logo__image" src="{% get_static_url %}desktop/images/logo-black-new.svg" alt="Treebo"></a>
      </div>
    </section>
{% endif %}
