{% load staticfiles %} {% load url_hashifier %}
<header class="container header">
  <nav class="navigation">
    <ul class="header-nav flex-row flex--justify-right flex--align-stretch">
      <li class="header-nav__item">
        <a href="/" id="home" class="header-nav__link flex-row">
          {% if not pageName == "homePage" %}
          <img class="logo" src="{% get_static_url %}desktop/images/logo-black-new.svg" alt="Treebo">
          {% else %}
          <img class="logo" src="{% get_static_url %}desktop/images/logo-white-new.svg" alt="Treebo">
          {% endif %}
        </a>
      </li>
      <li class="header-nav__item"><a href="/faq/#fot" class="header-nav__link" target="_blank">FAQs</a></li>

      {% if request.session.isAuthenticated %}
      <li id="user" class="header-nav__item">

        <div class="user dropdown">
          <button class="user__name dropbtn">{{request.user.first_name}}</button>
          <div class="user__content text-left dropdown-content">
            <a href="/account/" class="user__link dropdown-link">My Account</a>
            <a href="/logout/" class="user__link dropdown-link">Logout</a>
          </div>
        </div>



      </li>
      {% else %}
      <li class="header-nav__item header-auth"><a href="javascript:void(0);" class="header-nav__link header-auth__mini js-headerlogin">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
