{% load staticfiles %} {% load url_hashifier %}
<header class="header container">
  <nav class="navigation">
    <ul class="header-nav flex-row flex--justify-right flex--align-stretch">
      <li class="header-nav__item">
        <a href="/" id="home" class="header-nav__link flex-row"><img class="logo" src="{% get_static_url %}desktop/images/logo-black-new.svg"
          alt="Treebo"></a>
      </li>
      <!-- <li class="header-nav__item"><a href="/fot/" class="header-nav__link" target="_blank">Friends of Treebo</a></li> -->
      <!-- <li class="header-nav__item"><a href="/joinus/" class="header-nav__link">Join Our Network</a></li> -->
      <!-- <li class="header-nav__item"><a href="/aboutus/" class="header-nav__link">About</a></li> -->
      <li class="header-nav__item"><a href="{{ helpline_contact_caller }}" class="header-nav__link"><i class="icon-telephone"></i>{{ treebo_contact }}</a></li>
      <!-- {% if request.session.isAuthenticated %}
      <li id="user" class="header-nav__item">

        <div class="user dropdown">
          <button class="user__name dropbtn">{{request.user.first_name}}</button>
          <div class="user__content dropdown-content">
            <a href="/account/" class="user__link dropdown-link">My Account</a>
            <a href="/logout/" class="user__link dropdown-link">Logout</a>
          </div>
        </div>



      </li>
      {% else %}
      <li class="header-nav__item header-auth"><a href="javascript:void(0);" class="header-nav__link header-auth__mini js-headerlogin">Login</a>&nbsp;/&nbsp;<a href="javascript:void(0);" class="header-nav__link header-auth__mini js-headersignup">Signup</a></li>
      {% endif %} -->
    </ul>
  </nav>
</header>
