{% load staticfiles %}
{% load url_hashifier %}

{% if googleMaps %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&sensor=false&libraries=places&language=en" type="text/javascript"></script>

{% endif %}


{% for script in scripts %}
    <script defer src="{% get_static_url %}{{ script|hashify:'desktop'  }}" ></script>
{% endfor %}

 <script src="https://apis.google.com/js/platform.js" async defer></script>
