{% load staticfiles %} {% load url_hashifier %}
<div class="container flex-row flex--justify-center search-box pos-rel">
    <div id="searchFotLoader" class="search-fot-loader loader-container loader-container--inline hide">
        <div class="loader-box v-center">
            <div class="sk-fading-circle small">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>

    <div class="search-fot-box__input-container">
        <div class="search-fot-box__label">DESTINATION</div>
        <div class="select select-city">
            <select id="cityFot" name="cityname" class="fot__search-border fot__search-city search-fot-box__input">

                {% for city in citylist %}
                    <option value="{{city.name}}">{{city.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="fot__search-input fot__search-input--border">
        <div class="search-fot-box__label ">AUDIT DATE</div>
        <div id="auditDate" class="fot__auditdate daterange daterange--single flex-column"></div>
    </div>

    <div class="fot__search-input">
        <div class="search-fot-box__label ">GUEST</div>
        <div class="select select-guest">
            <select id="fotRoomConfig" name="fotroomconfig" class="fot__search-border fot__search-roomconfig">
                {% for i in maxGuestsAllowed %}
                <option value="{{i|add:'1'}}">{{i|add:'1'}} Adult{{i|add:'1'|pluralize}}</option>
                {% endfor %}

            </select>
        </div>
    </div>

    <button type="button" class="btn search-fot-box__submit" id="searchFotSubmitBtn" name="button"><i class="icon-search"></i>Search</button>

</div>
