{% load staticfiles %} {% load url_hashifier %}
<div class="container flex-row flex--justify-center search-box pos-rel">
    <div id="searchLoader" class="loader-container loader-container--inline hide initial-load">
        <div class="loader-box v-center">
            <div class="sk-fading-circle small">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
    <div class="search-box__input-container flex-column ">
        <div class="search-box__label">DESTINATION</div>
        <input type="text" placeholder="Where do you want to go?" name="name" class="search-box__title search-box__input" value="" id="searchInput">
    </div>
    <div id="calendar" class="search-box__calendar daterange daterange--double flex-column"></div>
    <div id="guestNRoomWidget" class="search-box__room-widget room-widget-container pos-rel">
    </div>
    <button type="button" class="btn search-box__submit" id="searchSubmitBtn" name="button"><i class="icon-search"></i>Search</button>

<ul class="extra-cities no-list pos-abs hide">
{% for city in cities %}
	<li latitude="{{ city.latitude }}" longitude="{{ city.longitude }}" locality="{{city.name}}" class="city extra-cities__item flex-row">
		<span>{{city.name}}</span><span class="">{{ city.hotelCount }} hotels</span>
	</li>
{% endfor %}
</ul>
</div>
