{% extends "fot-root-mobile.html" %} {% load url_tag %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

<div class="result-page">
	<div class="text-center searchpage">
		<div class="searchpage__header">
			WE ARE SORRY!
		</div>

		<div class="searchpage__desc text-left">
			<p>Beyond this point, we are offering the audit scheduling feature, free night redemption features etc. only on Desktop.</p>
			<p>Please visit our Desktop site for booking audits.</p>
		</div>

		<div class="searchpage__book-treebo-desc text-left">
			You can always stay at a Treebo by booking online from our mobile site.
		</div>

		<div>
			<a href='/'><button class="btn searchpage__book-btn">BOOK A TREEBO</button>
		</div>
	</div>
</div>

{% endblock %}
