<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<strong>Head Image</strong>
{{ headImage.url }}
{{ headImage.imageParams }}
{{ headImage.alt }}
<div><strong>Details</strong>
    {{ name }}
    {{ locality }}
    {{ address }}
    {{ city }}
    {{ pincode }}
    {{ latitude }}
    {{ longitude }}
    {{ desc }}
</div>
<div><strong>Directions</strong>
    {% for dir in directions %}
        {{ dir.latitude }}
        {{ dir.longitude }}
        {{ dir.name }}
        {{ dir.distance }}
        {% for text in dir.directionText %}
            {{ text }}
        {% endfor %}
    {% endfor %}
</div>
<div>
    <strong>Images</strong>
    {% for image in gallery %}
        {{ image.url }}
        {{ image.imageParams }}
        {{ image.alt }}
    {% endfor %}
</div>
<div>
    <strong>Facilities</strong>
    {% for facility in facilities %}
        {{ facility.name }}
        {{ facility.available }}
    {% endfor %}
</div>
<div>
    <strong>Room Types</strong>
    {% for room in roomType %}
        {{ room.type }}
        {{ room.maxAccomodation }}
        {{ room.roomsLeft }}
        {{ room.desc }}
        {{ room.price }}
        {{ room.bookUrl }}
        {{ room.bookUrl }}
        {% for image in room.images %}
            {{ image.url }}
            {{ image.alt }}
            {{ image.imageParams }}
        {% endfor %}
    {% endfor %}
</div>
<div>
    <strong>Treebos Near By</strong>
    {% for treebos in treebosNearBy %}
        {{ treebos.hotelName }}
        {{ treebos.distanceFrom }}
        {{ treebos.locality }}
        {{ treebos.price }}
    {% endfor %}
</div>

</body>
</html>