{% extends "root-mobile.html" %}{% load url_tag %}{% load url_hashifier %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

    {% if deal %}
    <div class="deals">
            <span class="deals__icon">
                <i class="icon-deals"></i>
            </span>
        <p class="deals__text">
            {{deal}}
        </p>
    </div>
    {% endif %}

    <div class="hotel-detail pos-rel">
        <div class="carousel hotel-detail__carousel">
            <div class="carousel__container">
                <input type="hidden" class="hidden-gallery" value="{% for image in images %}{{ image.url }}?fit=crop&fm=pjpg&q=35||{% endfor %}">
                <div class="js-room-carousel room-carousel pos-rel js-open-modal" data-toggle="modal" data-target="#commonModal">
                    {% for image in images %}
                    <div class="carousel__img" style="background-image: url('{% get_static_url %}desktop/images/new_treeboleaf.png');">
                        <img class="js-resize-fit" data-lazy="{{ image.url }}?w=480&h=190&fit=crop&fm=jpg&q=35"
                             alt="{{ image.alt | default:name}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="hotel-body pos-rel">
		<div class="hd-section">
			<div class="hotel-detail__info">
	            <h1 class="hotel-detail__header">
	                {{name}}
	            </h1>
	            <div class="hotel-detail__subheader">
	                {{address}}
	            </div>
	            {% if rooms_ramaining %}
	            <div class="hotel-detail__rooms">
	                {{rooms_ramaining}} room{{rooms_ramaining|pluralize}} left
	            </div>
	            {% endif %}
	        </div>
			<ul class="hotel-amenities__amenities">
                {% for amenity in ameneties %}<li class="hotel-amenities__amenity">
                    <i class="hotel-amenities__icon icon-{{amenity.css_class}}"></i>
                    <p class="hotel-amenities__name">{{amenity.name}}</p>
                </li>{% endfor %}
            </ul>
        </div>
        <div class="room-details hd-section">
            <div class="room-header hd-section__title">Room Type</div>
            <ul class="text-center">
                {% for room in room_types %}
                <li data-room="{{room.room_type}}" class="room-details__rooms pos-rel {% if not room.available %}room-details__rooms--unavailable{% endif %} {% if room.room_type == queryParams.roomtype %}room-details__rooms--selected{% endif %}">
                    <!--  -->
                    <div class="room-details__type pos-abs">
                        <span class="room-details__type__room">{{room.room_type}}</span>
                        <div class="small-caps room-details__type__name">{{room.internal_type}}</div>
                        <div class="room-details__size small-caps">{{room.room_size}}</div>

                    </div>
                    <div class="room-details__detail clearfix pos-rel">
                        <div class="room-price">
                            <div class="room-price__per-night">
                                <i class="room-price__icon icon-rupee"></i><span class="room-price__price">{{room.price_per_night|floatformat:"0"}}</span>
                            </div>
                            <div class="small-caps room-price__per-night__text">PER NIGHT</div>
							<div class="room-capacity__text">{{room.occupancy}}</div>
                        </div>
                        <div class="room-availibility pos-abs">
                            <div class="room-availibility__info">
							{% if not room.available %}
								<div class="small-caps room-details__soldout">SOLD OUT</div>
							{% endif %}
								<div class="room-details__icon-block">Selected</div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="hotel-amenities hd-section">
            <div class="hd-section__title">treebo Promised essentials</div>
            <div class="treebo-quality home-card">
                <div class="treebo-quality__stamp">
                    <img src="{% get_static_url %}mobile/images/100-percent-stamp-text-new.png" height="72">
                </div>
				<div class="hotel-amenities__desc">
	                Every room comes with free wifi, clean & fresh room, AC, TV with DTH, Toileteries and 30 min service time!
	            </div>
				<a class="hotel-amenities__desc__link" 	  href="http://blog.treebohotels.com/we-deliver-what-we-promise-treebo-quality-assurance-guarantee-program/" target="_blank">
					Know more
				</a>
                <!-- <div class="home-card__details">
                    <div class="home-card__title">TREEBO 100% QUALITY</div>
                    <a href="http://blog.treebo.com/we-deliver-what-we-promise-treebo-quality-assurance-guarantee-program/" target="_blank">
                        <div class="treebo-quality__desc">
                            Know more about Treebo 100% quality guarantee
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="hotel-rules hd-section">
            <div class="hd-section__title">Rules and Policies</div>
            <div class="hotel-rules__timings row">
                {% for rule in rules %}
                <div class="hotel-rules__timings__time col">
                    <p>{{rule.value}}</p>
                    <p class="hotel-rules__timings__name">{{rule.key}}</p>
                </div>
                {% endfor %}
            </div>

            <ul class="hotel-rules__list">
                {% for policy in policies %}
                <li class="hotel-rules__rule">
                    <p>{{policy.desc}}</p>
                    <!--<a href="{{policy.target_url}}">Know more</a>-->
                </li>
                {% endfor %}
            </ul>
			<div class="hotel-rules__know-more" data-toggle="modal" data-target="#moreRulesModal">
				Know more
			</div>
			<div id="moreRulesModal" class="modal modal-container pos-abs hide js-more-rules">
		        <div class="modal__header pos-rel text-center">Rules and Policies
		            <div class="icon icon-close pos-abs js-modal__close">
		                <i class="icon-cross"></i>
		            </div>
		        </div>
		        <div class="modal__body modal__body--ph">
					<ul class="hotel-rules__list">
	                {% for policy in policies %}
	                <li class="hotel-rules__rule">
	                    <p>{{policy.desc}}</p>
	                    <!--<a href="{{policy.target_url}}">Know more</a>-->
	                </li>
	                {% endfor %}
	            </ul></div>
		    </div>

        </div>

        {% if trilights|length > 0 %}
        <div class="hotel-triglights hd-section">
            <div class="hd-section__title">Treebo Trilights</div>
            <ul class="hotel-triglights__body triglights">
                {% for trilight in trilights %}
                <li class="triglights__item">
                    <div class="triglights__desc">
                        {{trilight}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


		<div id="hotelAccessibilityModal" class="modal modal-container pos-abs hide">
	        <div class="modal__header pos-rel text-center">Hotel Accessibility
	            <div class="icon icon-close pos-abs js-modal__close">
	                <i class="icon-cross"></i>
	            </div>
	        </div>
	        <div class="modal__body modal__body--ph">
				<ul>
                {% for accessibility in accessibilities %}
                <li class="hotel-accessibility__option">
                    <i class="icon-{{accessibility.css_class}} hotel-accessibility__option__icon"></i>
                    <div class="hotel-accessibility__option__name">
                        {{accessibility.name}}
                        <span class="rfloat">
                            {{accessibility.distance|floatformat:"1"}} Km
                        </span>
                    </div>

                </li>
                {% endfor %}
            </ul></div>
	    </div>
        <div class="hotel-accessibility hd-section" data-toggle="modal" data-target="#hotelAccessibilityModal">
            <div class="hd-section__title hd-section__title--popup clearfix">Hotel Accessibility <icon class="icon-right rfloat"></icon></div>
        </div>

		<div id="aboutModal" class="modal modal-container pos-abs hide">
	        <div class="modal__header pos-rel text-center">About
	            <div class="icon icon-close pos-abs js-modal__close">
	                <i class="icon-cross"></i>
	            </div>
	        </div>
	        <div class="modal__body modal__body--ph">{{description}}</div>
	    </div>

        <div class="hotel-about hd-section" data-toggle="modal" data-target="#aboutModal">
            <div class="hd-section__title clearfix hd-section__title--popup">About <icon class="icon-right rfloat"></icon></div>
        </div>

        <div class="similar carousel">
            {% if similar_treebos|length > 0 %}
            <div class="similar__title">Similar Treebos Nearby</div>
            <div class="similar__carousel">
                {% for hotel in similar_treebos %}
                <div soldout="{{hotel.available}}" class="results__row hotelAvailibility-{{hotel.available}} analytics-similar" id="{{hotel.id}}" data-category="{{hotel.categories|join:'||'}}" data-locality="{{hotel.locality}}" data-available="{{hotel.available}}" data-price="{{hotel.price|floatformat:'0'}}" data-distance="{{hotel.distance|floatformat:'2'}}" data-recommend="{{hotel.priority|floatformat:'0'}}">

                    <a tags="{{hotel.categories|join:','}}" class="analytics-hotelname hotel__name__link" href="{{hotel.url}}" hotelname="{{hotel.name}}">
                        <div class="results__item hotel similar-hotels">
                            <div class="hotel__content">
                                <div class="hotel__details pos-rel">
                                    <div class="hotel__images">
                                        <div class="paging-info pos-abs"></div>
                                        <div class="carousel image-carousel pos-rel">
                                            <div class="carousel__img"><img class="" data-lazy="{{ hotel.image_url }}?w=80&fit=crop&fm=pjpg&h=80"></div>
                                        </div>
                                    </div>
                                    <div class="hotel__name overflow-ellipsis">
                                        {{ hotel.name }}
                                    </div>
                                    <div class="hotel__info">
                                        <div locality="{{hotel.area}}" city="{{hotel.city}}" class="hotel__address analytics-address ">
                                            <div  class="street  pos-rel overflow-ellipsis">{{hotel.address }}</div>
                                        </div>
                                        <div class="hotel__price pos-abs">
											{% if hotel.available %}
	                                            <div class="a-price hotel__price--available" price='{{hotel.actual_rate|floatformat:"0"}}'>
													{% if hotel.baseRate != hotel.actual_rate and hotel.baseRate >  hotel.actual_rate %}
		                                            <div class="hotel__price--best"><span class="line-through">&#8377;{{hotel.baseRate|floatformat:"0"}}</span></div>
		                                            {% endif %}
													&#8377;{{hotel.actual_rate|floatformat:"0"}} <span class="hotel__price__label">Incl of tax</span></div>
												<div class="hotel__distance__label">
													{{hotel.distance}} km{{hotel.distance|pluralize}} away
												</div>
											{% else %}
												<span class="hotel__soldout">sold out</span>
											{% endif %}
                                        </div>

                                    </div>
                                </div>

                                <!-- <div class="hotel__footer">
                                    <div class="hotel__action">
                                        <div class="lfloat hotel__price__label v-center">

											{{hotel.distance}} km{{hotel.distance|pluralize}} away
                                        </div>
                                        {% if hotel.available %}
                                        <span class="analytics-quickbook hotel__action__book btn btn--round">
                                            VIEW DETAILS
                                        </span>
                                        {% else %}
                                        <span class="analytics-quickbook hotel__action__book btn btn--secondary btn--round">
                                            SOLD OUT
                                        </span>
                                        {% endif %}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
		<div class="modify__widget clearfix">
	        <div class="hide modify__widget__error">
	            <p class="modify__widget__error-content"></p>
	            <a class="modify__widget__error-link" href="{{ request.META.HTTP_REFERER }}">BOOK ANOTHER HOTEL</a>
	        </div>
	        <div class="modify__widget__details" data-toggle="modal" data-target="#searchModal">
	            <div class="modify__widget__details__price pos-rel">

	                <i class="modify__widget__details__icon icon-rupee"></i><span id="modify-widget-price" class="analytics-totalprice">{{ room_types.0.price_per_night|floatformat:"0" }}</span>
	                <span class="modify__widget__details__price__modify analytics-modify pos-abs"><i class="icon-edit"></i>Modify</span>
	            </div>
	            <div class="modify__widget__details__duration">
	                <span id="modify-widget-checkin">{{queryParams.checkIn}}</span> - <span id="modify-widget-checkout">{{queryParams.checkOut}}</span>
	            </div>
	            <div class="modify__widget__details__duration">
	                <!-- <span id="modify-widget-nights">{{queryParams.no_of_nights}} Night{{queryParams.no_of_nights|pluralize}}</span> -->
	                <!-- <strong> &#183; </strong> -->
	                <span id="modify-widget-rooms">{{queryParams.rooms}} Room{{queryParams.rooms|pluralize}} <span class="middot">&middot;</span> {{queryParams.guests}} Guest{{queryParams.guests|pluralize}}</span>
	                <span id="selected-room-type"></span>
	            </div>
	        </div>
			<div class="modify__widget__book-button rfloat">
				<button class="btn js-book  analytics-book">
		            BOOK
		        </button>
			</div>

	    </div>
    </div>

    <input type="hidden" class="sluggified-name" value="{{name|slugify}}">
{% endblock %}
