{% extends "fot-root-mobile.html" %} {% load url_tag %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

<div class="">
	<div class="fotpage">
		<div class="flex-column text-center">
			<div class="fot-image pos-rel">
				<div class="pos-abs fot-image__image-content flex-column text-left">
					<h2 class="fot-image__heading">FRIENDS OF TREEBO</h2>
					{% if isLogin %}

						{% if registrationStatus == "BLOCKED" %}
							<div class="fot-image__desc">Schedule an audit, give us detailed feedback of your experience, and earn more free nights.</div>

							<div id="userBlocked" class="modal modal-container text-center box-shadow pos-rel user-blocked">
					            <div class="modal__header pos-fix user-blocked__popup-header">Your account has been blocked!
					            </div>
					            <div class="modal__body text-left">
					                <div class="user-blocked__popup-subheading">
					 					          Thanks for signing-up with Friends of Treebo
					                </div>

					                <div class="user-blocked__popup-desc">
					                  <p>It seems you did not turn up for your last audit, or have not submitted your feedback.</p>
						                <p>Don't worry! Write to <b>friends@treebohotels.com</b>  to unblock your account.</p>
						                <p class="mt10">Please book a Treebo room if you are looking for accommodation.</p>
					                </div>

					                <div>
					                	<a href="/" value=""><button class="btn user-blocked__popup-btn submit">BOOK A TREEBO</button></a>
					                </div>
					                <div class="user-blocked__desc">
					                	Have any queries? Check out the <a href="/faq/#fot"><u>FAQs</u></a>.
					                </div>
					            </div>
					        </div>

						{% else %}

							{% if registrationStatus == "IN_PROGRESS" %}

							<div class="fot-image__desc">You have successfully signed-up. Please take few minutes to complete the registration.</div>

							{% elif registrationStatus == "PASSED" %}
								<div class="fot-image__desc">Schedule an audit, give us detailed feedback of your experience, and earn more free nights.</div>

							{% else %}
							<div class="fot-image__desc">Oops! Looks like you didn't qualify. <br>Don't worry, just write to us at <a href="mailto:friends@treebohotels.com" class="fot-image__email">friends@treebohotels.com</a> to gain access, or book a Treebo online.</div>

							{% endif %}

						{% endif %}


					{% else %}
						<div class="fot-image__desc"><p>Give us detailed feedback of your experience and earn rewards.</p></div>

					{% endif %}


					<div class="fot-image__buttons">
						{% if isLogin %}
							{% if registrationStatus == "BLOCKED" %}
									<div class="fot-image__schedule">
										<a href="/fot/search" value=""><button class="btn fot-image__submit fot-image__schedule-btn submit">SCHEDULE AUDIT</button></a>
									</div>
							{% else %}
								{% if registrationStatus == "IN_PROGRESS" %}

								<div class="fot-image__continue">
									<a href="/fot/signup/" value=""><button class="btn fot-image__submit fot-image__complete-btn submit">CONTINUE REGISTRATION</button></a>
								</div>

								{% elif registrationStatus == "PASSED" %}
									<div class="fot-image__schedule">
										<a href="/fot/search" value=""><button class="btn fot-image__submit fot-image__schedule-btn submit">SCHEDULE AUDIT</button></a>
									</div>

								{% else %}
								<div class="fot-image__schedule">
									<a href="/" value=""><button class="btn fot-image__submit fot-image__booking-btn submit">BOOK A TREEBO</button></a>
								</div>

								{% endif %}
							{% endif %}


						{% else %}
						<div class="fot-image__signup flex-row">
							<a href="https://goo.gl/forms/UwcWFKYUUKGJimWx2" target="_blank" value=""><button class="btn fot-image__submit">JOIN US</button></a>
							{% if not request.session.isAuthenticated %}
							<a href="/fot/login/"><button class="btn signup-schedule__login">LOGIN</button></a>
							{% endif %}
						</div>

						{% endif %}

					</div>
				</div>

				<img src="{% get_static_url %}desktop/images/fot-images/fot_banner.jpg" class="fot-image__banner">
			</div>

			<div id="process" class="process text-left">
				<div class="flex-column">
					<div class="process__heading">JOURNEY</div>
					<div class="process__subheading">HOW IT WORKS?</div>
				</div>

				<div class="flex-column text-left">
					<div class="process__steps">
						<div class="flex-column process__step">
							<div class="process__numbering">01</div>
							<div class="process__step-title">SIGN-UP</div>
							<div class="process__step-desc">Join the community, and become a Friend of Treebo by giving a simple online test.</div>
						</div>

						<div class="flex-column process__step">
							<div class="process__numbering">02</div>
							<div class="process__step-title">BOOK A FREE STAY</div>
							<div class="process__step-desc">Schedule audit by booking a room in a Treebo hotel of your choice, free of cost.</div>
						</div>

						<div class="flex-column process__step">
							<div class="process__numbering">03</div>
							<div class="process__step-title">GIVE YOUR FEEDBACK</div>
							<div class="process__step-desc">Stay at  hotel and Share the detailed feedback of your experience with us.</div>
						</div>

						<div class="flex-column process__step">
							<div class="process__numbering">04</div>
							<div class="process__step-title">EARN AWESOME REWARDS</div>
							<div class="process__step-desc">For every successful feedback you submit, get another free night that can be redeemed anywhere in a Treebo Property.</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonials flex-column">
				<div class="text-center flex-column">
					<div class="testimonials__heading">TESTIMONIALS</div>
					<div class="testimonials__subheading">WHAT OUR FRIENDS SAY ABOUT US</div>
				</div>

				<div class="testimonials__content text-center flex--space-between flex-row">
			        <div class="">
			            <div>
			                <div class="js-room-carousel">
								<div class="testimonials__testimonial flex-column text-center">
									<div class="testimonials__comma text-left">
										“
									</div>
									<div>
										<img src="{% get_static_url %}desktop/images/fot-images/vinol.jpg" class="testimonials__image">
									</div>
									<div></div>
									<div class="testimonials__desc">
										Treebo has perfected its art of customer obsession by letting travellers quality audit their properties. Knowing that your feedback is taken seriously and see it transform the way these hotels operate gives you immense satisfaction. You stay free ! you get another stay free ! Breakfast free !! What else can you ask for?
									</div>

									<div class="flex-column">
										<div class="testimonials__name">Vinol Joy D’Souza</div>
										<div class="testimonials__designation">Senior Analyst, Flipkart</div>
										<div class="testimonials__city">Bangalore</div>
									</div>
								</div>

								<div class="testimonials__testimonial flex-column text-center">
									<div class="testimonials__comma text-left">
										“
									</div>
									<div>
										<img src="{% get_static_url %}desktop/images/fot-images/rashi.jpg" class="testimonials__image">
									</div>
									<div class="testimonials__desc">
										I have been doing audits for Treebo since a quarter of a year now. Treebo takes our every suggestion seriously and also acknowledge and appreciate our work. They always keeps you updated, which makes you feel feel like a part of them. It is fun to be a Friend of Treebo.
									</div>

									<div class="flex-column">
										<div class="testimonials__name">Rashi Desai</div>
										<div class="testimonials__designation">Freelance Mystery Shopper</div>
										<div class="testimonials__city">Mumbai</div>
									</div>
								</div>

								<div class="testimonials__testimonial flex-column text-center">
									<div class="testimonials__comma text-left">
										“
									</div>
									<div>
										<img src="{% get_static_url %}desktop/images/fot-images/palak.jpg" class="testimonials__image">
									</div>
									<div class="testimonials__desc">
										Quality work and friendliness is what made me a mystery auditor of Treebo. The best part is that they make their auditors glued to their upcoming contests, new location surprises, new updates etc. Makes me feel how Treebo as a company is customer oriented towards their friends!
									</div>

									<div class="flex-column">
										<div class="testimonials__name">Palak Shetty</div>
										<div class="testimonials__designation">Happiness Manager, Decathalon</div>
										<div class="testimonials__city">Bangalore</div>
									</div>
								</div>

			                </div>
			            </div>
			        </div>

				</div>
			</div>


			<div class="signup-schedule text-center">
				<div class="signup flex-column text-center">

					{% if isLogin %}
						{% if registrationStatus == "BLOCKED" %}
							<div class="signup-schedule__header">HELP US BUILD AN AWESOME BRAND!</div>
						{% else %}
							{% if registrationStatus == "IN_PROGRESS" %}

							<div class="signup-schedule__header">COME BE A PART OF FRIENDS OF TREEBO COMMUNITY!</div>

							{% elif registrationStatus == "PASSED" %}
								<div class="signup-schedule__header">HELP US BUILD AN AWESOME BRAND!</div>

							{% else %}
							<div class="signup-schedule__header">LOOKING FOR A GREAT PLACE TO STAY?</div>

							{% endif %}
						{% endif %}

					{% else %}
						<div class="signup-schedule__header">JOIN OUR COMMUNITY, AND START TRAVELLING FOR FREE!</div>

					{% endif %}
					<div class="flex-row text-center signup-schedule__buttons">
						{% if isLogin %}
							{% if registrationStatus == "BLOCKED" %}
								<div class="fot-image__schedule">
									<a href="/fot/search" value=""><button class="btn fot-image__submit fot-image__schedule-btn">SCHEDULE AUDIT</button></a>
								</div>
							{% else %}
								{% if registrationStatus == "IN_PROGRESS" %}
								<div class="fot-image__continue">
									<a href="/fot/signup/" value=""><button class="btn fot-image__submit fot-image__complete-btn">CONTINUE REGISTRATION</button></a>
								</div>
								{% elif registrationStatus == "PASSED" %}
									<div class="fot-image__schedule">
										<a href="/fot/search" value=""><button class="btn fot-image__submit fot-image__schedule-btn">SCHEDULE AUDIT</button></a>
									</div>
								{% else %}
								<div class="fot-image__schedule">
									<a href="/" value=""><button class="btn fot-image__submit fot-image__booking-btn">BOOK A TREEBO</button></a>
								</div>
								{% endif %}
							{% endif %}
						{% else %}
						<div class="fot-image__signup flex-row">
							<a href="/fot/signup/" value=""><button class="btn fot-image__submit">JOIN US</button></a>
							{% if not request.session.isAuthenticated %}
							<a href="/fot/login/"><button class="btn signup-schedule__login">LOGIN</button></a>
							{% endif %}
						</div>

						{% endif %}
					</div>
				</div>

				<div class="schedule flex-column hide">
					<div class="signup-schedule__header">Schedule your first audit, and stay for free!</div>
					<div class="text-center signup-schedule__buttons">
						<input id="scheduleBtn" type="submit" class="btn signup-schedule__submit submit mb20" value="Schedule Audit"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
