{% extends "root-desktop.html" %} {% block content %}

{%if sold_out %}
<div id="soldOutPopup" class="modal-fix flex-column soldout-modal">
{% else %}
<div id="soldOutPopup" class="modal-fix flex-column soldout-modal hide">
{% endif %}
    <div class="modal-fix__body pos-rel soldout-modal__body">
        <div class="soldout-modal__title">Oops! The hotel you picked is no longer available.</div>
        <div class="soldout-modal__info">Please choose another hotel or modify your travel dates.</div>
        <div class="soldout-modal__action flex-row">
            <a href="{{ city_url }}" class="soldout-modal__action__item btn btn--round flex-center">choose another hotel</a>
            <a href="{{ hd_url }}" class="soldout-modal__action__item btn btn--round btn--secondary flex-center">modify travel dates</a>
        </div>
    </div>
</div>
<div id="itineraryError" class="itinerary-error alert alert--error alert--top pos-rel hide">
    <div class="icon icon-close pos-abs alert--top__close">
        <i class="fa fa-times"></i>
    </div>
    <span class="alert__msg"></span>
</div>
<div class="itinerary-page">
    <!--
    <div class="container itinerary-page__header">
        {% if request.user.is_authenticated %}
        That's it! You are just one step away from completing your booking.
        {% else %}
        Almost Done! You are just two steps away from booking your perfect stay!
        {% endif %}
    </div>
    -->
    <input type="hidden" class="context-data" value='[ "{{user.is_authenticated}}","{{user.first_name}}","{{user.phone_number}}","{{request.user.email}}" ]' >
    <div class="container column flex-row">

        <div id="checkout" class="column__left"></div>
        <span class="form-data">
            {% csrf_token %}
            <input type="hidden" id="booking_request_id" name="bid" value="{{ bid }}" />
            <input type="hidden" id="final_hidden_coupon_code" name="final_hidden_coupon_code" value="{{coupon_code}}" />
            <input type="hidden" id="final_hidden_discount_value" name="final_hidden_discount_value" value="{{discount_amount}}" />
            <input type="hidden" id="final_hidden_checkin" name="final_hidden_checkin" value="{{hidden_checkin}}" />
            <input type="hidden" id="final_hidden_checkout" name="final_hidden_checkout" value="{{hidden_checkout}}" />
            <input type="hidden" id="final_hidden_total_cost" name="final_hidden_total_cost" value="{{grand_total}}" />
            <input type="hidden" id="final_hidden_hotel_id" name="final_hidden_hotel_id" value="{{hidden_hotel_id}}" />
            <input type="hidden" id="final_hidden_otp_verified_number" name="final_hidden_otp_verified_number" value="" />
        </span>
        <!--
        <div class="column__left">
            <div class="guest-login">
                {% if request.user.is_authenticated %}
                <div id="guestLogin" class="c-hide">
                    {% else %}
                    <div id="guestLogin">
                        {% endif %}
                        <div class="itinerary-header">LOGIN</div>
                        <div class="flex-row">
                            <div class="guest-login__form-container pos-rel">
                                <div id="travellerLoader" class="loader-container loader-container--inline hide">
                                    <div class="loader-box v-center">
                                        <div class="sk-fading-circle small">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <form class="" id="travellerLogin" action="" method="post">
                                    <div class="float-labels guest-login__name">
                                        <input type="text" id="guestLoginEmail" name="email" pattern=".+" required="" class="float-labels__input guest-login__email" placeholder="Email" />
                                        <label class="float-labels__label">Email</label>
                                    </div>
                                    <div class="float-labels guest-login__password">
                                        <input type="password" id="guestLoginPassword" name="password" pattern=".+" required="" class="float-labels__input" placeholder="Password" />
                                        <label class="float-labels__label">Password</label>
                                    </div>
                                    <div id="travellerLoginError" class="travller-login-error login__error alert alert--error hide"></div>
                                    <button type="submit" name="button" id="guestLoginBtn" class="analytics-emaillogin guest-login__action guest-login__action--login btn btn--round mt10">Login</button>
                                </form>
                                <div class="flex-row guest-login__action-container">
                                    <button type="button" id="guestFBLogin" class="analytics-fblogin guest-login__action guest-login__action--facebook btn btn--facebook btn--round mt10" name="button"><i class="icon-fb"></i>
                                        <span>
                                            <span class="social-pipe">|</span>Login</span>
                                    </button>
                                    <button type="button" id="guestGoogleLogin" class="analytics-glogin guest-login__action guest-login__action--google btn btn--google btn--round mt10" name="button"><i class="icon-google"></i>
                                        <span>
                                            <span class="social-pipe">|</span>login</span>
                                    </button>

                                </div>

                            </div>
                            <div class="guest-login__guest-continue flex-column flex--align-center flex--justify-center">
                                <button id="countinueGuest" class="analytics-guest guest-login__guest-continue__action btn btn--secondary btn--round">Continue as Guest</button>
                                <div class="mt20">
                                    <span class="label-text">New User?&nbsp;&nbsp;</span>
                                    <span id="guestRegister" class="analytics-signup anchor">Register here</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="guestLoggedin" class="c-hide">
                        <span class="itinerary-header">WELCOME!</span>
                        <span>You are logged in as Guest&nbsp;</span>
                        <span class="anchor" id="loginBack">Login?</span>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div id="userLoggedin">
                        {% else %}
                        <div id="userLoggedin" class="c-hide">
                            {% endif %}
                            <span class="itinerary-header">WELCOME!</span>
                            <span>You are logged in as
                                <span class="guest-login__name">{{request.user.first_name}}</span>&nbsp;</span><a id="changeUser" href="/logout/" class="">Change User?</a>
                        </div>
                    </div>
                    <div class="guest-details">
                        <div class="guest-details__header">ENTER BOOKING DETAILS</div>
                        <div class="guest-details__body">
                            <form method="post" action="{% url "pages:payment" %}"
                                    id="travellerValidations" class="traveller-form">
                                <input type="hidden" id="booking_request_id" name="bid" value="{{ bid }}" />
                                <input type="hidden" id="instant" name="instant" value="{{ instant_booking }}" /> //Not needed
                                <input type="hidden" id="final_hidden_coupon_code" name="final_hidden_coupon_code" value="{{coupon_code}}" />
                                <input type="hidden" id="final_hidden_discount_value" name="final_hidden_discount_value" value="{{discount_amount}}" />
                                <input type="hidden" id="final_hidden_checkin" name="final_hidden_checkin" value="{{hidden_checkin}}" />
                                <input type="hidden" id="final_hidden_checkout" name="final_hidden_checkout" value="{{hidden_checkout}}" />
                                <input type="hidden" id="final_hidden_total_cost" name="final_hidden_total_cost" value="{{grand_total}}" />
                                <input type="hidden" id="final_hidden_hotel_id" name="final_hidden_hotel_id" value="{{hidden_hotel_id}}" />
                                <input type="hidden" id="final_hidden_voucher_value" name="final_hidden_voucher_value" value="{{voucherAmount}}" />
                                <input type="hidden" id="channel" name="channel" value="desktop" />
                                <div id="hiddenrow"></div>
                                <div class="">
                                    <label for="">Primary Traveler Details</label>
                                    <div id="guestWidget">
                                        <div class="guest-details__row flex-row">
                                            <div class="float-labels guest-details__name">
                                                <input type="text" name="name" pattern=".+" required="true" class="float-labels__input" placeholder="Name" value="{{ request.user.first_name }}" data-parsley-required="true" data-parsley-required-message="Please enter valid name">
                                                <label class="float-labels__label">Name</label>
                                            </div>
                                            <div class="float-labels guest-details__mobile">
                                                <input type="number" name="mobile" pattern=".+" required="true" class="float-labels__input" placeholder="Mobile number" value="{{ request.user.phone_number }}" data-parsley-type="number" data-parsley-trigger="change" data-parsley-type-message="Enter valid mobile number"
                                                    data-parsley-required-message="Please enter valid phone number" data-parsley-minlength-message="Please enter 10 digit mobile number" data-parsley-maxlength-message="Please enter 10 digit mobile number" data-parsley-minlength="10" data-parsley-maxlength="10">
                                                <label class="float-labels__label">Mobile Number</label>
                                            </div>
                                            <div class="float-labels guest-details__email">
                                                <input type="text" name="email" pattern=".+" required="true" class="float-labels__input" placeholder="Email address" value="{{ request.user.email}}" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email"
                                                    data-parsley-required-message="Please enter valid email ID">
                                                <label class="float-labels__label">Email ID</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spl-req mt20 mb10">Special Requests</div>
                                <div class="request-info label-text mb20">
                                    Need more than what you see here? Let us know, and we'll try our best to get it done.
                                </div>
                                <div class="flex-row request-details flex-row">
                                    <div class="request-details__item request-details__cio">
                                        <div class="request-details__item__title">Specify Check-In Check-Out Time</div>
                                        <div class="cio-row flex-row flex--align-center">
                                            <label class="request-details__item__label label-text">Check-In</label>
                                            <div class="select medium">
                                                <select class="" name="check_in_time">
                                                    <option value="12pm" selected="selected">12pm</option>
                                                    <option value="7am">07am</option>
                                                    <option value="8am">08am</option>
                                                    <option value="9am">09am</option>
                                                    <option value="10am">10am</option>
                                                    <option value="11am">11am</option>
                                                    <option value="12pm">12pm</option>
                                                    <option value="1pm">01pm</option>
                                                    <option value="2pm">02pm</option>
                                                    <option value="3pm">03pm</option>
                                                    <option value="4pm">04pm</option>
                                                    <option value="5pm">05pm</option>
                                                    <option value="6pm">06pm</option>
                                                    <option value="7pm">07pm</option>
                                                    <option value="8pm">08pm</option>
                                                    <option value="9pm">09pm</option>
                                                    <option value="10pm">10pm</option>
                                                    <option value="11pm">11pm</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="cio-row flex-row flex--align-center">
                                            <label class="request-details__item__label label-text">Check-Out</label>
                                            <div class="select medium">
                                                <select class="" name="check_out_time">
                                                    <option value="1am">01am</option>
                                                    <option value="2am">02am</option>
                                                    <option value="3am">03am</option>
                                                    <option value="4am">04am</option>
                                                    <option value="5am">05am</option>
                                                    <option value="6am">6am</option>
                                                    <option value="7am">07am</option>
                                                    <option value="8am">08am</option>
                                                    <option value="9am">09am</option>
                                                    <option value="10am">10am</option>
                                                    <option value="11am" selected="selected">11am</option>
                                                    <option value="12pm">12pm</option>
                                                    <option value="1pm">01pm</option>
                                                    <option value="2pm">02pm</option>
                                                    <option value="3pm">03pm</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="request-details__item request-details__specific">
                                        <div class="request-details__item__title">Specify any other request</div>
                                        <textarea name="message" rows="8" cols="40"></textarea>
                                    </div>
                                </div>

                                <div class="request-info label-text mb10">
                                    <span>Early check-in (between 6AM and 12PM) and late check-out (upto 3PM) can be accommodated at no extra charges, but will be subject to availability</span> &nbsp;<a href="/faq/#checkin-checkout-policy" target="_blank">Know more</a>
                                </div>
                                <p>
                                    Important: <span class="request-info__para">Our hotels reserve the right to admission to ensure safety and
                                    comfort of other guests. This may include cases such as local residents,
                                    unmarried and unrelated couples among others.</span>
                                    &nbsp;<a href="/faq/#right-to-admission" target="_blank">Know more</a>
                                </p>

                                {% csrf_token %}
                            </form>
                                <div class="itinerary-view__action flex-row">
                                    <button paytype="PAYNOW" type="submit" id="payNow" class="analytics-pay itinerary-view__action__item btn btn--round" name="button">Pay Now</button>

                                    {% if pay_at_hotel %}
                                    <button paytype="PAH" type="submit" id="payatHotel" class="analytics-pay itinerary-view__action__item btn btn--round" name="button">Pay At hotel</button>
                                    {% else %}
                                    <button paytype="PAH" type="submit" id="payatHotel" class="analytics-pay itinerary-view__action__item btn btn--round btn--disabled" name="button">Pay At hotel</button>
                                    {% endif %}

                                </div>

                        </div>
                    </div>
                </div>

            </div>
        </div> -->
        <div class="column__right">
            {% include "desktop/common/itineraryview.html" %}
        </div>
    </div>
    <input type="hidden" id="hiddenData" name="hidden_booking_data" value="{{hotel.id}}||{{rooms}}||{{room_type}}||{{guest}}||{{ checkin }}||{{ checkout }}||{{room.maxpax}}||{{ total_nights }}" />
    <input type="hidden" id="hidden_rooms_json" name="hidden_rooms_json" value="{{rooms_json}}" />
    <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>
</div>
{% endblock %}
