{% extends "root-desktop.html" %} {% block content %}

<div class="container">
    <div class="account">
        <div class="flex-row account__account-content tab">
            <ul class="account__left">
                <li class="account__link tab__link booking-history tab__link--active" data-target="#history">Booking History</li>
                {% if request.isReferralEnabled %}
                <li class="account__link tab__link referrals" data-target="#referral">My Referrals</li>
                {% endif %}
                <li class="account__link tab__link settings" data-target="#settings">Settings</li>
                <li class="account__link tab__link profile" data-target="#profile">Profile</li>
            </ul>
            <ul class="account__right">
                <li>
                    <div class="pages tab__content booking-history-page tab__content--active" id="history">
                        <div>
                            <div class="bookinglistwrapper">
                                <div class="bookinglist">

                                </div>
                            </div>
                            <div class="booking_search hide">
                                <div class="pages__heading">BOOKING HISTORY</div>
                                <div class="pages__search-here">
                                    <div class="pages__search-here-heading text-center">First time? Choose your next
                                        adventure with us.
                                    </div>
                                    <div class="pages__search-here-modify pos-rel">
                                        {% include "desktop/includes/searchWidget.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li>{% include "desktop/account/pages/referral.html" with referral=referral %}</li>
                <li>{% include "desktop/account/pages/profile.html" %}</li>
                <li>{% include "desktop/account/pages/settings.html" %}</li>
                <input id="bookingDetailData" type="text" class="hide" value="{{context}}">
                <input id="profileDetailData" type="text" class="hide" value="{{profile}}">
            </ul>
        </div>

    </div>

</div>

{% endblock %}
