{% extends "fot-root-mobile.html" %} {% load url_tag %} {% block header %} {% include "mobile/includes/header.html" %} {% endblock %} {% block content %}
<div class="login-page auth-page">

    {% include "fot/login/login.html" %}

    <div class="signup text-center mb20">
        <span class="new-msg">New to Friends of Treebo? </span><a class="signup anchor login__register" href="/signup/">Register here</a>
    </div>
</div>
{% endblock %}
