{% extends "root-desktop.html" %} {% block content %}
<div class="container contactus">
  <div class="contactus__wrapper">
    <div class="contactus__heading">
      <h2>WE'D LOVE TO HEAR FROM YOU</h2>
    </div>
    <div class="contactus__content">
      <div class="contactus__column">
        <div class="contactus__text-row">
          <p class="contactus__paragraph">Get Super Quick answer to all your queries below</p>
        </div>
        <div class="contactus__link-row">
          <a href="https://support.treebo.com/" class="contactus__support-link" target="_blank">TREEBO
            SUPPORT</a>
        </div>
      </div>
      <div class="contactus__column">
        <img class="contactus__image"
             src="https://images.treebohotels.com/images/hotrod/contactus_image.png">
      </div>
    </div>
    <div class="contactus__upper pos-rel">
      <h1 class="contactus__title">CONTACT US</h1>
      <h3 class="contactus__office-address-heading"><span class="">Office Address</span></h3>

      <div class="details flex-row">
        <div class=" text-left flex-column details__address">
          <h5 class="mb20"><span class="uc contactus__underline">Bangalore</span></h5>
          <div class="mb20 contactus__bangalore">
            <p>RUPTUB SOLUTIONS PRIVATE LIMITED</p>
            <p>Registered Office: Second Floor, No. 201,Brigade MM Annexe,
              No.36-44, K.R.Road, Yediyur, Jayanagar 7th Block
              Bengaluru, Karnataka, 560082</p>
          </div>
          <p>
            <span>Reach us at <b>9322800100</b></span>
          </p>
        </div>
        <div class="text-right details__map">
          <div class="contactus__map">
            <div id='gmap_canvas' class="contactus__mapLayout pos-abs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
