@import "variables.less";
@import "mixins.less";
@import "static-page.less";

.account{
	background:white;
	margin-top:40px;
	margin-bottom: 40px;
	&__account-content{
		padding:40px 40px;
	}
	&__left{
		width:200px;

	}
	&__link{
		margin-bottom: 10px;
		cursor: pointer;
		color:@textColor2;
		.font-size(18);
		font-weight: 400;
	}
	&__right{
		width:785px;
	}

}

.pages{
	&__heading{
		.font-size(30);
		line-height: 1;
		margin-bottom: 20px;
		font-family: @brandFont;
	}
	&__subtitle{
		.font-size(20);
		color:@textColor2;
		padding-bottom: 5px;
		padding-top: 40px;
		font-weight: 600;
		border-bottom: 1px solid @textColor3;
	}
	&__booking-container {
		margin-bottom: 50px;
	}
	&__booking-info{
		padding:20px 0px;
		border-bottom: 1px solid @lightGray;
	}
	&__booking-detail{
		.font-size(14);
		color: @textColor2;
		line-height: 1.4;
		width:330px;
	}
	&__booking-detail-mainpage{
		.font-size(14);
		color: @textColor2;
		line-height: 1.4;
		width:310px;
	}
	&__city-date{
		padding-left: 25px;
		width: 320px;
	}
	&__location-mark{
		padding-top: 2px;
		padding-right: 20px;
		.font-size(22);

	}
	&__city{
		.font-size(20);
		font-weight: 500;
		padding-bottom: 8px;
	}
	&__audit-status{
	    width: 80px;
	    height: 20px;
	    margin-top: 8px;
			.font-size(14);
	    background: @treeboColor;
	    color: #fff;
	    border-radius: 3px;
	    padding-top: 2px;
	    font-weight: 400;
	}
	&__audit-detail-status{
	    width: 90px;
	    height: 22px;
	    margin-left: 30px;
	    margin-top: 4px;
	    background: @treeboColor;
	    color: #fff;
	    font-size: 14px;
	    padding-top: 3px;
	    border-radius: 3px;
	    font-weight: 400;
	}
	&__dates{
		.font-size(14);
		color: @textColor2;
	}
	&__arrow_right{
		padding:0px 5px;
	}
	&__hotel-name{
		color: @textColor2;
		font-weight: 500;
		.font-size(20);
		padding-bottom: 8px;
	}
	&__booking-status{
		.font-size(16);
		font-weight: 100;
		color:@treeboColor;
	}
	&__confirm{
		font-weight: 600;
	}
  &__partly-confirm {
    color: @textColor1;
    font-weight: 600;
  }
  &__partpay-btn {
    width: 120px;
    height: 35px;
    margin: 5px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
  }
	&__cancelled{
		.font-size(16);
		font-weight: 500;
		color:red;
	}
	&__view-detail{
		.font-size(15);
    font-weight: 500;
	}
  &__icon-right {
    .font-size(10);
    font-weight: 900;
    padding-left: 3px;
  }
	&__mark{
		padding-right: 8px;
	}
	&__search-here{
		height: 270px;
		margin-top: 40px;
		background-color: @lightGray;
		margin-bottom: 160px;
	}
	&__search-here-modify{
		right:120px;
	}
	&__search-here-heading{
		padding-top: 55px;
		padding-bottom: 55px;
		.font-size(30);
		color:@textColor3;
	}
}

.password{
	padding-top: 30px;
	&__change{
		.font-size(20);
		font-weight: 600;
		color: @textColor2;
		margin-bottom: 10px;
	}
	&__item{
		margin-top: 20px;
	}
	&__input-lebel{
		.font-size(15);
		font-weight: 400;
		color: @textColor2;
	}
	&__input{
		margin-top: 6px;
		width: 500px;
		height: 40px;
		border: 1px solid @lightGray;
	}
	&__save-btn{
		width: 140px;
		height: 45px;
		border-radius: 2px;
	}

}
.hotel{
	color:@textColor2;
	&__back-mark{
		.font-size(13);
		padding-right: 8px;
		color: @textColor2;
	}
	&__back-to-history{
		.font-size(15);
		color: @textColor2;
		width:60%;
	}
	&__action {
        margin-bottom: 20px;
        justify-content: space-between;

        a {
            [class*=" icon-"],
            [class^=icon-] {
                display: inline-block;
                font-size: 16px;
                margin-right: 10px;
                color: @textColor1;
            };
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: @textColor2;
            font-size: 14px;
        }
    }
    &__email-pdf-download{
    	width:40%;
    	top:-10px;
    }
    &__name{
    	.font-size(24);
    	margin-bottom: 8px;
			font-family: @brandFont;
    }
    &__name-section {
      width:65%;
    }
    &__part-pay-section {
      width: 30%;
      text-align: center;
    }
    &__partpay-text {
      .font-size(14);
      color: @textColor2;
      padding: 0px 30px;
    }
    &__id-date-info{
			line-height: 1.5;
    	color: @textColor2;
    }
    &__booking-detail-info{
    	padding-top:20px;
    	line-height: 1.5;
    }
    &__checkin-checkout-info{
    	padding-left: 170px;
    	.font-size(14);
			color: @textColor2;
    }
    &__date{
    	.font-size(20);
    	color: @textColor2;
			font-weight: 500;
    }
    &__day{
    	.font-size(13);
    	color: @textColor2;
    }
    &__returnarrows{
    	.font-size(16);
    	padding: 20px;
    }
    &__cancel-booking-btn{
    	margin-top: 50px;
      padding-top: 15px;
    	width: 200px;
    	height: 55px;
    	border-radius: 3px;
    }
    &__cancel_timestamp{
    	margin-top: 35px;
    	width:100%;
    	height:50px;
    	background-color: #F8F2B0;
    	border:1px solid #BFB131;
    }
    &__booking-cancel-text{
    	padding-top: 14px;
    	padding-left: 30px;
    	.font-size(18);
    	font-weight: 600;
    }
    &__cancel-date{
    	font-weight: 400;
    	.font-size(14);
    }
    &__cancelWarning{
    	margin-top: 68px;
    	margin-left: 30px;
    	font-weight: 600;
    }
    &__cancel-inactive-booking-btn{
    	background-color: @textColor3;
    	border-color: @textColor3;
    	pointer-events:none;
    }
}

.traveller{
	.font-size(14);
	color: @textColor2;
	&__info{
		padding-top: 20px;
		line-height: 1.5;
	}
	&__icon-modify{
		.font-size(14);
		color: @textColor2;
		padding-right: 20px;
		padding-top: 3px;
	}
	&__name{
		.font-size(18);
		color: @textColor2;
		font-weight: 500;
	}
	&__number{
		padding-left:100px;
		padding-top: 25px;
	}
}

.payment{
	.font-size(17);
	&__info{
		padding-top: 20px;
		line-height: 1.5;
	}
	&__icon-modify{
		position: relative;
		top: 2px;
		padding-right: 3px;
		.font-size(16);
	}
	&__price{
		color: @textColor3;
		padding-left: 10px;
	}
	&__total-price{
		color: @textColor1;
		font-weight: 600;
	}
	&__cancel-popup{
		width:500px;
		height:250px;
		border:2px solid darkgrey;
	}
	&__cancel-text{
		padding-top: 80px;
		padding-left: 75px;
		.font-size(18);
		color:@textColor2;
	}
	&__popup-btn{
		padding-top:50px;
		justify-content: center;
	}
	&__yes-btn{
		height: 50px;
		width: 100px;

		// width:65px;
		// height:27px;
		// border-radius: 3px;
		// border: 1px solid lightGray;
	}
	&__no-btn{
		height: 50px;
		width: 100px;
		margin-left: 30px;

		// width:65px;
		// height:27px;
		// border-radius: 3px;
		// background-color: @lightGray;
		// margin-left: 100px;
	}

}

.facebook{
	margin-top: 50px;
	height:125px;
	width:100%;
	background-color: lightGray;
	&__import-detail{
		padding-top: 40px;
		padding-left: 30px;
		width:75%;
	}
	&__import-text{
		left:15px;
		top:-15px;
		.font-size(20);
		color: @textColor2;
	}
	&__import-button{
		padding-top: 40px;
		padding-left: 45px;
	}
	&__button-modify{
		width:120px;
	}
	&__subheading{
		.font-size(22);
		color:@textColor2;
		padding-bottom: 20px;
		padding-top: 60px;
	}
}

.profile-detail-form{
	padding-top:30px;
	&__item{
		margin-top: 20px;
	}
	&__label{
		.font-size(15);
	}
	&__input{
		margin-top: 5px;
		height: 40px;
		width: 500px;
		border:1px solid @textColor3;
	}
	&__input-gender{
		margin-top: 5px;
		height: 40px;
		width: 100px;
		border:1px solid @textColor3;
	}
	&__date{
		margin-top: 5px;
		height: 42px;
		width: 200px;
		border:1px solid @textColor3;
	}
	&__save-btn{
		width: 140px;
		height: 45px;
		margin-top: 20px;
		border-radius: 2px;
	}
}

.dd-open {
    .booking-history-email-pdf__head {
        padding: 10px;
        border: 1px solid @borderDark;
        border-bottom: none;
        // box-shadow: 0 0px 6px rgba(0,0,0,.3);

    }
    .booking-history-email-pdf__body {
        display: flex;
    }
}

#bookingHistorySendpdfmsg {
	color: @treeboColor;
	display: none;
}
#bookingHistorySendPdfForm {
	align-items: baseline;
}
.booking-history-email-pdf {
    &__head {
        padding: 10px;
        border: 1px solid transparent;
        position: relative;
        z-index: 112;
        background: #fff;
    }

    &__body {
        display: none;
        right: 0;
        top:38px;
        padding: 10px 20px 20px;
        z-index: 111;
        background: #fff;
        align-items: baseline;
    }


    &__action {
        height: 30px;
        margin-left: 20px;
    }
}

.referral {
    &__heading {
        margin-bottom: 20px;
    }

    &__banner {
        margin-bottom: 20px;
    }

    &__banner-img {
        width: 100%;
    }

    &__wrapper {
        padding: 40px 0;
        border-bottom: 1px solid @borderLight;
    }

    &__code {
        width: 300px;
        padding: 10px 20px;
        border: 1px solid @borderLight;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        box-shadow: 1px 1px 1px @grayBorder inset;
        color: @textColor3;
    }

    &__copy {
        width: 140px;
        padding: 10px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &__share {
        width: 66.6%;
        margin-top: 25px;
    }

    &__total {
        font-weight: 400;
        margin: 30px 0;
    }

    &__list-title {
        color: @textColor3;
    }

    &__list-item {
        border-bottom: 1px solid @borderLight;
        padding: 10px 0;
    }

    &__text {
      line-height: 1.7rem;
    }
}

.email-invite {
    &__container {
        width: 400px;
        padding: 30px;
    }

    &__title {
        font-size: 1.5em;
        margin: 8px 30px;
    }

    &__text {
        color: @textColor3;
        font-size: 0.9em;
    }

    &__email {
        width: 100%;
        margin: 15px auto 0;
    }

    &__phone {
        margin: 20px auto 0;
        width: 250px;
    }
}
