@import "variables.less";
@import "mixins.less";
@import "itineraryview.less";

.confirmation-page {
    margin: 25px 0;

    .column__left {
        width: 730px;
    }

    &__header {
        .cp-head {
            font-size: 30px;
            margin-bottom: 20px;
            font-family: @brandFont;
        }

        .cp-subhead {
            font-size: 24px;
            color: @textColor2;
            margin-bottom: 20px;
        }

        .cp-subhead-info {
            color: @textColor3;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }

    &__bookin-id {
        color: @textColor3;

        .bid {
            color: @textColor1;
            font-weight: bold;
        }
    }

    &__guests {
        margin-top: 30px;

        &__title {
            color: @textColor2;
            font-size: 20px;
            font-family: @brandFont;
        }

        &__info {
            margin-top: 30px;
            padding: 20px 0;
            border: 1px solid @borderDark;
            border-width: 1px 0;
        }

        &__item {
            align-items: flex-end;
            font-size: 14px;

            &+& {
                margin-top: 30px;
            }
        }

        &__icon {
            width: 60px;
            align-self: flex-start;
            margin-top: 2px;
        }

        &__name {
            width: 350px;
            padding-right: 20px;

            .g-name {
                font-weight: bold;
                color: @textColor2;
            }

            .g-email {
                color: @textColor3;
                line-height: 20px;
            }
        }

        &__mobile {
            width: 150px;
            color: @textColor3;
        }

        &__action {
            width: 115px;
            margin-left: auto;
            text-align: right;

            &--secondary {
                justify-content: space-between;
            }

            &--sent {
                color: @treeboColor;
            }

            &--send {}

            &--remove {
                font-size: 22px;
                line-height: 20px;
            }
        }
    }

    &__booking-container {
        padding: 35px;
        background: #fff;
    }

    &__bookin-information {
        margin-top: 30px;
    }

    &__extrainfo {
        margin-top: 30px;

        .column__left {
            width: 800px !important;
        }
    }

    &__action {
        margin-bottom: 60px;
        justify-content: space-between;

        a {
            [class*=" icon-"],
            [class^=icon-] {
                display: inline-block;
                font-size: 16px;
                margin-right: 10px;
                color: @textColor1;
            };
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: @textColor2;
            font-size: 14px;
        }
    }
    &__link{
      color: @treeboColor;
    }
}

.email-pdf {
    #sendpdfmsg {color: @treeboColor; display: none;}
    #sendPdfForm {align-items: baseline;}
    &__head {
        padding: 10px;
        border: 1px solid transparent;
        position: relative;
        z-index: 112;
        background: #fff;
    }

    &__body {
        display: none;
        right: 0;
        top:38px;
        padding: 10px 20px 20px;
        z-index: 111;
        background: #fff;
        align-items: baseline;
    }


    &__action {
        height: 30px;
        margin-left: 20px;
    }
}

.dd-open {
    .email-pdf__head {
        padding: 10px;
        border: 1px solid @borderDark;
        border-bottom: none;
        // box-shadow: 0 0px 6px rgba(0,0,0,.3);

    }
    .email-pdf__body {
        display: flex;
    }
}

.hotel-direction {
    background: #fff;
    height: 450px;
    flex-wrap: wrap;

    &__head {
        font-size: 20px;
        color: @textColor2;
        margin-bottom: 20px;
        font-weight: 600;
    }

    &__subhead {
        font-size: 20px;
        color: @textColor2;
        margin-bottom: 10px;
        font-weight: 600;
    }

    &__item {
        width: 50%;

        &--hotelinfo {
            height: 170px;
            border-bottom: 1px solid @borderDark;
            font-size: 14px;
            padding: 30px;
            line-height: 22px;

            .hotel-name {
                font-weight: 600;
            }

            .hotel-address {
                color: @textColor2;
            }
        }

        &--directions {
            height: 260px;
            padding: 30px 0 30px 30px;

            .directions {
                margin-top: 10px;
                overflow: auto;
                list-style: initial;
                padding: 0 20px;
                color: @textColor3;
                line-height: 22px;
                max-height: 130px;
                font-size: 13px;
                line-height: 18px;

                &__item {
                    &+& {
                        margin-top: 20px;
                    }
                }
            }
        }

        &--map {
            height: 100%;
        }
    }
}

.directions {
    &__item {
        &+& {
            margin-top: 3px;
        }
    }
}

.info {
    &__head {
        font-size: 20px;
        color: @textColor2;
        margin-bottom: 20px;
        font-family: @brandFont;
    }

    &__imp-points {
        list-style: initial;
        margin-left: 20px;
        color: @textColor2;
        font-size: 15px;
        line-height: 20px;

        &__item {
            &+& {
                margin-top: 5px;
            }
        }
    }
}
