@import "variables.less";
@import "mixins.less";
@import "static-page.less";


.contactus{
	.gm-style-iw{
		text-align:left;
	}

	&__wrapper{
		margin:45px 0px;
		background-color:white;
		background-color:white;

	}

	&__upper{
		background:white;
		padding-top:60px;
		padding-left:60px;
		padding-right:60px;
		height:425px;
	}

	&__content{
      background-color: #f7f7f7;
      border: 2px solid #d5d5d5;
      border-radius: 10px;
      margin-left: 60px;
      margin-right: 60px;
      height: 300px;
      }

	&__column {
	  float: left;
	  width: 50%;
	  padding: 10px;
	  height: 100%;
	}

	&__text-row{
	  float: left;
	  width: 100%;
	  height: 70%;

	}

	&__link-row{
	  float: left;
	  width: 100%;
	  height: 30%;
	  text-align: center;
	  margin-top: 8px;
	}

	&__support-link{
	  text-align: center;
	  background-color: #7ab330;
	  color: white;
	  font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    padding: 13px 18px;
	}

	&__image{
	  height: 100%;
	  width: 100%;
	}

	&__paragraph{
	  text-align: center;
	  margin: 5px;
	  font-weight: bolder;
	  font-size: 30px;
	  padding-left: 15%;
	  padding-right: 15%;
	  padding-top: 55px;

	}

	&__bangalore{
		width:320px;
	}

	&__map{
		overflow:hidden;
		height:270px;
		width:645px;
	}

	&__mapLayout{
		top:65px;
		height:300px;
		width:540px;
	}

	&__lower{
		background:white;
		padding:60px 60px;
	}

	&__heading{
		background-color: #fff;
		text-align: center;
		color: #3e2567;
		font-size: 30px;
		padding-top: 60px;
		padding-left: 60px;
		padding-bottom: 50px;
		font-weight: bolder;
	}

	&__submit{
		height:45px;
		width:15%;
		font-weight: 500;
	}

	&__title{
		.font-size(30);
		margin-bottom: 30px;
		font-family: @brandFont;
	}

	&__query{
		padding-bottom:30px;
		border-bottom:1px solid @gallery-gray;
	}
	&__select-tag{
		width:100%;
		padding:10px;
	}
	&__subheading{
		/*color: @textColor1;*/
		font-size: 20px;
		font-weight: 500;
	}
	&__underline{
		font-size: 16px;
	}
	&__office-address-heading{
		.font-size(24);
		color:@textColor2;
		font-weight:600;
		margin-bottom: 40px;
	}

	&__icon {
		.font-size(20);
	}

	&__mail{
		color:#333;
	}
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important
}

.details{
	&__address{
		width:40%;
	}
	&__map{
		width:55%;
	}
}


.form-labels{
	margin-bottom: 15px;
	&__label{
		color: @textColor1;
		font-weight: 500;
	}

	&__input{
		width:260px;
		height:40px;
		font-size: 15px;
		margin-top: 5px;
	}

	&__input-date{
		width:150px;
		height:42px;
		font-size: 15px;
		margin-right: 20px;
		margin-top: 5px;
		padding-left: 5px;
	}

	&__input-kid-adult{
		width:100px;
		height:40px;
		font-size: 15px;
		margin-right: 20px;
		margin-top: 5px;
	}
	&__input-area{
		margin-top: 5px;

	}
	&__instruction{
		.font-size(12);
	}

	&__form-labels_border {
		border:2px solid grey;
		border-radius:2px;
	}
}

.form_policy{
	  width:560px;
	  height:260px;
	  background:#E7EBF0;
	  .font-size(14);
	  margin-left: 150px;
	  margin-top: 25px;

	&__heading{
		padding-top: 10px;
		padding-left: 10px;
		margin-bottom: 10px;
		text-align: center;
		color: #3e2567;

	}
	&__li-class{
		margin-bottom: 5px;
	}
	&__ul {
		list-style-type: disc;
		padding-left: 30px;
		padding-right: 10px;
}

	}
.in-out-form-policy{
	.font-size(14);
	width:550px;
	background:#E7EBF0;
	margin-left: 150px;
	padding-top: 10px;

	&__heading{
		padding-top: 10px;
		padding-left: 10px;
		margin-bottom: 10px;
	}
}
