@import "variables.less";
@import "mixins.less";
@import "discount.less";
@searchBoxHeight: 0;
@import "price_detail_popup.less";
.column__left {
    background: #fff;
}
.hotel-detail-page {
    padding: 30px 0;
    .banner-carousel {
        z-index: 112;
        .slider-nav {
            background: #fff;
        }
    }
}
.ph35 {
    padding-left: 35px;
    padding-right: 35px;
}
.slick-track {
    margin: auto;
}
.offset60 {
    position: relative;
    top: -60px;
}
.search-back {
    top: -25px;
    .font-size(16);
    color: @textColor3;
    margin-bottom: 6px;
    display: inline-block;
}
.head {
    position: fixed;
    top: 0;
    color: @white;
    background-color: @shark-gray;
    height: 60px;
    z-index: 10;
    width: 100%;
    .font-size(14);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
    &__visible {
        opacity: 1;
        visibility: visible;
    }
    &__tab {
        width: 70%;
        > * {
            flex-grow: 1;
            align-self: stretch;
            justify-content: center;
            align-items: center;
            display: flex;
            background: transparent;
            cursor: pointer;
        }
    }
    &__selected {
        border-bottom: 2px solid @deyork-green;
    }
    &__help {
        width: 30%;
        background: @black;
    }
    visibility: hidden;
    display: flex;
}
.similar {
    &__title {
        margin: 75px 0 20px 0px;
        font-size: 24px;
        font-weight: 100;
        color: @textColor1;
        font-family: @brandFont;
    }
    &__img {
        height: 250px;
        width: 100%;
    }
    &__treebo {
        width: 350px;
        margin: 0 10px;
        padding-bottom: 20px;
        background: #f3f3f3;
    }
    // &__info{padding: 5px 15px;}
    &__name {
        color: @textColor1;
        max-width: 200px;
    }
    &__tag {
        background-color: @sisal-pink;
        color: @clay-brown;
        padding: 3px 7px;
        .font-size(12);
        border-radius: 3px;
        height: 24px;
    }
    &__meta {
        .font-size(12);
        padding-top: 8px;
    }
    &__imgwrapper {}
    &__coupon {
        top: 20px;
        left: 10px;
        color: white;
        font-weight: 700;
        height: 30px;
        .font-size(12);
        > * {
            flex-grow: 1;
            padding: 0 10px;
        }
        > :first-child {
            color: @mineshaft-gray;
            background-color: @gallery-gray;
        }
        background-color: @white;
        color: @deyork-green;
    }
    &__price {
        bottom: 10px;
        background-color: @mineshaft-gray;
        color: @jumbo-gray;
        .font-size(12);
        padding: 7px;
    }
    &__discouned {
        color: @white;
        .font-size(16);
        font-weight: 500;
    }
}
.banner-carousel {
    width: 100%;
    position: fixed;
    top: 0;
    background: @mineshaft-gray;
    z-index: 11;
    &__container {
        height: 100%;
    }
    &__img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .slick-dots {
        bottom: @searchBoxHeight;
        position: fixed;
        li {
            margin-right: 40px;
        }
    }
    &__close {
        right: 15px;
        top: 10px;
        .font-size(20);
        z-index: 2;
    }
    &__roomname {
        top: 90%;
        color: white;
        left: 48%;
    }
    .slick-track:before,
    .slick-track:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
        color: white;
    }
    .slider-nav {
        position: relative;
        bottom: -5px;
        z-index: 100;
        height: 50px;
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }
    .slider-nav__item {
        margin: 1px;
        width: 56px;
        height: 50px;
    }
    .slider-nav__img {
        width: 100%;
        width: 100%;
        width: 100%;
        height: 50px;
    }
}
.main {
    padding: 0px 0px 20px 0;
    &__expand {
        top: 15px;
        right: 15px;
        z-index: 10;
        font-size: 19px;
        color: #fff;
    }
    &__imagename {
        top: 80%;
        left: 20px;
        color: #999;
    }
    &__tag {
        height: 28px;
        width: 80px;
        background: black;
        border-radius: 10px;
        color: @white;
        .font-size(12);
        text-align: center;
        padding: 2px;
    }
    &__title {
      .font-size(24);
        color: @textColor1;
        font-family: @brandFont;
        padding-bottom: 5px;
        letter-spacing: -0.7px;
    }
    &__address {
        margin-bottom: 20px;
        .font-size(16);
        color: @textColor3;
        display: flex;
        align-items: center;
        .icon-location {
            margin-right: 5px;
            font-size: 16px;
        }
    }
    &__advisor {
        .font-size(12);
        margin-bottom: 20px;
        text-align: right;
        > * {
            flex-grow: 1;
        }
        .hotel-urgency {
            color: @textColor2;
        }
    }
    &__gallerywrapper {
        position: relative;
    }
    &__galleryimg {
        width: 800px;
        height: 480px;
    }
    &__gallerynav {
        max-width: 50%;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        background: #fff;
        border: none;
        &__img {
            width: 57px;
            height: 50px;
            color: transparent;
        }
        &__imgcont {
            width: 58px !important;
            opacity: 0;
            &.slick-slide {
                opacity: 1;
            }
        }
    }
}
.hdp__header {
    padding: 0 30px;
}
.room-config {
    background: #fff;
    border: 1 px solid #ccc;
    &__title {
        font-size: 12px;
        font-weight: 700;
    }
}
.room-widget-dd {
    display: none;
    &.show {
        display: flex;
    }
}
#calendar {
    text-align: center;
    .dr-dates {
        width: 100%;
        cursor: pointer;
    }
    .dr-dates-col {
        text-align: left;
    }
    .dr-input {
        border: 1px solid #C3CACD;
    }
}
.sidebar {
    position: absolute;
    top: 0;
    width: 340px;
    background: @white;
    padding-top: 10px;
    &__totalcost_right_block {
        width: 63%;
    }
    &__totalcost_left_block {
        width: 37%;
    }
    .icon-tick {
        color: @treeboColor;
        border-radius: 50%;
        border: 1px solid @treeboColor;
        padding: 3px;
        font-size: 8px;
        font-weight: bold;
    }
    &__singledeals {
        color: @deyork-green;
        .font-size(12);
        display: flex;
        align-items: center;
        .icon-deals {
            color: @textColor2;
            font-size: 18px;
            margin-right: 5px;
        }
    }
    &__dealtitle {
        color: @rose-red;
    }
    &__dealdesc {
        font-size: 16px;
        justify-content: flex-start;
        overflow-wrap: break-word;
        .sprite-illustration--tip {
            margin-right: 10px;
        }
    }
    &__detail {
        width: 100%;
    }
    &__dealimg {
        flex-grow: 0;
        width: 20%;
    }
    &__coupon {
        .font-size(14)
    }
    &__btn--green {
        background-color: @ocean-green;
        display: inline-block;
        border: none;
        width: 45%;
        .font-size(16);
        font-weight: 100;
        color: @gallery-gray;
    }
    &__book {
        width: 100%;
        align-self: center;
        height: 50px;
        .font-size(16);
        font-weight: 900;
    }
    &__book-disabled {
        background: #999;
        border: none;
        cursor: default;
    }
    &__price {
        > * {
            flex-grow: 1;
        }
    }
    &__mini {
        .font-size(12);
    }
    &__bold {
        color: @textColor1;
        font-weight: 400;
        .font-size(16);
    }
    &__roomselection {
        > * {
            flex-grow: 1;
        }
        .font-size(14);
        font-weight: 400;
        cursor: pointer;
    }
    &__roomopts {
        background: @white;
    }
    &__roomselection {
        min-height: 35px;
    }
    &__roomtypeheader {
        width: 80%;
        color: #999;
        height: 47px;
        .font-size(11);
    }
    &__roomtypetitle {
        .font-size(11);
        text-align: left;
        font-weight: 100;
        padding: 5px 10px 0 15px;
    }
    &__selectedroomtype {
        text-align: left;
        color: #333;
        .font-size(16);
        padding: 5px 15px;
        text-transform: capitalize;
    }
    &__roomlist {
        width: 100%;
        background: @white;
        z-index: 1;
    }
    &__roomname {
        min-width: 100px;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
        padding-left: 20px;
    }
    &__roomoptiondetail {
        text-align: left;
        color: #999;
        .font-size(13);
    }
    &__roomoption {
        > * {
            flex-grow: 1;
        }
        .font-size(14);
        height: 75px;
        cursor: pointer;
        .icon-checkmark-circle {
            visibility: hidden;
        }
        &--selected {
            pointer-events: none;
            background-color: #edf4ef;
            .icon-checkmark-circle {
                visibility: visible;
                color: @treeboColor;
            }
        }
    }
    &__roomoption:hover {
        background-color: #edf4ef;
    }
    &__border {
        border: 1px solid @borderDark;
    }
    &__soldout {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        background-color: red;
        display: inline-block;
    }
    &__sold {
        pointer-events: none;
        .sidebar__roomoptiondetail {
            color: white;
        }
        .sidebar__roomoptiondetail::after {
            content: "SOLD OUT";
            position: relative;
            top: -20px;
            left: 30px;
            color: @textColor2;
        }
    }
    &__error__container {
        display: flex;
        align-items: center;
        color: @errorColor;
        display: none;
    }
    &__error {
        .font-size(12);
        padding: 5px;
        display: inline-block;
    }
    // .icon-error{color: @errorColor;}
    &__totalprice {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .greyTxt {
        color: @textColor2;
    }
}
.price {
    .hotel__price__breakup {
        // font-weight: 900;
    }
    &__divider {
        height: 20px;
        width: 1px;
        position: absolute;
        top: 35%;
        background-color: @jumbo-gray;
        left: 110%;
    }
}
.trilights {
    &__title {
        font-size: 16px;
        font-weight: 100;
        color: @textColor2;
    }
    &__item {
        .font-size(14);
        margin: 5px 0;
        color: @textColor2;
        .icon-trilights {
            font-size: 16px;
            color: @treeboColor;
            padding: 4px;
            display: inline-block;
            margin-right: 4px;
        }
    }
    &__wrapper {
        padding: 10px 15px;
    }
}
.room-types {
    font-weight: 100;
    &__title {
        text-align: left;
        .font-size(22);
        font-weight: 100;
    }
    &__category {
        color: @textColor1;
        .font-size(18);
        font-family: @brandFont;
    }
    &__room {
        margin: 10px;
        min-height: 465px;
        width: 225px;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__adult {
        .font-size(11);
        font-weight: 400;
        color: #444;
    }
    &__facilities {
        .font-size(12);
        font-weight: 100;
        color: @jumbo-gray;
        text-align: left;
        padding: 0 10px;
        min-height: 35px;
        text-align: center;
    }
    &__price {
        > * {
            flex-grow: 1;
        }
    }
    &__select {
        width: 70%;
        height: 50px;
        color: @treeboColor;
        border-radius: 5px;
        font-weight: 100;
        margin: 0 auto 20px;
        left: 15%;
        bottom: 20px;
        margin-top: auto;
    }
    &__txt {
        color: @jumbo-gray;
        .font-size(12);
    }
    &__internal {
        color: #999;
        font-weight: 300;
    }
    .icon-checkmark-circle {
        display: none;
        padding: 5px;
        color: @treeboColor;
    }
    &__selected {
        border: none;
        .icon-checkmark-circle {
            color: @treeboColor;
            display: inline-block;
        }
    }
    &__soldout {
        color: #999;
        border-color: #999;
        pointer-events: none;
        padding-top: 0;
    }
    &__imgwrapper {
        height: 170px;
        overflow: hidden;
    }
    &__carousel-container {
        height: 480px;
    }
}
// Exception
.unavailable {
    .room-types__category {
        color: #999;
    }
    .room-types__adult {
        color: #999;
    }
    .room-types__price {
        color: #999;
    }
    .room-types__imgwrapper {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
.rules {
    color: @textColor2;
}
.about {
    text-align: left;
    &__title {
        .font-size(22);
        font-weight: 100;
    }
    &__desc {
        line-height: 1.5;
    }
    &__more {
        .font-size(14);
    }
}
.amenities {
    &__wrapper {
        margin: 0 auto;
    }
    &__title {
        .font-size(28);
        font-weight: 100;
    }
    &__list {
        border-bottom: 1px solid @gallery-gray;
        .font-size(14);
        > * {
            flex-grow: 1;
        }
    }
    &__guarantee {
        height: 303px;
        width: auto;
    }
}
.hotel {
    &__facilities {
        width: 25%;
        padding-right: 20px;
        font-size: 14px;
        color: @textColor2;
        margin-bottom: 10px;
        align-items: center;
        [class*=" icon-"],
        [class^="icon-"] {
            font-size: 18px;
            margin-right: 5px;
            color: @treeboColor;
        }
    }
    [class*="-disabled"] {
        pointer-events: none;
        [class*=" icon-"],
        [class^="icon-"] {
            color: @textColor3 !important;
        }
        color: @textColor3 !important;
    }
    &__amenities {
        color: @textColor2;
        font-weight: normal;
    }
    &__accessibility {
        color: @textColor2;
        font-weight: normal;
        &__distance {
            color: @treeboColor;
        }
    }
}
.access {
    &__list {
        > * {
            flex-grow: 1;
        }
    }
    &__item {
        color: @textColor2;
        font-size: 14px;
        margin: 10px 30px 0 0;

        [class*=" icon-"],
        [class^="icon-"] {
            color: @treeboColor;
            font-size: 16px;
            margin-right: 5px;
        }
    }
}
.rules {
    &__title {
        text-align: left;
        .font-size(28);
        font-weight: 100;
    }
    &__label {
        max-width: 110px;
        width: 130px;
        .font-size(14);
        font-weight: 700;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__link{
      color: @treeboColor;
    }
    &__value {
        width: 100%;
    }
    &__value:last-child {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
}
.room-widget__config,
.room-widget__options {
    width: 91%;
}
.room-widget__title {
    text-transform: uppercase;
    padding: 5px 10px 0 15px;
    font-size: 11px;
}
.room-widget__total {
    font-size: 16px;
    padding: 5px 15px;
    font-weight: 400;
}
.room-widget__header {
    height: 47px;
}
.dr-dates-col .search-box__label {
    text-transform: uppercase;
    padding: 5px 10px 0 15px;
    font-size: 11px!important;
}
.dr-dates-col .search-box__title {
    padding: 5px 15px;
    font-size: 16px!important;
}
.hotel__price__breakup__popup {
    width: 250px;
}
.block__title {
    font-size: 20px !important;
    color: @textColor1 !important;
    font-family: @brandFont;
}
.main-gallery__carousel {
    overflow: hidden;
    height: 480px;
    display: flex;
    width: 800px;
    &.slick-initialized {
        overflow: inherit;
        display: inherit;
    }
    &__item {
        opacity: 0;
        &.slick-slide {
            opacity: 1;
        }
    }
}
.farebreakuptitle {
    height: 30px;
}
.hover-popup__body.hover-popup__twisty--bottom {
    margin-top: -10px;
}

/*.googleMap{
    &__map{
        overflow:hidden;
        height:400px;
        width:100%;
    }
    &__mapLayout{
        height:400px;
        width:100%;
    }
}
#gmap_canvas img{
    max-width:none!important;
    background:none!important
}*/
