@import "variables.less";
@import "mixins.less";

.coupon-value {
	display: flex;
	align-items: center;
}
.discount {
	width: 100%;
    &__form {
        width: 100%;
    }

    &__applybtn {
        display: flex;
        height: 45px;
				font-weight: 500;
    }

    &__voucher {
        display: inline-block;
        width: 210px;
        //padding-left:35px;
        .font-size(16);
        // background-color: @lightGray;
        // border-width: 0px;
    }

    &__applybtn {
        display: inline-block;
        width: 100px;
    }

    &__remove {
        .font-size(14);
    }
    &__applied-block{
        width:47%;
        flex-direction:row;
        &__tagline{
            color: @treeboColor;
            padding-bottom: 5px;
            width:100%;
        }
        &__desc{
            .font-size(12);
            width:100%;
        }
    }
    &__discount-price{
        .font-size(20);
    }
    &__applied-screen {
        .details {
            text-align: justify;
            >* {
                flex-grow: 1;
            }
        }
		.icon-tick{
			color: @treeboColor;
			margin-right: 5px;
			font-size: 13px !important;
			font-weight: bold;
		}

        .reapply {
			text-align: center;
            >* {
                flex-grow: 1;
            }
        }
    }

    &__terms {
        .font-size(14);
    }
}

/*group hover card */
.hc-preview {
    position: relative;
    display: inline;
    z-index: 0;
}
.hc-name {
    position: relative;
    display: inline-block;
    z-index: 100;
    cursor: pointer;
    color: @textColor2;
    //for this page
    max-height: 40px;
    overflow: auto;
    //
}
.hc-details {
    left: -12px;
    margin-right: 80px;
    color: @textColor2;
    border: 1px solid @borderLight;
    position: absolute;
    top: -6px;
    padding: 5px 10px 10px;
    background: #fff;
    width: 300%;
    z-index: 111;
    word-wrap: break-word;
    line-height: 15px;
    width: 221px;
    text-align: right;
    display: none;
}
.hc-details-open-left {
    left: auto;
    right: -10px;
    text-align: right;
    margin-left: 80px;
    margin-right: 0;
}
.hc-details-open-top {
    bottom: -10px;
    top: auto;
    padding: 10px 10px 2.5em;
}

.ellipsis {
    overflow: hidden;
    position: relative;
    height: 28px;
}

.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: 70px;
}

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026 read more";
    position: absolute;
    bottom: -3px;
	color: @linkColor;
    left: 100%;
    width: 7em;
    margin-left: -7em;
    padding-right: 5px;
    text-align: right;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
    font-weight: bold;
}
/*end*/
