@import "variables.less";
@import "mixins.less";
@import "static-page.less";


.faqPage{
	padding:60px 40px 60px 60px;
	margin: 40px 0px;
	background:white;
	&__para{
		.font-size(16);
	}
	&__intro{
		.font-size(16);
		margin-bottom: 30px;
	}
	&__headline {
		margin-bottom:40px;
		.font-size(30);
		color:@textColor1;
		font-family: @brandFont;
	}
	&__heading{
		margin-top: 40px;
	}
}

h3 {
	font-weight: 500;
}


.faqs{

	&__headline{
		.font-size(30);
		color:@dove-gray;
	}
	&__main{
		width:100%;
	}
	&__wrapper{
	}

	&__right_portion {
		width:76%;
	}
}

.side-nav{
	width:24%;
	&__item{
		height:30px;
		font-weight:400;
		.font-size(18);
	}
}

.faq-block{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
	&__title{
		.font-size(22);
		margin-bottom: 20px;
		font-family: @brandFont;
	}
	&__q{
		padding:10px 5px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	&__q:hover{
		background:@athens-gray;
	}
	&__qtext{
		width:95%;
		padding-left: 10px;
	}
	&__a{
		background:@athens-gray;
		display:none;
	}
	&__highlight{
		color:@treeboColor;
		min-width: 25px;
		margin-right: 10px;
	}
	&__close{
		right:0px;
		top:0px;

	}
	&__icon{
		margin-right: 10px;
	}

	&__status{
		right:5px;
		cursor:pointer;
	}

	&__open{
		right:5px;
		cursor:pointer;
	}
	&__qdesc{
		color:@black;
		font-weight:bold;
	}
	&__adesc{
		color:@dove-gray;
	}
  &__referral-text{
    padding-top: 20px;
  }
  &__referral-tags {
    font-weight: 500;
    text-decoration: underline;
    color: @treeboColor;
  }
  &__subheader{
    color: @treeboColor;
    text-decoration: underline;
    padding-left: 14px;
    font-weight: 500;
  }
	&__answer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&__question{
		color:black;
		padding-left: 15px;
		display: inline-block;
	}

	&__li-class {
		padding-right:10px;
	}
	&__subheading{
		margin-top:18px;
		margin-bottom: 5px;
		font-weight: 600;
		color: @textColor2;
	}
	&__policy{
		margin-bottom: 20px;
	}
	&__ul-location{
		padding:10px 30px;
		list-style-type: disc;
	}
	&__ul-aminities{
		list-style-type: disc;
		padding:10px 30px;
	}
}


.gaurantee-block{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
}

.policies{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
	&__li-class{
		margin-bottom:10px;
	}
}

.modification-cancellation-policy{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
}
.friends-of-treebo{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
}
.offers{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
}

.tie-ups{
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
}

.hotel-direction {
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
}

.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/

}
.rotate-reset {
    transform: rotate(0deg);

}

/*.policy-block{
	padding-top:40px;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
	&__title{
	 	.font-size(24);
	 	font-weight:100;
	}

	&__listStyle{
		list-style: disc;

	}

	&__policy-name {
		.font-size(20);
		font-weight: 600;
	}
}*/
