@import "variables.less";
@import "mixins.less";
@import "itineraryview.less";
@import "pay";

@referralWidth: 400px;

.itinerary-page {
    margin: 40px 0;

    &__header {
        font-size: 24px;
        color: @textColor2;
        margin-bottom: 40px;
        text-align: center;
        font-weight: 400;
    }
}

#guestLoggedin,
#userLoggedin {
    // display: none;
}



#guestLogin {
    position: relative;
    &:after {
        content: "";
        display: block;
        line-height: 0px;
        border: 35px solid rgba(255,255,255,.7);
        width: 100%;
        left: -35px;
        position: absolute;
        bottom: -35px;
        z-index: 11;
        border-bottom-width: 1000px;
        top: 114%;
    }
}

.guest-login {
    padding: 35px;
    background: #fff;
    margin-bottom: 10px;


    &__form-container {
        width: 405px;
    }
    &__separator {

    }
    &__guest-continue{
        width: 325px;
        padding-left: 35px;
        border-left: 1px solid @borderDark;
        &__action{
            height: 55px;
            width: 185px;
        }
        position: relative;
        &:before {
            content: "OR";
            text-align: center;
            font-size: 14px;
            color: @textColor3;
            line-height: 44px;
            position: absolute;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid @borderDark;
            background: #fff;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__action-container {
        width: 320px;
    }

    &__name{
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    &__check {
        margin: 10px 0;
        font-size: 0.9em;
        color: @textColor3;
    }

    &__input-field:before{
      color: @textColor3 !important;
    }

    &__input-field:checked:before{
      color: @treeboColor !important;
    }

    &__have-account {
      padding-top: 8px;
    }
    &__logged {
        margin: 20px 0 10px;
        font-weight: bold;
    }
}

.guest-details {
    padding: 35px;
    background: #fff;

    &__header {
        font-size: 24px;
        margin-bottom: 30px;
        font-family: @brandFont;
    }

    .float-labels__input {
        width: 90%;
    }

    .spl-req {
        font-weight: 600;
    }
    .request-info {}

    &__msg-header {
        margin: 10px 0;
    }

    &__msg {
        font-size: 0.9em;
        color: @textColor3;
        line-height: 1.5em;
    }
}

.request-info {
  &__para{
    font-weight: 600;
  }
}


.request-details {
    margin: 30px 0px 25px;

    .select {
        font-size: 14px;
    }

    &__cio {
        width: 250px;
    }

    &__item {
        &__title {
            margin-bottom: 15px;
            color: @textColor2;
        }

        &__label {
            width: 100%;
            font-size: .7em;
            margin-bottom: 5px;
        }
    }

    &__specific {
        flex-grow: 1;

        textarea {
            width: 100%;
            height: 72px;
            border-radius: 2px;
            background-color: #fafafa;
            box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.5);
        }
    }

    &__info {
        .font-size(12);
        color: @textColor3;
        padding: 15px;
        margin-left: 20px;
        line-height: 1.5em;
    }
    &__msg-header {
        margin: 0px 0px 10px 0;
    }

    &__msg {
        font-size: 0.9em;
        color: @textColor3;
        line-height: 1.5em;
    }
}

.travller-login-error {
    margin-top: 10px;
    width: 320px;
}
.itinerary-discount-change{
    width:50%;
    text-align: left;
}
.hc-details {
    left: -6px;
    top: -6px;
    text-align: left;
}

.checkout {
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);

    &__section {
        padding: 20px 40px;
        border-bottom: 1px solid @borderDark;
        position: relative;
    }

    &__index {
        position: absolute;
        left: 15px;
    }

    &__badge {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
        font-weight: bold;
        color: #fff;
        background: @textColor2;
        border-radius: 2px;
        margin-top: 4px;

        &--active {
            background: @treeboColor;
        }
    }

    &__section-title {
        .font-size(19);
        font-weight: 700;
        margin-bottom: 5px;
        &--active {
            color: @treeboColor;
        }
    }

    &__section-subtitle {
        font-size: 0.9em;
        color: @textColor2;
        white-space: pre;
        line-height: 1.5em;
    }

    &__summary {

    }

    &__edit {
        height: 40px;
        width: 100px;
    }

    .float-labels__input {
        width: 320px;
    }

    &__action {
        font-weight: 400;
        text-transform: uppercase;
        height: 50px;
        margin: 15px 0;

        &--continue {
            width: 320px;
        }

    }

    &__payment {
        margin: 20px -40px -20px;
        border-top: 1px solid @lightGrayBg;
    }

    &__pay-error {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 75px;
        left: 0;
        padding-left: 200px;
    }
}

//React-tab styling

.ReactTabs {
    display: flex;

    &__TabList {
        background: @lightGray;
    }

    &__Tab {
        padding: 25px;
        cursor: pointer;
        width: 200px;

        &[aria-selected=true] {
            background: #fff;
            color: @treeboColor;
        }

        &:hover {
            color: @treeboColor;
        }
    }

    &__TabPanel {
        padding: 40px 60px;
        min-height: 300px;
        width: 100%;

        &--selected {

        }
    }
}

.otp {
    &__container {
        width: @referralWidth;
        padding: 30px;
    }

    &__title {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__subtitle {
        margin-bottom: 15px;
        .font-size(14);
        line-height: 1.7;
        width:300px;
    }

    &__edit {
        cursor: pointer;
        color: @treeboColor;
        .font-size(12);
        padding-left: 5px;
    }

    &__text {
        margin-top: 15px;
        color: @textColor3;
        font-size: 0.9em;
    }

    &__action {
      color: @treeboColor;
      .font-size(12);
    }

    &__code {
        width: 150px;
        margin: 0 0 5px 0px;
    }

    &__phone {
        width: 250px;
    }
    &__error-msg {
      font-size: 10px;
      color: red;
    }

    &__verify-btn {
      width: 85%;
      height: 50px;
      border-radius: 2px;
    }

    &__paynow-btn {
      margin: 15px 0px 30px 0px;
      width: 85%;
      height: 50px;
      background: transparent;
      border: 1px solid @treeboColor;
      border-radius: 2px;
      color: @treeboColor;
      font-weight: 500;
    }
}

//Override select styles

.select.medium {
    select {
        padding: 13px 40px 13px 20px;
        border-radius: 2px;
        background-color: #fafafa !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    &:before {
        padding-top: 17px;
    }
}

.mobikwik {
  &__offer {
    .font-size(12);
    color: @textColor3;
    line-height: 1.4;
  }
  &__msg {
    .font-size(10);
    color: @textColor3;
    line-height: 1.3;
    padding-top: 5px;
    width:50%;
  }
}
