@import "variables.less";
@import "mixins.less";
@import "discount.less";
@import "static-page.less";
@import "price_detail_popup.less";

.soldout-modal{
    &__title {
        font-size: 25px;
        color: @textColor1;
        text-align: center;
    }
    &__info {
        font-size: 20px;
        color: @textColor2;
        text-align: center;
        margin-top: 15px
    }
    &__body{
        padding: 55px 65px;
        width: 770px;
    }
    &__action{
        margin-top: 40px;
        &__item {
            width: 320px;
            height: 55px;
            &+&{
                margin-left: 20px;
            }

        }
    }
}
.request-info {font-size: 14px;}
.itinerary-view {
    font-size: 16px;
    background: #fff;
    [class*=" icon-"], [class^=icon-] {
        display: inline-block;
        width: 30px;
        font-size: 16px;
    }

    &__hotel-info {
        padding: 10% 10px 10px;
        background: @transparentBgGradient;
        bottom: 3px;
        left:0;
        color: #fff;
        width: 100%;
        font-weight: 600;
        &__name{
            font-size: 18px;
            margin-bottom: 5px;
            a {color: #fff;}
        }
        &__address{
          font-weight: 400;
        }
    }

    &__body {
        padding: 20px;
    }

    &__item {
        font-size: 13px;
        margin-bottom: 15px;
    }

    &__booking {
        text-transform: uppercase;
    }

    &__booking-label {
        // padding-left: 30px;
        width: 150px;
        color: @textColor3;
        display: flex;
        align-items: center;
        .icon-check-in {
            margin-left: -3px;
            margin-right: 3px
        }
    }

    &__booking-info {
        width: 135px;
        font-weight: 400;
    }

    &__check-in-out {
        .label {
            color: @textColor3;
        }
        .time{ text-transform: capitalize;}
    }
    &__time {
      font-weight: 400;
    }
    &__price {
        text-transform: uppercase;
    }

    &__price-label {
        color: @textColor3;
        width: 150px;
    }

    &__price-info {
        width: 135px;
        font-weight: 400;
    }

    &__total {
        .label {
            color: @textColor3;
        }
    }

    &__total_amount {
        font-size: 24px;
        font-weight: bold;
        margin: 5px 0;
    }

    &__action {
        height: 50px;
        margin: 50px 0 30px;

        &__item {
            width: 225px;
            font-weight: 400;

            &+& {
                margin-left: 20px;
            }
        }
    }
    &__discount{
        margin: 30px 0;
    }

    &__room-config{
        font-weight: 400;
        text-transform: none;
        margin-left: 10px;
        .title {text-transform: none;}
        &__room {width: 55px; margin-right: 5px; text-transform: none;}
        &__adults {width: 45px; margin-right: 10px; text-align: center;}
        &__children{width: 45px; text-align: center; }
    }
}
.apply-coupon{
  font-weight: 400;
  .font-size(13);
}
