@import "variables.less";
@import "mixins.less";
@import "static-page.less";

.joinus{
	background:white;
	margin: 45px 0px;
	&__video{
		height:532px;
	}

	&__video-image {
		width: 100%;
	}
	&__video-image-center{
		width:100px;
		height:75px;
		top:20%;
		left:45%;
		margin-top:60px;
	}
	&__video-play-image{
		cursor:pointer;
	}

	&__sub-images{
		border-radius:80px;
		margin-bottom:15px;
	}

	&__video-bottom{
		color: white;
   	 	bottom: 70px;
    	width: 1024px;
    	background: @transparentBg;
    	height: 160px;
    	>*{
    		flex-grow:1;

    	}
	}
	&__video-quote{
		padding-left:80px;
	}

	&__joinTeam{
		.font-size(25);
		color:white;
		font-weight: 100;
	}

	&__joinTeam-border{
			border:1px solid white;
			padding: 15px 20px;
			.font-size(24);
			font-weight: 400;
	}


	&__video-partnerText{
		.font-size(20);
		margin-bottom: 5px;
		margin-top: 30px;
		font-weight: 400;
	}

	&__video-SalesText{
		.font-size(30);
		font-family: @brandFont;
	}

	&__sales-marketing{
		border-bottom:1px solid #ebebeb;

	}

	&__joinournetwork{
	  width: 100%;
	}

	&__marketing-item{
		margin-left: 60px;
	}
	&__guest_service{
		border-bottom:1px solid #ebebeb;
	}
	&__best-interest{
		border-bottom:1px solid #ebebeb;
		background:white;
	}

	&__heading{
		.font-size(24);
		color:#6E6E6E;
		font-weight: 600;
		font-family: @brandFont;
	}
	&__sales-heading{
		padding-left: 80px;
		padding-right: 130px;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	&__service-heading{
		padding:0px 80px;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	&__owner-heading{
		padding-left: 80px;
		margin-top: 50px;
		margin-bottom: 30px;
		font-family: @brandFont;
	}
	&__sales-status{
		// width:70%;
	}

	&__guest-service-status{
		width:55%
	}

	&__stat{
		.font-size(30);
		font-family: @brandFont;
		margin-bottom: 5px;
	}

	&__stat-description{
		.font-size(16);
		font-weight: 400;
		color:@textColor2;
	}

	&__testimonial-section{
		padding-left:80px;
		padding-right: 30px;
		padding-bottom: 50px;
	}

	&__quote{
		.font-size(16);
		font-weight:400;
		color:@textColor3;
		width:75%;
	}
	&__quote-speaker{
		margin-top: 20px;

	}
	&__quote-top{
		margin-top: 30px;
	}

	&__speaker-name{
		.font-size(16);
		font-weight:600;
		color:@textColor2;
	}

	&__speaker-detail{
		.font-size(16);
		font-weight:400;
		color:@textColor2;
	}

	&__interest-img{
		padding-left:60px;
		font-weight: 400;
		.font-size(16);
		color: @textColor2;
	}
	&__interest-list{
		list-style-type: disc;
		padding-left:40px;
	}
	&__monthly-settlement{
		max-width:172px;
		left:-20px;
	}

	&__ecosystem{
		max-width:172px;
	}

	&__network {
		background:@textColor1;
	}

	&__network-title {
		.font-size(30);
		color:white;
		font-family: @brandFont;
	}

	&__network-para{
		padding-left:260px;
		padding-right:260px;
		.font-size(16);
		font-weight: 500;
		color:white;

	}

	&__service-item {
		width:175px;
	}

	&__multi-year-contract-width {
		width:175px;
	}
	&__stats-sales{
		padding-left: 80px;
	}
	&__stats-service{
		padding-left: 50px;
	}
	&__multi-year{
		margin-bottom: 40px;
		padding:0px 25px;
	}
	&__timely-payment{
		margin-bottom: 40px;
	}
}


.treebo-init {
	margin-top: 100px;
	margin-bottom: 60px;
	&__header{
		.font-size(24);
		margin-bottom: 40px;
		font-family: @brandFont;
	}
	&__fields{
	margin-left: 75px;
	}
	&__trend-initiative{
		.font-size(20);
		font-weight:600;
		font-family: @brandFont;
	}

	&__alpha-friends-image {
		width:100px;
		height:110px;
		margin-bottom: 15px;
		margin-left: 70px;
	}

	&__alpha-desc{
		.font-size(16);
		font-weight: 400;
		color:@textColor2;
		margin-top: 10px;
		margin-bottom: 80px;
	}

	&__friends-desc{
		.font-size(16);
		font-weight: 400;
		color:@textColor2;
		margin-top: 10px;
	}

	&__quality-desc{
		.font-size(16);
		font-weight: 400;
		color:@textColor2;
		margin-top: 10px;
	}

	&__width {
		width:265px;
	}
	&__item{
		margin-left: 40px;
	}
	&__quality-image{
		margin-bottom: 15px;
		padding-top: 20px;
		margin-left: 80px;
	}

}

.joinusForm{

	background:#ebebeb;
	&__form{
		position:relative;
		top:-80px;
		background:white;
		margin:0px 190px;
		padding-top: 50px;
	}

	&__info1-left{
		width:50%;
		padding-left: 30px;
	}

	&__info1-right{
		width:50%;
	}

	&__input-text {
		width:263px;
		height:40px;
		margin: 5px 0px 10px 0px;
	}

	&__input-address-text{
		width:453px;
		height:40px;
		margin: 5px 0px 10px 0px;
	}

	&__input-city-text{
		width:155px;
		height:40px;
		margin: 10px 0px;
	}

	&__input-room-text{
		width:120px;
		height:40px;
		margin: 5px 0px 10px 0px;
	}

	&__input-additional-text{
		width:490px;
		height:100px;
		margin: 5px 0px 10px 0px;
	}

  &__select {
    min-width: 200px;
    width: 100%;
  }

	&__label{
		.font-size(14);
		font-weight:500;
		color: @textColor1;
	}

	&__button{
		font-weight: 500;
		.font-size(18);
		width:150px;
		height:50px;
	}
	&__info1-address-city{
		padding-left: 30px;
	}
	&__input-right-margin{
		margin-right: 30px;
	}
	&__submit-button{
		margin-top: 20px;
		margin-bottom: 30px;
		font-weight: 600;
	}
}

.youtube {
	&__youtubeVideo{

		width:800px;
		height:500px;
		border:5px solid black;
	}
}

#stop-cross{
		top:-10px;
		right:-40px;
		.font-size(25);
		font-weight:800;
		color:white;
	}

.slide-show {
  &__image {
    width: 100%;
  }
}
