@import "variables.less";
@import "mixins.less";
@searchBoxHeight: 115px;

.banner-carousel {
    height: 600px;

    &__container {
        height: 100%;
        overflow: hidden;
    }

    &__item {
        height: 100%;
        width: 100%;
        background-size: cover !important;

        &__title {
            font-size: 54px;
            text-transform: capitalize;
            color: #fff;
            top: 50%;
            width: 100%;
            font-weight: 600;
            text-align: center;
            transform: translateY(-50%);
            text-shadow: 0 0 20px rgba(150, 150, 150, 1);
        }
    }

    .slick-dots {
        bottom: @searchBoxHeight;
    }
}

.home-search-box {
    bottom: 0;
    left: 0;
    width: 100%;
    height: @searchBoxHeight;
    background: @transparentBg;
}

.find-treebo {
    padding: 60px 0;
    background: @treeboColor;
    color: @white;

    &__title {
        .font-size(30);
        margin-bottom: 15px;
        line-height: 1;
        font-family: @brandFont;
    }

    &__desc {
        .font-size(16);
    }

    &__btn {
        height: 63px;
        width: 230px;
        color: @treeboColor;
        font-weight: 500;
        background: white;
        margin-top: 30px;
    }
}

.allcity {
    background: @white;
    justify-content: space-around;
    padding: 55px 0;

    .slick-next {
        right: -7px;
    }

    .slick-prev {
        left: -7px;
    }

    &__carousel {
        overflow: hidden;

        &.slick-initialized {
            overflow: inherit;
        }
    }

    .slick-arrow {
        &:before {
            font-size: 30px;
            width: 29px;
            height: 30px;
        }
    }

    &__city {
        height: 130px;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 226px;
        overflow: hidden;

        img {
            height: 130px;
            width: 226px;
        }

        &__name {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(0,0,0,.25);
            outline: 300px solid rgba(0,0,0,.25);
        }
    }

    &__citylink {
        width: 190px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        color: @white;
        text-decoration: none;
        .font-size(20);
        font-family: @brandFont;
        white-space: nowrap;
    }

    &__viewallwrapper {
        .font-size(14);
        align-self: initial;
        width: 90%;
        margin: 25px 0 20px;
    }

    &__viewalllink {
        color: @grayBg;
        font-weight: 300;
        text-decoration: none;
    }
}

.marketing-wrapper {
    padding: 55px 0;
    background: @athens-gray;
}

.marketing {
    height: 560px;

    &__half-bg {
        background-size: cover;
    }

    &__titlecontainer {
        // height: 270px;
        padding-bottom: 65px;

        p {
            color: @textColor2;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 48px;
        color: @textColor1;
        font-family: @brandFont;
    }

    &__col {
        flex-grow: 1;
    }

    &__left{
        min-width:48%;
    }

    &__p4 {
        margin-left: 20px;
        max-width: 50%;
        justify-content: flex-end;
        align-items: center;
        background-size: cover;

        > * {
            max-width: 60%;
        }
    }

    &__p4-title {
        .font-size(32);
        color: @white;
    }

    &__p4-desc {
        .font-size(14);
        font-weight: 100;
        color: white;
    }

    &__p4-link {
        .font-size(16);
        color: @white;
        text-decoration: none;
        text-transform: uppercase;
    }
}
