@import "variables";

@payimage: "/dist/desktop/images/payment.png";

.card-pay {
    &__input-container {
    }

    &__input {
        padding: 15px 1px 5px;
    }

    &__number {
        background: url(@payimage) no-repeat;
        padding-right: 60px;
        background-size: 272px 969px;

        &--default {
            background-position: 400px -300px;
        }

        &--amex {
            background-position: 268px -300px;
        }

        &--dankort {
            background-position: 268px -364px;
        }

        &--dinersclub {
            background-position: 268px -423px;
        }

        &--discover {
            background-position: 268px -475px;
        }

        &--jcb {
            background-position: 268px -542px;
        }

        &--maestro {
            background-position: 268px -618px;
        }

        &--mastercard {
            background-position: 268px -687px;
        }

        &--unionpay {
            background-position: 268px -755px;
        }

        &--visaelectron {
            background-position: 268px -826px;
        }

        &--visa {
            background-position: 268px -886px;
        }

        &--rupay {
            background-position: 268px -937px;
        }
    }

    &__label {
        position: static;
    }

    &__expiry {
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin: 5px 0 0;
    }

    &__expiry-field {
        width: 150px;
    }

    &__cvv-container {
        display: flex;
        align-items: flex-end;
        width: 320px;
    }

    &__cvv {
        width: 50px !important;
    }

    &__cvv-details {
        display: flex;
        margin-left: 15px;
        margin-bottom: -8px;
    }

    &__cvv-image {
        background: url(@payimage) no-repeat 0px -351px;
        width: 100px;
        height: 40px;
    }

    &__cvv-text {
        font-size: 0.75em;
        color: @textColor3;
    }

    &__error {
        font-size: 0.7em;
        margin-top: 4px;
    }
}

.netbank {
    display: flex;
    flex-direction: column;

    &__default {
        display: flex;
        flex-wrap: wrap;
        margin: 0 20px;
    }

    &__default-item {
        width: 33.33%;
        cursor: pointer;
        border: 1px solid transparent;
        margin-bottom: 10px;

        &:hover {
            background: @lightGrayBg;
        }

        &--active {
            border: 1px solid @treeboColor;
            background: @lightGrayBg;
        }
    }

    &__input-container {
        cursor: pointer;
    }

    &__input {
        display: none;
    }

    &__display {
        padding-top: 80px;
        margin-bottom: 10px;
        width: 75px;
        text-align: center;
        background: url(@payimage) no-repeat;

        &--axis {
            background-position: 1px 10px;
        }

        &--yes {
            background-position: -160px 10px;
        }

        &--hdfc {
            background-position: -318px 10px;
        }

        &--kotak {
            background-position: 1px -105px;
        }

        &--sbi {
            background-position: -158px -105px;
        }

        &--icici {
            background-position: -315px -105px;;
        }
    }

    &__list {
        text-align: center;
        margin-top: 20px;
    }

    &__list-select {
        min-width: 350px;
    }

    &__action {
        margin-top: 15px;
        text-align: center;
    }

    &__error {
        height: 17px;
        margin-top: 10px;
    }
}

.wallet {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            background: @lightGrayBg;
        }

        &--active {
            border: 1px solid @treeboColor;
            background: @lightGrayBg;
        }
    }

    &__input-container {
        cursor: pointer;
        padding: 10px 5px;
    }

    &__input {
        display: none;
    }

    &__display {
        background: url("/dist/desktop/images/payment.png") no-repeat;


        &--mobikwik {
            width: 180px;
            height: 55px;
            background-position: 1px -226px;
        }
    }

    &__action {

    }
}
