@import "variables.less";
@import "mixins.less";
@import "static-page.less";

.page {
	background-color: white;

}

ul,ol {padding-left:20px;}
ul {
	list-style-type:"disc";
}

.li-class {
	padding-left:5px;
}
.policyPage{
	color:#676769;
	margin: 40px 0px;
	&__title {
		.font-size(40);
		font-weight:600;
	}

	&__content{
		.font-size(16);
		p {
			margin-bottom:20px;
		}
	}

	&__heading{
		.font-size(30);
		font-family: @brandFont;
	}

	&__subheading{
		margin-bottom:10px;
	}

	&__content-heading{
		.font-size(18);
		font-weight:600;
		font-family: @brandFont;
	}
	&__para{
		.font-size(14);
	}
	&__officer{
		.font-size(18);
		font-weight:500;
	}
}
