@import "variables.less";

@referralWidth: 400px;

.referral {
    background: #fff;
    width: @referralWidth;
    padding: 25px;
    text-align: center;
    margin: 20px auto;

    &__gift {
        color: @treeboColor;
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    &__gift-icon {
        font-size: 2.3em;
    }

    &__gift-text {
      margin-top: 8px;
    }

    &__title {
        font-size: 1.2em;
    }

    &__social {
        padding: 5px 0;
    }

    &__label {
        font-size: 0.9em;
        text-transform: uppercase;
        color: @textColor3;
        margin: 30px 0 10px;
    }

    &__text {
        color: @textColor3;
        margin-top: 20px;
        font-size: 0.9rem;
    }

    &__link {
        color: @treeboColor;
    }
}

.otp {
    &__container {
        width: @referralWidth;
        padding: 30px;
    }

    &__title {
        font-size: 1em;
        margin-bottom: 15px;
    }

    &__subtitle {
        margin-bottom: 15px;
    }

    &__edit {
        cursor: pointer;
        color: @treeboColor;
    }

    &__text {
        color: @textColor3;
        font-size: 0.9em;
    }

    &__code {
        width: 150px;
        margin: 0 auto 15px;
    }

    &__phone {
        margin: 20px auto 0;
        width: 250px;
    }
}

.float-labels .parsley-errors-list {
    width: 100%;
    text-align: center;
}
