@import "variables.less";
@import "mixins.less";
.resetpassword {
	background: white;
	margin: 45px 0;
	padding: 20px;
	&__input {
		width: 50%;
	}
}
.btn__reset {
	margin-top: 20px;
	width: 200px;
	height: 45px;
}
