@import "variables.less";
@import "mixins.less";
@import "price_detail_popup.less";

.column__left {
    position: relative;
    z-index: 13;
}

.column__right {
    width: 340px;
}

.result-page {
    &__cityHotel{
        .font-size(18);
        color:@textColor2;
        padding-bottom: 5px;
        font-weight: 400;
    }
    &__search-container {
        background: @lightGray;
        height: 115px;
        position: relative;
        z-index: 111;
    }

    &__content {
        background: #F0F0F0;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    &__count {
        margin-bottom: 7px;
        color: @textColor3;
        font-size: 14px;
        font-weight: 400;
    }
    &__city-first-letter{
        text-transform: capitalize;
    }
    &__breadcrumb {
        margin-bottom: 20px;
    }

    &__banner {
        padding: 0 20px;
        background: #fff;

        &__cont {
            padding: 20px 0;
            border-bottom: 1px solid @borderDark;

            img {
                width: 760px;
                max-height: 170px;
            }
        }
    }
}

.results-filter {
    margin-bottom: 10px;
    .filters__title, .sort__title {cursor: pointer;}
    .sort__text{margin-right: 4px;}
    &__item {
        background: #fff;
        height: 65px;
        color: @textColor3;

        & + & {
            border-left: 1px solid @borderLight;
        }

        &--sort {
            flex-basis: 220px;
        }

        &--flt {
            flex-basis: 220px;
        }

        &--available {
            flex-grow: 1;
            padding: 0 10px;
        }
    }
    .checkbox__input-field:before{
      color: @textColor3 !important;
    }

    .checkbox__input-field:checked:before{
      color: @treeboColor !important;
    }
}

.sort {
    &__title {
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight:500;
    }

    &__seleted {}

    &__dd {
        top: 65px;
        width: 100%;
        display: none;
        background: #fff;
        border-top: none;
        z-index: 13;

        &--show {
            display: flex;
        }

        &__title {
            padding: 15px;
            color: @treeboColor;
        }
    }
}

.flt-item {
    margin: 10px 0;
    font-size: 14px;
    .checkbox__label{
      display: block;
      line-height: 25px;
    }
}

.checkbox__label {
  font-weight: 500;
}

.filters {
    &__dd {
        background: #fff;
        display: none;
        top: 65px;
        z-index: 10;

        &--show {
            display: flex;
        }
    }

    &__title {
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 15px;

        &--text {
            text-transform: uppercase;
            font-weight: 500;
        }

        &--fltcount {
            color: @textColor3;
            font-size: 12px;
        }
    }

    &__container {
        width: 720px;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }

    &__item {
        &+& {
            border-left: 1px solid @borderLight;
        };
        width: 25%;
        padding-bottom: 20px;

        &__title {
            margin: 14px 0;
            color: @textColor3;
            text-transform: uppercase;
            font-size: 15px;
            padding: 10px 20px 0;
        }
        &--budget{
            width: 19%;
        }
        &--locality{
            width: 31%;
        }


        &__options {
            padding: 0 20px;
            max-height: 220px;
            overflow: auto;
        }

        &--amenity {
            flex: 1 2 auto;
        }
    }

    &__actions {
        margin: 10px 20px;
        justify-content: flex-end;
        height: 40px;
        align-content: center;

        &__clear {
            margin-right: 20px;
            color: @textColor2;
        }

        &__apply {
            height: 40px;
        }
    }
}


.results {
    &__row {
        background: #fff;
        padding: 0 20px;

        &:hover {
            // background: #e6e6e6;
        }
        // &+& {
        //     .results__item {
        //         border-top: 1px solid @borderDark;
        //     }
        // }
    }

    .carousel__img {
        height: 200px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &__item {
        padding: 30px 0;
        border-bottom: 1px solid @borderDark;
    }

    &__nearby {
        font-size: 21px;
        color: @textColor2;
        margin-top: 20px;
    }
}
.hotel {
    &__images {
        width: 250px;
        height: 200px;
        overflow: hidden;

        .slick-dots {
            padding-right: 10px;
            text-align: right;
            background: @transparentBgGradient;
            padding-top: 10%;

            li {
                display: none;
                color: #fff;
                background: transparent;
                font-size: 13px;
                margin-bottom: 13px;

                &.slick-active {
                    display: inline-block;
                    width: 50px;
                }
            }
        }
    }

    &__content {
        width: 510px;
        margin-left: 20px;
        align-items: flex-start;
        align-content: stretch;
        flex-wrap: wrap;
    }

    &__footer {
        margin-top: auto;
        width: 100%;
    }

    &__promo {
        color: @treeboColor;
        font-size: 14px;
        padding-left: 25px;
        margin-bottom: 10px;
        text-transform: uppercase;
        position: relative;

        .icon-deals {
            color: @textColor1;
            position: absolute;
            // top: 2px;
            left: 0;
            font-size: 18px;
        }
    }

    &__name {
        font-size: 21px;
        color: @textColor1;
        font-weight: 600;
        margin-bottom: 10px;

        &__link {
            color: @textColor1;
        }
    }



    &__address {
        color: @textColor3;
        width: 370px;

        .icon-location {
            color: @treeboColor;
            position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            // margin-top: 2px;
            left: -4px;
        }

        .street {
            font-size: 16px;
            line-height: 17px;
            padding-left: 20px;
        }
    }

    &__from {
        font-size: 12px;
        color: @textColor3;
        margin-top: 3px;
        padding-left: 20px;
    }

    &__info {
        width: 100%;
    }

    &__price {
        color: @textColor1;
        text-align: right;
        right:0px;
        top:5px;
        &--best {
            font-size: 13px;
            margin-bottom: 5px;
        }

        .offer {
            color: #f26522;
        }

        &--available {
            font-size: 22px;
            margin-top: 5px;
            line-height: 16px;
        }

        &__breakup {
            display: none;

            .results__row:hover & {
                display: block;
            }

            .title {
                font-size: 13px;
                // color: @textColor2;
            }

            &__popup {
                width: 275px;
            }
        }
    }

    &__about {}

    &__review {
        padding-left: 20px;
    }

    &__action {
        margin-top: auto;
        align-items: flex-end;
        justify-content: flex-end;

        &__book {
            height: 45px;
            line-height: 42px;
            margin-left: 20px;
            background: @treeboColor;
            color: white;
            font-weight: 500;
            .results__row:hover & {
                background: #12dd59;
                color: #fff;

            }
        }

        &__details {
            display: none;

            .results__row:hover & {
                display: block;
            }
font-size: 14px;
        }
    }

    &__review {
        font-size: 12px;
        color: #46862E;
    }

    &__last-purchased {
        font-size: 13px;
        margin-top: 10px;
        color: @textColor2;
    }
}

.paging-info {
    bottom: 0;
    width: 100%;
    text-align: right;
}

.side-widget {
    &__carousel {
        margin-bottom: 20px;
        height: 340px;

        &__item {
            &__title {
                color: #fff;
                margin-bottom: 20px;
                font-size: 22px;
                line-height: 26px;
            }

            &__text {
                padding: 20px;
                bottom: 0;
            }

            &__action {
                display: inline-block;
                padding: 7px 15px;
                font-size: 13px;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__image {
        margin-bottom: 20px;

        img {
            max-width: 100%;
        }
    }
}

.tripadviser-rating {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #46862E;
    position: relative;

    &.filled {
        &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #46862E;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#noFilterResult .no-result__container{
    border-bottom: none;
}
.no-result {
    background: #fff;
    padding: 20px;

    &__container {
        height: 170px;
        border-bottom: 1px solid @borderDark;

    }

    &__icon {
        width: 200px;
    }

    &__title {
        font-size: 24px;
        color: @textColor2;
        margin-bottom: 10px;
    }

    &__sub {
        font-size: 18px;
        color: @textColor3;
    }
}

.hotelAvailibility-False {
    filter:grayscale(1);
}
.filter__inr {
    display: flex;
    align-items: center;
    color: @textColor3;
    text-transform: lowercase;
    .icon-rupee {
        margin-left: 5px;
        margin-top: 2px;
        font-size: 13px;
    }
    margin-left: 5px;
}

.seo-bottom {
    margin-top: 60px;
    color:@textColor3;
    &__title{
        .font-size(18);
        margin-bottom: 20px;
    }
    &__para{
        padding:20px 0px 60px 0px;
        background-color: #E5E5E5;
        color: @textColor2;
        .font-size(12);
        line-height: 20px;
        text-align: justify;
    }
    &__popular-hotels{
        margin-top: 40px;
    }
    &__header{
        margin-bottom: 30px;
        .font-size(24);
        color:@textColor2;
        font-weight: 400;
        font-family: @brandFont;
    }
}
