@import "variables.less";
@import "mixins.less";
@import "static-page.less";

.page {
	background-color: white;
	margin-top:40px;
	margin-bottom: 40px;

}

ul,ol {padding-left:20px;}

.li-class {
	padding-left:5px;
}
.termsPage{
	color:#676769;
	padding:60px;
	&__title {
		.font-size(40);
		font-weight:600;
	}
	&__para{
		.font-size(14);
	}
	&__content{
		.font-size(18);
		p {
			margin-bottom:20px;
		}
	}

	&__heading{
		.font-size(30);
		font-family: @brandFont;
	}

	&__content-heading{
		.font-size(18);
		font-weight:600;
		font-family: @brandFont;
	}

	&__officer{
		.font-size(18);
		font-weight:500;
	}

	&__link{
		color: #676769;
	}
}
