@import "variables.less";
@import "mixins.less";

.tp {
    text-align: center;

    &__header {
        padding: 50px 0;
    }

    &__info {
        font-size: 42px;
        color: @textColor1;
        margin: 20px 0;
        font-weight: 200;
    }

    &__warning {
        font-size: 21px;
        color: @textColor2;
        font-weight: 200;
    }
}

.progress-bar {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    height: 12px;
    overflow: hidden;
    width: 500px;
    margin: 40px auto;
    background: #C2C2C2;
    &__fill {
        background: @treeboColor;
        height: 12px;
        transform: translate3d(-100%, 0px, 0px);
        transition: all 200ms ease;
    }
}
