/*commmon*/

@bg-selection : #666;


/*text-color*/

@color : #fff;
@orangeTextColor: rgb(247, 187, 16);
@redTextColor: rgb(251, 57, 66);
@greyTextColor: rgb(172, 172, 172);
@gray : #4C4C4C;
@lightGray :#6E6E6E;
@lightGrayBgText :#565a5c;
@inputBorderColor: #c4c4c4;
@inputBorderColorFocus : #aaa;
@boxBorderColor: #dce0e0;

@blueTextColor : #0fbff9;

@errorColor:#a94442;
/*background-color*/

@black:#000;
@bg : #FFF;
@grayBg: #2a2a2a;
@lightGrayBg: #edefed;
@transparentBg : rgba(0, 0, 0, 0.6);
@transparentBgGradient : linear-gradient(to top, rgba(0, 0, 0,0.65), rgba(0,0,0,0));
@facebookBlue:#3b5998;
@lightGreenBg : #F0F9E7;
@darkGreen:#186b24;
@mediumGreenBg:#70c18a;

@greenBg : #D9ECBF;
/*font-size 1rem = 16px */

@fs1: 1rem;
@fs13: 1.3rem;

/*border*/

@grayBorder : #6c6c6c;


/* ------- REBRANDING FONT ------ */
@brandFont: 'Open Sans';
/* ------- NEW SITE COLORS ------- */


@lightGray: #E0E0E0;
@treeboColor: #0eb550;
@textColor: #000;
@textColor1: #4a4a4a;
@textColor2: #5c5c5c;
@textColor3: #999;
@borderLight: #E6E6E6;
@borderDark: #D5D5D5;
@linkColor:#3399cc;



@white:#fff;
@black:#000;



/****------ GRAY  -----*****/

@athens-gray:#f9fafb; 				/* Ex- Landing page - marketing background */
@gallery-gray:#ebebeb; 				/* Ex- Landing page - Copyright text */
@dove-gray:#6d6d6d; 				/* */
@jumbo-gray:#a6a6a8; 				/* Footer navigation link text */
@mineshaft-gray:#2a2a2a;			/* Landing page - Footer background */
@shark-gray:#2F3032;



/****------ GREEN -----*****/
@deyork-green:#3cb878; 				/* Ex -Landing page - Find a treebo background */
@parsley-green:#186423;  			/* Landing page - Get Update button background */
@ocean-green:#46b677;				/* Details page - Select btn text */



/*********** --- PINK ------ ******/
@sisal-pink:#dacfc5;				/* Hotels page - Similar Treebo --> tags */



/******** ----- RED -----************/
@rose-red:#ca485b;


/****** --- Brown ---- *****/

@clay-brown:#906237;



/******** BLUE *****/
@fb-blue:#2a4e95;

@google-red : #dc4e41;
