{% extends "root-mobile.html" %} {% load url_tag %}

{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}

{% block content %}
<div class="unavailable">
    <div class="container error-page">
        <img src="{% get_static_url %}mobile/images/new_500.png" alt="500 page" class="center img-responsive">
        <h2 class="unavailable__title">Internal server error</h2>
        <p class="unavailable__info">We are working towards creating something better. We won't take long.</p>
    </div>
</div>
{% endblock %}
