{% extends "root-desktop.html" %} {% block content %}
    <div class="confirmation-error-page">
        {% if not order_success %}
            <div class="container error-page">
                <div class="error-page__title">
                    Sorry! Your booking could not be confirmed :(
                </div>
                <div class="error-page__info">
                    <div class="error-page__info__item">
                        Looks like something has gone wrong. Due to some technical glitch, we were not able to process
                        your request with <b>Booking ID: {{ booking_code }}</b>. Please call our Guest Delight center
                        within next 30 minutes at <b>+91-9322800100</b>. We'll help you confirm your
                        booking.
                    </div>
                    {% if not pah %}
                        <div class="error-page__info__item">
                            And don't worry, we have already received your payment. Be assured that if your booking is
                            not confirmed on phone, you will receive complete refund within 7-10 working days.
                        </div>
                    {% endif %}
                    <div class="error-page__info__item">
                        Sorry once again for the inconvenience. Please call <b>+91-9322800100</b> now, and we'll sort it
                        out for you.
                    </div>
                    <div class="error-page__info__item">
                        Smile now :)
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container error-page">
                <div class="error-page__title">
                    Your booking was Successful! Make another <a href="/">Booking</a>?
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
