{% extends "root-desktop.html" %} {% block content %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {% if not is_refresh %}
         <!-- Google Code for Purchase Conversion Page -->
         <script type="text/javascript">
         /* <![CDATA[ */
            var google_conversion_id = {{ ADWORDS_CONVERSION_ID }};
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "{{ ADWORDS_CONVERSION_LABEL }}";
            var google_conversion_value = {{ actual_total_cost }};
            var google_conversion_currency = "INR";
            var google_remarketing_only = false;
         /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/{{ ADWORDS_CONVERSION_ID }}/?value={{ actual_total_cost }}&amp;currency_code=INR&amp;label={{ ADWORDS_CONVERSION_LABEL }}&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>
    {% endif %}
<div class="confirmation-page">
    <div class="container">
        <div class="confirmation-page__booking-container flex-row column">
            <div class="column__left">
                <div class="confirmation-page__header">
                    <div class="cp-head">CONGRATULATIONS!</div>
                    <div class="cp-subhead">Your booking is confirmed!</div>
                    <div class="cp-subhead-info">You will receive booking confirmation email shortly. Wish you a happy stay!</div>
                </div>
                <div class="confirmation-page__bookin-id">BOOKING ID&nbsp;
                    <span class="digi-marketing-order-id bid">{{booking.order_id}}</span>
                </div>
                <div class="confirmation-page__guests">
                    <div class="confirmation-page__guests__title">GUEST</div>
                    <div class="confirmation-page__guests__info">
                        <div class="confirmation-page__guests__item flex-row">
                            <div class="confirmation-page__guests__icon"><i class="icon-person"></i></div>
                            <div class="confirmation-page__guests__name flex-column">
                                <span class="g-name">{{booking.guest_name}}</span>
                                <span class="g-email overflow-ellipsis" title="{{booking.guest_email}}">{{booking.guest_email}}</span>
                            </div>
                            <div class="confirmation-page__guests__mobile">{{booking.guest_mobile}}</div>
                            <div class="confirmation-page__guests__action">
                                <span class="confirmation-page__guests__action--sent">Confirmation Sent</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirmation-page__bookin-information">
                    <div class="info__head">POLICIES</div>
                    <ul class="info__imp-points">
                        {% for policy in policies %}
                        <li class="info__imp-points__item">{{policy.desc}} &nbsp;<a class="confirmation-page__link" href='{{policy.target_url}}' target="_blank">Know More</a></p>
                        {% endfor %}</li>
                    </ul>

                </div>
            </div>

            <div class="column__right">
                <div class="confirmation-page__action flex-row">
                    <a id="printReceipt" href="/rest/v1/bookings/display?name={{booking.guest_name}}&order_id={{booking.order_id}}" target="_blank" class="save-pdf"><i class="icon-print"></i><span>print</span></a>
                    <a id="downloadReceipt" href="/rest/v1/bookings/printpdf?name={{booking.guest_name}}&order_id={{booking.order_id}}" target="_blank" class="save-pdf"><i class="icon-download"></i><span>Download</span></a>
                    <div class="email-pdf pos-rel">
                        <a id='sendPdf' class="email-pdf__head" href="/rest/v1/bookings/resendemail?email={{booking.guest_email}}&order_id={{booking.order_id}}"><i class="icon-mail"></i><span>Email</span></a>
                        <div class="email-pdf__body pos-abs flex-column box-shadow">
                            <div id="emailPdfLoader" class="loader-container loader-container--inline hide">
                                <div class="loader-box v-center">
                                    <div class="sk-fading-circle small">
                                        <div class="sk-circle1 sk-circle"></div>
                                        <div class="sk-circle2 sk-circle"></div>
                                        <div class="sk-circle3 sk-circle"></div>
                                        <div class="sk-circle4 sk-circle"></div>
                                        <div class="sk-circle5 sk-circle"></div>
                                        <div class="sk-circle6 sk-circle"></div>
                                        <div class="sk-circle7 sk-circle"></div>
                                        <div class="sk-circle8 sk-circle"></div>
                                        <div class="sk-circle9 sk-circle"></div>
                                        <div class="sk-circle10 sk-circle"></div>
                                        <div class="sk-circle11 sk-circle"></div>
                                        <div class="sk-circle12 sk-circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="sendpdfmsg">Email sent.</div>
                            <form id="sendPdfForm" class="flex-row">
                                <div class="float-labels">
                                    <input type="hidden" id="orderId" name="orderid" value="{{booking.order_id}}">
                                    <input type="text" name="emailpdf" pattern=".+" required="true" id="emailpdfEmail" class="float-labels__input" placeholder="Enter Email id" value="" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email"
                                        data-parsley-required-message="Enter valid email">
                                    <label class="float-labels__label">Email</label>
                                </div>
                                <button type="submit" name="button" id="pdfmailSubmit" class="email-pdf__action btn btn--round">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
                {% include "desktop/common/itineraryview.html" %}
            </div>
        </div>
        <div class="confirmation-page__extrainfo flex-row column">
            <div class="column__left">
                <div class="hotel-direction flex-column">
                    <div class="hotel-direction__item hotel-direction__item--hotelinfo">
                            <div class="hotel-direction__head">Get direction to your hotel</div>
                            <div class="hotel-name">{{room.hotel.name}}</div>
                            <div class="hotel-address">{{room.hotel.street}}, {{room.hotel.locality.name}}</div>
                    </div>
                    <div class="hotel-direction__item hotel-direction__item--directions">
                        <div class="hotel-direction__subhead">Direction from neareast landmark</div>
                        <div class="hotel-landmark">{{directions_obj.landmark_obj.name}}</div>
                        <ul class="directions">
                            {% for text in directions_obj.text %}
                            <li class="directions__item">{{text}}</li>
                             {% endfor %}
                        </ul>
                    </div>
                    <div class="hotel-direction__item hotel-direction__item--map"><img src="{{ static_map_url }}" alt="" /></div>
                </div>
            </div>
            <div class="column__right">
                {% include "desktop/common/treebopromise.html" %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
