{% extends "root-desktop.html" %} {% block content %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<div class="transaction-page tp">
    <div class="container">
        <div class="tp__header">
            <img class="logo" src="{% get_static_url %}desktop/images/new_logo_black.png" alt="Treebo">
        </div>
        <div class="tp__info">We are almost done!</div>
        <div class="tp__warning">It may take upto a minute. Please don't refresh the page, or hit 'Back' or 'Close' button.
</div>
        <div class="progress-bar" >
            <div class="progress-bar__fill" id="bookingProgress" role="bar"></div>
        </div>
        {% if not pay_at_hotel %}
        <form class="" style="display:none" action="{{action_url}}" method="post" id="checkoutform">
            {% csrf_token %}
            <input type="hidden" name="txnid" id="txnid" value="{{txnid}}">
            <input type="hidden" name="amount" id="amount" value="{{amount}}">
            <input type="hidden" name="firstname" id="firstname" value="{{firstname}}">
            <input type="hidden" name="key" id="key" value="{{key}}">
            <input type="hidden" name="salt" id="salt" value="{{salt}}">
            <input type="hidden" name="email" id="email" value="{{email}}">
            <input type="hidden" name="hash" id="hash" value="{{hash}}">
            <input type="hidden" name="udf1" id="udf1" value="{{udf1}}">
            <input type="hidden" name="surl" id="surl" value="{{surl}}">
            <input type="hidden" name="furl" id="furl" value="{{furl}}">
            <input type="hidden" name="curl" id="curl" value="{{curl}}">
            <input type="hidden" name="phone" id="phone" value="{{phone}}">
            <input type="hidden" name="productinfo" id="productinfo" value="{{productinfo}}">
            <input type="hidden" name="offer_key" id="offer_key" value="{{offer_key}}">
        </form>
        {% else %}
        <form class="" style="display:none" action="{{ handler_url }}" method="POST" id="pay_at_hotel_form">
            {% csrf_token %}
            <input type="hidden" name="booking_id" id="booking_id" value="{{ booking_id }}" />
        </form>
        {% endif %}
        <form class="" style="display:none" action="/redirector/" method="post" id="redirectForm">
            {% csrf_token %}
             <input type="hidden" name="redirectUrl" id="redirectUrl" value="">
        </form>
    </div>
</div>
{% endblock %}
