{% extends "root-desktop.html" %} {% block content %}
    <div class="page container">
        <div class="termsPage">
            <div class="flex-column">
                <div class="termsPage__heading mb30">
                    <p>TERMS AND CONDITIONS OF TREEBO REWARDS ("T&C")</p>
                </div>
                <div class="termsPage__content mb20">
                    <p class="termsPage__para">
                        The terms and conditions given below ("T&C") govern "Treebo Rewards". Treebo Rewards refers to
                        Treebo's membership rewards program of Ruptub Solutions Private Limited ("Treebo") intended for
                        the benefit of its individual customers who have enrolled as Members under the Program. Should
                        you require any clarifications regarding the Program you can contact alerts.webbooking@treebohotels.com.</p>

                    <ol class="pl20 " type="i">
                        <li class="li-class"><p class="termsPage__content-heading">Definitions</p>
                            <ol class="termsPage__para" type="1">
                                <li class="mb10 li-class">"Treebo Rewards" or "Program" refers to the membership rewards
                                    or benefits program as offered by Treebo.
                                </li>
                                <li class="mb10 li-class">"Member" shall mean an individual who has been enrolled as a
                                    member for the Treebo Rewards.
                                </li>
                                <li class="mb10 li-class">"User" shall mean an individual who is a customer of Treebo
                                    and wishes to enrol in the Treebo Rewards , and has read and agreed to all the terms
                                    and conditions as listed in this 'T&C'.
                                </li>
                                <li class="mb10 li-class">"Points" means the Treebo Points that are credited to a
                                    Member's account under the Program, that a Member has becomes eligible for, based on
                                    his utilisation of the Services, per the T&C, and which can be redeemed for
                                    Benefits, as applicable from time to time.
                                </li>
                                <li class="mb10 li-class">"Eligible Booking Channels" shall mean a booking made through
                                    any of the following channels: (1) treebo.com website and mobile site; (2) Treebo's
                                    Android & iOS Apps;
                                </li>
                                <li class="mb10 li-class">"Eligible Charges" are the pre-tax charges incurred by a
                                    Member to book a room in a Participating Treebo Hotel i.e. the room charges,
                                    provided the booking has been done from the following Eligible Booking Channels.
                                    Provided however that Eligible Charges do not include: (a) Room charges that are
                                    included in the definition of ineligible rates; (b) Charges for food and beverages
                                    (at restaurants, room service and mini-bars), telecommunication, laundry, spa and
                                    other services; (c) Charges for banquets, conference, meetings, weddings and other
                                    similar functions; d) Use of business centre facilities; (5) Complimentary services;
                                    (6) pre tax room charges paid through Treebo Points; or (7) Any other charges not
                                    included in Eligible Charges. Treebo reserves the right to add or remove any booking
                                    channel from the above list without any prior notice.
                                </li>
                                <li class="mb10 li-class">"Ineligible Charges" are defined as room charges where booking
                                    is made by a customer via any Other Booking Channel.
                                </li>
                                <li class="mb10 li-class">"Other Booking Channels" shall refer to any booking channel
                                    excluding the Eligible Booking Channels, including but not limited to online booking
                                    channels such as Agoda.com, Expedia.com, Travelocity.com, Hotels.com, Booking.com,
                                    Tripadvisor.com, MakemyTrip.com, Travelguru.com, Yatra.com, Cleartrip.com or any
                                    other similar travel websites or a third party.
                                </li>
                                <li class="mb10 li-class">"Benefit" is the benefit and/or service that a Member can
                                    avail through exchange of his/her Points.
                                </li>
                                <li class="mb10 li-class">"Participating Treebo Hotel" refers to the Stay Partners
                                    listed as offering Treebo Points to the Member for stays under Treebo Rewards.
                                </li>
                                <li class="mb10 li-class">"Qualifying Treebo Hotel" refers to the Stay Partners listed
                                    as eligible for redemption of Treebo Points by the Members for stays under Treebo
                                    Rewards.
                                </li>
                                <li class="mb10 li-class">"Primary Traveller" is an individual whose name appears first
                                    in the booking, and if there is more than one room, then the first name appearing in
                                    the first room of the booking, per Treebo's system records. For example, if there is
                                    a single booking in which Mr. A, Mr. B and Mr. C are the guests and two rooms i.e.
                                    room number 201 and 101 have been booked such that Mr. A and Mr. B have booked room
                                    number 201 and Mr. C has booked room number 101, and Mr. A's name appears first in
                                    the booking, then Mr. A shall be considered as the Primary Traveller.
                                </li>
                                <li class="mb10 li-class">"Services" shall mean the service being provided by Treebo, of
                                    connecting customers Stay Partners through the Website, the App, and various other
                                    sales channels, with assured essentials and prompt services.
                                </li>
                                <li class="mb10 li-class">"Stay Partner" refers to the independent third-party hotel
                                    operators or owners who Treebo partners with, from time to time, who offer budget
                                    hotel rooms and such other accommodation on rent.
                                </li>
                                <li class="mb10 li-class">"Website" means the Treebo's website, i.e., <a
                                        href="//www.treebo.com" class="link" target="_blank">www.treebo.com</a>.
                                </li>
                                <li class="mb10 li-class">"App" means the mobile application platform of Treebo, through
                                    which Treebo customers can, inter-alia, make bookings.
                                </li>
                            </ol>
                        </li>

                        <li class=" li-class mt20"><p class="termsPage__content-heading">General</p>
                            <p class="termsPage__para">In addition to the T&C, the general terms and conditions
                                applicable to all the guests staying at Treebo's Stay Partners shall also be applicable
                                to Members under the Program.
                            </p>
                            <ol class="termsPage__para" type="1">
                                <li class="mb10 li-class">Membership and benefits of Treebo Rewards are offered at the
                                    sole discretion of Treebo, and Treebo reserves the right to cancel, change or
                                    substitute any Benefits or this Program at any time, at its sole discretion without
                                    prior notice.
                                </li>
                                <li class="mb10 li-class">Membership to Treebo Rewards is void if prohibited by law in
                                    the country of the Member's domicile.
                                </li>
                                <li class="mb10 li-class">Membership to Treebo Rewards entitles members to earn Treebo
                                    Points, which can be redeemed for Benefits in accordance with these T&C.
                                </li>
                                <li class="mb10 li-class">Treebo Rewards is applicable only at the Participating Treebo
                                    Hotels and Qualifying Treebo Hotels.
                                </li>
                                <li class="mb10 li-class">Treebo reserves the right to discontinue membership to Treebo
                                    Rewards to any Member who appears to be using the Program in a manner inconsistent
                                    with the terms and conditions, or intent of the Program, or any portion of the
                                    Program, including, but not limited to, Reward redemption. Treebo also reserves the
                                    right to discontinue membership for any Member who acts in a manner inconsistent
                                    with applicable law. Discontinued membership may result in the loss of all
                                    accumulated Points and the cancellation of all the Treebo Rewards, Benefits and
                                    privileges.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class=" termsPage__content-heading ">Enrolment and membership</p>
                            <ol class="termsPage__para" type="1">
                                <li class="mb10 li-class">Only individuals may become Members of Treebo Rewards.
                                    Corporations, partnerships, associations, LLPs or groups of persons cannot enrol to
                                    become Members of Treebo Rewards.
                                </li>
                                <li class="mb10 li-class">Members cannot maintain membership in, or earn Points on
                                    multiple accounts.
                                </li>
                                <li class="mb10 li-class">Every Primary Traveller shall be uniquely identified using his
                                    or her mobile number, which will also be his / her membership number, and every
                                    mobile number shall be associated only to a single membership account.
                                </li>
                                <li class="mb10 li-class">By default, Treebo shall auto-enrol a User as a Member of
                                    Treebo Rewards at the time of check-out provided the User has booked through an
                                    Eligible Booking Channel and has provided a unique mobile number and has agreed to
                                    enrolment in Treebo Rewards. An option to opt-out of the Program shall be provided
                                    to the User by writing with account details to alerts.webbooking@treebohotels.com Alternatively,
                                    a User can register for Treebo Rewards by signing up on the Website or the App with
                                    basic details like name, date of birth, unique mobile number and email address
                                    (collectively, the "Account Information"). Treebo reserves the right to suspend or
                                    terminate user's Account and his / her access to Treebo Rewards if any information
                                    provided by the user during the registration process or thereafter proves to be
                                    inaccurate, not current or incomplete.
                                </li>
                                <li class="mb10 li-class">A unique mobile number of the user shall be treated as his or
                                    her membership number.
                                </li>
                                <li class="mb10 li-class">Enrolment onto Treebo Rewards must be in the individual's full
                                    legal name, and proof of identification will need to be provided on request.
                                </li>
                                <li class="mb10 li-class">Any change of information of a Member registered under Treebo
                                    Rewards including any change in mobile number, must be notified by the Member to
                                    Treebo in writing- within 10 days of such change.
                                </li>
                                <li class="mb10 li-class">All communication relating to Treebo Rewards, if any, will be
                                    mailed to the email address or sent via SMS to the mobile number given in the
                                    enrolment form at the time of signing up and it is the responsibility of the Member
                                    to inform Treebo about any change in his/her communication address. All
                                    communication, if any, will be deemed to have been received by the Member, when sent
                                    by Treebo, and Treebo bears no responsibility for communication not received or lost
                                    in transit.
                                </li>
                                <li class="mb10 li-class">Treebo Rewards has no predetermined termination date and may
                                    continue until Treebo decides to terminate the Program, at any time, with or without
                                    notice to the Members. Accumulation of Points will cease immediately on termination
                                    of the Program. However, Members will be given 6 months, from the date the Program
                                    termination is announced, to redeem their Points, in accordance with the Program.
                                </li>
                                <li class="mb10 li-class">Treebo reserves the right to add, modify, delete or otherwise
                                    change any of the rules, conditions, privileges, benefits, reward or reward levels
                                    pertaining to the Program at its sole discretion, with or without notice, even
                                    though changes may affect the value of Points or Benefits already accumulated. For
                                    instance, Treebo may increase or decrease the Points required for a Benefits, or
                                    limit the number of Participating Treebo Hotels for a particular reward.
                                </li>
                                <li class="mb10 li-class">Treebo reserves the right to grant or refuse membership to
                                    Treebo Rewards.
                                </li>
                                <li class="mb10 li-class">Points issued have no monetary value and cannot be bartered or
                                    sold by members for cash at any point of time. These Points may only be exchanged
                                    for Benefits or offer through Treebo Rewards Any Points, which Treebo deems to have
                                    been transferred, sold or assigned in violation of the program T&C may be
                                    confiscated or cancelled.
                                </li>
                                <li class="mb10 li-class">All interpretations of the T&C shall be at the sole discretion
                                    of Treebo.
                                </li>
                                <li class="mb10 li-class">Each Member is responsible for remaining knowledgeable about
                                    the T&C and the number of Points in his or her account. Treebo will take its best
                                    efforts send correspondence to active Members to advise them of matters of interest,
                                    including notification of Program changes and Point updates. However, neither
                                    Treebo, its subsidiaries, affiliates or associates or Program management service
                                    providers nor the Participating Treebo Hotels in the Program will be liable for any
                                    failure to do so and will not be responsible for correspondence lost or delayed in
                                    the mail.
                                </li>
                                <li class="mb10 li-class">Accrued Points do not constitute property of the Members.
                                    Except as specifically provided herein, no accrued Points are transferable in the
                                    event of death, as part of a domestic relations matter or otherwise by operation of
                                    law. In the event of death of any Member, Treebo Rewards will be suspended with
                                    respect to such Member and all accrued Points will stand cancelled.
                                </li>
                                <li class="mb10 li-class">Treebo is not responsible, and assumes no liability, for
                                    changes or discontinuance of services provided by a Stay Partner, that may affect
                                    the Program, Benefits offered, the accrual of Points or devaluation of Points.
                                </li>
                                <li class="mb10 li-class">The Program and any benefit, offering, or Benefits relating to
                                    the Program, shall not be construed as, or constitute a contract, or otherwise
                                    establish a contractual relationship between Treebo and Treebo Rewards Members.
                                </li>
                                <li class="mb10 li-class">Nothing in the Treebo Rewards is intended, or shall be
                                    construed to create or establish any agency, partnership or joint venture
                                    relationship between Treebo and its Stay Partners.
                                </li>
                                <li class="mb10 li-class">The information, including the Account Information that the
                                    Member provides to Treebo when completing the application and redeeming Points is
                                    processed in Treebo's internal systems. Communication of relevant information is
                                    important to administering Treebo Rewards and providing the Member with the
                                    opportunity to maximize the benefits of the Membership. The Member acknowledges that
                                    Treebo may disclose Member information to: Treebo and its group companies if any;
                                    Stay Partners, franchisees, fulfilment houses, email service providers and mail
                                    houses that process mail for such entities. In choosing to become a Treebo Rewards
                                    Member, the Member consents to receive all the kinds of information described above.
                                    However, Member will be given the opportunity to define and modify mailing
                                    preferences.
                                </li>
                                <li class="mb10 li-class">Treebo may send communication relating to the Benefits or the
                                    Program, via SMS or by voice call on the contact number given by the Member at the
                                    time of booking. The Member hereby unconditionally consents that such communications
                                    via SMS and/ or voice call by Treebo is (a) upon the request and authorization of
                                    the Member, (b) 'transactional' and not an 'unsolicited commercial communication' as
                                    per the guidelines of Telecom Regulation Authority of India (TRAI) and (c) in
                                    compliance with the relevant guidelines of TRAI or such other authority in India and
                                    abroad. The Member will indemnify Treebo against all types of losses and damages
                                    incurred by Treebo due to any action taken by TRAI, Access Providers (as per TRAI
                                    regulations) or any other authority due to any erroneous complaint raised by the
                                    Member on Treebo with respect to the intimations mentioned above or due to a wrong
                                    number or email id being provided by the Member for any reason whatsoever.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class=" termsPage__content-heading">Accural of points </p>
                            <ol class="termsPage__para" type="1">
                                <li class="mb10 li-class">Points will be awarded on all Eligible Charges only from the
                                    date of Member's enrolment into the Program. No retro credits will be given for
                                    transactions prior to enrolment.
                                </li>
                                <li class="mb10 li-class">Members can only earn Points from the Program start date as
                                    defined by Treebo. No Points will be earned for any amounts charged before the start
                                    date of the Program. This includes cases where a Member has checked-in a hotel
                                    before the Program is launched and checks out after the start date of the Program.
                                    For example: if a Member checks in on 01 October 2017, checks out on 20 October 2017
                                    and the start date of the Program is 15 October 2017, then the Member will not be
                                    eligible for any Points on such booking. The Member will earn Points only for
                                    Eligible Charges from 15 October 2017 onwards.
                                </li>
                                <li class="mb10 li-class">A Member shall be entitled to receive the Points only after
                                    successful completion of a transaction. A transaction shall be considered to have
                                    successfully completed once the Member has checked-out and made complete payment of
                                    the transaction amount. Treebo shall credit the Points to the member's account only
                                    after the Member has checked-out. No Points shall be credited at the time of booking
                                    creation, check-in or at the time of partial payment.
                                </li>
                                <li class="mb10 li-class">If the booking is done through corporate booking channel or
                                    any other Eligible Booking Channel and the payment mode is 'bill to company', then,
                                    for credit of Points to the Member's account, the payment shall be assumed to have
                                    been made at the time of checkout, and Treebo shall credit the Points to the
                                    Member's account at the time of checkout.
                                </li>
                                <li class="mb10 li-class">Members will earn 10 Treebo Points for every INR 200 spent on
                                    Eligible Charges in the Participating Treebo Hotel. The Point entitlement and the
                                    corresponding Benefit associated with the Points is subject to change at sole
                                    discretion of Treebo.
                                </li>
                                <li class="mb10 li-class">Points shall be credited to the Member's account provided the
                                    Member is the Primary Traveller and his or her mobile number is added to the
                                    booking. In case the mobile number of the Primary Traveller is not added to the
                                    booking at any time prior to check-out, then such booking shall not be eligible to
                                    any Points.
                                </li>
                                <li class="mb10 li-class">Any fractional Points earned will be rounded up or down to the
                                    nearest integer. For example, if a Member earns 125.40 Points from a transaction, it
                                    will be calculated as 125 Points. If a Member earns 125.60 Points from a
                                    transaction, it will be calculated as 126 Points.
                                </li>
                                <li class="mb10 li-class">If the Member has booked a room through any Eligible Booking
                                    Channel, but is not the Primary Traveller, then no Points shall be awarded to the
                                    Member for such booking. Rather, the Primary Traveller on such booking shall be
                                    entitled to receive the Points, provided he or she has shared the mobile number in
                                    the booking and is a registered Member of Treebo Rewards. The name reflected as the
                                    Primary Traveller on the booking and the corresponding mobile number can be changed
                                    at any time prior to check-out, and the new mobile number will then be eligible to
                                    receive the Points, provided that such number is the mobile number of the Primary
                                    Traveller.
                                </li>
                                <li class="mb10 li-class">In cases where the Member is given a discount after the stay
                                    has been completed, the appropriate number of Points based on the discount provided
                                    will then be deducted from the member's balance although he or she may have already
                                    been communicated the point status based on the pre-discounted amount.
                                </li>
                                <li class="mb10 li-class">Treebo reserves the right to deduct Points from a member's
                                    account balance if the Points have been erroneously credited to the account.
                                </li>
                                <li class="mb10 li-class">No Points will be awarded for complimentary or barter rooms,
                                    house guests, free stays and complimentary stays.
                                </li>
                                <li class="mb10 li-class">If a Member believes he/she has not received Point credit(s)
                                    for Eligible Charges, he/she must submit a written request for such credit(s) to
                                    Treebo, together with the original invoice of the Member's hotel stay. Requests must
                                    be received by Treebo within 15 days of receipt of Points update.
                                </li>
                                <li class="mb10 li-class">This retrospective crediting of Points will be offered to
                                    Members only on presentation of original invoices. No crediting will be done where
                                    the Member has failed to quote his/her registered mobile number at the time of bill
                                    settlement.
                                </li>
                            </ol>
                        </li>

                        <li class="mt20 li-class"><p class=" termsPage__content-heading">Expiry of points</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">All Points will remain valid till a pre set expiry date. This
                                    expiry date will be mentioned with each credit towards the Member's account.
                                </li>
                            </ol>
                        </li>

                        <li class="mt20 li-class"><p class=" termsPage__content-heading">Membership benefits</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">A number of services and benefits available to Members of
                                    Treebo Rewards are offered solely at the discretion of Treebo.
                                </li>
                                <li class="li-class mb10">Treebo Rewards can be utilized in conjunction with other
                                    prevailing offers or discounts on the Website or the App.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class="termsPage__content-heading">Rewards and redemption</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">Points can be redeemed by a Member against booking a room in a
                                    Qualifying Treebo Hotel via the Website or the App only. If a Member books a room
                                    from any Other Booking Channel, then he or she cannot redeem the Points.
                                </li>
                                <li class="li-class mb10">All taxes and applicable incidental expenditures associated
                                    with a Member gaining Points under this Program, or on claiming a Benefit will be
                                    borne by the Member unless mentioned otherwise.
                                </li>
                                <li class="li-class mb10">Treebo will not meet the cost of any tax, which may be levied
                                    on stay Benefits in this Program. This is the sole responsibility of the Member.
                                </li>
                                <li class="li-class mb10">Participating Treebo Hotels, Qualifying Treebo Hotels and
                                    Benefits classification may change at any time without notice, at the sole
                                    discretion of Treebo.
                                </li>
                                <li class="li-class mb10">If the Member has redeemed the Points against booking a room
                                    in a Qualifying Treebo Hotel via the Website or the App, but subsequently cancels
                                    the booking within the terms of Treebo's cancellation policy, then the Points
                                    redeemed by the Member against such booking shall be re-credited to his or her
                                    membership account with the expiry date as the original expiry date. However, if the
                                    Member cancels the booking in violation of the cancellation policy or is a no-show,
                                    then the Points so redeemed by the Member against such booking shall be forfeited,
                                    no Points shall be re-credited to his or her membership account, and despite any
                                    partial refund being processed to the Member's account, the Points shall, in no
                                    case, be re-credited back to the Member.
                                </li>
                                <li class="li-class mb10">Benefits cannot be exchanged for cash, Points or any other
                                    form of goods or services except as indicated in the indicated redemption voucher.
                                </li>
                                <li class="li-class mb10">No blackout dates are applicable for room stay redemptions
                                    under the Program. . If a room is available at any Qualifying Treebo Hotel across
                                    any room category, Points can be redeemed for a stay at the particular room
                                    category. Provided that Treebo reserves the right to alter this anytime at its sole
                                    discretion.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class="termsPage__content-heading">Modification of the Terms of
                            Use</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">Treebo reserves the right, in its sole discretion, to change,
                                    modify, or otherwise amend these Terms of Use, and any other documents incorporated
                                    by reference herein, at any time. If at any time the user finds these Terms of Use
                                    unacceptable or if the user does not agree to these Terms of Use, the user should
                                    kindly not use or continue to use Treebo Rewards. Treebo may revise these Terms of
                                    Use at any time without notice to the user and the member. It is the user's and
                                    member's responsibility to review these Terms of Use periodically.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class="termsPage__content-heading">Representations and
                            Warranties</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">The user acknowledges that he / she is solely responsible for
                                    maintaining the confidentiality of the Account Information that he / she has
                                    provided to Treebo. The Member agrees to immediately notify Treebo of any
                                    unauthorized use of his / her account by a third party and the Member acknowledges
                                    that Treebo will not be liable for any direct or indirect damage caused to the user
                                    because of such unauthorized use of Account Information by a third party.
                                </li>
                                <li class="li-class mb10">The Member agrees that he / she shall be providing sensitive
                                    and personal information including but not limited to Account Information
                                    (collectively "SPI") which falls within the ambit of the Information Technology
                                    (Reasonable Security practices and procedures and sensitive personal data or
                                    information) Rules, 2011. The Member consents to receiving communications from
                                    Treebo on a periodic basis vide this SPI transmitted by the Member to Treebo. Treebo
                                    agrees to take all necessary steps to secure and maintain the confidentiality of the
                                    SPI that the Member has transmitted in consonance with the Information Technology
                                    (Reasonable Security practices and procedures and sensitive personal data or
                                    information) Rules, 2011. However, the user acknowledges that Treebo will not be
                                    liable for any disclosure of user's SPI because of an error in transmission or
                                    unauthorized actions of third parties.
                                </li>
                                <li class="li-class mb10">By enrolling in Treebo Rewards, the Member further represents
                                    and warrants that:
                                </li>
                                <li class="li-class mb10">He / She is 18 years of age or older and that the reward and
                                    benefits drawn by the Member from Treebo Rewards shall not violate any applicable
                                    law or regulation.
                                </li>
                                <li class="li-class mb10">All registration information that the Member submits is
                                    truthful and accurate, and the Member agrees to maintain the accuracy of such
                                    information.
                                </li>
                                <li class="li-class mb10">Member's use of Treebo Rewards shall be subjected to the
                                    following restrictions:
                                </li>
                                <li class="li-class mb10">The Member should not decompile, reverse engineer, or
                                    disassemble the content of Treebo Rewards.
                                </li>
                                <li class="li-class mb10">The Member should not remove any copyright, trademark
                                    registration, or other proprietary material from Treebo Rewards.
                                </li>
                                <li class="li-class mb10">The Member should not use Treebo Rewards in any way that is
                                    unlawful, or harms Treebo or any other person or entity, as determined by Treebo at
                                    its sole discretion.
                                </li>
                                <li class="li-class mb10">The Member should not engage in any form of antisocial,
                                    disrupting, or destructive acts, including
                                    "flaming,""spamming,""flooding,""trolling," and "phishing" as those terms are
                                    commonly understood and used on the Internet.
                                </li>
                                <li class="li-class mb10">All information, content and material contained in Treebo
                                    Rewards are Treebo's intellectual property. All trademarks, services marks, trade
                                    names, and trade dress are proprietary to Treebo. No information, content or
                                    material from Treebo Rewards may be copied, reproduced, republished, uploaded,
                                    posted, transmitted or distributed in any way without Treebo's express written
                                    permission.
                                </li>
                            </ol>
                        </li>


                        <li class="li-class mt20"><p class=" termsPage__content-heading">Disclaimer of Warranty</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">Treebo provides access to Treebo Rewards on an "as is" basis
                                    and hereby disclaims all warranties, express, implied or statutory, including,
                                    without limitation, any implied warranty of fitness for a particular purpose,
                                    merchantability, non-infringement or title.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class="termsPage__content-heading">Indemnification</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">The Member agrees to indemnify and hold harmless Treebo, its
                                    affiliates, officers, directors, employees, consultants, licensors, agents, and
                                    representatives ("Indemnified Parties") from any and all third party claims, losses,
                                    liability, damages, and/or costs (including reasonable attorney fees and costs)
                                    arising from your access to or use of Services, violation of these T&C, or
                                    infringement, of any intellectual property or other right of any person or entity.
                                    Treebo will notify you promptly of any such claim, loss, liability, or demand made
                                    by a third party on any of the Indemnified Parties, and in addition to your
                                    foregoing obligations, you agree to provide us with reasonable assistance, at your
                                    expense, in defending any such claim, loss, liability, damage, or cost.
                                </li>
                            </ol>
                        </li>
                        <li class="li-class mt20"><p class="termsPage__content-heading">Limitation of Liability</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">In no event, shall Treebo, or any of its directors, officers,
                                    employees, agents or content or service providers (collectively, the "Protected
                                    Entities") be liable to any Member for any direct, indirect, special, incidental,
                                    consequential, exemplary or punitive damages arising from, or directly or indirectly
                                    related to, the use of, or the inability to use, the Treebo Rewards or the content,
                                    materials and functions related thereto.
                                </li>
                                <li class="li-class mb10">In no event shall the total aggregate liability of the
                                    Protected Entities to a user for all damages, losses, and causes of action (whether
                                    in contract or tort, including, but not limited to, negligence or otherwise) arising
                                    from these Terms of Use or a user's use of the Treebo Rewards exceed the balance
                                    Points lying in that user's account.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class="termsPage__content-heading">Intellectual Property</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">
                                    All information, content and material contained in Treebo Rewards including but not
                                    limited to trademarks, copyrights, patents and designs and all other forms of
                                    proprietary and non-proprietary information provided by you or Treebo in
                                    facilitating the services is the sole intellectual property of Treebo. All
                                    trademarks, services marks, trade names, and trade dress are proprietary to Treebo.
                                    No information, content or material from the Program may be copied, reproduced,
                                    republished, uploaded, posted, transmitted or distributed in any way without
                                    Treebo's express written permission.
                                </li>
                                <li class="li-class mb10">
                                    The Member provides a royalty-free, perpetual, irrevocable, nonexclusive right and
                                    license for Treebo to adopt, publish, reproduce, disseminate, transmit, distribute,
                                    copy, use, create derivative works from, display worldwide, or act on such content
                                    without additional approval or consideration in any form, media, or technology now
                                    known or later developed for the full term of any rights that may exist in such
                                    content, and the Member waives any claim to the contrary over all feedback,
                                    comments, ideas or suggestions or any other content provided by him / her to Treebo
                                    by way of this Treebo Rewards.
                                </li>
                            </ol>
                        </li>

                        <li class="li-class mt20"><p class="termsPage__content-heading">Severability</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">
                                    Each paragraph, clause, sub-clause and provision of these Terms of Use shall be
                                    severable from each other and if for any reason, any paragraph, clause, sub-clause
                                    or provision is invalid or unenforceable, such invalidity or enforceability shall
                                    not prejudice or in any way affect the validity or enforceability of any other
                                    paragraph, clause, sub-clause or provision, which shall be read and construed so as
                                    to give thereto, the full effect thereof, subject only to any contrary provision of
                                    the law to the effect that where this provision of these Terms of Use or any
                                    paragraph, clause, sub-clause or provision hereof would be but for the provisions of
                                    this paragraph read and construed as being void or ineffective it shall nevertheless
                                    be a valid term and condition, paragraph, clause, sub-clause or provision, as the
                                    case may be, to the full extent to which it is not contrary to any provision of the
                                    law.
                                </li>
                            </ol>
                        </li>
                        <li class="li-class mt20"><p class="termsPage__content-heading">Governing Law and Dispute
                            Resolution</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">
                                    These T&C are governed by the laws of India. Any action, suit, or other legal
                                    proceeding, which is commenced to resolve any action, suit or other legal
                                    proceeding, which is commenced to resolve any matter arising under or relating to
                                    these T&C, shall be subject to the exclusive jurisdiction of the courts at
                                    Bengaluru.
                                </li>
                            </ol>
                        </li>
                        <li class="li-class mt20"><p class="termsPage__content-heading">Waiver</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">
                                    Any failure of Treebo to exercise or enforce any right or provision of these T&C
                                    shall not operate as a waiver of such right or provision.
                                </li>
                            </ol>
                        </li>
                        <li class="li-class mt20"><p class="termsPage__content-heading">Grievance Redressal</p>
                            <ol class="termsPage__para" type="1">
                                <li class="li-class mb10">
                                    If the Member believes that his / her rights have been violated or has any other
                                    grievance due to use of Treebo Rewards, the Member can contact the Grievance Officer
                                    to redress the same at <a
                                        href="mailto:alerts.webbooking@treebohotels.com?subject=Grievance Redressal" class="link"
                                        target="_top"
                                        class="">alerts.webbooking@treebohotels.com</a>.
                                </li>
                            </ol>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
