{% extends "root-desktop.html" %} {% load url_tag %} {% block content %}
{% load staticfiles %} {% load url_hashifier %}


{% if referral_msg %}
<div class="deals">
    <p class="deals__text">
        {{referral_msg|safe}}
    </p>
</div>
{% endif %}
<div class="banner-carousel pos-rel">
    <div class="home-page-nav pos-abs">

        <!-- desktop/includes/header.html -->
        <header class="container header">
          <nav class="navigation">
            <ul class="header-nav flex-row flex--justify-right flex--align-stretch">
              <li class="header-nav__item">
                <a href="/" id="home" class="header-nav__link flex-row"><img class="logo" src="{% get_static_url %}desktop/images/logo.png"
                  alt="Treebo"></a>
              </li>
              <li class="header-nav__item"><a href="/fot/" class="header-nav__link" target="_blank">Friends of Treebo</a></li>
              <li class="header-nav__item"><a href="/joinus/" class="header-nav__link">Join Our Network</a></li>
              <li class="header-nav__item"><a href="/aboutus/" class="header-nav__link">About</a></li>
              <li class="header-nav__item"><a href="tel::(+91) 9322800100" class="header-nav__link"><i class="icon-telephone"></i>+91 9322 800 100</a></li>
              {% if request.session.isAuthenticated %}
              <li id="user" class="header-nav__item">

                <div class="user dropdown">
                  <button class="user__name dropbtn">{{request.user.first_name}}</button>
                  <div class="user__content dropdown-content">
                    <a href="/account/" class="user__link dropdown-link">My Account</a>
                    <a href="/logout/" class="user__link dropdown-link">Logout</a>
                  </div>
                </div>



              </li>
              {% else %}
              <li class="header-nav__item header-auth"><a href="javascript:void(0);" class="header-nav__link header-auth__mini js-headerlogin">Login</a>&nbsp;/&nbsp;<a href="javascript:void(0);" class="header-nav__link header-auth__mini js-headersignup">Signup</a></li>
              {% endif %}
            </ul>
          </nav>
        </header>
        <!-- desktop/includes/header.html -->

    </div>
    <div class="js-banner-carousel banner-carousel__container pos-rel">
        {% for banner in landing_banner %}
            {%if banner.landingurl%}
            <a class="banner-carousel__item flex-row" href="{{banner.landingurl}}" style="background-image: url({{ banner.image_url }})">
                <div class="banner-carousel__item__title pos-abs">{{ banner.title|default:"" }}</div>
            </a>
            {% else %}
            <div class="banner-carousel__item pos-rel" style="background-image: url({{ banner.image_url }})">
                <div class="banner-carousel__item__title pos-abs">{{ banner.title|default:"" }}</div>
            </div>
            {%endif%}
        {% endfor %}
    </div>
    <div class="home-search-box pos-abs flex-row flex--align-center">
        <div class="container flex-row flex--justify-center search-box pos-rel">
            <div id="searchLoader" class="loader-container loader-container--inline hide initial-load">
                <div class="loader-box v-center">
                    <div class="sk-fading-circle small">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                </div>
            </div>
            <div class="search-box__input-container flex-column ">
                <div class="search-box__label">DESTINATION</div>
                <input type="text" placeholder="Where do you want to go?" name="name" class="search-box__title search-box__input" value="" id="searchInput">
            </div>
            <div id="calendar" class="search-box__calendar daterange daterange--double flex-column"></div>
            <div id="guestNRoomWidget" class="search-box__room-widget room-widget-container pos-rel">
            </div>
            <button type="button" class="btn search-box__submit" id="searchSubmitBtn" name="button"><i class="icon-search"></i>Search</button>

        <ul class="extra-cities no-list pos-abs hide">
        {% for city in cities %}
            <li latitude="{{ city.latitude }}" longitude="{{ city.longitude }}" locality="{{city.name}}" class="city extra-cities__item flex-row">
                <span>{{city.name}}</span><span class="">{{ city.hotelCount }} hotels</span>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>
</div>

<div class="allcity">
    <div class="js-allcity flex-row container allcity__carousel">
    {% for city in cities %}
    <a href="{{city.url}}">
        <div>
            <div class="allcity__city flex-row flex--justify-center pos-rel flex--align-center" style="background-image:url();">
                <img src="{% get_image_url %}files/{{city.landscapeImage}}?w=226&h=130&fm=jpg&fit=crop" alt="" />
                <h3 class="uc allcity__city__name allcity__citylink pos-abs">{{city.name}}</h3>
            </div>
        </div>
    </a>
    {% endfor %}

    </div>

</div>
<div class="marketing-wrapper flex-column">
    <div class="container">
        <div class="marketing__titlecontainer flex-column flex--justify-center flex--align-center">
            <h2 class="marketing__title text-center">{{marketing_block.title|upper}}</h2>
            <p>
                {{marketing_block.desc}}
            </p>
        </div>
        <div class="marketing flex-row">
            <div class="marketing__col flex-column marketing__left">
                <a href="{{marketing_block.layout.items.0.target_url | default:'/'}}"  data-original="{{marketing_block.layout.items.0.image_url}}" class="lazy a-spotlight marketing__half-bg marketing__col mb20" style="background-image:url()">

                </a>
                <div class="marketing__col flex-row">
                    <a href="{{marketing_block.layout.items.1.target_url | default:'/'}}" data-original="{{marketing_block.layout.items.1.image_url}}" class="lazy a-spotlight marketing__col mr20" style="background-image:url()">

                    </a>
                    <a href="{{marketing_block.layout.items.2.target_url | default:'/'}}" data-original="{{marketing_block.layout.items.2.image_url}}" class="a-spotlight marketing__col lazy" style="background-image:url()">

                    </a>
                </div>
            </div>
            <a href="{{marketing_block.layout.items.3.meta.target_url}}" class="marketing__col marketing__p4 flex-column text-center lazy" data-original="{{marketing_block.layout.items.3.image_url}}" style="background-image:url()">
                <h3 class="marketing__p4-title mb10">
                    {{ marketing_block.layout.items.3.meta.title }}
                </h3>
                <p class="marketing__p4-desc mb20">
                    {{ marketing_block.layout.items.3.meta.desc }}
                </p>
                <p class="mb30">
                    <a class="a-spotlight marketing__p4-link" href="{{ marketing_block.layout.items.3.meta.target_url }}">
                        {{ marketing_block.layout.items.3.meta.link_text }}
                    </a>
                </p>

            </a>
        </div>
    </div>
</div>
<div class="find-treebo flex-row flex--justify-center flex--align-center">
    <div class="container flex-column flex--justify-center flex--align-center">

        <div class="find-treebo__title">LOOKING FOR A GREAT STAY?</div>
        <div class="find-treebo__desc">
            Choose from {{city_count}} cities across India
        </div>

        <button id="bookATreebo" class="btn uc find-treebo__btn btn--round">
            Book a treebo
        </button>
    </div>
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "//www.treebo.com/",
  "logo" : "http://blog.treebohotels.com/wp-content/themes/treebo_theme/images/logo-black-new.svg",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+91-9322800100",
    "contactType" : "Reservations"
  }]

}

</script>

<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "//www.treebo.com/",
   "potentialAction": {
   "@type": "SearchAction",
     "target": "//www.treebo.com/search/?query={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>

<script type="application/ld+json">
{	"@context" : "http://schema.org",
	"@type" : "Organization",
	"name" : "Treebo Hotels",
	"url" : "//www.treebo.com/",
	"sameAs" : [
	"https://www.facebook.com/treebohotels",
	"https://twitter.com/TreeboHotels",
	"https://www.instagram.com/treebo_hotels/",
	"https://plus.google.com/105788078549969258020",
	"https://www.linkedin.com/company/treebo-hotels/"
	]
}

</script>


{% endblock %}
