{% extends "root-mobile.html" %}
{% load url_tag %}

{% block content %}
    <div class="feedback-container ph mt20 text-center">
        <h3 class="mb20">Feedback</h3>

        <form class="feedback-form" action="/feedback/" method="post">
            {% csrf_token %}
            <div class="form-group css-float-label ">
                <input autocomplete="off" data-validation-required="true" type="text"
                       name="name" placeholder="Name" value="{{ name }}" class="form-control input-text validate">
                <label class="hide error">Please enter your name</label>
            </div>

            <div class="form-group css-float-label">
                <input autocomplete="off" value="{{ email }}" name="email" data-validation-required="true" type="email" class="form-control input-text validate" placeholder="Email">
                <label class="hide error">Please enter your email address</label>
            </div>

            <div class="form-group css-float-label mt10 textarea">
                <textarea rows="4" cols="3" name="comments" placeholder="Comments/Suggestions" class="validate" data-validation-required="true"></textarea>
                <label class="hide error">Please enter your comments</label>
            </div>
            <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">

            <div class="form-group css-float-label text-center mt20 mb20">
                <button class="btn" type="submit">Submit</button>
            </div>

        </form>
    </div>

{% endblock %}