{% extends "root-mobile.html" %} {% load url_tag %} {% block header %} {% include "mobile/includes/header.html" %} {% endblock %} {% block content %}
<div class="register-page auth-page">
    {% include "register/signup.html" %}
    <div class="auth__social row">
        <button id="fbSignup" class="btn btn--facebook auth__social__button js-fblogin col col-1 ">
            <i class="icon-fb"></i><span class="social-pipe">|</span><span class="facebook">SIGNUP</span>
        </button>
        <button id="googleLogin" class="btn btn--google auth__social__button js-google-login col col-2">
            <i class="icon-google"></i><span class="social-pipe">|</span><span class="google">SIGNUP</span>
        </button>
    </div>
    <div class="signup__isuser">
        Already have a Treebo Account? <a class="anchor js-login-link" href="/login/">Login</a>
    </div>
</div>

{% endblock %}
