{% load url_tag %}
<div class="auth-page__header">SIGNUP</div>
<div class="signup__error error"></div>
<form id="signupForm" action= "/signup">
    <div class="float-labels">
        <input id="signupNamelInput" name="name" class="signup__full float-labels__input" type="text" value="" placeholder="Name" pattern=".+" required="true" data-parsley-required="true" data-parsley-required-message="Please enter name here" />
        <label class="float-labels__label">Name</label>
    </div>

    <div class="login__full float-labels">
        <input id="signupMobileInput" name="mobile" class="signup__full float-labels__input" pattern=".+" type="number" value="" placeholder="Mobile Number" required="true" data-parsley-type="number" data-parsley-trigger="change" data-parsley-type-message="Enter valid mobile number" data-parsley-required-message="Please enter valid mobile number"
            data-parsley-length-message="Please enter 10 digit mobile number" data-parsley-minlength="10" data-parsley-maxlength="10" />
        <label class="float-labels__label">Mobile Number</label>
    </div>
    <div class="float-labels">
        <input id="signupEmailInput" name="email" class="signup__full float-labels__input" type="email" pattern=".+" value="" placeholder="Email ID" required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email" data-parsley-required-message="Please enter a valid email address"
        />
        <label class="float-labels__label">Email ID</label>
    </div>
    <div class="float-labels">
        <input id="signupPassowrdlInput" name="password" class="signup__full float-labels__input" type="password" pattern=".+" value="" placeholder="Password" required="true" data-parsley-minlength="6" data-parsley-required-message="Oops! You forgot to enter your password" />
        <label class="float-labels__label">Password</label>
    </div>
    <!-- <div class="float-labels">
        <input id="signupNamelReferral" name="referral" class="signup__full float-labels__input" type="text" placeholder="Referral" />
    </div> -->
    <button type="submit" id="signupButton" class="btn auth__button">SIGNUP</button>
</form>

<div class="signup__terms">
    By clicking Signup, I agree to Treebo's <a href="/terms/" target="_blank">Terms of Service </a> & <a href="/policy/" target="_blank">Privacy Policy</a></a>
</div>

<div class="auth__via">
    OR
</div>
