{% extends "root-mobile.html" %} {% load url_tag %}
{% block header %}
   {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {% if not is_refresh %}
        <!-- Google Code for Purchase Conversion Page -->
        <script type="text/javascript">
         /* <![CDATA[ */
            var google_conversion_id = {{ ADWORDS_CONVERSION_ID }};
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "{{ ADWORDS_CONVERSION_LABEL }}";
            var google_conversion_value = {{ actual_total_cost }};
            var google_conversion_currency = "INR";
            var google_remarketing_only = false;
         /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/{{ ADWORDS_CONVERSION_ID }}/?value={{ actual_total_cost }}&amp;currency_code=INR&amp;label={{ ADWORDS_CONVERSION_LABEL }}&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

    {% endif %}
<div class="confirmation-page">
	<div class="">
		<div class="confirmation text-center">
			<div>CONGRATULATIONS!</div>
			<div>YOUR BOOKING IS CONFIRMED</div>
		</div>

		<div class="hotelDetail text-right">
			<div class="hotelDetail__email-pdf hide">
				<!-- EMAIL PRINT -->
			</div>
			<div class="hotelDetail__hotel">
				<div class="hotelDetail__hotel-image">
					<img src="{% get_image_url %}files/{{image_url}}?w=80&fit=crop&fm=pjpg&h=80" alt="{{hotel.name}}" />
				</div>
				<div class="hotelDetail__hotel-address text-left">
					<div class="hotelDetail__hotel-name">{{hotel.name}}</div>
					<div>{{hotel.street}} {{hotel.city}}</div>
				</div>
			</div>
			<div class="bookingInfo">
				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Booking ID</div>
					<div class="bookingInfo__item-value bold">{{booking.order_id}}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Booking By</div>
					<div class="bookingInfo__item-value bold">{{guest_name}}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Check In</div>
					<div class="bookingInfo__item-value">{{checkin}}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Check Out</div>
					<div class="bookingInfo__item-value">{{checkout}}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Rooms</div>
					<div class="bookingInfo__item-value">{{room_count}} Room{{rooms|pluralize}}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Guests</div>
					<div class="bookingInfo__item-value">{{adults}} Adult{{adults|pluralize}}{% if children > 0 %},&nbsp;{{children}} Kid{{children|pluralize}}{%endif%}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Room Type</div>
					<div class="bookingInfo__item-value">{{room_type}}</div>
				</div>

				<div class="bookingInfo__item">
					<div class="bookingInfo__item-title">Total Cost</div>
					<div class="bookingInfo__item-value bold"><i class="icon-inr bookingInfo__rupee-icon"></i><span>{{actual_total_cost}}</span></div>
				</div>
				<div class="bookingInfo__stamp">
                    {% if pah %}
					<img src="{% get_static_url %}mobile/images/to-be-paid-stamp-new.png" alt="Pay at hotel">
                    {% else %}
                    <img src="{% get_static_url %}mobile/images/paid-stamp-new.png" alt="Paid">
                    {% endif %}
				</div>
			</div>

		</div>
		<div class="important-point">
			<div class="important-point__head text-center">Important Points</div>
			<div class="important-point__points">
				<ol type="1">
					{% for policy in policies %}
						<li class="important-point__list-point">{{policy.desc}}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
		<a href="{{location_url}}" class="direction">
			<div class="direction__text">
				Find directions to the hotel.
				<span class="direction__mark rfloat"><i class="icon-right"></i></span>
			</div>
		</a>
		<div class="direction">
			<a href="/" class="btn btn--block btn--large">Make Another Booking</a>
		</div>
	</div>
</div>

{% endblock %}
