{% extends "root-mobile.html" %}
{% block header %}{% endblock %}
{% block content %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<div class="transaction-page tp">
    <div class="container">
        <div class="tp__header">
            <img class="logo" src="{% get_static_url %}mobile/images/new_logo.png?v=2" alt="Treebo">
        </div>
        <div class="tp__info">We are almost done!</div>
        <div class="tp__warning">It may take upto a minute. Please don't refresh the page, or hit 'Back' or 'Close' button.
</div>
        <div class="progress-bar" >
            <div class="progress-bar__fill" id="bookingProgress" role="bar"></div>
        </div>
        <form class="" style="display:none" action="/redirector/" method="post" id="redirectForm">
            {% csrf_token %}
             <input type="hidden" name="redirectUrl" id="redirectUrl" value="">
        </form>

        {% if not pay_at_hotel %}
        <form class="" style="display:none" action="{% url "checkout:razorpay" %}" method="post" id="checkoutformRazorpay">
            {% csrf_token %}
            <input type="hidden" name="razorpay_payment_id" id="rpid" value="">
            <input type="hidden" name="booking_id" id="bid" value="{{ bid }}">
            <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}">
            <input type="hidden" name="type" id="type" value="RAZORPAY">
            <input type="hidden" name="status" id="status" value="Authorized">
            <input type="hidden" name="amount_to_store" id="amount_to_store" value="{{ amount_to_store }}">
            <input type="hidden" name="amount_to_send" id="amount_to_send" value="{{ amount_to_send }}">
        </form>
        {% else %}
        <form class="" style="display:none" action="{{ handler_url }}" method="POST" id="pay_at_hotel_form">
            {% csrf_token %}
            <input type="hidden" name="booking_id" id="booking_id" value="{{ booking_id }}" />
        </form>
        {% endif %}
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </div>
</div>
{% endblock %}
