{% extends "root-desktop.html" %} {% block content %}
<div class="unavailable">
    <div class="flex-column container error-page">
        <img src="{% get_static_url %}desktop/images/new_500.png" alt="500 page" class="center img-responsive">
        <div class="unavailable__title">Internal server error</div>
        <div class="unavailable__info">We are working towards creating something better. We won't take long.</div>
    </div>
</div>
{% endblock %}
