<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title></title>
  </head>

  <body>
      <!--<input type="hidden" name="name" id="hiddenData" value="{{amount}}||{{email}}||{{name}}||{{contact}}||{{amount_to_store}}||{{hotel_name}}||{{razorpay_key}}||{{offerKey}}">-->
      <form class="" style="display:none" action="{{action_url}}" method="post" id="checkoutform">
            {% csrf_token %}
            <input type="txnid" name="txnid" id="txnid" value="{{txnid}}">
            <input type="hidden" name="amount" id="amount" value="{{amount}}">
            <input type="hidden" name="firstname" id="firstname" value="{{first_name}}">
            <input type="hidden" name="key" id="key" value="{{payu_merchant_id}}">
            <input type="hidden" name="salt" id="salt" value="{{product_info}}">
            <input type="hidden" name="email" id="email" value="{{email}}">
            <input type="hidden" name="hash" id="hash" value="{{hash}}">
            <input type="hidden" name="udf1" id="udf1" value="{{referenceid}}">
            <input type="hidden" name="surl" id="surl" value="{{handler_url}}">
            <input type="hidden" name="furl" id="furl" value="{{handler_url}}">
            <input type="hidden" name="curl" id="curl" value="{{handler_url}}">
            <input type="hidden" name="phone" id="phone" value="{{phoneNumber}}">
            <input type="hidden" name="productinfo" id="productinfo" value="{{product_info}}">
            <input type="hidden" name="offer_key" id="offer_key" value="{{offerKey}}">
      </form>
      <!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script>
      $("#checkoutform").submit();
      </script>
  </body>
</html>
