{% extends "root-desktop.html" %} {% block content %} 

<div class="ie_content mb120">
	<div class="container mt40 mb150">
		<div class="iepage flex-column ph245">
			<div class="flex-row mt150 mb80 pl80 pr60">
				<div class="">
					<img src="{% get_static_url %}desktop/images/search-engine/treebo.png" class="iepage__image">
				</div>

				<div class="iepage__error mt40 pl30">
					<p>(Do not Enter)-net </p>
					<p>Explorer 11</p> 

				</div>
			</div>

			<div class="text-center mb80 iepage__error-description">
				<div class="mb30">...since even the latest IE browser version wouldn't support this Website!</div>
				<div>
					<p>Please feel free to experience the awesomeness of the travel industry through our eyes...</p>
					<p>and our supported browsers.</p>
				</div>
			</div>

			<div class="flex-row flex--space-around mb160">
				<div class="text-center">
					<img src="{% get_static_url %}desktop/images/search-engine/google.png" class="iepage__engine-image">
					<p class="iepage_engine-name">Google Chrome </p>
				</div>
				<div class="text-center pos-rel iepage__mozilla">
					<img src="{% get_static_url %}desktop/images/search-engine/mozilla.png" class="iepage__engine-image">
					<p class="iepage_engine-name">Mozilla Firefox </p>
				</div>
				<div class="text-center pos-rel iepage__opera">
					<img src="{% get_static_url %}desktop/images/search-engine/opera.png" class="iepage__engine-image">
					<p class="iepage_engine-name">Opera </p>
				</div>
				<div class="text-center">
					<img src="{% get_static_url %}desktop/images/search-engine/safari.png" class="iepage__engine-image">
					<p class="iepage_engine-name">Safari</p>
				</div>
			</div>
	</div>
</div>

{% endblock %}