{% extends "root-desktop.html" %} {% block content %}


<div class="joinus_content">
	<div class="container">
		<div class="joinus flex-column">
			<div class="joinus__video pos-rel">

				<div class="pos-abs joinus__video-bottom flex-row">
					<div class="flex-column joinus__video-quote">
						<div class="joinus__video-partnerText">
							<p>Your perfect partners for</p>
						</div>

						<div class="joinus__video-SalesText">
							<p>Higher Sales. Happier Customer</p>
						</div>
					</div>


						<div class="joinus__joinTeam flex-row flex--justify-center flex--align-center">
							<a class="anchor anchor-white" href="#joinournetwork">

							<div class="joinus__joinTeam-border">Join our Network</div>

							</a>
						</div>


				</div>

				<div class="pos-abs joinus__video-image-center text-center flex--justify-center flex--align-center">
					<img src="{% get_static_url %}desktop/images/video/play.png" class="joinus__video-play-image play-image">

				</div>

				<img src="{% get_static_url %}desktop/images/video/video-backimage.jpg" class="joinus__video-image">


			</div>

			<div class="joinus__sales-marketing flex-row">
				<div class="joinus__sales-status flex-column">
						<div class="joinus__heading joinus__sales-heading">
							<p>Get access to professional Sales & Marketing resources</p>
						</div>

						<div class="joinus__stats-sales flex-row text-center">
							<div class="">
								<img src="{% get_static_url %}desktop/images/joinus-image/occupancy.png" class="joinus__sub-images">
								<p class="joinus__stat"> 75% </p>
								<p class="joinus__stat-description"> OCCUPANCY </p>
							</div>

							<div class="joinus__marketing-item">
								<img src="{% get_static_url %}desktop/images/joinus-image/room-rent.png" class="joinus__sub-images">
								<p class="joinus__stat"> 2100 </p>
								<p class="joinus__stat-description"> Avg. Room Rent </p>
							</div>

							<div class="joinus__marketing-item">
								<img src="{% get_static_url %}desktop/images/joinus-image/corporate-tieups.png" class="joinus__sub-images">
								<p class="joinus__stat"> 260 </p>
								<p class="joinus__stat-description"> Corporate Tie Ups </p>
							</div>

							<div class="ml50">
								<img src="{% get_static_url %}desktop/images/joinus-image/Travel-agent.png" class="joinus__sub-images">
								<p class="joinus__stat"> 100+ </p>
								<p class="joinus__stat-description"> Travel Agent Partners  </p>
							</div>
						</div>



				</div>
				<div class="mr65">
					<div class="flex-column">
						<div class="joinus__quote joinus__quote-top text-center">
							<p> "The hospitality Industry faces lots of challenges, one of them is occupancy. That's where we had a partner like Treebo who came in and said, we will take away this challenge of yours so that you can focus on guest satisfaction" </p>
						</div>

						<div class="joinus__quote-speaker text-center">
							<p class="joinus__speaker-name"> Mr. Ajoy, Hotel Owner</p>
							<p class="joinus__speaker-detail"> Treebo Akshaya Mayflower </p>

						</div>
					</div>

				</div>
			</div>


			<div class="joinus__guest_service flex-row">

				<div class="ml60">
					<div class="flex-column ph80">
						<div class="joinus__quote joinus__quote-top text-center">
							<p> "The comradeship and good cheer the staff brings to you is admirable! This hotel is a perfect blend of what every traveller/customer looks for. Hands down the best experience I've ever had!" </p>
						</div>

						<div class="joinus__quote-speaker text-center">
							<p class="joinus__speaker-name"> Dev, Guest </p>
							<p class="joinus__speaker-detail"> Treebo Cartier </p>

						</div>
					</div>

				</div>

				<div class="joinus__guest-service-status flex-column">
						<div class="joinus__heading joinus__service-heading">
							<p>Deliver Superior guest service</p>
						</div>

						<div class="joinus__stats-service flex-row text-center">
							<div class="joinus__service-item">
								<img src="{% get_static_url %}desktop/images/joinus-image/trip-advisor.png" class="joinus__sub-images">
								<p class="joinus__stat"> 4 + </p>
								<p class="joinus__stat-description"> Avg. Rating on TripAdvisor </p>
							</div>

							<div class="joinus__service-item">
								<img src="{% get_static_url %}desktop/images/joinus-image/repeat-customers.png" class="joinus__sub-images">
								<p class="joinus__stat"> 25% </p>
								<p class="joinus__stat-description"> Repeat Coustomers </p>
							</div>

							<div class="joinus__service-item">
								<img src="{% get_static_url %}desktop/images/joinus-image/repeat-customers2.png" class="joinus__sub-images">
								<p class="joinus__stat"> 80% </p>
								<p class="joinus__stat-description"> 4+ reviews on TripAdvisor after partnering with Treebo </p>
							</div>

						</div>



				</div>

			</div>

			<div class="joinus__best-interest flex-row">
				<div class="joinus__sales-status flex-column">
						<div class="joinus__heading joinus__owner-heading">
							<p>Partner with us for success</p>
						</div>

						<div class="joinus__interest-img flex-row mb40 text-center">
							<div class="flex-column">

								<div class="joinus__multi-year-contract-width">
									<img src="{% get_static_url %}desktop/images/joinus-image/contract.png" class="joinus__sub-images mt10">
									<p class="joinus__interest-stat joinus__multi-year"> Multi Year Contracts </p>
									<img src="{% get_static_url %}desktop/images/joinus-image/24x7.png" class="joinus__sub-images">
									<p class="joinus__interest-stat"> 24 X 7 Customer Care Support </p>
								</div>
							</div>
							<div class="flex-column ml30">

								<div class="joinus__monthly-settlement pos-rel">
									<img src="{% get_static_url %}desktop/images/joinus-image/payments.png" class="joinus__sub-images mt10">
									<p class="joinus__interest-stat"> Monthly Settlements</p>
									<p class="joinus__interest-stat joinus__timely-payment">& Timely Payment </p>
									<img src="{% get_static_url %}desktop/images/joinus-image/tablet.png" class="joinus__sub-images">
									<p class="joinus__interest-stat"> Access to Latest Technology </p>
								</div>
							</div>
							<div class="flex-column">

								<div class="joinus__ecosystem">
									<img src="{% get_static_url %}desktop/images/joinus-image/eco-system.png" class="joinus__sub-images mt10">
									<p class="joinus__interest-stat mb10"> Ecosystem of external vendors </p>

								</div>
							</div>

						</div>



				</div>
				<div class="mr65">
					<div class="flex-column">
						<div class="joinus__quote text-center joinus__quote-top">
							<p> "Treebo is very different from others because they are promising us assured sales, quality assurance to the customers, co-branding and lastly they do not undersell our rooms" </p>
						</div>

						<div class="joinus__quote-speaker text-center">
							<p class="joinus__speaker-name"> Janaki Ram, Hotel Owner</p>
							<p class="joinus__speaker-detail"> Treebo Urs Regency</p>

						</div>
					</div>

				</div>
			</div>

			<div class="treebo-init flex-column">
				<div class="treebo-init__header text-center"> Trending initiatives that are redefining budget hotel space</div>
				<div class="flex-row text-center treebo-init__fields">
					<div class="treebo-init__width">
						<div class="treebo-init__alpha-friends-image">
							<img src="{% get_static_url %}desktop/images/joinus-image/alpha.png">
						</div>

						<div class="treebo-init__alpha">
							<p> Treebo ALPHA </p>
						</div>

						<div class="treebo-init__alpha-desc">
							<p> Customized offerings for corporate customers </p>
						</div>

					</div>

					<div class="treebo-init__item treebo-init__width">
						<div class="pt20 treebo-init__alpha-friends-image">
							<img src="{% get_static_url %}desktop/images/joinus-image/friendsof-treebo.png">
						</div>

						<div class="treebo-init__friends">
							<p> Friends of Treebo </p>
						</div>

						<div class="treebo-init__friends-desc">
							<p> Industry's first crowd-sourced quality audit program </p>
						</div>
					</div>

					<div class="treebo-init__item  treebo-init__width">
						<div class="treebo-init__quality-image treebo-init__alpha-friends-image">
							<img src="{% get_static_url %}desktop/images/joinus-image/quality-leader.png">
						</div>

						<div class="treebo-init__quality">
							<p> Treebo Quality Leaders </p>
						</div>

						<div class="treebo-init__quality-desc">
							<p> Monthly cash rewards for our top-performing hotels </p>
						</div>
					</div>
				</div>

			</div>

			<div id = "joinournetwork"class="flex-column joinus__network">
				<div class=" text-center mt60">
					<p class="joinus__network-title mb40">Join Our Network</p>
				</div>

				<div class="text-center">
					<p class="joinus__network-para mb140"> We are expanding our footprint across the country. In this journey, we are keen to work with hotel partners that share our passion for quality and great customer service. If you own or operate such hotel and are keen to became a part of hospitality brand that customers love, please get in touch using the form below.</p>
				</div>
			</div>
			<div class="joinusForm">
				<div class="">
					<form class="joinusForm__form" id="joinusForm">
						<div class="flex-row">
							<div class="joinusForm__info1-left flex-column">
								<div>
									<label class="joinusForm__label"> Contact Person *</label>
									<input id="contact-person" class="joinusForm__input-text " type="text" name="name"
												required="true"
                   				        		data-parsley-required="true"
                   				        		data-parsley-trigger="change"
                            					data-parsley-required-message="Please enter name here"

									/>
								</div>

								<div>
									<label class="joinusForm__label"> Email Address *</label>
									<input id="email-address" class="joinusForm__input-text " type="text" name="email-address"
												required="true"
                   				        		data-parsley-type="email"
                            					data-parsley-trigger="change"
                            					data-parsley-type-message="Enter valid email"
                            					data-parsley-required-message="Please enter a valid email address"
                            		/>
								</div>

								<div>
									<label class="joinusForm__label"> Hotel Name *</label>
									<input id="hotel-name" class="joinusForm__input-text " type="text" name="hotel"
												required="true"
                   				        		data-parsley-required="true"
                   				        		data-parsley-trigger="change"
                            					data-parsley-required-message="Enter Hotel name"

									/>
								</div>

							</div>

							<div class="joinusForm__info1-right flex-column">
								<div>
									<label class="joinusForm__label"> Contact Person's Role (eg. Manager, Owner)</label>
									<input id="contact-person-role" class="joinusForm__input-text " type="text" name="role"/>
								</div>

								<div>
									<label class="joinusForm__label"> Mobile Number *</label>
									<input id="mobile-number" class="joinusForm__input-text " type="text" name="mobile"
												required="true"
                   				        		data-parsley-type="number"
                          						data-parsley-trigger="change"
                            					data-parsley-type-message="Enter valid mobile number"
                            					data-parsley-required-message="Enter valid mobile number"
                            					data-parsley-minlength="10"
                            					data-parsley-maxlength="10"


									/>
								</div>

								<div>
									<label class="joinusForm__label"> Hotel Phone Number </label>
									<input id="hotel-phone-number" class="joinusForm__input-text " type="text" name="hotel-phone"/>
								</div>

							</div>
						</div>


						<div class="flex-row">
							<div class="joinusForm__info1-address flex-column pl30">
								<div>
									<label class="joinusForm__label"> Hotel Address (Line 1) *</label>
									<input id="hotel-address1" class="joinusForm__input-address-text " type="text" 	name="address1"
										required="true"
                   				        data-parsley-required="true"
                   				        data-parsley-trigger="change"
                            			data-parsley-required-message="Please enter your address here"
									/>

								</div>

								<div>
									<label class="joinusForm__label"> Hotel Address (Line 2) *</label>
									<input id="hotel-address2" class="joinusForm__input-address-text " type="text" name="address2"/>
								</div>

							</div>
						</div>

						<div class="flex-column">
							<div class="joinusForm__info1-address-city flex-row pl30">
								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> State *</label>
									<input id="state" class="joinusForm__input-city-text " type="text" value="Karnataka" name="state"
											    required="true"
                   				        		data-parsley-required="true"
                   				        		data-parsley-trigger="change"
                            					data-parsley-required-message="Enter State Name"
                            		/>
								</div>

								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> city *</label>
									<input id="city" class="joinusForm__input-city-text " type="text" value="Bangalore" name="city"
												required="true"
                   				        		data-parsley-required="true"
                   				        		data-parsley-trigger="change"
                            					data-parsley-required-message="Enter City Name"
                            		/>
								</div>

								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> Pincode *</label>
									<input id="pincode" class="joinusForm__input-city-text " type="text" name="pincode"
												required="true"
                   				        		data-parsley-required="true"
                   				        		data-parsley-trigger="change"
                            					data-parsley-required-message="Enter valid Pincode"
                            					data-parsley-minlength="6"
                            					data-parsley-maxlength="6"
                            		/>
								</div>

							</div>
						</div>

						<div class="flex-column">
							<div class="joinusForm__info1-address-city flex-row">
								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> Number of Rooms </label>
									<input id="number-of-rooms" class="joinusForm__input-room-text " type="number" name="room"/>
								</div>

								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> Average Room Rate </label>
									<input id="average-room-rate" class="joinusForm__input-room-text " type="text" name="roomrate">
								</div>

								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> Current Occupancy in percentage</label>
									<input id="current-occupancy" class="joinusForm__input-room-text " type="text" name="occupancy">
								</div>

							</div>
						</div>

						<div class="flex-column">
							<div class="joinusForm__info1-address-city flex-row pl30">
								<div class="joinusForm__input-right-margin">
									<label class="joinusForm__label"> Any additional information </label>
									<textarea id="any-additional-info" name="additionalInfo" class="joinusForm__input-additional-text " rows="4" cols="50"></textarea>
								</div>
							</div>
						</div>

						<div class="flex-column">

							<div class="joinusForm__submit-button text-center">
								<input type="submit" id="feedbackSubmitForm" class="joinusForm__button btn" value="SUBMIT"/> 

							</div>
						</div>




					</form>
					<div id="feedbackSuccessMsg" class="alert hide">Your Feedback is successfully submitted</div>
				</div>


			</div>

		</div>

	</div>



	<div id="video" class="youtube modal feedback-modal pos-abs flex-column hide">

	        <div class="modal__body pos-rel">
	        	<div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
	                <i id="stop-cross" class="pos-rel icon-cross"></i>
	       		 </div>
	        	<iframe id="youtube_player" class="youtube__youtubeVideo pos-rel" width="800" height="500" src="https://www.youtube.com/embed/98I_ryJ_bWE?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen allowscriptaccess="always" ></iframe>
	        </div>
    </div>

</div>



{% endblock %}
