{% extends "root-mobile.html" %} {% load url_tag %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

<div class="home-page">
    {% if referral_msg %}
    <div class="deals">
        <p class="deals__text">
            {{referral_msg}}
        </p>
    </div>
    {% endif %}
    {% if landing_banner %}
    <div class="deals">
        <span class="deals__icon">
            <i class="icon-deals"></i>
        </span>
        {% if landing_banner.landingurl %}
        <a class="banner-carousel__item flex-row" href="{{landing_banner.landingurl}}">
            <p class="deals__text">
                {{landing_banner.title}}
            </p>
        </a>
        {% else %}
        <p class="deals__text">
            {{landing_banner.title}}
        </p>
        {% endif %}
    </div>
    {% endif %}

    {# include "mobile/includes/searchWidget.html" #}
    <div class="container search-box">
        <h2 class="search-box__header text-center">BOOK A TREEBO!</h2>
        <form class="row form pos-rel">
            <div id="searchLoader" class="loader-container loader-container--inline hide initial-load">
                <div class="loader-box v-center">
                    <div class="sk-fading-circle small">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                </div>
            </div>
            {% if cities %}
            <div class="form__group search-input-cont">
                <select class="form__control" id="searchInput">
                    {% for city in cities %}
                    <option>{{city.name}}</option>
                    {% endfor %}
                </select>
                <label class="form__label">Select City</label>
            </div>
            {% endif %}
            <div id="calendar" class="search-box__calendar daterange daterange--double"></div>
            <div id="guestNRoomWidget" class="search-box__room-widget room-widget-container pos-rel"></div>
            {%  if room_types %}
            <div class="form__group">
                <select class="form__control" id="roomType">
                    {% for room in room_types %}
                    <option value="{{room.room_type}}">
                        {{room.room_type}}
                        <!-- (&#8377;{{room.price_per_night|floatformat:"0"}} per night) -->
                    </option>
                    {% endfor %}
                </select>
                <label class="form__label">Room Type</label>
                <div class="form__help-block form__help-block--error hide room__error__container">
                    <div class="form__help-text room__error">
                        <i class="icon-alert"></i>
                        <span class="room__error-text"></span>
                    </div>
                </div>
            </div>
            {% endif %}
            <button type="button" class="btn btn--block search-box__submit" id="searchSubmitBtn" name="button">SEARCH</button>
        </form>
    </div>
    {# include "mobile/includes/searchWidget.html" #}

    <div class="find-treebo">
        <h3 class="find-treebo__title text-center">
            WE ARE NOW PRESENT IN {{ cityDetails|length }} CITIES.
        </h3>
        <ul class="find-treebo__list row">
            {% for city in cityDetails %}
            <li class="find-treebo__list-item col">
                <a href="{{city.url}}" class="find-treebo__btn btn btn--secondary btn--block">
                    <div class="find-treebo__name">{{city.name}}</div>
                    <!--<small class="rfloat">{{ city.hotelCount }}</small>-->
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="spotlight">
        <h2 class="spotlight__title text-center">SPOTLIGHT</h2>
        <ul class="spotlight__list">
            {% for item in marketing_block.layout.items %}
            <li class="spotlight__list-item home-card">
                <a class="spotlight__link" href="{{item.target_url}}">
                    <div class="home-card__img">
                        <img src="{{item.image_url}}" alt="">
                    </div>
                    <div class="home-card__details">
                        <h3 class="home-card__title">{{item.title}}</h3>
                        <p class="home-card__desc">
                            {{item.text}}
                        </p>
                        <div class="home-card__link treebo-color anchor">Know more</div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "//www.treebo.com/",
  "logo" : "http://blog.treebohotels.com/wp-content/themes/treebo_theme/images/new_logo.png?v=2",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+91-9322800100",
    "contactType" : "Reservations"
  }]

}

</script>

<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "//www.treebo.com/",
   "potentialAction": {
   "@type": "SearchAction",
     "target": "//www.treebo.com/search/?query={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>

<script type="application/ld+json">
{	"@context" : "http://schema.org",
	"@type" : "Organization",
	"name" : "Treebo Hotels",
	"url" : "https://www.treebo.com/",
	"sameAs" : [
	"https://www.facebook.com/treebohotels",
	"https://twitter.com/TreeboHotels",
	"https://www.instagram.com/treebo_hotels/",
	"https://plus.google.com/105788078549969258020",
	"https://www.linkedin.com/company/treebo-hotels/"
	]
}

</script>


{% endblock %}
