{% load url_tag %} {% load url_hashifier %}
<!-- <div id="homeSearch" class="text-center block ph">
    <div class="v-center ">
        <h2 class="welcome-title mb10">Affordable Luxury. Guaranteed!</h2>
        <h4 class="welcome-intro mb10">Experience the great hospitality with wide variety of our standard hotels</h4>
        <div id="searchBox" class="hand search-input-box pos-rel mt20 analytics_search_bar">Search by city, address or locality <i class="hand icon icon-search fa fa-search pos-abs"></i></div>
    </div>
</div> -->
