{% extends "fot-root-mobile.html" %} {% load url_tag %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

{% if isSignup or request.session.isAuthenticated %}
	<div class="signup-steps" id="progressBar">
	    <a href="/fot" class="back js-back-link sub-heading signup-steps__heading">
	        <i class="icon-back"></i> Back
	    </a>
	    <ul class="signup-steps__indicator">
	        <li class="signup-steps__indicator__item active">1</li>
	        <li class="signup-steps__indicator__item">2</li>
	        <li class="signup-steps__indicator__item">3</li>
	        {% if not request.user.is_authenticated %}
	        <li class="signup-steps__indicator__item">4</li>
	        {% endif %}
	    </ul>
	</div>
{% endif %}

<div class="container">
	<div class="signupPage">
		<div class="signupInfo {% if isSignup or request.session.isAuthenticated %} hide {% else %} step step-1 {% endif %}">
			<div>
				<div class="signupPage__header">
					<div class="signupPage__heading">SIGN UP FOR FRIENDS OF TREEBO</div>
					<div class="signupPage__desc">Join India’s most enthusiastic community of travellers. Sign-up below to start traveling for free.</div>
				</div>
			</div>

			<input id="fotSignup" type="hidden" name="city" value="{{isFotSignup}}">
			<input id="isAuthenticate" type="hidden" name="authentication" value="{{request.session.isAuthenticated}}">

			<div class="signup-page">
				<div class="accordion signup-page__section ">
					<div class="pos-rel signup-page__header">
						<div class="signup-page__heading-text">
							<div class="signup-page__numbering">1</div> <div class="signup-page__signup-text">SIGN UP DETAIL</div>
						</div>
					</div>

					<div class="signup-page__enter-detail">
						<form class="signup-detail-form">
							<div class="fot-form">
								<label class="fot-form__label">Name *</label>
							    <input id="userName" name="user" pattern=".+" type="text" class="fot-form__input fot-form__border mr20" required="true" value="{{personalDetails.name}}"
						 		data-parsley-required="true"
		                 	    data-parsley-trigger="change"
		                 	    data-parsley-type-message="Enter FOT user name"
		                  	    data-parsley-required-message="Please enter FOT user name here."/>

							</div>

							<div class="fot-form">
								<label class="fot-form__label">Email ID *</label>
						   		<input id="email" name="email" type="email"  class="fot-form__input fot-form__border" required="true"
						    	value="{{personalDetails.email}}" data-parsley-type="email"
		                    	data-parsley-trigger="change"
		                    	data-parsley-type-message="Enter valid email"
		                    	data-parsley-required-message="Please enter a valid email address."
		                    	/>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Contact Number *</label>
						    	<input id="mobile" name="mobile" type="number" class="fot-form__input fot-form__border" required="true" value="{{personalDetails.phone}}"
						    	data-parsley-type="number"
		                    	data-parsley-trigger="change"
		                    	data-parsley-type-message="Enter valid mobile number"
		                    	data-parsley-required-message="Please enter valid mobile number."
		                    	data-parsley-minlength="10"
		                    	data-parsley-maxlength="10"
		                    	data-parsley-minlength-message="The value is too short. It should have 10 characters."
		                    	data-parsley-maxlength-message="The value is too long. It should have 10 characters." />
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Password *</label>
								<input id="pwd" type="password" name="password" class="fot-form__input" required="true"
							 		data-parsley-required="true"
			                    	data-parsley-trigger="change"
			                    	data-parsley-type-message="Enter valid password"
			                    	data-parsley-required-message="Please enter a valid password."
			                    	data-parsley-minlength="6"/>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Confirm Password *</label>
								<input id="confirmPwd" type="password" name="confirm-password" class="fot-form__input" required="true"
									data-parsley-equalto="#pwd"
							 		data-parsley-required="true"
			                    	data-parsley-trigger="change"
			                    	data-parsley-type-message="Enter valid password"
			                    	data-parsley-required-message="Oops! This value does not match your new password."
			                    	data-parsley-minlength="6"/>
							</div>

							<div class="">
								<input id="signupSubmit" type="submit" class="btn fot-form__continue submit" value="Continue"/>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="test-user-detail">
				<div class="accordion signup-page__section {% if isSignup or request.session.isAuthenticated %} step step-1 {% else %}step step-2 hide {% endif %}">
					<div class="pos-rel signup-page__header">
						<div class="signup-page__heading-text ">
							<div class="signup-page__numbering">{% if isSignup or request.session.isAuthenticated %}1 {% else %} 2 {% endif %}</div> <div class="signup-page__signup-text">PERSONAL INFORMATION</div>
						</div>
					</div>
					<form id="testFormOne" class="test-form">
						<div id="personal-info" class="signup-page__enter-detail">
							<div class="signup-page__desc">
								Please answer the questions below. Your information will be kept confidential and will not be shared with anyone.
							</div>
							<div class="fot-form">
								<label class="fot-form__label">Current Address *</label>
							    <input id="address" name="address" type="text" class="fot-form__input" required="true"
						 		data-parsley-required="true"
		                    	data-parsley-trigger="change"
		                    	data-parsley-type-message="Enter valid info"
		                    	data-parsley-required-message="Please enter your address here.">
							</div>

							<div class="fot-form">
								<div>
									<label class="fot-form__label">Resident city *</label>
								</div>
								<div class="fot-form__cities">
								    <select id="cityList" name="city" class="fot-form__input-city" required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-required-message="Please enter your city here.">
		 								<option value="Agra">Agra</option>
										<option value="Ahmedabad">Ahmedabad</option>
										<option value="Ajmer">Ajmer</option>
										<option value="Alappuzha">Alappuzha</option>
										<option value="Alibag">Alibag</option>
										<option value="Allahabad">Allahabad</option>
										<option value="Alwar">Alwar</option>
										<option value="Ambala">Ambala</option>
										<option value="Amritsar">Amritsar</option>
										<option value="Anand">Anand</option>
										<option value="Ankleshwar">Ankleshwar</option>
										<option value="Aurangabad">Aurangabad</option>
										<option value="Baddi">Baddi</option>
										<option value="Bangalore">Bangalore</option>
										<option value="Baramati">Baramati</option>
										<option value="Bareilly">Bareilly</option>
										<option value="Bathinda">Bathinda</option>
										<option value="Bharuch">Bharuch</option>
										<option value="Bhavnagar">Bhavnagar</option>
										<option value="Bhilai">Bhilai</option>
										<option value="Bhilwara">Bhilwara</option>
										<option value="Bhiwadi">Bhiwadi</option>
										<option value="Bhopal">Bhopal</option>
										<option value="Bhubaneswar">Bhubaneswar</option>
										<option value="Bikaner">Bikaner</option>
										<option value="Bodhgaya">Bodhgaya</option>
										<option value="Calicut">Calicut</option>
										<option value="Chandigarh">Chandigarh</option>
										<option value="Chennai">Chennai</option>
										<option value="Chittorgarh">Chittorgarh</option>
										<option value="Coimbatore">Coimbatore</option>
										<option value="Coonoor">Coonoor</option>
										<option value="Coorg">Coorg</option>
										<option value="Corbett Ramnagar">Corbett Ramnagar</option>
										<option value="Cuttack">Cuttack</option>
										<option value="DIU">DIU</option>
										<option value="Dahej">Dahej</option>
										<option value="Dalhousie">Dalhousie</option>
										<option value="Daman">Daman</option>
										<option value="Darjeeling">Darjeeling</option>
										<option value="Dehradun">Dehradun</option>
										<option value="Delhi">Delhi</option>
										<option value="Deoghar">Deoghar</option>
										<option value="Dewas">Dewas</option>
										<option value="Dharamshala">Dharamshala</option>
										<option value="Digha">Digha</option>
										<option value="Dwarka">Dwarka</option>
										<option value="Faridabad">Faridabad</option>
										<option value="Gandhidham">Gandhidham</option>
										<option value="Gandhinagar">Gandhinagar</option>
										<option value="Gangtok">Gangtok</option>
										<option value="Ghaziabad">Ghaziabad</option>
										<option value="Gir">Gir</option>
										<option value="Goa">Goa</option>
										<option value="Gorakhpur">Gorakhpur</option>
										<option value="Gurgaon">Gurgaon</option>
										<option value="Guruvayur">Guruvayur</option>
										<option value="Guwahati">Guwahati</option>
										<option value="Gwalior">Gwalior</option>
										<option value="Haldwani">Haldwani</option>
										<option value="Haridwar">Haridwar</option>
										<option value="Himatnagar">Himatnagar</option>
										<option value="Hisar">Hisar</option>
										<option value="Hubli Dharwad">Hubli Dharwad</option>
										<option value="Hyderabad">Hyderabad</option>
										<option value="Indore">Indore</option>
										<option value="Jabalpur">Jabalpur</option>
										<option value="Jaipur">Jaipur</option>
										<option value="Jaisalmer">Jaisalmer</option>
										<option value="Jalandhar">Jalandhar</option>
										<option value="Jammu">Jammu</option>
										<option value="Jamnagar">Jamnagar</option>
										<option value="Jamshedpur">Jamshedpur</option>
										<option value="Jhansi">Jhansi</option>
										<option value="Jodhpur">Jodhpur</option>
										<option value="Kakinada">Kakinada</option>
										<option value="Kannur">Kannur</option>
										<option value="Kanpur">Kanpur</option>
										<option value="Kanyakumari">Kanyakumari</option>
										<option value="Karnal">Karnal</option>
										<option value="Karwar">Karwar</option>
										<option value="Kasauli">Kasauli</option>
										<option value="Kashipur">Kashipur</option>
										<option value="Kasol">Kasol</option>
										<option value="Katra">Katra</option>
										<option value="Kausani">Kausani</option>
										<option value="Kaziranga">Kaziranga</option>
										<option value="Khajuraho">Khajuraho</option>
										<option value="Khandala">Khandala</option>
										<option value="Kochi">Kochi</option>
										<option value="Kodaikanal">Kodaikanal</option>
										<option value="Kolhapur">Kolhapur</option>
										<option value="Kolkata">Kolkata</option>
										<option value="Kollam">Kollam</option>
										<option value="Kota">Kota</option>
										<option value="Kovalam">Kovalam</option>
										<option value="Kuala Lumpur">Kuala Lumpur</option>
										<option value="Kumarakom">Kumarakom</option>
										<option value="Kumbakonam">Kumbakonam</option>
										<option value="Kurnool">Kurnool</option>
										<option value="Lavasa">Lavasa</option>
										<option value="Leh Ladakh">Leh Ladakh</option>
										<option value="Lonavala">Lonavala</option>
										<option value="Lucknow">Lucknow</option>
										<option value="Ludhiana">Ludhiana</option>
										<option value="Madurai">Madurai</option>
										<option value="Mahabaleshwar">Mahabaleshwar</option>
										<option value="Malacca">Malacca</option>
										<option value="Manali">Manali</option>
										<option value="Mandarmoni">Mandarmoni</option>
										<option value="Mangalore">Mangalore</option>
										<option value="Matheran">Matheran</option>
										<option value="Mathura">Mathura</option>
										<option value="Mcleod Ganj">Mcleod Ganj</option>
										<option value="Meerut">Meerut</option>
										<option value="Mirik">Mirik</option>
										<option value="Mount Abu">Mount Abu</option>
										<option value="Mukteshwar">Mukteshwar</option>
										<option value="Mumbai">Mumbai</option>
										<option value="Mundra">Mundra</option>
										<option value="Munnar">Munnar</option>
										<option value="Mussoorie">Mussoorie</option>
										<option value="Mysore">Mysore</option>
										<option value="Nagpur">Nagpur</option>
										<option value="Nainital">Nainital</option>
										<option value="Nashik">Nashik</option>
										<option value="Nathdwara">Nathdwara</option>
										<option value="Neemrana">Neemrana</option>
										<option value="Nellore">Nellore</option>
										<option value="Noida">Noida</option>
										<option value="Ooty">Ooty</option>
										<option value="Orchha">Orchha</option>
										<option value="Pachmarhi">Pachmarhi</option>
										<option value="Pahalgam">Pahalgam</option>
										<option value="Panipat">Panipat</option>
										<option value="Paradip">Paradip</option>
										<option value="Patiala">Patiala</option>
										<option value="Patna">Patna</option>
										<option value="Penang Island">Penang Island</option>
										<option value="Petaling Jaya">Petaling Jaya</option>
										<option value="Pinjore">Pinjore</option>
										<option value="Pondicherry">Pondicherry</option>
										<option value="Porbandar">Porbandar</option>
										<option value="Pune">Pune</option>
										<option value="Puri">Puri</option>
										<option value="Pushkar">Pushkar</option>
										<option value="Pushpagiri">Pushpagiri</option>
										<option value="Raipur">Raipur</option>
										<option value="Rajahmundry">Rajahmundry</option>
										<option value="Rajkot">Rajkot</option>
										<option value="Rameshwaram">Rameshwaram</option>
										<option value="Ranchi">Ranchi</option>
										<option value="Ranikhet">Ranikhet</option>
										<option value="Ranthambore">Ranthambore</option>
										<option value="Ratnagiri">Ratnagiri</option>
										<option value="Rewari">Rewari</option>
										<option value="Rishikesh">Rishikesh</option>
										<option value="Rohtak">Rohtak</option>
										<option value="Rudrapur">Rudrapur</option>
										<option value="Salem">Salem</option>
										<option value="Sangli">Sangli</option>
										<option value="Shah Alam">Shah Alam</option>
										<option value="Shantiniketan">Shantiniketan</option>
										<option value="Shillong">Shillong</option>
										<option value="Shimla">Shimla</option>
										<option value="Shirdi">Shirdi</option>
										<option value="Siliguri">Siliguri</option>
										<option value="Somnath">Somnath</option>
										<option value="Sonipat">Sonipat</option>
										<option value="Srinagar">Srinagar</option>
										<option value="Surat">Surat</option>
										<option value="Surathkal">Surathkal</option>
										<option value="Thanjavur">Thanjavur</option>
										<option value="Thrissur">Thrissur</option>
										<option value="Tirupati">Tirupati</option>
										<option value="Trichy">Trichy</option>
										<option value="Trivandrum">Trivandrum</option>
										<option value="Udaipur">Udaipur</option>
										<option value="Udupi Manipal">Udupi Manipal</option>
										<option value="Ujjain">Ujjain</option>
										<option value="Vadodara">Vadodara</option>
										<option value="Vapi">Vapi</option>
										<option value="Varanasi">Varanasi</option>
										<option value="Varkala">Varkala</option>
										<option value="Vellore">Vellore</option>
										<option value="Vijayawada">Vijayawada</option>
										<option value="Visakhapatnam">Visakhapatnam</option>
										<option value="Vrindavan">Vrindavan</option>
										<option value="Warangal">Warangal</option>
										<option value="Wayanad">Wayanad</option>
									</select>
							    </div>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Marital Status *</label><br>
								<div id="marital-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="marital-status" class="fot-form__checkbox-input" value="Married (With Kids)"
										required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-error-message="Please select your marital status."
										data-parsley-errors-container="#marital-errors">Married (With Kids)
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="marital-status" class="fot-form__checkbox-input" value="Married">Married
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="marital-status" class="fot-form__checkbox-input" value="Single">Single
									</label>
								</div>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Social profile (Facebook, Twitter, TripAdvisor etc.)</label>
							    <input id="socialProfile" name="social-web-profile" type="text" class="fot-form__input fot-form__border"/>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Select the assets you own</label><br>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" name="assets" class="fot-form__checkbox-input" value="phone">Smartphone
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" name="assets" class="fot-form__checkbox-input" value="bike">Bike
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" name="assets" class="fot-form__checkbox-input" value="laptop">Laptop
									</label>
								</div>

								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" name="assets" class="fot-form__checkbox-input" value="car">Car
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" name="assets" class="fot-form__checkbox-input" value="home">Home
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div>
									<label class="fot-form__label">Which of the following best describes your occupation? *</label>
								</div>
								<div class="">
								    <select id="profession" name="profession" class="fot-form__input-city" required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-error-message="Please select your occupation.">
		 								<option value="Education">Education</option>
		 								<option value="Art and Entertainment">Art and Entertainment</option>
		 								<option value="Legal">Legal</option>
		 								<option value="Healthcare">Healthcare</option>
		 								<option value="Media">Media</option>
		 								<option value="Agriculture">Agriculture</option>
		 								<option value="Social Service">Social Service</option>
		 								<option value="Engineering Services">Engineering Services</option>
		 								<option value="Banking and Financial Services">Banking and Financial Services</option>
		 								<option value="Hospitality">Hospitality</option>
		 								<option value="Food">Food</option>
		 								<option value="Construction">Construction</option>
		 								<option value="Travel and Transport">Travel and Transport</option>
		 								<option value="Sportsperson">Sportsperson</option>
		 								<option value="Student">Student</option>
		 								<option value="Homemaker">Homemaker</option>
		 								<option value="Others">Others</option>
									</select>
							    </div>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">How many audits are you likely to conduct in a month? *</label><br>
								<div id="audits-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="audit-duration" class="fot-form__checkbox-input" value="week" required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-error-message="You forgot to answer this question :)"
				                    	data-parsley-errors-container="#audits-errors">Once a week
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="audit-duration" class="fot-form__checkbox-input" value="fortnight">Once a fortnight
									</label>
								</div>

								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="audit-duration" class="fot-form__checkbox-input" value="month">Once a month
									</label>
								</div>

								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="audit-duration" class="fot-form__checkbox-input" value="travel">Only on planned travels
									</label>
								</div>
							</div>
							<div class="">
								<input id="" type="button" class="next btn fot-form__continue" value="Continue"/>
							</div>
						</div>
					</form>
				</div>

				<div class="accordion signup-page__section {% if isSignup or request.session.isAuthenticated %} step step-2 {% else %}step step-3{% endif %} hide">
					<div class="signup-page__header">
						<div class="signup-page__heading-text">
							<div class="signup-page__numbering">{% if isSignup or request.session.isAuthenticated %} 2 {% else %} 3 {% endif %}</div> <div class="signup-page__signup-text">PROBLEM SOLVING</div>
						</div>
<!-- 						<div class="accordion text-center signup-edit-action accordion__action signup-page__edit-info hide pos-abs"> EDIT </div> -->
					</div>
					<form id="testFormTwo" class="test-form">
						<div class="signup-page__enter-detail">
							<div class="signup-page__desc">Please take a moment to answer the questions below. <b>There are no right or wrong answers.</b> We are just trying to evaluate your problem solving skills.</div>
							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">1.</div>
									<div>
										<label class="fot-form__label">What would you do if you find rats in a room you just checked in? *</label>
									</div>
								</div>
								<div id="3_1-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_1" class="fot-form__checkbox-input" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_1-errors">Get the room cleaned and give feedback to the hotel manager.
									</label>
								</div>

								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_1" class="fot-form__checkbox-input" value="B">Request for a change of room and shift to a new hotel next day
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_1" class="fot-form__checkbox-input" value="C">Request for a change of room and write a review on Tripadvisor.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_1" class="fot-form__checkbox-input" value="D">Won’t bother much. You are prepared to face such issues during travel.
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">2.</div>
									<div>
										<label class="fot-form__label">What would you do if you win a million Rupees in a lottery? *</label>
									</div>
								</div>
								<div id="3_2-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_2" class="fot-form__checkbox-input" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_2-errors">You will travel the world.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_2" class="fot-form__checkbox-input" value="B">You will spend on new adventures like scuba diving, bungee-jumping etc.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_2" class="fot-form__checkbox-input" value="C">You would donate a part of it, and buy gifts for friends and family.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_2" class="fot-form__checkbox-input" value="D">You will invest the money in real estate, debt or stocks.
									</label>
								</div>
							</div>

							<div class="fot-form hide">
								<div>
									<div class="fot-form__check">
										<label class="fot-form__answers">
											<input type="radio" name="3_3" class="fot-form__checkbox-input" checked value="C">10
										</label>
									</div>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">3.</div>
									<div>
										<label class="fot-form__label">You are on a beach in Goa. Your friend wants to go deep in the water. What would you do? *</label>
									</div>
								</div>
								<div id="3_4-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_4" class="fot-form__checkbox-input" value="A" required="true"
											data-parsley-required="true"
											data-parsley-trigger="change"
											data-parsley-type-message="Enter valid info"
											data-parsley-error-message="You forgot to answer this question :)"
											data-parsley-errors-container="#3_4-errors">You both will go a bit deep and then decide whether to go further.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_4" class="fot-form__checkbox-input" value="B">Who thinks this much? Lifeguards are always there for any mishap!
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_4" class="fot-form__checkbox-input" value="C">You'll ask your friend to wait till you go yourself and check.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_4" class="fot-form__checkbox-input" value="D">You'll be harsh and make him/her sit at the beach.
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">4.</div>
									<div>
										<label class="fot-form__label">You are stuck at a 3 minute long traffic signal with no Traffic at all. Your best friend is waiting for you. What would you do in this situation? *</label>
									</div>
								</div>
								<div id="3_5-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_5" class="fot-form__checkbox-input" value="A" required="true"
											data-parsley-required="true"
											data-parsley-trigger="change"
											data-parsley-type-message="Enter valid info"
											data-parsley-error-message="You forgot to answer this question :)"
											data-parsley-errors-container="#3_5-errors">Friendship is most important - you'll just cross the signal.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_5" class="fot-form__checkbox-input" value="B">You'll look around, and drive slowly if there is no traffic police at the signal.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_5" class="fot-form__checkbox-input" value="C">Yes it sucks, but you'll wait for the signal to turn green.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_5" class="fot-form__checkbox-input" value="D">You will wait at the signal, but call up your friend and tell him you would be late.
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">5.</div>
									<div>
										<label class="fot-form__label">You are to leave office for a friend’s party but the Boss asks you to stay back to work. How would you handle the situation? *</label>
									</div>
								</div>
								<div id="3_6-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_6" class="fot-form__checkbox-input" value="A" required="true"
											data-parsley-required="true"
											data-parsley-trigger="change"
											data-parsley-type-message="Enter valid info"
											data-parsley-error-message="You forgot to answer this question :)"
											data-parsley-errors-container="#3_6-errors">Staying back would be unprofessional.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_6" class="fot-form__checkbox-input" value="B">Politely inform your Boss that you would not be able to stay back.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_6" class="fot-form__checkbox-input" value="C">Negotiate with your Boss to complete the assignment after party / early next day.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_6" class="fot-form__checkbox-input" value="D">Stay back - because work comes first - and you would not join the party.
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">6.</div>
									<div>
										<label class="fot-form__label">Your  colleague asks you to lend him Rs.20,000 for a month. If you are not comfortable lending, what would you do? *</label>
									</div>
								</div>
								<div id="3_7-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_7" class="fot-form__checkbox-input" value="A" required="true"
											data-parsley-required="true"
											data-parsley-trigger="change"
											data-parsley-type-message="Enter valid info"
											data-parsley-error-message="You forgot to answer this question :)"
											data-parsley-errors-container="#3_7-errors">Lend him money. After all, he can’t run away with your money.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_7" class="fot-form__checkbox-input" value="B">Evaluate if his conduct and concern is genuine before lending him money.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_7" class="fot-form__checkbox-input" value="C">Diplomatically make an excuse that you are running low on funds.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="3_7" class="fot-form__checkbox-input" value="D">Honestly tell him that you can’t lend him money.
									</label>
								</div>
							</div>

							<div class="">
								<input id="" type="button" class="next btn fot-form__continue" value="Continue"/>
							</div>
						</div>
					</form>
				</div>

				<div class="accordion signup-page__section {% if isSignup or request.session.isAuthenticated %} step step-3 {% else %}step step-4 {% endif %} hide">
					<div class=" pos-rel signup-page__header">
						<div class="signup-page__heading-text ">
							<div class="signup-page__numbering">{% if isSignup or request.session.isAuthenticated %} 3 {% else %} 4 {% endif %}</div> <div class="signup-page__signup-text">ABOUT FRIENDS OF TREEBO</div>
						</div>
						<div class="accordion text-center signup-edit-action accordion__action signup-page__edit-info hide pos-abs"> EDIT </div>
					</div>
					<form id="testFormThree" class="test-form">
						<div class="signup-page__enter-detail">
							<div class="signup-page__desc">Tell us how much you understand the program. You can refer to our <a href="/faq/#fot" class="bold">FAQ</a> section here for more details.</div>
							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">1.</div>
									<div>
										<label class="fot-form__label">What documents do you need to check-in into the hotel? *</label>
									</div>
								</div>
								<div id="4_1-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_1" class="fot-form__checkbox-input" value="A" required="true"
											data-parsley-required="true"
											data-parsley-trigger="change"
											data-parsley-type-message="Enter valid info"
											data-parsley-error-message="You forgot to answer this question :)"
											data-parsley-errors-container="#4_1-errors">A photo based identity card issued by any Indian authority.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_1" class="fot-form__checkbox-input" value="B">A non-local photo based identity card, with address of a different state.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_1" class="fot-form__checkbox-input" value="C">Any valid address proof issued by a company or a university.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_1" class="fot-form__checkbox-input" value="D">You don’t need to present any photo based identity card.
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">2.</div>
									<div>
										<label class="fot-form__label">What is the maximum allowed time to submit the feedback after your audit stay? *</label>
									</div>
								</div>
								<div id="4_2-errors"></div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_2" class="fot-form__checkbox-input" value="A" required="true"
											data-parsley-required="true"
											data-parsley-trigger="change"
											data-parsley-type-message="Enter valid info"
											data-parsley-error-message="You forgot to answer this question :)"
											data-parsley-errors-container="#4_2-errors">On same day of check-out
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_2" class="fot-form__checkbox-input" value="B">Within 24 hours
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_2" class="fot-form__checkbox-input" value="C">Within 1 week of check-out
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="radio" name="4_2" class="fot-form__checkbox-input" value="D">Within 2 weeks after completing the audit
									</label>
								</div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">3.</div>
									<div>
										<label class="fot-form__label">Please describe your best travel experience till date.</label>
									</div>
								</div>
							    <textarea rows='2' cols='28' name="travel-experience" class="fot-form__textbox fot-form__border" value=""></textarea>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">4.</div>
									<div>
										<label class="fot-form__label">
											<p>Tell us something interesting about yourself.</p>
											<p>(Your hobbies, your special talents or anything interesting about your life.)</p></label>
									</div>
								</div>
							    <textarea rows='2' cols='28' name="about-yourself" class="fot-form__textbox fot-form__border" value=""></textarea>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">5.</div>
									<div>
										<label class="fot-form__label">Explain in at-least 50 words why do you want to be part of this program.</label>
									</div>
								</div>
							    <textarea rows='2' cols='28' name="why-treebo" class="fot-form__textbox fot-form__border" value=""></textarea>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">6.</div>
									<div>
										<label class="fot-form__label">Please tell us how did you get to know about the program?</label>
									</div>
								</div>
								<div id="4_6-errors"></div>
								<div class="select">
								    <select name="sourceWebsite" class="fot-form__profession" required="true"
									data-parsley-required="true"
									data-parsley-trigger="change"
									data-parsley-type-message="Enter valid info"
									data-parsley-error-message="You forgot to answer this question :)"
									data-parsley-errors-container="#4_6-errors">
								    	<option value="Facebook">Facebook</option>
		 								<option value="Twitter">Twitter</option>
		 								<option value="Treebo Website">Treebo Website</option>
		 								<option value="Internet">Internet</option>
		 								<option value="Friend">Friend</option>
		 								<option value="Others">Others</option>
									</select>
							    </div>
							</div>

							<div class="fot-form">
								<div class="">
									<div class="signup-page__ques-number">7.</div>
									<div>
										<label class="fot-form__label">If you were referred by a friend, please mention his/her name. (We may surprise your friend with some cool rewards.)</label>
									</div>
								</div>
							    <input type="text" name="friend-name" class="fot-form__input" value=""/>
							</div>

							<div class="signup-page__notification">Please read the details below and fill in the relevant checkboxes.</div>
							<div class="fot-form__terms-check">
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" id="ageCheck" name="age" class="fot-form__checkbox-input" value="18plus"
										required="true"
								 		data-parsley-required="true"
				                 	    data-parsley-trigger="change"
				                 	    data-parsley-type-message="Please Check it"
				                  	    data-parsley-required-message="You forgot to check this box :)">I am above 18 years of age.
									</label>
								</div>
								<div class="fot-form__check">
									<label class="fot-form__answers">
										<input type="checkbox" id="termsCheck"  name="terms" class="fot-form__checkbox-input" value="terms"
										required="true"
								 		data-parsley-required="true"
				                 	    data-parsley-trigger="change"
				                 	    data-parsley-type-message="Please Check it"
				                  	    data-parsley-required-message="You forgot to check this box :)">I agree to Friends of Treebo’s <a href="https://s3-ap-southeast-1.amazonaws.com/treebo/static/files/FOT_Termsandconditions.pdf" >terms and conditions</a>.
									</label>
								</div>
							</div>
							<div class="">
								<input id="testSubmit" type="button" class="btn fot-form__continue submit" value="Submit"/>
							</div>
						</div>
					</form>
				</div>
		</div>

		 <div id="signupSuccess" class="modal hide modal-container text-center box-shadow pos-rel">
            <div class="modal__header pos-fix signupPage__popup-header">CONGRATULATIONS!
            </div>
            <div class="modal__body">
            	<div class="signupPage__modal-popup">
	                <div class="signupPage__popup-subheading text-left">
	 					          Thanks for signing-up with Friends of Treebo
	                </div>

	                <div class="signupPage__popup-desc text-left">
	                    Congratulations! You have successfully created your account. Now take a short evaluation test to complete your registration. It won't take more than few minutes, so grab yourself a hot drink and let’s get started!
	                </div>
	            </div>

                <div>
                	<button id="continueToForm" type="button" class="btn center signupPage__popup-btn" name="button">Continue to Registration</button>
                </div>
            </div>
        </div>

		 <div id="signupFail" class="modal hide modal-container text-center box-shadow pos-rel">
            <div class="modal__header pos-fix signupPage__popup-header">OOOPS! WE ARE SORRY!
            </div>
            <div class="modal__body">
            	<div class="signupPage__modal-popup">
	                <div class="signupPage__popup-desc signupPage__signupfail-desc text-left">
	                    We cannot offer you audit slots at the moment. Please try to register again later. In case of any queries, please write to us at <a href="mailto:friends@treebohotels.com">friends@treebohotels.com</a>. You can always stay at a Treebo by booking online.
	                </div>
	            </div>
                <div>
		            <a href="/"><button id="redirectHomeBtn" type="button" class="btn signupPage__popup-btn" value="">BOOK A TREEBO HOTEL</button></a>
                </div>
            </div>
        </div>

		 <div id="alreadySignup" class="modal hide modal-container text-center box-shadow pos-rel">
            <div class="modal__header pos-fix signupPage__popup-header">OOOPS! WE ARE SORRY!
            </div>
            <div class="modal__body">
            	<div class="signupPage__modal-popup">
	                <div class="signupPage__popup-desc signupPage__signupfail-desc text-left">
	                    It seems that you are already signed up with given email OR phone number. Please try login.
	                </div>
	            </div>
                <div>
		            <a href="/fot/login/"><button id="alreadySignupLogin" class="btn signupPage__popup-btn">LOGIN</button></a>
                </div>
            </div>
        </div>

		 <div id="testSuccess" class="modal hide modal-container text-center box-shadow pos-rel">
            <div class="modal__header pos-fix signupPage__popup-header">WELCOME TO FRIENDS OF TREEBO
            </div>
            <div class="modal__body">
            	<div class="signupPage__modal-popup">
	                <div class="signupPage__popup-desc signupPage__signupfail-desc text-left">
	                    Congratulations! You have successfully completed the registration process. Now get started to the wonderful life of free traveling by scheduling your first audit.
	                </div>
	            </div>
                <div>
		            <a href="/fot/search"><button id="scheduleFirstAudit" class="btn signupPage__popup-btn">SCHEDULE YOUR FIRST AUDIT</button></a>
                </div>
            </div>
        </div>
		 <div id="testFail" class="modal hide modal-container text-center box-shadow pos-rel">
            <div class="modal__header pos-fix signupPage__popup-header">WE ARE SORRY!
            </div>
            <div class="modal__body">
            	<div class="signupPage__modal-popup">
	                <div class="signupPage__popup-desc signupPage__signupfail-desc text-left">
	                    Oops! It seems you did not clear the evaluation process and so we cannot offer you free stays. If you are still interested in becoming a Friend of Treebo, please write to us at <a href="mailto:friends@treebohotels.com">friends@treebohotels.com</a>. Or, you can always stay at a Treebo by booking online.
	                </div>
	            </div>
                <div>
		            <a href="/"><button id="booktreebo" type="button" class="btn signupPage__popup-btn" value="">BOOK A TREEBO HOTEL</button></a>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
