{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}
    <style type="text/css">
        label {
            display: block;
            font-size: 12px;
            font-weight: bold;
        }
        .hide {
            display: none !important;
        }

        .form-items {
            padding-left:15px;
            padding-top: 15px;
        }
        .input-field {
            width: 200px !important;
            padding-top: 7px;
        }
        .heading {
            font-size:16px;
            font-weight: 600;
            padding:20px 10px;
        }
        .btn {
            width:150px !important;
            height:30px !important;
            margin-top: 30px !important;
            margin-left: 20px !important;
            font-size:14px;
            font-weight: 500;
        }
    </style>
<div id="decideBulkCoupon">
    <p>Do you want to generate coupons in bulk?</p>
    <form id="isBulkForm">
        <input type="radio" name="coupon_bulk" value="yes"/> Yes<br>
        <input type="radio" name="coupon_bulk" value="no"/> No
    </form>
</div>

<div id="couponFormSection" class="hide">
    <p class="heading">Enter the coupon details here:</p>
    <form id="couponForm">
        <div id="total_coupon" class="hide form-items">
            <label for="male">Total Coupons</label>
            <input type="text" name="total_coupon" class="input-field"/>
        </div>

        <div id="custom_coupon" class="hide form-items">
            <label for="male">Custom Codes</label>
            <input type="text" name="custom_coupon" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Discount operation</label>
            <select name="discount_operation" class="input-field">
                <option value="fixed">Fixed</option>
                <option value="percentage">Percentage</option>
                <option value="night">Night</option>
                <option value="flatpernight">Flatpernight</option>
                <option value="flatcost">Flatcost</option>
            </select>
        </div>

        <div class="form-items">
            <label>Discount value</label>
            <input type="number" name="discount_value" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Series value</label>
            <input type="text" name="series_value" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Max available usages</label>
            <input type="number" name="max_available_usages" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Max available discount</label>
            <input type="number" name="max_available_discount" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Expiry</label>
            <input type="date" name="expiry" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Is Active</label>
            <input type="checkbox" name="is_active"/>
        </div>

        <div class="form-items">
            <label>Tagline</label>
            <input type="text" name="tagline" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Terms</label>
            <input type="text" name="terms" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Discount application</label>
            <select name="discount_application" class="input-field">
                <option value="0">Pretax</option>
                <option value="1">Posttax</option>
            </select>
        </div>

        <div class="form-items">
            <label>Coupon type</label>
            <select name="coupon_type" class="input-field">
                <option value="discount">Discount</option>
                <option value="cashback">Cashback</option>
                <option value="roomnights">Roomnights</option>
                <option value="voucher">Voucher</option>
            </select>
        </div>

        <div class="form-items">
            <label>Coupon message</label>
            <input type="text" name="coupon_message" value="Discount value" class="input-field"/>
        </div>

        <div class="form-items">
            <label>Is auto applicable</label>
            <input type="checkbox" name="is_auto_applicable"/>
        </div>

        <div class="form-items">
            <label>Is internal</label>
            <input type="checkbox" name="is_internal"/>
        </div>


        <div class="form-items">
            <label>Price component applicable</label>
            <select name="price_component_applicable" class="input-field">
                <option value="Sale Price">Sale Price</option>
                <option value="Rack Rate">Rack rate</option>
            </select>
        </div>
    </form>
    <input type="button" class="btn" value="Continue" id="continue"/>
</div>

<div id="decideConstraintCoupon" class="hide">
    <p>Do you want to add constraints on coupon?</p>
    <form id="isConstraintForm">
        <input type="radio" name="add_constraint" value="yes"/> Yes<br>
        <input type="radio" name="add_constraint" value="no"/> No
    </form>
</div>

    <div id="constraintFormSection" class="hide">
        <form id="constraintForm" class="hide">
            <p class="heading">Enter the constraint details here:</p>
            <p>Constraint : <span id="constraintNumber">1</span></p>
            <div class="form-items">
                <label>Keywords</label>
                <select name="keyword" required>
                    <option value="" selected="selected">---------</option>
                    <option value="hotel">hotel</option>
                    <option value="room">room</option>
                    <option value="user">user</option>
                    <option value="city">city</option>
                    <option value="corporate">corporate</option>
                    <option value="day">day</option>
                    <option value="week">week</option>
                    <option value="month">month</option>
                    <option value="year">year</option>
                    <option value="checkin">checkin</option>
                    <option value="checkout">checkout</option>
                    <option value="cartnight">cartnight</option>
                    <option value="cartcost">cartcost</option>
                    <option value="loggedin">loggedin</option>
                    <option value="bookingtime">bookingtime</option>
                    <option value="kidcount">kidcount</option>
                    <option value="adultcount">adultcount</option>
                    <option value="ntime">ntime</option>
                    <option value="paytype">paytype</option>
                    <option value="bookingchannel">bookingchannel</option>
                    <option value="utm_source">utm_source</option>
                    <option value="abw">abw</option>
                </select>
            </div>

        <div class="form-items">
            <label>Operation</label>
            <select name="operator" required>
                <option value="" selected="selected">---------</option>
                <option value="eq">eq</option>
                <option value="ls">ls</option>
                <option value="gr">gr</option>
                <option value="le">le</option>
                <option value="ge">ge</option>
                <option value="between">between</option>
                <option value="in">in</option>
                <option value="not_in">not_in</option>
                <option value="ne">ne</option>
                <option value="exclude_range">exclude_range</option>
            </select>
        </div>

        <div class="form-items">
            <label>Value One</label>
            <input type="text" name="value_one" class="input-field" required/>
        </div>

        <div class="form-items">
            <label>Value Two</label>
            <input type="text" name="value_two" class="input-field"/>
        </div>
    </form>
    <input type="button" class="btn hide" value="Add More" id="addMore"/>
    <input type="button" class="btn" value="Generate Coupon" id="generateCoupon"/>
</div>

<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            var counter = 1;
            var constraint_data = [];
            var coupon_payload = {};
            var add_constraint;
            $('#continue').click(function(e) {
                e.preventDefault();
                $('#couponFormSection').addClass('hide');
                $('#decideConstraintCoupon').removeClass('hide');
            });

            $('#isBulkForm input').on('change', function() {
                $('#decideBulkCoupon').addClass('hide');
                let coupon_bulk = $('input[name=coupon_bulk]:checked', '#isBulkForm').val();
                $('#couponFormSection').removeClass('hide');
                if (coupon_bulk == "yes") {
                    $('#total_coupon').removeClass('hide');
                } else if (coupon_bulk == "no") {
                    $('#custom_coupon').removeClass('hide');
                }
            });

             $('#isConstraintForm input').on('change', function() {
                $('#decideConstraintCoupon').addClass('hide');
                add_constraint = $('input[name=add_constraint]:checked', '#isConstraintForm').val();
                if (add_constraint == "yes") {
                    $('#constraintFormSection').removeClass('hide');
                    $('#constraintForm').removeClass('hide');
                    $('#addMore').removeClass('hide');
                } else if (add_constraint == "no") {
                    $('#constraintFormSection').removeClass('hide');
                }
            });

            $('#addMore').click(function(e) {
                counter++;
                $("#constraintNumber").text(counter);
                var data = {};
                $("#constraintForm").serializeArray().forEach((x) => {
                    data[x.name] = x.value;
                });
                constraint_data.push(data);
                $('#constraintForm')[0].reset();

                if (counter == 3) {
                    $('#addMore').addClass('hide');
                }
            });

            $('#generateCoupon').click(function(e) {
                var data = {};
                $("#constraintForm").serializeArray().forEach((x) => {
                    data[x.name] = x.value;
                });
                constraint_data.push(data);

                var coupon_data = {};
                $("#couponForm").serializeArray().forEach((x) => {
                    coupon_data[x.name] = x.value;
                });
                coupon_payload['constraints'] = JSON.stringify(add_constraint);
                coupon_payload['coupon_data'] = JSON.stringify(coupon_data);
                coupon_payload['constraint_data'] = JSON.stringify(constraint_data);
                $.ajax({
                    type: "GET",
                    url: "http://tools.treebohotels.com/api/v1/discount/createcoupon/",
                    data: coupon_payload,
                    success: function(data){
                        response_data = data.data;
                        if (response_data.status == "success") {
                            alert(response_data.msg);
                        } else if (response_data.status == "error") {
                            alert(response_data.msg);
                        }
                    },
                    error:function(data){
                        response_data = data.data;
                        alert(response_data.msg);
                    }
                });
            });


        });
    })(django.jQuery);
</script>
{% endblock %}

