{% extends "admin/base_site.html" %}
{% block content %}
<form action="{{action_url}}" enctype="multipart/form-data" method="post">

        {% csrf_token %}
        Choose the file to be uploaded: <INPUT type="file" name="auto_apply"><BR>
        <INPUT type="submit" value="Send"> <INPUT type="reset">

</form>
{% endblock %}