{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form action="{{ form_url }}" method="POST" enctype="multipart/form-data" id={{ opts.model_name }}_form novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{{ form.as_table }}
{% block submit_buttons_bottom %}
<div class="submit-row">
<input type="submit" value="{% trans 'Upload' %}" class="default" name="_save" />
</div>
{% endblock %}

</div>
</form>
</div>
{% endblock %}

