<div style="font-size:15px;">
	<div>Hey there!</div>


	<div style="margin-top:20px;">We are really sorry to inform you that your account is now blocked because you did not submit feedback for your last audit. You will not be able to schedule further audits, or redeem your free nights. If you think this has been a mistake, or if you want to submit your feedback now and unblock your account, please write to us at friends@treebohotels.com. We will get in touch with you shortly to sort things out.</div>

	<div style="margin-top:10px;">We understand that it feels bad to be out the community. Hundreds of members like you travel for free across 20+ cities in India, and enjoy so many other privileges of the program. We apologize for the inconvenience, and want to have you back with us really soon.</div>

	<div style="margin-top:20px;">Do reach out to us soon to unblock your account!</div>

<div style="margin-top:30px;">
	<div>Thanks</div>
	<div>Team Treebo</div>
</div>

</div>