<div style="font-size:15px;">
	<div>Hellooo!</div>

<div style="margin-top:20px;">Welcome back to the community! We all missed you really bad when you were gone. You are now free to schedule audits and redeem your hard earned credits. We don't want to see you go again ever. Please make sure to submit your feedback within 24 hours of check-out. And in case, your account gets blocked again due to some reason, feel free to reach out to us friends@treebohotel.com for any assistance.</div>

<div style="margin-top:10px;">Now back to unlimited travels! Schedule your next audit here: <a href="http://www.treebo.com/fot/" target="_blank">www.treebo.com/fot/</a></div>


<div style="margin-top:30px;">
	<div>Thanks</div>
	<div>Team Treebo</div>
</div>
</div>