<div style="font-size:15px;">
	<div>Hey <b>{{first_name}}</b>,</div>

	<div style="margin-top:20px;">We saw that you have cancelled your scheduled audit at <b>{{hotel_name}},{{city}}</b> which was scheduled to happen on <b>{{audit_date}}</b>.</div>

	<div style="margin-top:10px;">We understand that you have changed your travel plans.
	If you do have any queries, do feel free to reach out to us on friends@treebohotels.com.</div>

	<div style="margin-top:10px;">We look forward to hosting you at one of our hotels in your future travels.</div>

	<div style="margin-top:30px;">
		<div>Best Regards,</div>
		<div>Team Treebo</div>
	</div>

</div>