<div style="font-size:15px;">
	<div>Hey {{first_name}},</div>

	<div style="margin-top:20px;">Thank you so much for taking out time to conduct a mystery audit at <b>{{hotel_name}}</b> scheduled on <b>{{audit_date}}</b> . We really hope that you enjoy this process and have a very comfortable stay. As you plan your travel, do take a minute to read the following instructions carefully.</div>

	<div style="margin-top:10px;">Link to the feedback form: <a href="https://friendsoftreebo.typeform.com/to/XZ9H1f" target="_blank">https://friendsoftreebo.typeform.com/to/uZ2HFS</a><div>

	<div style="margin-top:10px;">Some things to keep in mind for a smooth check-in:</div>

	<div style="margin-top:10px; margin-left:20px;">
		<ol type="1">
			<li>You can check-in anytime after 12PM in the afternoon. Just go at the front desk, tell your name and show your photo ID card. The accompanying guests must also be carrying valid ID cards. Hotel reserves the right to admit or deny entry to unmarried couples.</li>

			<li>Driver's Licence, Aadhar Card, Passport & Voting ID card acceptable photo ID cards. Pan Card is not accepted. ID cards must not be issued by authority of same city where the hotel is.</li>

			<li>Please note that you should NOT DISCLOSE to anyone during your stay that you are a 'Friend of Treebo' and have come for an audit.</li>

			<li>You must NOT WRITE any review - positive or negative - on any review website/social media/travel portal/ regarding your audit stay.</li>

			<li>Hotel reserves the right to admit or deny entry to unmarried couples.</li>
		</ol>
	</div>


	<div style="margin-top:10px;">We take your feedback very seriously, and expect a high-quality audit from you. Here are some tips for conducting a great audit (Please read this carefully):</div>

	<div style="margin-top:10px; margin-left:20px;">
		<ol type="1">
			<li>Please quickly go through the form once before actual audit. We have shared the link with you below in the mail.</li>

			<li>Be very observant, and start noticing details even before you enter the hotel. Eg- Facade, Signage boards etc.</li>

			<li>Keep your eyes open about every detail in common areas like lobby and reception. Make sure to analyse every aspect of your stay when you are in room.</li>

			<li>Please ensure that you give a very candid feedback. Fill the remarks sections to justify your ratings. Along with feedback, you can also send the supporting photographs (for e.g.. photo of wall paint broken, dirt at bed corner, etc) to friends@treebohotels.com</li>

			<li>You should be able to complete you audit within 20-30 minutes. The best time to fill the feedback form is while you are in the room, or right after check-out.</li>

			<li>Don't forget to submit your feedback within 24 hours of check-out to earn credits. You may not be able to schedule further audits in future if you fail to submit your feedback on time.</li>

			<li>For any stay specific requirement, please call our customer support at 91-9322800100, or write to us at friends@treebohotels.com</li>
		</ol>
	</div>

	<div style="margin-top:10px;">
		<div>Please click here to open your feedback form:</div>
		<div><a href="https://friendsoftreebo.typeform.com/to/uZ2HFS" target="_blank">https://friendsoftreebo.typeform.com/to/uZ2HFS</a></div>
	<div>

	<div style="margin-top:20px;">
		<div>That's it from our side.</div>
		<div>Happy Auditing, and a very happy stay!</div>
	</div>


	<div style="margin-top:30px;">
		<div>Thanks</div>
		<div>Team Treebo</div>
	</div>
</div>