<div style="font-size:15px;">
	<div>Hey <b>{{first_name}}</b>,</div>

	<div style="margin-top:20px;">Hope your bags and packed, and you are all set for your next great adventure. We thought of reminding you about your upcoming audit tomorrow. Here are the details of the audit:</div>

	<div style="margin-top:10px; margin-left:30px;">
		<div>Date of audit: {{date_of_audit}}</div>

		<div>Name of hotel: {{hotel_name}},{{city}}</div>

		<div>Number of guests: {{no_of_guests}}</div>
	</div>

	<div style="margin-top:10px;">
		Here's a link to the feedback form for your easy reference: <a href="https://friendsoftreebo.typeform.com/to/uZ2HFS" target="_blank">https://friendsoftreebo.typeform.com/to/uZ2HFS</a>
	</div>
	<div style="margin-top:10px;">
		We are really wanting to see you with us tomorrow, but unfortunately if your travel plans have changed at the last moment, do cancel your booking now by logging into your account here: <a href="https://www.treebo.com/fot/" target="_blank">www.treebo.com/fot/</a>
	<div>

	<div style="margin-top:30px;">
		<div>Happy travel, and happy auditing!</div>
		<div>Team Treebo</div>
	</div>

</div>