<div style="font-size:15px;">
	<div>Hey,</div>

	<div style="margin-top:20px;">Great! You are done with your audit, and we are sure you have some very interesting findings to share. Your feedback keeps us on our toes, and helps us improve everyday. So please share your findings with us -  if you have not done so already - in the feedback form below.</div>

	<div style="margin-top:10px;">Please click on the link here to open the feedback form: <a href="https://friendsoftreebo.typeform.com/to/uZ2HFS" target="_blank">https://friendsoftreebo.typeform.com/to/uZ2HFS</a></div>

	<div style="margin-top:10px;">Don't forget to send us pics you clicked during your stay at friends@treebohotels.com. They make a huge difference!</div>

	<div style="margin-top:10px;">We just want to politely remind you to submit your feedback within 24 hours of check-out. Failing to do so can lead to blocking of your account. We really don't want that to happen, so do submit your feedback as early as possible. And hi-five if you have submitted your feedback already.</div>

	<div style="margin-top:30px;">
		<div>Happy travel, and happy auditing!</div>
		<div>Team Treebo</div>
	</div>
</div>