<div style="font-size:15px;">
	<div>Hello <span style="font-weight:bold;">{{first_name}}</span>!</div>


	<div style="margin-top:20px;">Congratulations on redeeming a voucher of Rs <span style="font-size:18px; font-weight:bold">{{rupees}}</span> from your hard earned credits.
                Your coupon code is <span style="font-size:18px; font-weight:bold">{{couponcode}}</span> and it is valid upto <span style="font-size:18px; font-weight:bold;">60</span> days. You need to make a normal booking from the Treebo website <a href="https://www.treebo.com" target="_blank">www.treebo.com</a> and apply the code at checkout to redeem your discount of Rs <span style="font-size:18px; font-weight:bold">{{rupees}}</span>.
    </div>

	<div style="margin-bottom:30px;">In case you are not able to use the coupon code due to some reason, feel free to reach out to us friends@treebohotels.com for any assistance.</div>

	<div style="margin-bottom:30px;">
		<div>Thanks</div>
		<div>Team Treebo</div>
	</div>
</div>
