<div style="font-size:15px;">
	<div>Hey <b>{{first_name}}</b>,</div>

	<div style="margin-top:20px;">We just received your feedback. Thank you so much for taking out the time to audit at <b>{{hotel_name}}</b>. Your feedback really matters, and help us improve everyday.</div>

	<div style="margin-top:10px;">We will be carefully evaluating your feedback in next few days. Although, we will not be able to share actions we have taken on your feedback individually, rest assured that every single bit of  information you provide has a huge impact. From time to time, we will share some interesting stories of your audit stays, and how they changed us for good.</div>

	<div style="margin-top:10px;">Thank you once again for your time and effort. We look forward to hosting you soon. Do schedule more audits with us here: <a href="https://www.treebo.com/fot/" target="_blank">www.treebo.com/fot/</a></div>

	<div style="margin-top:30px;">
		<div>Cheers,</div>
		<div>Team Treebo!</div>
	</div>
</div>