<div style="font-size:15px;">
	<div>Hey <b>{{first_name}}</b>!</div>

	<div style="margin-top:20px;">Thank you so much for signing-up for 'Friends of Treebo'. We are super excited to welcome you to our community, and we promise that it's going to be a very exciting, fulfilling and rewarding journey.</div>

	<div style="margin-top:10px;">But first things first. To get started, <b>join our Facebook group to stay updated with latest happenings and exciting stuff happening at Treebo. Click here to join:</b> <a href="https://www.facebook.com/groups/967534679980252/" target="_blank">https://www.facebook.com/groups/967534679980252/</a></div>

	<div style="margin-top:10px;">Once you have joined the group, <b>here's what you need to do to start traveling free:</b></div>
	<div style="margin-top:10px; margin-left:20px;">
		<div>Step 1: Visit our website at <a href="https://www.treebo.com/fot/" target="_blank">www.treebo.com/fot/</a> to schedule your first audit.</div>
		<div>Step 2: Select the city and hotel of your choice, and book an audit slot.</div>
		<div>Step 3: Plan your travel, and stay at Treebo hotel free of cost to conduct your audit.</div>
		<div>Step 4: Submit your audit report after completing your stay. And when you do that, you get an additional free night that you can redeem at any Treebo hotel anywhere in India. How cool is that!</div>
	</div>

	<div style="margin-top:10px;">
		We can't wait to host you. So pack your bags and schedule an audit. If you have any queries, write back to us at friends@treebohotels.com. We'd love to help.
	</div>

	<div style="margin-top:30px;">
		<div>Happy auditing!</div>
		<div>Team Treebo</div>
	</div>

</div>