<div style="font-size:15px;">
	<div>Hey <b>{{first_name}}</b>,</div>

	<div style="margin-top:20px;">Thank you so much for taking out time to register for 'Friends of Treebo'. Unfortunately, we cannot offer you a place in the program at the moment. Write to us at friends@treebohotels.com for further queries.</div>

	<div style="margin-top:10px;">Thank you once again for your giving us a bit of your valuable time. We really hope to host you soon at one our Treebo properties. And if you already planning your travels and looking for an accommodation, do <a href="https://www.treebo.com" target="_blank"><u>visit our website here</u></a> to check out some really cool hotels.</div>

	<div style="margin-top:30px;">
		<div>Thanks,</div>
		<div>Team Treebo</div>
	</div>

</div>