<div style="font-size:15px;">
	<div>Hey <b>{{first_name}}</b>!</div>

	<div style="margin-top:20px;">Thank you for signing up! You are just few steps away from becoming part of the India's largest community of enthusiastic travellers. If you have not completed your online evaluation, now is the time to do so. Don't worry, it won't take you more than few minutes.</div>

	<div style="margin-top:10px;">Click here to to complete your evaluation process and schedule your first audit: <a href="https://www.treebo.com/fot/signup" target="_blank">www.treebo.com/fot/signup</a></div>

	<div style="margin-top:30px;">
		<div>Thanks,</div>
		<div>Team Treebo</div>
	</div>

</div>