{% extends "root-desktop.html" %} {% block content %}
<div class="unavailable">
    <div class="flex-column container error-page">
        <img src="{% get_static_url %}desktop/images/new_404.png" alt="404 page" class="center img-responsive">
        <div class="unavailable__title">It looks like you are lost..</div>
        <div class="unavailable__info">The page you are looking for doesn't exist, here are some helpful links instead</div>
        <div class="unavailable__city-links flex-row">
            <span>Hotel in&nbsp;&nbsp;</span>
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Gurgaon" >Gurgaon</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Goa" >Goa</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Mysore" >Mysore</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Kolkata" >Kolkata</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Pune" >Pune</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Bengaluru" tabindex="0">Bengaluru</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Jaipur" tabindex="0">Jaipur</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Mumbai" tabindex="0">Mumbai</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=New Delhi" tabindex="0">New Delhi</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Chennai" tabindex="0">Chennai</a>,&nbsp;
            <a class="citylink" href="/search/?locality=&amp;lat=&amp;long=&amp;query=Hyderabad" >Hyderabad</a>
        </div>
    </div>
</div>
{% endblock %}
