{% load staticfiles %} {% load url_hashifier %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-signin-scope" content="email profile">
    <meta name="google-signin-client_id" content="639434118840-6v74lggr27nigdtvag387nkntd8scco1.apps.googleusercontent.com">

	<title>{% if seo.title %}{{ seo.title }}{% else %}A new age budget hotel brand present in {{ cities|length }} cities in India - Treebo Hotels{% endif %}</title>
    <link rel="icon" href="{% get_image_url %}images/favicon.ico?213" type="image/x-icon" /> {% include "desktop/includes/dnsprefetch.html" %} {% include "desktop/includes/meta.html" %} {% include "desktop/includes/basejsobj.html" %}
    <link rel="stylesheet" href="{% get_static_url %}{{ 'desktop/css/common.css'|hashify:'desktop'  }}"> {% include "desktop/includes/styles.html" %}

    {% include "desktop/includes/analytics.html" %}
</head>

<body pagename="{{  pageName | default:" default " }}">

    <div id="pageContainer" class="">
        {% if not pageName == "homePage" %}
        <div class="page__header header-container">
            {% include "desktop/includes/fotHeader.html" %}
        </div>
        {% endif%}
        <div class="page__content" id="content">
            {% block content %} HELLO TREEBO {% endblock content %}
        </div>
        {% if not cleanSlate %}
        <div class="page__footer">
            {% if footer == None or footer == True %} {% include "desktop/includes/footer.html" %} {% endif %}
        </div>
        {% endif%}
    </div>
    <div id="commonLoader" class="loader-container hide pos-fix">
        <div class="loader-box v-center">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
    <div id="commonModal" class="modal modal-container pos-abs hide flex-column">
        <div class="modal__body pos-rel">
            <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                <i class="icon-cross"></i>
            </div>
            <div class="js-common-modal-body">

            </div>

        </div>
    </div>



    <div id="feedback" class="modal feedback-modal pos-abs flex-column hide">

        <div class="modal__body feedback-modal__body pos-rel">
            <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                <i class="icon-cross"></i>
            </div>
            <div id="feedbackLoader" class="loader-container loader-container--inline hide">
                <div class="loader-box v-center">
                    <div class="sk-fading-circle small">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                </div>
            </div>

            <div id="messageLoader" class="loader-container loader-container--inline hide">
                <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
                    <i class="icon-cross"></i>
                </div>
                <div class="loader-box v-center">
                    <div class="feedbackMessage successMessage text-center hide">
                        <p class="feedbackMessage__head">Thank You!</p>
                        <p class="feedbackMessage__para">We have received your feedback. We will get in touch with you shortly.</p>
                    </div>

                    <div class="feedbackMessage failureMessage text-center hide">
                        <p class="feedbackMessage__head">Something went wrong!</p>
                        <p class="feedbackMessage__para">We couldn't receive your feedback. Please try again later.</p>
                    </div>
                </div>
            </div>
            <div class="modal__header">FEEDBACK</div>
            <div class="feedback-modal__title"> No place for untold disappointment or unshared joy between friends. Please tell us how we can get better at serving you.</div>
            <form class="" id="feedbackForm">
                <div class="float-labels">
                    <input type="text" name="name" pattern=".+" id="feedbackName" required="" class="float-labels__input" placeholder="Enter Name" value="{{ request.user.first_name }}" data-parsley-required="true" data-parsley-required-message="Please enter your name here">

                    <label class="float-labels__label">Name</label>
                </div>
                <div class="float-labels">
                    <input type="text" name="email" pattern=".+" required="true" id="feedbackEmail" class="float-labels__input" placeholder="Email id" value="{{ request.user.email}}" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email"
                        data-parsley-required-message="Please enter a valid email address ">
                    <label class="float-labels__label">Email</label>
                </div>
                <div class="float-labels">
                    <textarea name="message" pattern=".+" required="" id="feedbackcomments" class="float-labels__input float-labels__input--textarea" placeholder="Write your message here" data-parsley-required="true" data-parsley-required-message="Don't forget to give your feedback"></textarea>
                    <label class="float-labels__label">Message</label>
                </div>
                <div class="modal__action flex-row">
                    <button type="submit" name="button" id="feedbackSubmit" class="feedback-modal__action--save btn btn--round">Submit</button>
                    <button type="button" name="button" id="feedbackCancel" class="feedback-modal__action--cancel btn btn--round btn--secondary">Cancel</button>
                </div>
            </form>
            <div id="feedbackSuccessMsg" class="feedback-modal__success alert alert--success">Your Feedback is successfully submitted</div>
        </div>
    </div>


    <div id="price-detail" class="modal feedback-modal pos-abs flex-column hide">
    </div>
    <!-- {% if not cleanSlate %}
    <div class="feedback-invoker hand feedback">
        <span><i class="icon-feedback-icon"></i>Feedback</span>
    </div>
    {% endif%} -->

    <div class="auth hide">
        <div class="login flex-row hide" id="loginPopup">
            <div class="auth__img">
                <img data-original="{% get_static_url %}desktop/images/login.jpg" class="tree-lazy" height="100%">
            </div>
            <div class="login__form flex-column text-center pos-rel">
                <div class="js-login-loader loader-container loader-container--inline hide">
                    <div class="loader-box v-center">
                        <div class="sk-fading-circle small">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                    </div>
                </div>
                <h2 class="mb20 login__darktxt">
                    FOT LOGIN
                </h2>
                <div class="login__error error"></div>
                <form id="popup-login-form" action "/login">
                    <div class="float-labels">
                        <input class="float-labels__input login__full" type="email" pattern=".+" value="" placeholder="Email" required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email" data-parsley-required-message="Please enter a valid email address"
                        />
                        <label class="float-labels__label">Email</label>
                    </div>
                    <div class="login__full float-labels">
                        <input class="float-labels__input login__full" type="password" pattern=".+" value="" placeholder="Password" required="true" data-parsley-minlength="6" data-parsley-required-message="Oops! You forgot to enter your password" />
                        <label class="float-labels__label">Password</label>
                    </div>
                    <button type="submit" class="js-login-btn btn mt10 login__button login__full" />LOGIN</button>

                </form>

                <div class="flex-row flex--space-between mt10 mb10 forget-password-link">
                    <a class="login__mintxt anchor js-forgot-link analytics-forgot" href="javascript:void(1);">Forgot Password?</a>
                </div>

                <div class="mb30">
                    OR
                </div>
                <div class="flex-row">
                    <button class="btn btn--facebook js-fblogin">
                        <div class="btn__flex-wrapper"><i class="icon-fb"></i><span class="social-pipe">|</span><span>LOGIN</span></div>
                    </button>
                    <button class="btn btn--google js-google-login" id="googleSignIn">
                        <div class="btn__flex-wrapper"><i class="icon-google"></i><span class="social-pipe">|</span><span>LOGIN</span></div>
                    </button>
                </div>

                <div class="pos-abs login__newtotreebo">
                    New to Friends of Treebo? <a class="anchor" href="/fot/signup">Signup</a>
                </div>
            </div>
        </div>



        <div class="forgot flex-row hide">
            <div class="auth__img">
               <img data-original="{% get_static_url %}desktop/images/login.jpg" src=""  class="tree-lazy" height="100%">
            </div>
            <div class="forgot__form flex-column text-center pos-rel">
                <div class="js-fp-loader loader-container loader-container--inline hide">
                    <div class="loader-box v-center">
                        <div class="sk-fading-circle small">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                    </div>
                </div>
                <h2 class="mb30 login__darktxt">
                    RESET PASSWORD
                </h2>

                <p class="desc text-left mb20">
                    Enter the email address associated with your account, and we will email you a link to reset your password.
                </p>
                <div class="forgot__error error"></div>
                <form id="popup-forgot-form">

                    <div class="float-labels mb20">
                        <input class="float-labels__input forgot__full" pattern=".+" type="email" value="" placeholder="Email" required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email" data-parsley-required-message="Please enter a valid email address"
                        />
                        <label class="float-labels__label">Email</label>
                    </div>

                    <input type="submit" class="btn forgot__btn js-forgot-btn mt10 flex-row flex--justify-center flex--align-center" value="SEND LINK" />

                </form>

                <div class="text-left mt10 forgot__back hand">
                    <span class="js-back-link"><i class="icon-back"></i> Back to login</span>
                </div>


            </div>
        </div>

    </div>
    {% csrf_token %}

</body>

<script type="text/javascript" src="{% get_static_url %}{{ 'desktop/js/common.js'|hashify:'desktop'  }}" charset="utf-8"></script>
<script type="text/javascript" src="{% get_static_url %}{{ 'desktop/js/app.js'|hashify:'desktop'  }}" charset="utf-8"></script>
{% include "desktop/includes/scripts.html" %}
<script defer src="https://apis.google.com/js/api:client.js?onload=initGoogleSignIn"></script>


</html>
