{% load staticfiles %} {% load url_hashifier %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-signin-scope" content="email profile">
    <meta name="google-signin-client_id" content="639434118840-6v74lggr27nigdtvag387nkntd8scco1.apps.googleusercontent.com">

	<title>{% if seo.title %}{{ seo.title }}{% else %}A new age budget hotel brand present in {{ cities|length }} cities in India - Treebo Hotels{% endif %}</title>
    <link rel="icon" href="{% get_image_url %}images/favicon.ico?213" type="image/x-icon" /> {% include "mobile/includes/dnsprefetch.html" %} {% include "mobile/includes/meta.html" %} {% include "mobile/includes/basejsobj.html" %}
    <link rel="stylesheet" href="{% get_static_url %}{{ 'mobile/css/common.css'|hashify:'mobile'  }}"> {% include "mobile/includes/styles.html" %}

    {% include "mobile/includes/analytics.html" %}
</head>

<body pagename="{{  pageName | default:" default " }}">

    <div id="pageContainer" class="page">
        <div class="page__header header-container">
            {% block header %}{% endblock %}
        </div>
        <div class="page__content" id="content">
            {% block content %}{% endblock %}
        </div>
        {% if not cleanSlate %}
        <div class="page__footer">
            {% if footer != 'hide' %} {% include "mobile/includes/footer.html" %} {% endif %}
        </div>
        {% endif%}
    </div>

    <div id="commonLoader" class="loader-container hide">
        <div class="loader-box v-center">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
    {% include "includes/fot-drawer.html" %}
    <div id="searchModal" class="modal modal-container pos-abs hide modal--search">
        <div class="modal__header pos-rel">Modify
            <div class="hand icon icon-close pos-abs js-modal__close">
                <i class="icon-cross"></i>
            </div>
        </div>
        <div class="modal__body search-widget-body">
            {% include "includes/searchWidget.html" %}
        </div>
        <div class="modal__footer"></div>
    </div>
    <div id="commonModal" class="modal modal-container pos-abs hide">
        <div class="modal__header pos-rel text-center">Gallery
            <div class="icon icon-close pos-abs js-modal__close">
                <i class="icon-cross"></i>
            </div>
        </div>
        <div class="modal__body"></div>
    </div>
{% csrf_token %}
</body>
<script type="text/javascript" src="{% get_static_url %}{{ 'mobile/js/common.js'|hashify:'mobile'  }}" charset="utf-8"></script>
<script type="text/javascript" src="{% get_static_url %}{{ 'mobile/js/app.js'|hashify:'mobile'  }}" charset="utf-8"></script>
{% include "mobile/includes/scripts.html" %}
<script defer src="https://apis.google.com/js/api:client.js?onload=initGoogleSignIn"></script>

</html>
