{% load staticfiles %} {% load url_hashifier %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ seo.title|default:"A new age budget hotel brand present in 50+ cities in India - Treebo Hotels" }}</title>
    <link rel="icon" href="https:{% get_image_url %}images/favicon.ico?213" type="image/x-icon" />
    {% include "desktop/includes/dnsprefetch.html" %}
    {% include "desktop/includes/meta.html" %}
    {% include "desktop/includes/basejsobj.html" %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https:{% get_static_url %}{{ 'desktop/css/common.css'|hashify }}"> {% include "desktop/includes/styles.html" %}
</head>

<body pagename="{{  pageName | default:" default " }}">

    {% block content %} HELLO TREEBO {% endblock content %}


</body>
</html>
