{% load staticfiles %} {% load url_hashifier %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-signin-scope" content="email profile">
    <meta name="google-signin-client_id" content="639434118840-6v74lggr27nigdtvag387nkntd8scco1.apps.googleusercontent.com">

	<title>{% if seo.title %}{{ seo.title }}{% else %}A new age budget hotel brand present in {{ cities|length }} cities in India - Treebo Hotels{% endif %}</title>

    <link rel="icon" href="{% get_image_url %}images/favicon.ico?213" type="image/x-icon" /> {% include "mobile/includes/dnsprefetch.html" %} {% include "mobile/includes/meta.html" %} {% include "mobile/includes/basejsobj.html" %}
    <link rel="stylesheet" href="{% get_static_url %}{{ 'mobile/css/common.css'|hashify:'mobile'  }}"> {% include "mobile/includes/styles.html" %}

    {% include "mobile/includes/analytics.html" %}
</head>

<body pagename="{{  pageName | default:" default " }}">

    <div id="pageContainer" class="page">
        <div class="page__header header-container">
            {% block header %}{% endblock %}
        </div>
        <div class="page__content" id="content">
            {% block content %}{% endblock %}
        </div>
        {% if not cleanSlate %}
        <div class="page__footer">
            {% if footer != 'hide' %}
            {# include "mobile/includes/footer.html" #}
            <footer class="sitefooter ph footer">

                <div class="text-center">
                    <a href="tel::(+91) 9322800100" class="btn footer__call call">
                        <i class="call__icon icon-phone-call"></i>+91 9322 800 100
                    </a>
                </div>

                <div class="container row">

                    <div class="col footer__column">
                        <h3 class="footer__title">BUSINESS</h3>
                        <ul class="no-list">
                            <li class="footer__navitem"><a class="footer__navitemlink" href="mailto:partners@treebohotels.com">Join Our Network</a></li>
                            <li class="footer__navitem"><a class="footer__navitemlink" href="mailto:corporate@treebohotels.com">Corporate Enquiry</a></li>
                            <li class="footer__navitem"><a class="footer__navitemlink" href="mailto:ta@treebohotels.com">Travel Agents</a></li>
                        </ul>
                    </div>


                    <div class="col footer__column footer__column--right">
                        <h3 class="footer__title">DISCOVER</h3>
                        <ul class="no-list">
                            <li class="footer__navitem"><a class="footer__navitemlink" href="http://alpha.treebohotels.com" target="_blank">Alpha</a></li>
                            <li class="footer__navitem"><a href="/fot/" target="_blank" class="footer__navitemlink">Friends of Treebo</a></li>
                            <!-- <li class="footer__navitem"><a class="footer__navitemlink" href="/offers/" target="_blank">Offers</a></li> -->
                            <li class="footer__navitem"><a class="footer__navitemlink" href="https://careers.treebohotels.com/" target="_blank">Careers</a></li>
                        </ul>
                    </div>

                    <div class="footer__column footer__column--long">
                        <h3 class="footer__title">COMPANY</h3>
                        <ul class="row no-list">
                            <!--<li class="footer__navitem col"><a class="footer__navitemlink" href="/aboutus/">About</a></li>-->
                            <li class="footer__navitem col"><a class="footer__navitemlink" href="mailto:alerts.webbooking@treebohotels.com">Contact</a></li>
                            <!--<li class="footer__navitem col"><a class="footer__navitemlink" href="/faq/">FAQs</a></li>-->
                            <li class="footer__navitem col"><a class="footer__navitemlink" href="/terms/">Terms of Service</a></li>
                            <li class="footer__navitem col"><a class="footer__navitemlink" href="/policy/">Privacy Policy</a></li>
                            <!--<li class="footer__navitem col feedback"><a class="footer__navitemlink" href="">Feedback</a></li>-->
                            <!--  <li><a href="#aboutus">About Us</a></li> -->
                            <!-- <li><a href="/faq">FAQ</a></li> -->
                            <li class="footer__navitem col"><a class="footer__navitemlink" href="http://blog.treebohotels.com" target="_blank">Blog</a></li>
                            <!--<li class="footer__navitem"><a class="footer__navitemlink" href="mailto:alerts.webbooking@treebohotels.com">Contact Us</a></li>-->
                        </ul>
                    </div>


                </div>

                <div class="footer__column">

                    <!-- Soial Icon Block -->
                    <div class="icon-holder text-center block">
                        <div class="icon-holder__social-icon-cont">
                            <a class="anchor--white" target="_blank" href="//www.facebook.com/TreeboHotels">
                                        <span class="icon-holder__social-icon">
                                            <i class="icon-fb"></i>
                                        </span>
                            </a>
                        </div>
                        <div class="icon-holder__social-icon-cont">
                            <a class="anchor--white" target="_blank" href="//twitter.com/TreeboHotels">
                                        <span class="icon-holder__social-icon">
                                            <i class="icon-twitter"></i>
                                        </span>
                            </a>
                        </div>
                        <div class="icon-holder__social-icon-cont">
                            <a class="anchor--white" target="_blank" href="//www.linkedin.com/company/treebo-hotels">
                                        <span class="icon-holder__social-icon">
                                            <i class="icon-linkedin"></i>
                                        </span>
                            </a>
                        </div>
                        <div class="icon-holder__social-icon-cont">
                            <a class="anchor--white" target="_blank" href="//www.google.com/+Treebohotels1">
                                        <span class="icon-holder__social-icon">
                                            <i class="icon-google"></i>
                                        </span>
                            </a>
                        </div>
                    </div>

                    <!-- Social Icon Block Ends -->



                    <!-- Stay block ends -->

                    <div class="stay hide">
                        <p class="footer__title mt10 mb20">STAY IN TOUCH</p>
                        <div class="footer__get-update flex-row">
                            <input class="footer__email" type="text" />
                            <div class="footer__btn--green btn update-btn">Get Updates</div>
                        </div>
                    </div>

                    <!-- Stay block ends -->

                </div>
                <div class="footer__copyright text-center">Copyright 2017, Ruptub Solutions. All right reserved.</div>
            </footer>
            {# include "mobile/includes/footer.html" #}

            {% endif %}
        </div>
        {% endif%}
    </div>

    <div id="commonLoader" class="loader-container hide">
        <div class="loader-box v-center">
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>

    {# include "includes/drawer.html" #}
    <div class="drawer pos-rel">
        <nav role="navigation" class="drawer-navigation">
            {% if request.session.isAuthenticated %}
            <div id="user" class="cap user__name">Hi {{ request.user.first_name }}</div>
            {% endif %}
            <ul class="menu-nav">
                <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/">Home</a>
                </li>
                {% if not request.session.isAuthenticated %}
                <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/login/">Log In</a>
                </li>
                <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/register/">Sign Up</a>
                </li>
                {% else %}
                <li class="menu-nav__item">
                    <a class="menu-nav__link js-accounts-link" href="/account/bookings">Bookings</a>
                </li>
                {% if request.isReferralEnabled %}
                <li class="menu-nav__item">
                    <a class="menu-nav__link js-accounts-link" href="/account/referrals">Referrals</a>
                </li>
                {% endif %}
                <!-- <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/user/settings/">Settings</a>
                </li> -->
                <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/logout/">Logout</a>
                </li>
                {% endif %}
                <!-- <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/#whyus">Why Treebo</a>
                </li>
                <li class="menu-nav__item">
                    <a class="menu-nav__link" href="/feedback/">Feedback</a>
                </li> -->
            </ul>
        </nav>
        <div class="text-left pos-abs whatsapp-no">
            <p class="contactus-text">Chat and Book via WhatsApp</p>
            <a href="https://api.whatsapp.com/send?l=en&text=Hi%2C%20I%20visited%20the%20Treebo%20website%20and%20am%20interested%20in%20more%20details.&phone=918296899986" class="btn call" target="_blank">
                <i class="call__icon icon-whatsapp"></i>+91 8296 899 986
            </a>
        </div>
        <div class="text-left pos-abs contact-no">
            <p class="contactus-text">Need Help? Call us on</p>
            <a href="tel::(+91) 9322800100" class="btn call">
                <i class="call__icon icon-phone-call"></i>+91 9322 800 100
            </a>
        </div>
    </div>
    {# include "includes/drawer.html" #}

    <div id="searchModal" class="modal modal-container pos-abs hide modal--search">
        <div class="modal__header pos-rel">MODIFY
            <div class="hand icon icon-close pos-abs js-modal__close">
                <i class="icon-cross"></i>
            </div>
        </div>
        <div class="modal__body search-widget-body">
            {% include "mobile/includes/searchWidget.html" %}
        </div>
        <div class="modal__footer"></div>
    </div>
    <div id="commonModal" class="modal modal-container pos-abs hide">
        <div class="modal__header pos-rel text-center">Gallery
            <div class="icon icon-close pos-abs js-modal__close">
                <i class="icon-cross"></i>
            </div>
        </div>
        <div class="modal__body"></div>
    </div>

{% csrf_token %}
</body>
<script type="text/javascript" src="{% get_static_url %}{{ 'mobile/js/common.js'|hashify:'mobile'  }}" charset="utf-8"></script>
<script type="text/javascript" src="{% get_static_url %}{{ 'mobile/js/app.js'|hashify:'mobile'  }}" charset="utf-8"></script>

{# include "mobile/includes/scripts.html" #}
{% if googleMaps %}
    <!-- <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script> -->
{% endif %}

{% for script in scripts %}
    <script defer src="{% get_static_url %}{{ script|hashify:'mobile' }}" ></script>
{% endfor %}

{% if googleLogin %}
    <script defer src="https://apis.google.com/js/api:client.js?onload=initGoogleSignIn"></script>
{% endif %}

 <script src="https://apis.google.com/js/platform.js" async defer></script>
{# include "mobile/includes/scripts.html" #}

</html>
