{% load url_hashifier %}
{% for hotel in results%}
<div soldout="{{hotel.available}}" style="order:{{forloop.counter0}}" class="results__row hotelAvailibility-{{hotel.available}}"
     data-category = "{{hotel.categories|join:'||'}}" data-locality="{{hotel.locality}}"
     data-available="{{hotel.available}}" data-price="{{hotel.price|floatformat:"0"}}" data-id="{{hotel.id}}"
     data-distance="{{hotel.distance|floatformat:"2"}}" data-recommend="{{hotel.priority|floatformat:"0"}}">

    <input type="hidden" class="js-hidden-amenities" name="name" value="{{hotel.amenities|join:'||'}}">
    <div class="results__item hotel flex-row">

        <div class="hotel__images">
            <div class="paging-info pos-abs"></div>
            <div class="js-hotels-carousel carousel image-carousel pos-rel">
                {{imageset}}
                {% for image in hotel.imageset %}
                <div class="carousel__img" style="background-image: url('{% get_static_url %}desktop/images/new_treeboleaf.png');"><img class="" data-lazy="{{ image.url }}?w=250&fit=crop&fm=jpg&h=200" src=""></div>
                {% endfor%}
            </div>
        </div>
        <div class="hotel__content flex-column pos-rel">
            {% if hotel.promoTagline%}
            <div promocode="{{hotel.promoTagline}}" class="a-promo hotel__promo"><i class="icon-deals"></i>{{hotel.promoTagline}}</div>

            {% endif%}
            <div class="hotel__name"><a tags="{{hotel.categories|join:','}}" class="analytics-hotelname hotel__name__link" href="{{hotel.hotelUrl }}" hotelname="{{hotel.hotelName}}">{{ hotel.hotelName }}</a>
                {% for categoty in hotel.categories %}
                    <span class="category-tag">{{categoty}}</span>
                {% endfor%}
            </div>

            <div class="hotel__info flex-row flex--space-between">
                <div locality="{{hotel.area}}" city="{{hotel.city}}" class="hotel__address analytics-address">
                    <div  class="street  pos-rel"><i class="icon-location"></i>{{ hotel.locality }}, {{ hotel.city }}</div>
                    {% if isLocalitySearched and hotel.distance %}
                    <div class="hotel__from">
                        {{hotel.distance}} km from {{localityName}}
                    </div>
                    {%endif%}
                </div>
                <div class="hotel__price flex-column pos-abs">
                    {% if hotel.basePrice != hotel.price and hotel.basePrice >  hotel.price %}
                    <div class="hotel__price--best"><span class="line-through">&#8377;{{hotel.basePrice|floatformat:"0"}}</span></div>
                    {% endif %}
                    <div class="a-price hotel__price--available" price='{{hotel.price|floatformat:"0"}}'>&#8377;{{hotel.price|floatformat:"0"}}<br /><span class="inc-hint">Incl all taxes</span></div>
                    <div class="hotel__price__breakup hover-popup">
                        <div class="title link">Price break-up</div>
                        <div class="hotel__price__breakup__popup hover-popup__body hover-popup__twisty hover-popup__twisty--left">
                            <div class="breakup__item flex-row flex--space-between">
                                <div class="breakup__label">Room Price</div>
                                <div>&#8377;{{hotel.priceBreakup.price|floatformat:"0"}}</div>
                            </div>
                            <div class="breakup__item flex-row flex--space-between">
                                <div class="breakup__label">Taxes</div>
                                <div>&#8377;{{hotel.priceBreakup.tax|floatformat:"0"}}</div>
                            </div>
                            <div class="breakup__item flex-row flex--space-between">
                                <div class="breakup__label">Discount</div>
                                <div>- &#8377;{{hotel.priceBreakup.discount|floatformat:"0"}}</div>
                            </div>
                            <div class="breakup__item breakup__item--total flex-row flex--space-between flex--align-center">
                                <div class="breakup__label">Total</div>
                                <div class=""><span class="total-price">&#8377;{{hotel.priceBreakup.total|floatformat:"0"}}</span> <br /><span class="inc">Incl all taxes</span></div>
                            </div>

                            <div class="text-center breakup__per-night-price link" id="price-detail-search">view daily price breakup</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hotel__footer">
               <div class="hotel__action flex-row">

                    <!-- <div class="hotel__about">
                        <div class="hotel__review flex-row">
                            <span title="trip advisor rating {{hotel.tripadvisorRating}}">
                            {% for i in "xxxxx" %}
                                {% if forloop.counter0|add:"1"|floatformat:0 <= hotel.tripadvisorRating|floatformat:0 %}
                                    <span class="tripadviser-rating filled"></span>
                                {% else%}
                                    <span class="tripadviser-rating"></span>
                                {% endif %}
                            {% endfor %}
                            </span>
                            <span>&nbsp;&nbsp;{{hotel.tripadvisorReviews}} reviews</span></div>
                            {% if hotel.lastBooking %}

                                <div class="hotel__last-purchased">last purchased {{hotel.lastBooking}} ago</div>
                            {% endif %}
                    </div> -->
                    <div class="flex-row flex--align-center">
                        <a href="{{hotel.hotelUrl }}" class="analytics-viewdetails link hotel__action__details">View Details</a>
                        {% if hotel.available%}
                        <a rel="nofollow" href="{{hotel.quickbookUrl }}" class="analytics-quickbook hotel__action__book btn btn--secondary btn--round">Quick Book</a>
                        {% else %}
                        <button class="hotel__action__book btn btn--secondary btn--round">Sold Out</button>
                        {% endif%}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="js-pricedetailsdata" type="hidden" value='{{hotel.nights}}'/>
</div>
{% endfor%}
