{% extends "root-desktop.html" %}
{% load url_hashifier %}
{% block content %}
<div class="result-page">
    <div class="result-page__search-container flex-row flex--align-center">
        <div class="container flex-row flex--justify-center search-box pos-rel">
            <div id="searchLoader" class="loader-container loader-container--inline hide initial-load">
                <div class="loader-box v-center">
                    <div class="sk-fading-circle small">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                </div>
            </div>
            <div class="search-box__input-container flex-column ">
                <div class="search-box__label">DESTINATION</div>
                <input type="text" placeholder="Where do you want to go?" name="name" class="search-box__title search-box__input" value="" id="searchInput">
            </div>
            <div id="calendar" class="search-box__calendar daterange daterange--double flex-column"></div>
            <div id="guestNRoomWidget" class="search-box__room-widget room-widget-container pos-rel">
            </div>
            <button type="button" class="btn search-box__submit" id="searchSubmitBtn" name="button"><i class="icon-search"></i>Search</button>

        <ul class="extra-cities no-list pos-abs hide">
        {% for city in cities %}
            <li latitude="{{ city.latitude }}" longitude="{{ city.longitude }}" locality="{{city.name}}" class="city extra-cities__item flex-row">
                <span>{{city.name}}</span><span class="">{{ city.hotelCount }} hotels</span>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>

    <div class="result-page__content">
        <div class="result-page__breadcrumb bread-crumb container">
                <ul class="bread-crumb__container flex-row">
                    {% for brd in breadCrumbs%}
                    <li class="bread-crumb__item"><a href="{{brd.url}}">{{brd.title}}</a></li>
                    {% endfor %}
                </ul>
        </div>
        {% if cityData %}
            <h1 class="result-page__cityHotel container"> Treebo Hotels in {{cityName}} </h1>
        {% endif %}
        <div count="{{ results|length }}" class="analytics-count result-page__count container">Showing <span id="filteredResultCount">{{ results|length }}</span> of {{ results|length }} results for <span class='result-page__city-first-letter'>{{queryParams.search}}</span></div>
        <div class="container column flex-row main-wrapper">
            <div class="column__left flex-column left-part">
                <div class="filter-container" id="resultFilters"></div>
                <input type="hidden" id="hiddenFilterData" name="name" value="{{filterData}}">
                <div class="results">
                    {% if results|length < 1 or isNearby == True %}
                        <div class="no-result">
                            <div class="no-result__container flex-row flex--align-center">
                                <div class="no-result__icon">
                                    <i class="sprite-illustration sprite-illustration--empty"></i>
                                </div>
                                <div class="no-result__text">
                                    <div class="no-result__title">NO result found matching your search!</div>
                                    <div class="no-result__sub"> We couln't find any result that matched your criteria, but tweaking your search may help!
                                    </div>
                                </div>
                            </div>
                            {% if nearBy == True %}
                                <div class="results__nearby">
                                    Hotels near {{queryParams.search}}
                                </div>
                            {% endif%}
                        </div>
                    {% endif%}
                    <div class="search-results-container flex-column">

                        <!-- desktop/searchresults/hotel.html -->
                        {% for hotel in results%}
                        <div soldout="{{hotel.available}}" style="order:{{forloop.counter0}}" class="results__row hotelAvailibility-{{hotel.available}}"
                             data-category = "{{hotel.categories|join:'||'}}" data-locality="{{hotel.locality}}"
                             data-available="{{hotel.available}}" data-price="{{hotel.price|floatformat:"0"}}" data-id="{{hotel.id}}"
                             data-distance="{{hotel.distance|floatformat:"2"}}" data-recommend="{{hotel.priority|floatformat:"0"}}">

                            <input type="hidden" class="js-hidden-amenities" name="name" value="{{hotel.amenities|join:'||'}}">
                            <div class="results__item hotel flex-row">

                                <div class="hotel__images">
                                    <div class="paging-info pos-abs"></div>
                                    <div class="js-hotels-carousel carousel image-carousel pos-rel">
                                        {{imageset}}
                                        {% for image in hotel.imageset %}
                                        <div class="carousel__img" style="background-image: url('{% get_static_url %}{{ 'desktop/images/treeboleaf.png'|hashify:'desktop' }}');"><img class="" data-lazy="{{ image.url }}?w=230&fit=crop&fm=jpg&h=200" src=""></div>
                                        {% endfor%}
                                    </div>
                                </div>
                                <div class="hotel__content flex-column">
                                    {% if hotel.promoTagline%}
                                    <div promocode="{{hotel.promoTagline}}" class="a-promo hotel__promo"><i class="icon-deals"></i>{{hotel.promoTagline}}</div>

                                    {% endif%}
                                    <div class="hotel__name"><a tags="{{hotel.categories|join:','}}" class="analytics-hotelname hotel__name__link" href="{{hotel.hotelUrl }}" hotelname="{{hotel.hotelName}}">{{ hotel.hotelName }}</a>
                                        {% for categoty in hotel.categories %}
                                            <span class="category-tag">{{categoty}}</span>
                                        {% endfor%}
                                    </div>

                                    <div class="hotel__info flex-row flex--space-between">
                                        <div locality="{{hotel.area}}" city="{{hotel.city}}" class="hotel__address analytics-address">
                                            <div  class="street  pos-rel"><i class="icon-location"></i>{{ hotel.locality }}, {{ hotel.city }}</div>
                                            {% if isLocalitySearched and hotel.distance %}
                                            <div class="hotel__from">
                                                {{hotel.distance}} km from {{localityName}}
                                            </div>
                                            {%endif%}
                                        </div>
                                        <div class="hotel__price flex-column">
                                            {% if hotel.basePrice != hotel.price and hotel.basePrice >  hotel.price %}
                                            <div class="hotel__price--best"><span class="line-through">&#8377;{{hotel.basePrice|floatformat:"0"}}</span></div>
                                            {% endif %}
                                            <div class="a-price hotel__price--available" price='{{hotel.price|floatformat:"0"}}'>&#8377;{{hotel.price|floatformat:"0"}}<br /><span class="inc-hint">Incl all taxes</span></div>
                                            <div class="hotel__price__breakup hover-popup">
                                                <div class="title anchor">Price break-up</div>
                                                <div class="hotel__price__breakup__popup hover-popup__body hover-popup__twisty hover-popup__twisty--left">
                                                    <div class="breakup__item flex-row flex--space-between">
                                                        <div class="breakup__label">Room Price</div>
                                                        <div>&#8377;{{hotel.priceBreakup.price|floatformat:"0"}}</div>
                                                    </div>
                                                    <div class="breakup__item flex-row flex--space-between">
                                                        <div class="breakup__label">Taxes</div>
                                                        <div>&#8377;{{hotel.priceBreakup.tax|floatformat:"0"}}</div>
                                                    </div>
                                                    <div class="breakup__item flex-row flex--space-between">
                                                        <div class="breakup__label">Discount</div>
                                                        <div>- &#8377;{{hotel.priceBreakup.discount|floatformat:"0"}}</div>
                                                    </div>
                                                    <div class="breakup__item breakup__item--total flex-row flex--space-between flex--align-center">
                                                        <div class="breakup__label">Total</div>
                                                        <div class=""><span class="total-price">&#8377;{{hotel.priceBreakup.total|floatformat:"0"}}</span> <br /><span class="inc">Incl all taxes</span></div>
                                                    </div>

                                                    <div class="text-center breakup__per-night-price anchor" id="price-detail-search">view daily price breakup</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel__footer">
                                       <div class="hotel__action flex-row">

                                            <!-- <div class="hotel__about">
                                                <div class="hotel__review flex-row">
                                                    <span title="trip advisor rating {{hotel.tripadvisorRating}}">
                                                    {% for i in "xxxxx" %}
                                                        {% if forloop.counter0|add:"1"|floatformat:0 <= hotel.tripadvisorRating|floatformat:0 %}
                                                            <span class="tripadviser-rating filled"></span>
                                                        {% else%}
                                                            <span class="tripadviser-rating"></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </span>
                                                    <span>&nbsp;&nbsp;{{hotel.tripadvisorReviews}} reviews</span></div>
                                                    {% if hotel.lastBooking %}

                                                        <div class="hotel__last-purchased">last purchased {{hotel.lastBooking}} ago</div>
                                                    {% endif %}
                                            </div> -->
                                            <div class="flex-row flex--align-center">
                                                <a href="{{hotel.hotelUrl }}" class="analytics-viewdetails hotel__action__details">View Details</a>
                                                {% if hotel.available%}
                                                <a rel="nofollow" href="{{hotel.quickbookUrl }}" class="analytics-quickbook hotel__action__book btn btn--secondary btn--round">Quick Book</a>
                                                {% else %}
                                                <button class="hotel__action__book btn btn--secondary btn--round">Sold Out</button>
                                                {% endif%}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input class="js-pricedetailsdata" type="hidden" value='{{hotel.nights}}'/>
                        </div>
                        {% endfor%}
                        <!-- desktop/searchresults/hotel.html -->


                        {% if marketBanner %}
                            {% if results|length > 0 %}
                            <div id="marketingBanner" class="result-page__banner" style="order:{{marketBanner.position}}">
                                <div class="result-page__banner__cont">
                                    <a class="analytics-marketingbanner" href="{{marketBanner.targetUrl}}"><img data-original="{{marketBanner.image}}" class="lazy" alt="" /></a>
                                </div>
                            </div>
                            {% endif%}
                        {% endif%}
                        <div class="result-page__no-filter-result hide" id="noFilterResult">
                            <div class="no-result">
                                <div class="no-result__container flex-row flex--align-center">
                                    <div class="no-result__icon">
                                        <i class="sprite-illustration sprite-illustration--empty"></i>
                                    </div>
                                    <div class="no-result__text">
                                        <div class="no-result__title">NO results found matching your criteria!</div>
                                        <div class="no-result__sub">We couldn't find any result that matched your criteria. Try applying different filters !
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="column__right pos-rel side-window sidebar">
                <div id="sideWidgets">

                </div>
            </div>
        </div>
        <div class="flex-column seo-bottom">
            {% if cityData %}
            <div class="text-center seo-bottom__para flex-column">
                <h2 class="text-center seo-bottom__header">ABOUT {{cityName | upper}}</h2>
                <div>
                   <p class="container">{{cityData|safe}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
