{% extends "root-desktop.html" %} {% load url_tag %} {% block content %}
<div class="hotel-detail-page">
	<div class="head ">
		<div class="container flex-row flex--space-between">
			<div class="head__tab flex-row ph flex--align-center">
				<div><a class="anchor-white" href="#photos">Photos</a></div>
				<div><a class="anchor-white" href="#roomtypes">Room Type</a></div>
				<div><a class="anchor-white" href="#about">About</a></div>
				<div><a class="anchor-white" href="#ameneties">Ameneties</a></div>
				<div><a class="anchor-white" href="#policies">Policies</a></div>
			</div>
			<div class="head__help flex-row flex--align-center text-center flex--justify-center">
				Need help ? Call +91 9322 800 100
			</div>
		</div>
	</div>
	<div class="container flex-row mt30 column">
		<div class="main_wrapper column__left">
			<a href="javascript:void(0)" class="search-back pos-rel"><i class="icon-arrow-left"></i><span class="search-back-text pos-rel"></span></a>
			<div class="main flex-column">
				<div class="hdp__header">
					<div class="flex-row flex--space-between mt10 mb20 hide">
						<div class="main__tag">Premium</div>
						<div></div>
					</div>
					<div class="main__title flex-row">
						<div>
							{{name | upper}}
						</div>
					</div>

					<div class="main__address">
						<i class="icon-location"></i><span>{{address}}</span>
					</div>
					{% if rooms_ramaining %}
						<div class="main__advisor flex-row">
							<!-- <div>
								{{reviews}} Reviews
							</div> -->
							<div class="hotel-urgency">
								Book fast - Last {{rooms_ramaining}} rooms remaining
							</div>
						</div>
					{% endif %}
				</div>
				<div class="main__gallerywrapper pos-rel">
					<i class="icon-expand pos-abs main__expand hand"></i>
					<div id="photos" style="position:relative;top:-80px"></div>
					<div class="js-main-gallery main-gallery__carousel">
						{% for image in images %}
						<div class="pos-rel main-gallery__carousel__item">
							<img src="" class="main__galleryimg" alt="" data-lazy="{{ image.url }}?w=800&h=480&fm=pjpg&fit=crop">
							<div class="pos-abs main__imagename">
								{{ image.room_name | default:"" }}
							</div>
						</div>
						{% endfor %}

					</div>
					<div class="main__gallerynav js-gallery-nav">
						{% for image in images %}
						<div class="main__gallerynav__imgcont">
							<img  alt=""  src="" class="main__gallerynav__img" data-lazy="{{ image.url }}?w=200&h=120&fm=pjpg&fit=clip">
						</div>
						{% endfor %}
					</div>
				</div>

			</div>

			<!-- ROOM TYPES CONTAINER STARTS -->
			<div class="ph35 room-types text-center ph mt20 mb30 block">
				<div id="roomtypes" class="offset60"></div>
				<h3 class="room-types__title mt20 mb20">Room Types Available in {{name}}</h3>
				<!-- ROOM TYPES BOX STARTS -->
				<div class="flex-row flex--space-around js-room-carousel room-types__carousel-container">

					{% for room in room_types %}

					<div class="wrapper">
						<div class="flex-row flex--space-between">
							{% if room.available == True %}
							<div class="room-types__room pos-rel box-shadow flex-column" roomtype="{{room.room_type}}">
								{% else %}
								<div class="room-types__room pos-rel unavailable box-shadow flex-column" roomtype="{{room.room_type}}">
									{% endif %}
									<div class="room-types__imgwrapper">
										<img alt="{{room.room_type}}" class="room-types__img" src="{% get_image_url %}files/{{room.room_image_url}}?w=220&h=170&fm=pjpg">
									</div>

									<h3 category="{{room.room_type}}" class="room-types__category mt10 uc">
										{{room.room_type}}
									</h3>
									<h6 class="mt5 uc room-types__internal">
										{{room.internal_type}}
									</h6>


									<div class="mt20 uc room-types__adult">
										{{room.occupancy}}
									</div>



									<div class="room-types__price flex-row mt20 mb20">
										<div class="flex-column br">
											<div class="js-roomprice" roomprice="{{room.price_per_night|floatformat:'0'}}">&#8377;{{room.price_per_night|floatformat:"0"}}</div>
											<div class="room-types__txt">PER NIGHT</div>
										</div>
										<div>
											<div>{{room.room_size}}</div>
											<div class="room-types__txt">ROOM SIZE</div>
										</div>
									</div>

									<div class="mb20">
										<p class="room-types__facilities">
											{{ room.amenities|slice:"100"}}{% if room.amenities|length > 100 %}<span class="js-extra-text hide">{{room.amenities|slice:"100:"}}</span><span><a href="javascript:void(0);" class="anchor js-room-more">&nbsp;more</a></span>
											{% endif %}
										</p>
									</div>


											{% if room.available == True %}
											<div class="analytics-select flex-center js-select room-types__select btn btn--round btn--transparent">
													<i class="icon-checkmark-circle"></i>SELECT
											</div>

											<div class="room-types__soldout js-unavailable room-types__select btn btn--white mt20 mb20 flex-row flex--justify-center flex--align-center hide">
														 SOLD OUT
											</div>
											{% endif %}

											{% if room.available == False %}

											<div class="analytics-select flex-center js-select room-types__select btn btn--round btn--transparent hide">
													<i class="icon-checkmark-circle"></i>SELECT
											</div>

											<div class="room-types__soldout js-unavailable room-types__select btn btn--white mt20 mb20 flex-row flex--justify-center flex--align-center ">
														 SOLD OUT
											</div>

											{% endif %}
										</div>
									</div>
								</div>

								{% endfor %}

							</div>
							<!-- ROOM TYPES BOX ENDS -->

						</div>
						<!-- ROOM TYPES CONTAINER ENDS -->

						<div class="ph35 about mt30 ph mb30 block">
							<div id="about" class="offset60"></div>
							<h2 class="about__title mb10 block__title">ABOUT THE HOTEL</h2>
							<p class="about__desc js-about">{{description}}
							</p>

							{% if trilights|length > 0 %}
							<div class="separator"></div>
							<div class="trilights">
								<h2 class="block__title mb10 ">TREEBO TRILIGHTS</h2>
								<div class="trilights__wrapper">
									{% for trilight in trilights %}
									<div class="trilights__item"><i class="icon-trilights"></i>
										<span>{{trilight}}</span>
									</div>
									{% endfor %}
								</div>

							</div>
							{% endif %}

						</div>



						<div class="ph35 amenities ph mb30 flex-column block">
							<div id="ameneties" class="offset60"></div>
							<h2 class="amenities__title block__title mb30">GET ASSURED QUALITY, OR YOUR MONEY BACK</h2>
							<div class="flex-row text-center amenities__wrapper ">
								<img class="amenities__guarantee lazy" src="" data-original="{% get_static_url %}desktop/images/quality.png">
							</div>

							<div class="hotel mt30 block">
								<h3 class="hotel__amenities block__title">HOTEL AMENITIES</h3>
								<div class="flex-row flex--wrap mt20">

									{% for amenity in ameneties %}
									<div class="hotel__facilities flex-row {{amenity.css_class}}">
										<i class="icon-{{amenity.css_class}}"></i>
										<div>{{amenity.name}}</div>
									</div>
									{% endfor %}
								</div>
							</div>


							<div class="access mt30 block">
								<h3 class="hotel__accessibility block__title">HOTEL ACCESSIBILITIES</h3>
								<div class="flex-row flex--wrap mt10">
									{% for accessibility in accessibilities %} {% if accessibility.distance != "" %}
									<div class="access__item flex-row">
										<i class="icon-{{accessibility.css_class}}"></i>
										<div>{{accessibility.name}} - <span class="hotel__accessibility__distance">{{accessibility.distance|floatformat:"1"}} km away</span></div>
									</div>
									{% endif %} {% endfor %}

								</div>
							</div>

						</div>
						<!-- <div class="separator"></div> -->
						<div class="ph35 rules ph mb30 block">
							<div id="policies" class="offset60"></div>
							<h2 class="about__title mb10 block__title">RULES AND POLICIES</h2>

							<div class="about__more mt10 flex-column">
								<div class="flex-row">
									<div class="rules__label">
										Rules
									</div>
									<div class="rules__value">
										{% for rule in rules %}
										<p class="rules__item">
											<span>{{rule.key}}: {{rule.value}}</span>
										</p>
										{% endfor %}
									</div>
								</div>
								<div class="flex-row mt10">
									<div class="rules__label">
										Policies
									</div>
									<div>
										{% for policy in policies %}
										<p class="rules__item">{{policy.desc}} &nbsp;<a target="_blank" class="rules__link" href='{{policy.target_url}}'>Know More</a></p>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>

						 <!-- Google map here -->
						<!-- <div class="googleMap">
							<div class = "googleMap__map">
								<div id='gmap_canvas' class = "googleMap__mapLayout"></div>
							</div>
						</div> -->
					</div>

					<div class="sidebar_wrapper column__right pos-rel">
						<div class="sidebar mb30 ph">
							{% if deal != None %}
							<div class="sidebar__singledeals mb10">
								<i class="icon-deals"></i>
								<span class="overflow-ellipsis">{{deal}}</span>
							</div>
							{% endif %} {% if deal_block %}
							<div class="sidebar__deal flex-row mb20">
								<div class="sidebar__dealimg mr10 hide">
									<i class="fa fa-times"></i>
								</div>
								<div class="sidebar__detail js-sidebar-detail flex-column">
									<div class="sidebar__dealtitle hide">{{ deal_block.title }}</div>

									<p class="sidebar__dealdesc flex-row flex--align-center"><span class="sprite-illustration sprite-illustration--tip"></span><span>{{ deal_block.desc }}</span></p>
								</div>
							</div>
							{% endif %}
							<div class="flex-column">
								<div id="bookingLoader" class="loader-container loader-container--inline hide">
							        <div class="loader-box v-center">
							            <div class="sk-fading-circle small">
							                <div class="sk-circle1 sk-circle"></div>
							                <div class="sk-circle2 sk-circle"></div>
							                <div class="sk-circle3 sk-circle"></div>
							                <div class="sk-circle4 sk-circle"></div>
							                <div class="sk-circle5 sk-circle"></div>
							                <div class="sk-circle6 sk-circle"></div>
							                <div class="sk-circle7 sk-circle"></div>
							                <div class="sk-circle8 sk-circle"></div>
							                <div class="sk-circle9 sk-circle"></div>
							                <div class="sk-circle10 sk-circle"></div>
							                <div class="sk-circle11 sk-circle"></div>
							                <div class="sk-circle12 sk-circle"></div>
							            </div>
							        </div>
							    </div>
								<div class="sidebar__bookwidget">
									<div>
										<div id="calendar" class="mb10 daterange daterange--double uc"></div>
									</div>

									<div id="guestNRoomWidget" class="mb10 sidebar__border room-config-container"></div>

									<div class="sidebar__roomopts pos-rel">
										<div class="sidebar__roomselection sidebar__border flex-row text-center">
											<div class="sidebar__roomtypeheader">
												<div class="sidebar__roomtypetitle uc">Room Type</div>

												<div class="sidebar__selectedroomtype hand flex-row flex--align-center">
													Maple (3200 Per Night)
												</div>
											</div>
											<div class="hand flex-row flex--justify-center flex--align-center">
												<i class="icon-down-arrow js-roomtypearrow"></i>
											</div>
										</div>
										<div class="sidebar__roomlist sidebar__border text-center hide pos-abs">


											{% for room in room_types %}
												{% if room.available == True %}
												<div class="sidebar__roomoption flex-row flex--align-center " roomtype="{{room.room_type}}">
												{% else %}
												<div class="sidebar__roomoption flex-row flex--align-center sidebar__sold" roomtype="{{room.room_type}}">
												{% endif %}
													<div class="sidebar__roomname" roomname="{{room.room_type}}">
														<i class="icon-checkmark-circle mr5"></i>&nbsp;
														<span>{{room.room_type}}</span>
													</div>
													<div class="sidebar__roomoptiondetail flex-column">
														<div class="mb10">
															<i class="fa fa-inr mr5"></i>&nbsp;
															<span price="{{room.price_per_night|floatformat}}" class="js-pricepernight">&#8377; {{room.price_per_night|floatformat}}</span> PER NIGHT
														</div>
														<div class="uc">
															<i class="fa fa-user mr5"></i>&nbsp;MAX {{room.max_adult}} ADULT{{room.max_adult|pluralize}}
														</div>
													</div>
												</div>

												{% endfor %}



											</div>
										</div>
									</div>
									<div class="flex-row sidebar__error__container">
										<i class="icon-alert"></i>
										<div class="sidebar__error">

										</div>
									</div>

									<div id="priceWidget" class="sidebar__price flex-row mb10 mt10 price">
									</div>


									<div id="applyCoupon" class="sidebar__coupon mb10 text-center">
									</div>

									<button class="analytics-book js-book btn sidebar__book mb20">

										BOOK NOW
									</button>
								</div>
							</div>
						</div>

					</div>



					<div>


						<!--  GALLERY CODE -->
						<div class="banner-carousel hide">
							<a class="anchor-white" href="javascript:void(0);">
								<i class="banner-carousel__close js-banner-close icon-cross pos-abs"></i>
							</a>
							<div class="js-details-carousel banner-carousel__container pos-rel">
								{% for image in images %}
								<div class="banner-carousel__item pos-rel">
									<div class="pos-abs banner-carousel__roomname">
										{{ image.room_name | default:"" }}
									</div>
									<img class="banner-carousel__img" data-lazy="{{ image.url }}?w=800&h=480&fm=pjpg">
								</div>
								{% endfor %}
							</div>
							<div class="slider-nav">
								{% for image in images %}
								<div class="slider-nav__item">
									<img  class="slider-nav__img" data-lazy="{{ image.url }}?w=200&h=120&fm=pjpg&fit=clip">
								</div>
								{% endfor %}

							</div>
						</div>
						<!--  GALLERY CODE ENDS -->






						<div class="similar container mb30">
							{% if similar_treebos|length > 0 %}
							<h1 class="similar__title text-center mb30">SIMILAR TREEBOS NEARBY</h1>
							<div class="similar__carousel js-similar-carousel">

								{% for treebo in similar_treebos %}

								<div class="similar__treebo flex-column analytics-similar" id="{{treebo.id}}">
									<div class="similar_imgwrapper pos-rel">
										<a href="/hotels/{{treebo.url}}">
											<img src="" class="similar__img" data-lazy="{{ treebo.image_url }}?w=380&h=250&fm=pjpg">
										</a>
										{% if treebo.coupon == None %}
										<div coupon="{{coupon.code}}" class="similar__coupon pos-abs flex-row analytics-coupon">
											<div class="flex-row flex--align-center">
												<i class="fa fa-times mr10"></i>
												<div>{{treebo.coupon.code}}</div>
											</div>
											<div class="flex-row flex--align-center">{{treebo.coupon.text}}</div>
										</div>
										{% endif %}

										<div class="similar__price pos-abs flex-column ph">
											<div>
												{{treebo.rack_rate}}
											</div>
											<div>
												<span price="{{treebo.actual_rate|floatformat}}" class="similar__discouned analytics-price mr5">&#8377;{{treebo.actual_rate|floatformat:0}}</span> Per Night
											</div>
										</div>
									</div>
									<div class="flex-row flex--space-between flex--align-baseline mt10">
										<div name="{{treebo.name}}" class="analytics-name similar__name overflow-ellipsis" title="{{treebo.name}}">

											{{treebo.name}}
										</div>
										<div class="flex-row similar_taglist">
											{% for tag in tags %}
											<div class="category-tag">{{ tag }}</div>
											{% endfor %}
										</div>

									</div>
									<div class="flex-row flex--space-between similar__meta ">
										<div>{{treebo.address}} - {{treebo.distance|floatformat}} Km away</div>
										{% if treebo.remaining != None %}
										<div>Last {{treebo.remaining}} remaining</div>
										{% endif %}
									</div>
								</div>


								{% endfor %}


							</div>
							{% endif %}
						</div>

					</div>
				</div>

				{% endblock %}
