<footer class="sitefooter ph footer">

    <div class="text-center">
        <a href="tel::(+91) 9322800100" class="btn footer__call call">
            <i class="call__icon icon-phone-call"></i>+91 9322 800 100
        </a>
    </div>

    <div class="container row">

        <div class="col footer__column">
            <h3 class="footer__title">BUSINESS</h3>
            <ul class="no-list">
                <li class="footer__navitem"><a class="footer__navitemlink" href="mailto:partners@treebohotels.com">Join Our Network</a></li>
                <li class="footer__navitem"><a class="footer__navitemlink" href="mailto:corporate@treebohotels.com">Corporate Enquiry</a></li>
                <li class="footer__navitem"><a class="footer__navitemlink" href="mailto:ta@treebohotels.com">Travel Agents</a></li>
            </ul>
        </div>


        <div class="col footer__column footer__column--right">
            <h3 class="footer__title">DISCOVER</h3>
            <ul class="no-list">
                <li class="footer__navitem"><a class="footer__navitemlink" href="http://alpha.treebohotels.com" target="_blank">Alpha</a></li>
                <li class="footer__navitem"><a href="/fot/" class="footer__navitemlink">Friends of Treebo</a></li>
                <!-- <li class="footer__navitem"><a class="footer__navitemlink" href="/offers/" target="_blank">Offers</a></li> -->
                <li class="footer__navitem"><a class="footer__navitemlink" href="https://careers.treebohotels.com" target="_blank">Careers</a></li>
            </ul>
        </div>

        <div class="footer__column footer__column--long">
            <h3 class="footer__title">COMPANY</h3>
            <ul class="row no-list">
                <!--<li class="footer__navitem col"><a class="footer__navitemlink" href="/aboutus/">About</a></li>-->
                <li class="footer__navitem col"><a class="footer__navitemlink" href="mailto:alerts.webbooking@treebohotels.com">Contact</a></li>
                <!--<li class="footer__navitem col"><a class="footer__navitemlink" href="/faq/">FAQs</a></li>-->
                <li class="footer__navitem col"><a class="footer__navitemlink" href="/terms/">Terms of Service</a></li>
                <li class="footer__navitem col"><a class="footer__navitemlink" href="/policy/">Privacy Policy</a></li>
                <!--<li class="footer__navitem col feedback"><a class="footer__navitemlink" href="">Feedback</a></li>-->
                <!--  <li><a href="#aboutus">About Us</a></li> -->
                <!-- <li><a href="/faq">FAQ</a></li> -->
                <li class="footer__navitem col"><a class="footer__navitemlink" href="http://blog.treebohotels.com" target="_blank">Blog</a></li>
                <!--<li class="footer__navitem"><a class="footer__navitemlink" href="mailto:alerts.webbooking@treebohotels.com">Contact Us</a></li>-->
            </ul>
        </div>


    </div>

    <div class="footer__column">

        <!-- Soial Icon Block -->
        <div class="icon-holder text-center block">
            <div class="icon-holder__social-icon-cont">
                <a class="anchor--white" target="_blank" href="//www.facebook.com/TreeboHotels">
                            <span class="icon-holder__social-icon">
                                <i class="icon-fb"></i>
                            </span>
                </a>
            </div>
            <div class="icon-holder__social-icon-cont">
                <a class="anchor--white" target="_blank" href="//twitter.com/TreeboHotels">
                            <span class="icon-holder__social-icon">
                                <i class="icon-twitter"></i>
                            </span>
                </a>
            </div>
            <div class="icon-holder__social-icon-cont">
                <a class="anchor--white" target="_blank" href="//www.linkedin.com/company/treebo-hotels">
                            <span class="icon-holder__social-icon">
                                <i class="icon-linkedin"></i>
                            </span>
                </a>
            </div>
            <div class="icon-holder__social-icon-cont">
                <a class="anchor--white" target="_blank" href="//www.google.com/+Treebohotels1">
                            <span class="icon-holder__social-icon">
                                <i class="icon-google"></i>
                            </span>
                </a>
            </div>
        </div>

        <!-- Social Icon Block Ends -->



        <!-- Stay block ends -->

        <div class="stay hide">
            <p class="footer__title mt10 mb20">STAY IN TOUCH</p>
            <div class="footer__get-update flex-row">
                <input class="footer__email" type="text" />
                <div class="footer__btn--green btn update-btn">Get Updates</div>
            </div>
        </div>

        <!-- Stay block ends -->

    </div>
    <div class="footer__copyright text-center">Copyright 2017, Ruptub Solutions. All right reserved.</div>
</footer>
