{% load staticfiles %} {% load url_hashifier %}
<div class="drawer pos-rel">
    <nav role="navigation" class="drawer-navigation">
        {% if request.session.isAuthenticated %}
        <div id="user" class="cap user__name">Hi {{ request.user.first_name }}</div>
        {% endif %}
        <ul class="menu-nav">
            <li class="menu-nav__item">
                <a class="menu-nav__link" href="/">Home</a>
            </li>
            {% if not request.session.isAuthenticated %}
            <li class="menu-nav__item">
                <a class="menu-nav__link" href="/fot/login/">Log In</a>
            </li>
            {% else %}
            <li class="menu-nav__item">
                <a class="menu-nav__link" href="/account/bookings">Bookings</a>
            </li>
<!--             <li class="menu-nav__item">
                <a class="menu-nav__link" href="/user/settings/">Settings</a>
            </li> -->
            <li class="menu-nav__item">
                <a class="menu-nav__link" href="/fot/logout/">Logout</a>
            </li>
            {% endif %}
            <!-- <li class="menu-nav__item">
                <a class="menu-nav__link" href="/#whyus">Why Treebo</a>
            </li>
            <li class="menu-nav__item">
                <a class="menu-nav__link" href="/feedback/">Feedback</a>
            </li> -->
        </ul>
    </nav>
    <div class="text-left pos-abs whatsapp-no">
        <p class="contactus-text">Chat and Book via WhatsApp</p>
        <a href="https://api.whatsapp.com/send?l=en&text=Hi%2C%20I%20visited%20the%20Treebo%20website%20and%20am%20interested%20in%20more%20details.&phone=918296899986" class="btn call" target="_blank">
            <i class="call__icon icon-whatsapp"></i>+91 8296 899 986
        </a>
    </div>
    <div class="text-left pos-abs contact-no">
        <p class="contactus-text">Need Help? Call us on</p>
        <a href="tel::(+91) 9322800100" class="btn call">
            <i class="call__icon icon-phone-call"></i>+91 9322 800 100
        </a>
    </div>
</div>
