{% load staticfiles %} {% load url_hashifier %}
<header class="header pos-rel">
    <div class="header__hm-icon pos-abs analytics_home_menu" id="hmIcon">
        <i class="call__icon icon-menu"></i>
    </div>
    <div class="header__logo">
        <a href="/" id="home" class="header-nav__link flex-row"><img class="logo" src="{% get_static_url %}mobile/images/new_logo.png?v=2"
          alt="Treebo"></a>
    </div>
</header>
