<meta name = "keywords" content="{{ seo.keywords | default:"Treebo hotels, budget hotels, online hotel booking, cheap hotels, best hotels deals, last minute hotel booking, online hotel reservation, guesthouses, budget hotels in India"}}"/>
<meta name="description" content="{{ seo.description | default:"Book Clean and Fresh Hotels across India with India's top rated hotel chain. Quality rooms guaranteed. Free wifi, breakfast, AC, TV, toiletries and other essentials assured." }}">

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

{% if twitter %}
<meta name="twitter:card" content="app">
<meta name="twitter:description" content="{{ twitter.description }}">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:title" content="">
<meta name="twitter:image:src" content="">
{% endif %}


<meta property="fb:app_id" content="{{ facebook.appId | default:"501360290015135" }}"/>
<meta property="og:title" content="{{ facebook.title | default:"A new age budget hotel brand present in 50+ cities in India - Treebo Hotels" }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ facebook.url|default:"//www.treebo.com" }}"/>
<meta property="og:site_name" content="{{ facebook.siteName | default:"Treebo Hotels" }}"/>
<meta property="og:description" content="{{ facebook.description | default:"Book Clean and Fresh Hotels across India with India's top rated hotel chain. Quality rooms guaranteed. Free wifi, breakfast, AC, TV, toiletries and other essentials assured." }}"/>
<meta property="og:image" content="{{ facebook.image | default:"https://images.treebohotels.com/images/treebo_logo_og_image_2.png" }}"/>


{% if seo.canonical %}
     <link rel="canonical" href="{{seo.canonical}}"/>
{% endif %}
{% if seo.publisher %}
     <link rel="publisher" href="{{seo.publisher}}"/>
{% endif %}
