{% load staticfiles %}
{% load url_hashifier %}

{% if googleMaps %}
    <!-- <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script> -->
{% endif %}

{% if googleLogin %}
    <script src="https://apis.google.com/js/api:client.js?onload=initGoogleSignIn"></script>
{% endif %}


{% for script in scripts %}
    <script defer src="{% get_static_url %}{{ script|hashify:'mobile'  }}" ></script>
{% endfor %}

 <script src="https://apis.google.com/js/platform.js" async defer></script>
