{% load staticfiles %} {% load url_hashifier %}
<div class="container search-box">
    <h2 class="search-box__header text-left">BOOK A TREEBO!</h2>
    <form class="row form pos-rel">
        <div id="searchLoader" class="loader-container loader-container--inline hide initial-load">
            <div class="loader-box v-center">
                <div class="sk-fading-circle small">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>
        {% if cities %}
        <div class="form__group search-input-cont">
            <select class="form__control" id="searchInput">
                {% for city in cities %}
                <option>{{city.name}}</option>
                {% endfor %}
            </select>
            <label class="form__label">Select City</label>
        </div>
        {% endif %}
        <div id="calendar" class="search-box__calendar daterange daterange--double"></div>
        <div id="guestNRoomWidget" class="search-box__room-widget room-widget-container pos-rel"></div>
        {%  if room_types %}
        <div class="form__group">
            <select class="form__control" id="roomType">
                {% for room in room_types %}
                <option value="{{room.room_type}}">
                    {{room.room_type}}
					<!-- (&#8377;{{room.price_per_night|floatformat:"0"}} per night) -->
                </option>
                {% endfor %}
            </select>
            <label class="form__label">Room Type</label>
            <div class="form__help-block form__help-block--error hide room__error__container">
                <div class="form__help-text room__error">
                    <i class="icon-alert"></i>
                    <span class="room__error-text"></span>
                </div>
            </div>
        </div>
        {% endif %}
        <button type="button" class="btn btn--block search-box__submit" id="searchSubmitBtn" name="button">SEARCH</button>
    </form>
</div>
