{% extends "root-desktop.html" %} {% block content %}


<div class="joinus_content">
  <div class="container">
    <div class="joinus flex-column">

      <a href="#joinournetwork" class="joinus__joinournetwork">
        <div class="slide-show">
          <img src="//images.treebohotels.com/images/join-us-banner-carousel-1.jpg"
               class="slide-show__image">
          <img src="//images.treebohotels.com/images/join-us-banner-carousel-2.jpg"
               class="slide-show__image">
          <img src="//images.treebohotels.com/images/join-us-banner-carousel-3.jpg"
               class="slide-show__image">
          <img src="//images.treebohotels.com/images/join-us-banner-carousel-4.jpg"
               class="slide-show__image">
        </div>
      </a>

      <div class="joinus__sales-marketing flex-column">
        <div class="joinus__sales-status flex-column">
          <div class="joinus__heading joinus__sales-heading">
            <p>GET ACCESS TO PROFESSIONAL SALES & MARKETING EXPERTISE</p>
          </div>

          <div class="joinus__stats-sales flex-row text-center">
            <div class="">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/occupancy.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 75%+ </p>
              <p class="joinus__stat-description"> Occupancy </p>
            </div>

            <div class="joinus__marketing-item">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/room-rent.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 2100+ </p>
              <p class="joinus__stat-description"> Avg. Room Rent </p>
            </div>

            <div class="joinus__marketing-item">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/corporate-tieups.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 1000+ </p>
              <p class="joinus__stat-description"> Corporate Tie Ups </p>
            </div>

            <div class="ml50">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/Travel-agent.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 100+ </p>
              <p class="joinus__stat-description"> Travel Agent Partners </p>
            </div>
          </div>
        </div>
        <div class="text-left joinus__testimonial-section">
          <div class="flex-column">
            <div class="joinus__quote joinus__quote-top text-left">
              <p> "The hospitality Industry faces lots of challenges, one of them is occupancy.
                That's where we had a partner like Treebo who came in and said, we will take away
                this challenge of yours so that you can focus on guest satisfaction" </p>
            </div>

            <div class="joinus__quote-speaker text-left">
              <p class="joinus__speaker-name"> Mr. Ajoy, Hotel Owner</p>
              <p class="joinus__speaker-detail"> Treebo Akshaya Mayflower </p>

            </div>
          </div>

        </div>
      </div>


      <div class="joinus__guest_service flex-column">
        <div class="joinus__guest-service-status flex-column">
          <div class="joinus__heading joinus__service-heading">
            <p>DELIVER SUPERIOR GUEST SERVICE</p>
          </div>

          <div class="joinus__stats-service flex-row text-center">
            <div class="joinus__service-item">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/trip-advisor.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 4 + </p>
              <p class="joinus__stat-description"> Avg. Rating on TripAdvisor </p>
            </div>

            <div class="joinus__service-item">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/repeat-customers.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 25% </p>
              <p class="joinus__stat-description"> Repeat Customers </p>
            </div>

            <div class="joinus__service-item">
              <!-- <img src="{% get_static_url %}desktop/images/joinus-image/repeat-customers2.png" class="joinus__sub-images"> -->
              <p class="joinus__stat"> 80% </p>
              <p class="joinus__stat-description"> 4+ reviews on TripAdvisor after partnering with
                Treebo </p>
            </div>
          </div>
        </div>
        <div class="text-left joinus__testimonial-section">
          <div class="flex-column">
            <div class="joinus__quote joinus__quote-top text-left">
              <p> "The comradeship and good cheer the staff brings to you is admirable! This hotel
                is a perfect blend of what every traveller/customer looks for. Hands down the best
                experience I've ever had!" </p>
            </div>

            <div class="joinus__quote-speaker text-left">
              <p class="joinus__speaker-name"> Dev, Guest </p>
              <p class="joinus__speaker-detail"> Treebo Cartier </p>
            </div>
          </div>
        </div>
      </div>

      <div class="joinus__best-interest flex-column">
        <div class="joinus__sales-status flex-column">
          <div class="joinus__heading joinus__owner-heading">
            <p>PARTNER WITH US FOR SUCCESS</p>
          </div>

          <div class="joinus__interest-img flex-row text-left">
            <div class="flex-column">
              <ul class="joinus__interest-list">
                <li> Great returns on investment with complete support in all aspects of business
                </li>
                <li> Long Term Contracts</li>
                <li> 24 X 7 Guest Delight team to provide customer service</li>
                <li> Monthly Settlements & Timely Payment</li>
                <li> Access to latest technology to handle operations better</li>
                <li> Vendor ecosystem to bring cost efficiency</li>
              </ul>

              <!-- <div class="joinus__multi-year-contract-width">
                <img src="{% get_static_url %}desktop/images/joinus-image/contract.png" class="joinus__sub-images mt10">
                <p class="joinus__interest-stat joinus__multi-year"> Multi Year Contracts </p>
                <img src="{% get_static_url %}desktop/images/joinus-image/24x7.png" class="joinus__sub-images">
                <p class="joinus__interest-stat"> 24 X 7 Customer Care Support </p>
              </div> -->
            </div>
            <!-- <div class="flex-column ml30">

              <div class="joinus__monthly-settlement pos-rel">
                <img src="{% get_static_url %}desktop/images/joinus-image/payments.png" class="joinus__sub-images mt10">
                <p class="joinus__interest-stat"> Monthly Settlements</p>
                <p class="joinus__interest-stat joinus__timely-payment">& Timely Payment </p>
                <img src="{% get_static_url %}desktop/images/joinus-image/tablet.png" class="joinus__sub-images">
                <p class="joinus__interest-stat"> Access to Latest Technology </p>
              </div>
            </div> -->
            <!-- <div class="flex-column">

              <div class="joinus__ecosystem">
                <img src="{% get_static_url %}desktop/images/joinus-image/eco-system.png" class="joinus__sub-images mt10">
                <p class="joinus__interest-stat mb10"> Ecosystem of external vendors </p>

              </div>
            </div> -->

          </div>
        </div>

        <div class="text-left joinus__testimonial-section">
          <div class="flex-column">
            <div class="joinus__quote text-left joinus__quote-top">
              <p> "Treebo is very different from others because they are promising us assured sales,
                quality assurance to the customers, co-branding and lastly they do not undersell our
                rooms" </p>
            </div>

            <div class="joinus__quote-speaker text-left">
              <p class="joinus__speaker-name"> Janaki Ram, Hotel Owner</p>
              <p class="joinus__speaker-detail"> Treebo Urs Regency</p>

            </div>
          </div>

        </div>
      </div>

      <div class="treebo-init flex-column">
        <div class="treebo-init__header text-center"> TRENDING INITIATIVES THAT ARE REDEFINING
          BUDGET HOTEL SPACE
        </div>
        <div class="flex-row text-center treebo-init__fields">
          <div class="treebo-init__width">
            <div class="treebo-init__alpha-friends-image">
              <img src="{% get_static_url %}desktop/images/joinus-image/alpha.png">
            </div>

            <div class="treebo-init__trend-initiative">
              <p> TREEBO ALPHA </p>
            </div>

            <div class="treebo-init__alpha-desc">
              <p> Customized offerings for corporate customers </p>
            </div>

          </div>

          <div class="treebo-init__item treebo-init__width">
            <div class="pt20 treebo-init__alpha-friends-image">
              <img src="{% get_static_url %}desktop/images/joinus-image/friendsof-treebo.png">
            </div>

            <div class="treebo-init__trend-initiative">
              <p> FRIENDS OF TREEBO</p>
            </div>

            <div class="treebo-init__friends-desc">
              <p> Industry's first crowd-sourced quality audit program </p>
            </div>
          </div>

          <div class="treebo-init__item  treebo-init__width">
            <div class="treebo-init__quality-image treebo-init__alpha-friends-image">
              <img src="{% get_static_url %}desktop/images/joinus-image/quality-leader.png">
            </div>

            <div class="treebo-init__trend-initiative">
              <p> TREEBO QUALITY LEADERS</p>
            </div>

            <div class="treebo-init__quality-desc">
              <p> Monthly cash rewards for our top-performing hotels </p>
            </div>
          </div>
        </div>

      </div>

      <div id="joinournetwork" class="flex-column joinus__network">
        <div class=" text-center mt60">
          <p class="joinus__network-title mb20">JOIN OUR NETWORK</p>
        </div>

        <div class="text-center">
          <p class="joinus__network-para mb140">
            We are expanding our footprints across the country and in this journey,
            we are keen to work with franchise partners that share the same passion for
            quality and great customer service, as we do. If you want to become a part of a
            hospitality brand that customers love and looking for a great business
            opportunity, please get in touch with us using the form below.
          </p>
        </div>
      </div>
      <div class="joinusForm">
        <div class="">
          <form class="joinusForm__form" id="joinusForm">
            <div class="flex-row">
              <div class="joinusForm__info1-left flex-column">
                <div>
                  <label class="joinusForm__label"> Hotel Name *</label>
                  <input id="hotel-name" class="joinusForm__input-text " type="text"
                         name="hotel-name"
                         data-parsley-required="true"
                         data-parsley-trigger="change"
                         data-parsley-required-message="Please enter hotel name here"

                  />
                </div>
                <div>
                  <label class="joinusForm__label"> Email Address *</label>
                  <input id="email-address" class="joinusForm__input-text " type="text"
                         name="email-address"
                         required="true"
                         data-parsley-type="email"
                         data-parsley-trigger="change"
                         data-parsley-type-message="Enter valid email"
                         data-parsley-required-message="Please enter a valid email address"
                  />
                </div>


              </div>

              <div class="joinusForm__info1-right flex-column">
                <div>
                  <label class="joinusForm__label"> Contact Person Name *</label>
                  <input id="contact-person" class="joinusForm__input-text " type="text" name="name"
                         required="true"
                         data-parsley-required="true"
                         data-parsley-trigger="change"
                         data-parsley-required-message="Please enter name here"

                  />
                </div>

                <div>
                  <label class="joinusForm__label"> Mobile Number *</label>
                  <input id="mobile-number" class="joinusForm__input-text " type="text"
                         name="mobile"
                         required="true"
                         data-parsley-type="number"
                         data-parsley-trigger="change"
                         data-parsley-type-message="Enter valid mobile number"
                         data-parsley-required-message="Enter valid mobile number"
                         data-parsley-minlength="10"
                         data-parsley-maxlength="10"
                  />
                </div>

              </div>
            </div>

            <div class="flex-row">
              <div class="pl30 mb30 mt30">
                <label class="joinusForm__label">Do you run a hotel that you'd like to associate
                  with Treebo?* </label>
                <label class="joinusForm__label pl20">
                  <input class="mr5" type="radio" name="priorExperience" value="YES"
                         data-parsley-errors-container=".prior-error"
                         data-parsley-required="true"
                         data-parsley-trigger="change"
                         data-parsley-required-message="Please select an option"
                  /> YES
                </label>
                <label class="joinusForm__label pl20">
                  <input class="mr5" type="radio" name="priorExperience" value="NO"/> NO
                </label>
                <div class="prior-error"></div>
              </div>
            </div>


            <div class="prior-container">
              <div class="hide prior-experience">
                <div class="flex-row">
                  <div class="joinusForm__info1-address flex-column pl30">
                    <div>
                      <label class="joinusForm__label"> Contact Person's Role (eg. Manager,
                        Owner)</label>
                      <input id="contact-person-role" class="joinusForm__input-text " type="text"
                             name="role"/>
                    </div>
                    <div>
                      <label class="joinusForm__label"> Hotel Address (Line 1) *</label>
                      <input id="hotel-address1" class="joinusForm__input-address-text " type="text"
                             name="address1"
                             required="true"
                             data-parsley-required="true"
                             data-parsley-trigger="change"
                             data-parsley-required-message="Please enter your address here"
                      />

                    </div>

                    <div>
                      <label class="joinusForm__label"> Hotel Address (Line 2) *</label>
                      <input id="hotel-address2" class="joinusForm__input-address-text " type="text"
                             name="address2"/>
                    </div>

                  </div>
                </div>

                <div class="flex-column">
                  <div class="joinusForm__info1-address-city flex-row pl30">
                    <div class="joinusForm__input-right-margin">
                      <label class="joinusForm__label"> State *</label>
                      <input id="state" class="joinusForm__input-city-text " type="text"
                             value="Karnataka" name="state"
                             required="true"
                             data-parsley-required="true"
                             data-parsley-trigger="change"
                             data-parsley-required-message="Enter State Name"
                      />
                    </div>

                    <div class="joinusForm__input-right-margin">
                      <label class="joinusForm__label"> city *</label>
                      <input id="city" class="joinusForm__input-city-text " type="text"
                             value="Bangalore" name="city"
                             required="true"
                             data-parsley-required="true"
                             data-parsley-trigger="change"
                             data-parsley-required-message="Enter City Name"
                      />
                    </div>

                    <div class="joinusForm__input-right-margin">
                      <label class="joinusForm__label"> Pincode *</label>
                      <input id="pincode" class="joinusForm__input-city-text " type="text"
                             name="pincode"
                             required="true"
                             data-parsley-required="true"
                             data-parsley-trigger="change"
                             data-parsley-required-message="Enter valid Pincode"
                             data-parsley-minlength="6"
                             data-parsley-maxlength="6"
                      />
                    </div>

                  </div>
                </div>

                <div class="flex-column">
                  <div class="joinusForm__info1-address-city flex-row">
                    <div class="joinusForm__input-right-margin">
                      <label class="joinusForm__label"> Number of Rooms </label>
                      <input id="number-of-rooms" class="joinusForm__input-room-text " type="number"
                             name="room"/>
                    </div>

                    <div class="joinusForm__input-right-margin">
                      <label class="joinusForm__label"> Average Room Rate </label>
                      <input id="average-room-rate" class="joinusForm__input-room-text " type="text"
                             name="roomrate">
                    </div>

                    <div class="joinusForm__input-right-margin">
                      <label class="joinusForm__label"> Current Occupancy in percentage</label>
                      <input id="current-occupancy" class="joinusForm__input-room-text " type="text"
                             name="occupancy">
                    </div>

                  </div>
                </div>

              </div>

              <div class="hide no-prior-experience">
                <div class="flex-row">
                  <div class="pl30">
                    <label class="joinusForm__label"> Cities Interested *</label>
                    <input id="cities-interested" class="joinusForm__input-address-text" type="text"
                           name="citiesInterested"
                           required="true"
                           data-parsley-required="true"
                           data-parsley-trigger="change"
                           data-parsley-required-message="Please enter the cities you are interested here"
                    />

                  </div>
                </div>
                <div class="flex-row">
                  <div class="pl30">
                    <label class="joinusForm__label"> Investment Range *</label>
                    <div class="select mt5">
                      <select name="investmentAmount" id="investmentRange"
                              class="joinusForm__select"
                              required
                              data-parsley-required="true"
                              data-parsley-trigger="change"
                              data-parsley-required-message="Please select an investment range"
                      >
                        <option></option>
                        <option>Upto 5 lakhs</option>
                        <option>5 -10 lakhs</option>
                        <option>10-20 lakhs</option>
                        <option>20-50 lakhs</option>
                        <option>50 lakhs - 1Cr</option>
                        <option>More than 1 Cr</option>
                      </select>
                    </div>
                  </div>
                  <div class="pl30">
                    <label class="joinusForm__label"> How soon would you like to invest? *</label>
                    <div class="select mt5">
                      <select name="howSoon" id="how-soon" class="joinusForm__select"
                              required
                              data-parsley-required="true"
                              data-parsley-trigger="change"
                              data-parsley-required-message="Please select an option"
                      >
                        <option></option>
                        <option>Immediately</option>
                        <option>3 to 6 months</option>
                        <option>6 to 12 months</option>
                        <option>Not decided</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="flex-row">
                  <div class="pl30 mb30 mt30">
                    <label class="joinusForm__label"> Would require any lending support?* </label>
                    <label class="joinusForm__label pl20">
                      <input class="mr5" type="radio" name="lendingSupport" value="YES"
                             data-parsley-errors-container=".support-error"
                             data-parsley-required="true"
                             data-parsley-trigger="change"
                             data-parsley-required-message="Please select an option"
                      /> YES
                    </label>
                    <label class="joinusForm__label pl20">
                      <input class="mr5" type="radio" name="lendingSupport" value="NO"/> NO
                    </label>
                    <div class="support-error"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-column">
              <div class="joinusForm__info1-address-city flex-row pl30">
                <div class="joinusForm__input-right-margin">
                  <label class="joinusForm__label"> Any additional information </label>
                  <textarea id="any-additional-info" name="additionalInfo"
                            class="joinusForm__input-additional-text " rows="4"
                            cols="50"></textarea>
                </div>
              </div>
            </div>
            <div class="flex-column">

              <div class="joinusForm__submit-button text-center">
                <input type="submit" id="feedbackSubmitForm" class="joinusForm__button btn"
                       value="SUBMIT"/>

              </div>
            </div>


          </form>
          <div id="feedbackSuccessMsg" class="alert hide">Your Feedback is successfully submitted
          </div>
        </div>


      </div>

    </div>

  </div>


  <div id="video" class="youtube modal feedback-modal pos-abs flex-column hide">

    <div class="modal__body pos-rel">
      <div class="icon icon-close pos-abs js-modal__close hand flex-row flex--align-center">
        <i id="stop-cross" class="pos-rel icon-cross"></i>
      </div>
      <iframe id="youtube_player" class="youtube__youtubeVideo pos-rel" width="800" height="500"
              src="https://www.youtube.com/embed/nbqKsmHRkQE?enablejsapi=1&version=3&playerapiid=ytplayer"
              frameborder="0" allowfullscreen allowscriptaccess="always"></iframe>
    </div>
  </div>

</div>


{% endblock %}
