<div class="pages tab__content" id="referral">
    <div class="referral">
        <h1 class="pages__heading referral__heading">MY REFERRALS</h1>
        <div class="referral__banner">
            <img class="referral__banner-img" width="100"
                 src="http://images.treebohotels.com/images/referral_page_image_desktop.jpg" alt="">
        </div>
        <p class="referral__text">Invite all your friends to experience an awesome stay at Treebo & get Rs. 500 Paytm cash on their first stay. Your friends also get Rs. 500 off on their first stay at Treebo. <a href="https://treeboreferral.squarespace.com/" target="_blank">Terms & Conditions</a>
        </p>
        <div class="referral__wrapper flex-column">
            <div class="flex-row">
                <span class="referral__code">{{ referral.shareurl }}</span>
                <button class="btn referral__copy" data-clipboard-text="{{ referral.shareurl }}">Copy</button>
            </div>

            <div id="referral-share" class="referral__share" data-fbshare="{{ share.fb_share_msg }}"></div>

        </div>
        <h2 class="referral__total"> Total successful referrals : {{ referral.total_reward_earned}} </h2>

        {% if referral.all_referral_rewards %}
        <div class="referral__list-title referral__list-item">
            <span>Referral</span>
            <span class="rfloat">Status</span>
        </div>
        <ul>
            {% for reward in referral.all_referral_rewards %}
            <li class="referral__list-item">
                <span>{{ reward.email }}</span>
                <span class="rfloat">{{ reward.event_name }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
