<div class="pages tab__content settings-page" id="settings">
	<div class="pages__heading">SETTINGS</div>
	<div class="flex-column password">
		<div class="password__change">CHANGE PASSWORD</div>
		<div class="password__detail">
			<form class="passwordChangeForm">
				<div class="password__item">
					<label class="password__input-lebel">Old Password</label>
					<input id="oldPwd" type="password" name="oldPassword" id="oldPwd" class="password__input" required="true"
				 		data-parsley-required="true"
                    	data-parsley-trigger="change"
                    	data-parsley-type-message="Enter valid password"
                    	data-parsley-required-message="Please enter a valid old password"/>
				</div>

				<div class="password__item">
					<label class="password__input-lebel">New Password</label>
					<input id="newPwd" type="password" name="newPassword" id="newPwd" class="password__input" required="true"
				    	data-parsley-required="true"
                    	data-parsley-trigger="change"
                    	data-parsley-type-message="Enter valid password"
                    	data-parsley-required-message="Please enter a valid new password"
                    	data-parsley-minlength="6"
                    	/>
				</div>

				<div class="password__item">
					<label class="password__input-lebel">Confirm Password</label>
					<input id="confirmPwd" type="password" name="confirmPassword" id="confirmPwd" class="password__input" required="true"
				    	data-parsley-required="true"
                    	data-parsley-trigger="change"
                    	data-parsley-type-message="Enter valid password"
                    	data-parsley-required-message="Please enter a valid confirm password"
                    	data-parsley-minlength="6"
                    	data-parsley-equalto="#newPwd"
                    	data-parsley-error-message="Oops! This value does not match your new password."/>
				</div>

				<div class="separator"></div>
				<div class="text-left">
					<input id="submitPasswordChange" type="submit" class="btn password__save-btn submit" value="save"/>
				</div>
			</form>
		</div>
	</div>

</div>
