@import "variables.less";
@import "mixins.less";
@import "static-page.less";

		

			.aboutus{
				background:white;
				margin-top:45px;

				&__header_info {
					font-weight: 600;
					.font-size(38);
				}

				&__flex_item {
					flex: 1;
					padding-top: 20px;
					padding-bottom: 20px;
  				
  				}
			}
			

			.story{
				&__header{
					margin-top:60px;
				}

				&__content{

				}
			}


			.leadership {
				&__header {

				}

				&__profile{
					max-width:212px;
				}
				
				&__name{
					.font-size(23);
					font-weight: 100;
				}

				&__founder {
					.font-size(19);
					font-weight: 100;
				}

				&__founder_info {
					
					width:215px;
					height:150px;
					.font-size(15);
					font-weight: 80;
				}

				&__social_link {
					border-radius: 5px 
				}

				&__sociallinks{
					display: flex;
					justify-content: space-around;
					padding: 0px 50px;
				}

				&__linkedin-icon {
					width:30px;
					height:30px;
					background-color:black;
					border-radius:5px;
					.font-size(25);
					padding-left:2px;
				}

				&__twitter-icon {
					width:30px;
					height:30px;
					background-color:black;
					color:white;
					border-radius:5px;
					.font-size(25);
					padding-top:2px;
				}

				&__profile_image {
					width:210px;
					height:210px;
					border-radius: 250px;
				}

			}


			.joinus {
				min-height:250px;
				background-color: @treeboColor;

				&__header_joinus {
					.font-size(25);
					font-weight: 600;
				}

				&__mail {
					.font-size(20);
					font-weight: 600;
				}

				&__careers-link{
					color:@shark-gray;
				}
			}		

			
			.treebonews{
				min-height:300px;

				&__header_treebo {
					.font-size(25);
					font-weight: 500;
				}

				&__news_image_row {
					display: flex;
					justify-content:space-around;
				}

				&__news_image {
					display: flex; 
					justify-content : space-around; 
					margin-right: 10px
				}
			}

