@import "variables.less";
@import "mixins.less";

@searchBoxHeight: 115px;
.account-page {
    color: @textColor1;
    min-height: 200px;
    &__header {
        color: @textColor1;
        .font-size(20);
        margin: 10px 0;
        font-family: @brandFont;
        text-align: center;
    }
    .rooms {
        margin-right: 20px;
    }
    padding-bottom: 50px;
}

.referrals {
  &__main {
    background-color: @color;
    padding: 12px 16px;
    margin-top: 5px;
    &__title {
      color: @textColor1;
      .font-size(16);
    }

    &__banner {
      margin: 15px 0;
    }

    &__banner-img {
      width: 100%;
    }

    &__sub-title {
      color: @textColor3;
      .font-size(12);
      margin: 7px 0 2px 0;
    }
    &__code {
      color: @textColor1;
      .font-size(16);
    }
    &__url-wrapper {
      width: 100%;
      margin: 14px 0;
      &__url {
        display: inline-block;
        height: 40px;
        width: 75%;
        color: @textColor3;
        .font-size(14);
        background-color: @athens-gray;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

      }
      &__copy-btn {
        height: 40px;
        min-width: 60px;
        width: 25%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        .font-size(14);
        margin-top: -1px;
        margin-left: -1px;
      }
    }
  }
  &__status {
    background-color: @color;
    padding: 12px 0;
    margin-top: 5px;
    &__sec-title {
      margin: 21px 0 0 16px;
      .font-size(12);
      color: @textColor3;
      font-weight: 600;
    }
    &__block {
      padding: 15px 10px;
      &__box {
        display: inline-block;
        .font-size(24);
        .box__sub-text {
          color: @textColor3;
          .font-size(16);
          margin-top: 5px;
        }
      }
    }
    &__list {
      &__item {
        padding: 15px 16px;
        border-top: 1px solid @borderLight;
        &__email {
          .font-size(16);
          margin-bottom: 5px;
        }
        &__status {
          .font-size(14);
          color: @treeboColor;
        }
      }
    }
  }
}

.bookings {
    &__item {
        margin-bottom: 20px;
        &__header {
            .font-size(14);
            font-weight: 600;
            color: @textColor2;
            padding: 0 10px;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        &__body {
            background: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        }
    }
}
.booking-info {
    padding: 15px 10px;
    border-bottom: solid 1px #f0f0f0;
    color: @textColor1;
    &__hotel-name {
        .font-size(16);
        font-weight: 600;
        color: @textColor1;
    }
    &__hotel-address {
        .font-size(12);
        color: @textColor3;
    }
    &__room-guest-info {
        margin-top: 10px;
        .font-size(12);
        color: @textColor1;
    }
    &__status {
        .font-size(16);
        font-weight: 500;
        margin-top: 10px;
        &--RESERVED {
            color: @treeboColor;
        }
        &--CANCELLED {
            color: @errorColor;
        }
    }
    .col-1 {
        width: 100%;
        padding-right: 100px !important;
    }
    .col-2 {
        width: 100px;
        right: 0;
        top: 15px;
        .font-size(14);
        text-align: center;
    }
    .sep-dash {
        text-align: center;
    }
    &__back-link {
        .font-size(16);
        left: 10px;
    }
    &__cancelled-msg {
        // padding: 10px;
        text-align: center;
    }
}
.booking-details__item {
    padding: 15px 10px;
    border-bottom: solid 1px #f0f0f0;
    &__hotel-name {
        .font-size(16);
        color: @textColor1;
        font-family: @brandFont;
    }
    &__hotel-address {
        .font-size(12);
        color: @textColor3;
    }

    &__status {
        .font-size(16);
        font-weight: 500;
        margin-top: 10px;
        &--RESERVED {
            color: @treeboColor;
        }
        &--CANCELED {
            color: @errorColor;
        }
    }
    &__booking-id {
        margin-top: 8px;
    }
    &__traveller-email {
        margin-top: 8px;
    }
    &__traveller-email, &__booking-id,
    &__traveller-number, &__dates, &__room-guest-info {
        color: @textColor3;
        .font-size(12);
		line-height: 17px;
    }
}
.payment-info {
    padding: 15px 0;
    color: @textColor3;
    &__item {
        padding: 3px 10px;
        .font-size(14);
    }
    &__discount {
        .col-2 {
            color: @treeboColor;
        }
    }
    &__total {
        color: @textColor1;
        .font-size(17);
    }
    .col-2 {
        text-align: right;
        i {
            position: relative;
            top: 3px;
            left: -2px;
            font-weight: 300;
        }
    }
}
.booking-cancel {
    bottom: 0;
    z-index: 1111;
    width: 100%;
    height: 48px;
    font-weight: 500;
    background-color: @treeboColor;
    line-height: 37px;
    border-color: @treeboColor;
    color: white;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.12);
}
.prompt {
    background: @transparentBg;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    &__body {
        background: #fff;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 3px;
        transform: translate(-50%, -50%);
        box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.14), 0 9px 9px 0 rgba(0, 0, 0, 0.24);
    }
    &__confirm-text {
        padding: 0 50px;
        text-align: center;
        padding: 20px;
        color: @textColor2;
    }
    &__action {
        border-top: 1px solid @borderLight;
        padding: 0 20px;
        &__item {
            width: 50%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            .font-size(14);
            &--cancel {
                border-right: 1px solid @borderLight;
            }
            &--ok {
                color: @treeboColor;
            }
        }
    }
}
