@import "variables.less";
@import "mixins.less";
@import "itineraryview.less";

.confirmation-page{
	background-color: @lightGray;
	color: @textColor2;
	padding-bottom: 0px;
}

.confirmation{
	padding: 20px 0px;
	.font-size(20);
	color: @textColor2;
	font-family: @brandFont;
}

.hotelDetail{
	background: white;
	&__hotel{
		background: @treeboColor;
		color: white;
		height: 80px;
		position: relative;
	}
	&__hotel-image{
		position: absolute;
		width: 80px;
		height: 80px;
	}
	&__hotel-address{
		.font-size(14);
		padding: 10px 10px 10px 90px;
	}
	&__hotel-name{
		.font-size(18);
		font-weight: 600;
		padding-bottom: 5px;
	}
}

.bookingInfo{
	padding: 15px 0px;
	position: relative;

	&__item{
		font-size: 0;
		&+&{
			margin-top: 15px;
		}
	}
	&__item-title{
		font-size: initial;
		text-align: left;
		width:40%;
		padding-left: 20px;
		display: inline-block;
		color: @textColor3;
	}
	&__item-value{
		font-size: initial;
		text-align: left;
		width:60%;
		display: inline-block;
		color: @textColor2;
	}
	&__rupee-icon{
		position:relative;
		top:1px;
		padding-right: 5px;
		font-size: 15px;
	}
	&__stamp {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.important-point{
	background: white;
	margin: 10px 0px;
	padding-bottom: 20px;
	&__head{
		padding-top: 10px;
		padding-bottom: 10px;
		.font-size(18);
		font-weight: 600;
	}
	&__points{
		padding-left:30px;
		padding-right: 20px;
		.font-size(14);
	}
	&__list-point{
		padding-top: 20px;
	}
}

.direction{
	background: white;
	margin-bottom: 10px;
	padding: 10px 20px;
	display: inline-block;
	width: 100%;

	.font-size(18);
	color: @textColor2;
	font-weight: 600;
}
