@import "variables.less";
@import "mixins.less";
@import "static-page.less";


.contactus{
	
	.gm-style-iw{
		text-align:left;
	}

	&__wrapper{
		margin:45px 0px;
	
	}

	&__upper{
		background:white;
		padding-top:60px;
		padding-left:60px;
		padding-right:60px;
		
	}

	&__bangalore{
		width:320px;
	}

	&__map{
		overflow:hidden;
		height:270px;
		width:645px;
	}

	&__mapLayout{
		height:240px;
		width:640px;
	}

	&__lower{
		background:white;	
		padding:60px 60px;
	}

	&__heading{
		.font-size(20);
	}

	&__submit{
		height:45px;
		width:15%;
		border-radius:3px;
	}

	&__title{
		.font-size(35);
		margin-bottom: 30px;
	}
	&__query{
		padding-bottom:30px;
		border-bottom:1px solid @gallery-gray;
	}
	&__select-tag{
		width:100%;
		padding:10px;
	}
	&__subheading{
		/*color: @textColor1;*/
		font-size: 20px;
		font-weight: 400;
	}
	&__underline{
		border-bottom:1px solid @ocean-green;
	}
	&__medheading{
		.font-size(24);
		color:@dove-gray;
		font-weight:100;
		margin-bottom: 40px;
	}

	&__icon {
		.font-size(20);
	}

	&__reach-us{
		margin-left:6px;
	}

	&__mail{
		color:#333;
	}
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important
}

.details{
	&__address{
		width:35%;
	}
	&__map{
		width:65%;
	}
}


.form-labels{
	margin-bottom: 15px;
	&__label{
		color: @textColor1;
		
	}

	&__input{
		width:260px;
		height:40px;
		font-size: 15px;
		margin-top: 5px;
	}

	&__input-date{
		width:150px;
		height:42px;
		font-size: 15px;
		margin-right: 20px;
		margin-top: 5px;
	}

	&__input-kid-adult{
		width:100px;
		height:40px;
		font-size: 15px;
		margin-right: 20px;
		margin-top: 5px;
	}
	&__input-area{
		margin-top: 5px;

	}
	&__instruction{
		.font-size(12);
	}

	&__form-labels_border {
		border:2px solid grey;
		border-radius:2px;
	}
}

.form_policy{
	width:560px;
	height:260px;
	background:#E7EBF0;
	.font-size(14);
	margin-left: 150px;
	margin-top: 25px;

	&__heading{
		padding-top: 10px;
		padding-left: 10px;
		margin-bottom: 10px;

	}
	&__li-class{
		margin-bottom: 5px;
	}
	&__ul {
		list-style-type: disc;
		padding-left: 30px;
		padding-right: 10px;
	}
}

.in-out-form-policy{
	.font-size(14);
	width:550px;
	height:160px;
	background:#E7EBF0;
	margin-left: 150px;
	padding-top: 10px;

	&__heading{
		padding-top: 10px;
		padding-left: 10px;
		margin-bottom: 10px;
	}
}
