//
//                       _oo0oo_
//                      o8888888o
//                      88" . "88
//                      (| -_- |)
//                      0\  =  /0
//                    ___/`---'\___
//                  .' \\|     |// '.
//                 / \\|||  :  |||// \
//                / _||||| -:- |||||- \
//               |   | \\\  -  /// |   |
//               | \_|  ''\---/''  |_/ |
//               \  .-\__  '-'  ___/-. /
//             ___'. .'  /--.--\  `. .'___
//          ."" '<  `.___\_<|>_/___.' >' "".
//         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
//         \  \ `_.   \_ __\ /__ _/   .-` /  /
//     =====`-.____`.___ \_____/___.-`___.-'=====
//                       `=---='
//
//
//     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
//     A Buddha statue to bless your code to be bug free.
//
@import "variables.less";
@import "mixins.less";

@borderLight: #f0f0f0;
.hotel-body {
	margin-top: -35px;
	padding: 10px;
	z-index: 18;
	backface-visibility: hidden;
}
.hotel-detail {
	background: white;
	padding: 0 10px;
	clear: both;
	min-height: 110px;
	&__header {
		.font-size(18);
		color: @textColor1;
		font-weight: 600;
		line-height: 0.9;
	}
	&__subheader {
		.font-size(12);
		color: @textColor1;
		margin-top: 8px;
	}
	&__rooms {
		.font-size(14);
		color: @textColor3;
	}
	&__carousel {
		margin: 0 -10px;
		height: 190px;
	}
	&__info {
		padding: 16px;
		border-bottom: 0.5px solid @borderLight;
		margin-bottom: 10px;
	}
}
.carousel {
	&__img {
		background-repeat: no-repeat;
		background-position: 50%;
		&.slick-slide {
			min-height: 190px;
		}
	}
}
.hd-section {
	background: #fff;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
	&__title {
		color: @textColor1;
		padding: 8px 16px;
		.font-size(14);
		font-weight: 600;
		text-transform: uppercase;
		&--popup {
			padding-top: 13px;
			padding-bottom: 13px;
		}
	}
	.icon-right {
		color: @textColor1;
	}
}
.room-details {
	&__icon-block {
		.font-size(10);
		color: @treeboColor;
		text-transform: uppercase;
		visibility: hidden;
		text-align: right;
	}
	&__type {
		width: 75px;
		float: left;
		.font-size(16);
		text-align: left;
		left: 16px;
		// top: 50%;
		// transform: translate(0%, -50%);
	}
	&__msg {
		display: none;
	}
	&__detail {
		padding-left: 120px;
		width: 100%;
		float: left;
		// top: 50%;
		// transform: translate(0%, -50%);
	}
	&__size {
		color: @textColor3;
		margin-top: 5px;
		text-transform: lowercase !important;
	}
	&__type {
		&__name {
			// margin-top: -2px;
		}
	}
	&__soldout {
		.font-size(12);
		color: @errorColor !important;
		text-align: right;
		margin-bottom: 10px;
	}
	&__rooms {
		border-top: 0.5px solid @borderLight;
		height: 72px;
		padding: 12px 16px;
		&:first-child {
			border-top-width: 1px;
		}
		&--unavailable {
			// .grayscale();

			.room-details__msg {
				display: block;
			}
		}
		&--selected {
			background: @gallery-gray;
			.room-details__icon-block {
				visibility: visible;
			}
		}
	}
}
.room-capacity {
	&__text {
		color: @textColor3;
		.font-size(10);
		margin-top: 5px;
	}
}
.room-availibility {
	.font-size(14);
	right: 0;
	top: 0;
	width: 110px;
	margin-top: 1px;
	&__info {
		color: @textColor3;
		.font-size(10);
	}
}
.small-caps {
	.font-size(10);
	color: @textColor3;
	text-transform: uppercase;
}
.room-price {
	// padding: 5px;
	padding-right: 60px;
	text-align: left;
	width: 100%;
	&__icon {
		.font-size(13);
		margin-right: 1px;
	}
	&__per-night__text {
		// margin-top: -2px;
	}
}
.hotel-amenities {
	&__amenities {
		padding-bottom: 10px;
		word-wrap: break-word;
		//padding: 0 11px 10px 11px;
	}
	&__amenity {
		display: inline-block;
		text-align: center;
		padding: 5px;
		width: 20%;
		vertical-align: top;
	}
	&__name {
		.font-size(10);
		margin: 2px 0;
		color: @textColor3;
	}
	&__icon {
		.font-size(18);
		padding: 16px 0;
		color: @textColor3;
	}
	&__desc {
		.font-size(12);
		padding: 0 16px;
		color: @textColor1;
		&__link {
			display: block;
			text-align: right;
			.font-size(10);
			text-transform: uppercase;
			color: @treeboColor;
			padding-right: 16px;
			margin-top: 10px;
		}
	}
}
.treebo-quality {
	padding-bottom: 10px;
	&__stamp {
		// margin-top: -4px;
		padding: 0 16px;
	}
	&__desc {
		.font-size(12);
		text-align: left;
		color: @treeboColor;
	}
}
.hotel-accessibility {
	&__option {
		.font-size(12);
		margin: 10px 0;
		&__icon {
			position: absolute;
			font-size: 1.2rem;
		}
		&__name {
			color: @textColor2;
			margin-left: 30px;
		}
	}
}
.hotel-about {
	margin-bottom: 16px;
	&__text {
		color: @textColor2;
		.font-size(14);
		line-height: 1.3rem;
		padding: 0 16px 10px;
	}
}
.triglights {
	margin-left: 35px;
	list-style: inherit;
	padding-bottom: 10px;
	&__item {
		margin-bottom: 5px;
		padding-right: 16px;
	}
	&__desc {
		.font-size(12);
		color: @textColor1;
	}
}
.hotel-rules {
	&__timings {
		text-align: center;
		margin: 0;
		&__time {
			color: @textColor2;
			.font-size(14);
			text-transform: uppercase;
			text-align: right;
			padding-right: 24px;
			&+& {
				border-left: 0.5px solid @borderLight;
				text-align: left;
				padding-left: 24px;
			}
		}
		&__name {
			.font-size(10);
			color: @textColor3;
		}
	}
	&__list {
		clear: both;
		padding: 0 16px;
	}
	&__rule {
		.font-size(12);
		color: @textColor1;
		// line-height: 1.2rem;
		margin: 8px 0;
		.js-more-rules & {
			&:nth-of-type(1n+3) {
				display: block;
			}
		}
		&:nth-of-type(1n+3) {
			display: none;
		}
	}
	&__know-more {
		text-align: right;
		line-height: 20px;
		color: @treeboColor;
		padding: 0 16px 10px;
		text-transform: uppercase;
		.font-size(10);
	}
}
.similar {
	.slick-arrow {
		background: rgba(0, 0, 0, 0.5);
	}
	&__carousel {
		margin-bottom: 30px;
		.slick-dots {
			bottom: -22px;
			padding: 0 10px;
			text-align: center;
			.font-size(13);
			li {
				display: none;
				margin-bottom: 0;
				&.slick-active {
					display: inline-block;
					width: 50px;
				}
			}
		}
	}
}
.modify__widget {
	background: #fff;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 20;
	left: 0;
	&__details {
		height: 63px;
		padding: 4px 16px;
		float: left;
		position: relative;
		bottom: 0;
		width: 60%;
		&__icon {
			.font-size(13);
			margin-right: 1px;
		}
		&__price {
			.font-size(16);
			margin-bottom: 5px;
			font-weight: 600;
			&__modify {
				color: @treeboColor;
				float: right;
				.font-size(10);
				top: 20px;
				right: 0;
				.icon-edit {
					display: block;
					font-size: 20px;
					text-align: center;
					line-height: 14px;
				}
			}
		}
		&__duration {
			.font-size(12);
			color: @textColor2;
		}
	}
	&__book-button {
		width: 40%;
		padding-right: 8px;
		height: 63px;
		.btn {
			width: 100%;
			height: 40px;
			border-radius: 4px;
			background-color: @treeboColor;
			box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.12);
			margin-top: 12px;
		}
	}
	&__error {
		padding: 5px;
		text-align: center;
		background: @errorColor;
		color: #fff;
		.font-size(13);
	}
	&__error-link {
		text-decoration: underline;
		color: inherit;
	}
}
.modify-booking {
	padding: 20%;
	div {
		height: 50px;
		border-bottom: 0.5px solid @borderLight;
		width: 100%;
		text-align: center;
	}
}
.room__details__choose-icon {
	visibility: hidden;
}
.selected {
	visibility: visible !important;
}
.modal__body--ph {
	.font-size(12);
	color: @textColor2;
	background: #fff;
	padding: 65px 16px 16px;
	.hotel-rules__list {
		padding: 0;
	}
	// .hotel-accessibility__option__name {margin-left: 0;}
}
.similar-hotels {
	width: 255px;
	margin-right: 10px;
}
.similar__title {
	margin-bottom: 5px;
	.font-size(16);
	font-family: @brandFont;
	text-transform: uppercase;
}
.hotel {
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
	padding: 10px;
	&__images {
		width: 80px;
		height: 80px;
		overflow: hidden;
		position: absolute;
		left: 0;
	}
	&__img-cont {
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	&__details {
		padding-left: 87px;
		position: relative;
		min-height: 80px;
	}
	&__footer {
		margin-top: 10px;
	}
	&__name {
		.font-size(14);
		margin-bottom: 3px;
		&__link {
			color: #333;
			display: block;
		}
	}
	&__address {
		color: @textColor3;
		.font-size(12);
	}
	&__from {
		.font-size(12);
		color: @textColor3;
		margin-top: 3px;
	}
	&__info {
		width: 100%;
	}
	&__distance__label {
		.font-size(10);
		color: @textColor3;
	}
	&__price {
		color: @textColor1;
		.font-size(14);
		bottom: 0;
		&__label {
			.font-size(9);
			color: @textColor3;
			font-weight: normal;
		}
		&--best {
			.font-size(10);
			color: @textColor2;
		}
		&--available {
			margin-top: 5px;
			margin-left: auto;
			margin-bottom: 2px;
			width: 150px;
			margin-bottom: 0px;
			font-weight: 600;
		}
	}
	&__review {
		padding-left: 20px;
	}
	&__soldout {
		color: @errorColor;
		.font-size(12);
		text-transform: capitalize;
		font-weight: 600;
	}
	// &__action {
	//     height: 40px;
	//
	//     &__book {
	//         padding: 10px;
	//         float: right;
	//         width: 160px;
	//     }
	// }
}
.middot {
	.font-size(18);
	line-height: 8px;
	position: relative;
	display: inline-block;
	top: 3px;
}
.hotelAvailibility-False {
	.hotel__images {
		.grayscale();
	}
}
.search-input-cont {display: none;}
// .icon-travelDesk {.font-size(20) !important;}
// .icon-guestLaundry {.font-size(25) !important;}
// .icon-eventHosting {.font-size(23) !important;}
// .icon-ironBoard {.font-size(18) !important;}
// .icon-premises {.font-size(18) !important;}
// .icon-parking {.font-size(18) !important;}
