@import "variables.less";
@import "mixins.less";

.itinerary-view__discount {
    margin: 0 10px 20px;

    .discount__voucher {
        float: left;
        width: 70%;
        height: 40px;
    }

    .discount__applybtn {
        width: 30%;
        height: 40px;
    }

    .error {
        clear: left;
        margin-top: 10px;
        margin-left: 9px;
    }
}

.discount {
    [class*=" icon-"],
    [class^="icon-"] {
        &:before {
            top: 2px;
            position: relative;
        }
    }

    .col-1 {
        width: 70%;
    }

    .col-2 {
        width: 28%;
    }

    &__info {
        &__coupon {
            color: @treeboColor;
			margin-bottom: 5px;
        }

        &__subinfo {color: @textColor3; .font-size(13)}
    }

    &__applied-screen {
        .details {
            .coupon-value {
                float: left;
            }

            .grayTxt {
                color: @greyTextColor;
            }

            .icon-tick {
                margin-right: 10px;
            }
        }

        .reapply {
            text-align: center;
            margin-top: 10px;
        }
    }
}
