@import "variables.less";
.itinerary-view__discount {
	margin: 30px 25px 20px 10px;

	.discount__voucher {
		float: left;
		width: 80%;
	}
	.discount__applybtn {
		padding-bottom: 7px;
		width: 20%;
		padding-top: 8px;
	}
	.error {
		clear: left;
	    margin-top: 10px;
		margin-left: 9px;
	}
}
.discount {
	&__applied-screen {
		.details {
			background: #fff;
			padding: 15px 10px;
			.coupon-value {
				float: left;
			}
			.grayTxt {
				color: @greyTextColor;
			}
			.icon-tick {
				margin-right: 10px;
			}
		}
		.reapply {
			text-align: center;
			margin-top: 10px;
		}
	}
}
