@import "variables.less";
@import "mixins.less";
@import "static-page.less";


.faqPage{
	padding:15px;
	margin: 10px 0px;
	background:white;
	&__para{
		.font-size(13);
		color: @textColor2;
	}
	&__intro{
		.font-size(13);
		margin-bottom: 20px;
		color: @textColor2;
	}
	&__headline {
		margin-bottom:20px;
		.font-size(18);
		font-family: @brandFont;
		color:@textColor1;
	}
	&__heading{
		margin-top: 15px;
	}
}

h3 {
	font-weight: 500;
}


.faqs{
	&__headline{
		.font-size(30);
		color:@dove-gray;
	}
	&__main{
		width:100%;
	}
	&__wrapper{
	}

	&__right_portion {
		width:100%;
	}
}
.faq-block-queries{
	display: none;
}
.side-nav{
	width:24%;
	&__item{
		height:30px;
		font-weight:400;
	}
}

.faq-block{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
	&__title{
		.font-size(16);
		font-weight:600;
		color: @textColor2;
/*		margin-bottom: 10px;*/

	}
	&__q{
		padding:5px;
		margin:5px 0px;
	}
	&__q:hover{
		background:@athens-gray;
	}
	&__qatext{
		position: relative;
		display: block;
		width:95%;
		padding-left: 10px;
		padding:5px 0px 5px 10px;
	}
	&__a{
		background:@athens-gray;
		display:none;
	}
	&__highlight{
		.font-size(15);
		padding-left: 15px;
		display: inline-block;
		color:@ocean-green;
		min-width: 25px;
/*		margin-right: 10px;*/
	}
	&__q-tag{
		position: absolute;
		left: 5px;
		color: @treeboColor;
	}
	&__close{
		right:0px;
		top:0px;

	}
	&__icon{
		top:10px;
		.font-size(12);
	}

	&__status{
		right:5px;
		cursor:pointer;
	}

	&__open{
		right:5px;
		cursor:pointer;
	}
	&__question{
		color:black;
		padding-right: 10px;
		.font-size(12);
	}
	&__answer{
		color: @textColor2;
	}
  &__referral-text{
    padding-top: 20px;
  }
  &__subheader{
    color: @treeboColor;
    text-decoration: underline;
    padding-left: 5px;
    font-weight: 500;
    font-size: 12px;
  }
  &__referral-tags {
    font-weight: 500;
    text-decoration: underline;
    color: @treeboColor;
  }
	&__para{
		.font-size(13);
		color: @textColor2;
	}
	&__li-class {
		padding-right:10px;
	}
	&__policy{
		margin:15px 0px 5px 0px;
		.font-size(16);
		color: @treeboColor;
	}
	&__cancel-policy-term{
		margin-bottom: 5px;
	}
	&__ul-location{
		color:@dove-gray;
		padding:10px 25px;
		list-style-type: disc;
		.font-size(12);
	}
	&__ul-aminities{
		list-style-type: disc;
		padding:10px 30px;
		color: @textColor3;
	}
}

.faq-block-queries{
	margin:15px 0px;
}
.gaurantee-block{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
	.font-size(13);
	&__para{
		color: @textColor2;
	}
	&__subheading{
		margin-top: 10px;
	}
}

.policies{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
	&__li-class{
		margin-bottom:10px;
	}
}

.modification-cancellation-policy{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
}

.friends-of-treebo{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
}
.offers{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
}

.tie-ups{
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
}

.hotel-direction {
	width:100%;
	padding-bottom:5px;
	border-bottom:1px solid @treeboColor;
}

.referral-block {
	border-bottom: none;
}
.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/

}
.rotate-reset {
    transform: rotate(0deg);

}
.inline{
	display: inline-block;
}

/*.policy-block{
	padding-top:40px;
	padding-bottom:30px;
	border-bottom:1px solid @gallery-gray;
	&__title{
	 	.font-size(24);
	 	font-weight:100;
	}

	&__listStyle{
		list-style: disc;

	}

	&__policy-name {
		.font-size(20);
		font-weight: 600;
	}
}*/
