@import "variables.less";
@import "mixins.less";
@import "pricebreakup.less";
@import "discount.less";
@import "login.less";
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 200px #f3f3f3 inset;
}
.login__forgot-link {
    display: none;
}
.itinerary-error {
    padding-right: 50px;
}
.soldout-modal {
    z-index: 11111;
    &__title {
        .font-size(25);
        color: @textColor1;
        text-align: center;
    }
    &__info {
        .font-size(20);
        color: @textColor2;
        text-align: center;
        margin-top: 15px;
    }
    &__body {
        padding: 40px 10px;
    }
    &__action {
        margin-top: 40px;
        &__item {
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            line-height: 36px;
        }
    }
}
.float-labels__input {
    background: transparent !important;
    width: 100%;
}
.itinerary-steps {
    padding: 15px;
    background: @white;
    text-align: center;
    font-weight: 600;
    &__heading {
        float: left;
        color: @treeboColor;
        padding-top: 3px;
        position: absolute;
        left: 10px;
    }
    &__indicator {
        &__item {
            text-align: center;
            border-radius: 50%;
            margin: 0 14px;
            display: inline-block;
            position: relative;
            border: 1px solid @lightGray;
            color: @textColor1;
            width: 25px;
            height: 25px;
            line-height: 23px;
            .font-size(13);
            .icon-tick {
                .font-size(10);
            }
            &.complete {
                border-color: @treeboColor;
                color: @treeboColor;
                font-weight: bold;
            }
            &:before {
                content: '';
                position: absolute;
                top: 11px;
                left: -30px;
                width: 30px;
                z-index: 1;
                height: 1px;
                background: @treeboColor;
            }
        }
        &__item:first-child::before {
            display: none;
        }
        .active {
            background: @treeboColor;
            color: @white;
        }
        .active ~ li::before {
            background: @lightGray;
        }
    }
}
// .ip-info {
//     &__item {
//         color: @textColor2;
//         font-size: 14px;
//         line-height: 18px;
//     }
// }
#pageContainer {
    position: fixed;
    top: 0;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.itinerary-page {
    line-height: 18px;
    padding-bottom: 80px;
    &__review-item {
        .font-size(15);
        color: @textColor3;
        line-height: 22px;
        padding: 10px 0;
        font-weight: 500;
        .total-cost {
            color: @textColor2;
            font-weight: 600;
        }
        &+& {
            border-top: 1px solid @borderDark;
        }
    }
    &__request-info {
        padding: 20px 10px;
        .font-size(14);
        color: @textColor3;
    }
    p {
        color: @textColor2;
        .font-size(14);
    }
    .heading {
        font-weight: 600;
    }
    .sub-heading {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &__action {
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 110;
        -webkit-backface-visibility: hidden;
        &__button {
            width: 100%;
            height: 50px !important;
        }
        .col {
            width: 50%;
            margin: 0 !important;
        }
        font-size: 0px;
    }

    &__pah-btn {
      border: 1px solid @treeboColor;
      background: white;
      white-space: nowrap;
      cursor: pointer;
      color: @treeboColor;
      text-transform: uppercase;
      .font-size(16);
    }

    &__offer-msg {
      padding-top: 30px;
      font-size: 12px;
      padding-left: 12px;
    }
    &__review {
        &__heading {
            padding: 20px;
            font-family: @brandFont;
            text-align: center;
        }
        &__content {
            &__hotel {
                background: #fff;
                padding: 0 10px 0 85px;
                position: relative;
                height: 75px;
                &__img {
                    width: 75px;
                    height: 75px;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &__info {
                    padding: 5px 0;
                    .font-size(14);
                }
                &__p {
                    .font-size(13);
                    color: @textColor3 !important;
                    padding-top: 8px;
                }
            }
            &__room {
                clear: left;
                padding: 10px;
                &__block,
                &__price,
                &__total {
                    a {
                        padding: 5px 0 20px 0px;
                        display: inline-block;
                        .font-size(12);
                    }
                }
                hr {
                    margin: 10px 0;
                    color: @borderLight;
                }
            }
        }
    }
    &__guests {
        &__content {
            &__form {
                padding: 0 10px;
                &__label {
                    top: 0;
                    left: 3px;
                }
                // .parsley-errors-list {
                //     margin-left: 5px;
                // }
            }
            &__special {
                padding: 10px 20px 10px 10px;
                background: white;
                margin-top: 35px;
                position: relative;
            }
            &__modal {
                z-index: 1112;
                .modal__footer {
                    height: auto;
                }
                &__button {
                    width: 100%;
                    height: 50px;
                    line-height: 40px;
                }
                p {
                    padding: 20px 0;
                }
                &__request {
                    padding: 5px 10px;
                    h4 {
                        font-weight: 400;
                        margin-bottom: 15px;
                    }
                }
                .other__requests {
                    padding-top: 20px;
                    clear: left;
                    label {
                        color: @textColor2;
                        .font-size(14);
                    }
                    textarea {
                        margin-top: 5px;
                        height: 120px;
                        width: 100%;
                    }
                }
                .checkin__timepicker {
                    width: 46%;
                    .form__control {
                        background: transparent !important;
                    }
                }
            }
        }
    }
}
.pay-hotel-button {
    border-left: 1px solid #f3f3f3;
}

.popup {
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    &__body {
      background-color: @color;
      margin: 50px 20px;
      padding: 0;
    }
  }

  &__mobileform {
    height: 62px;
  }

  .parsley-errors-list {
    line-height: 1.1;
  }
  &__title {
    .font-size(18) !important;
    margin-bottom: 12px;
    padding: 15px 20px 0 20px;
    font-weight: 500;
  }
  &__subtitle {
    .font-size(14) !important;
    color: @textColor3;
    padding: 0 20px;
  }
  &__edit {
    .font-size(12);
    color: @treeboColor;
    padding-left: 10px;
  }

  .float-labels {
    position: relative;
    padding: 0 40px 0 0;
    margin: 15px 0 5px 20px;
    &__input {
      width: 100%;
      &:focus {
        border-color: @treeboColor;
      }
    }
    &__input-link {
      position: absolute;
      bottom: 7px;
      right: 40px;
      .font-size(12);
      color: @treeboColor;
    }
    .parsley-errors-list {
      margin-right: 20px;
    }
  }
  &__submit {
    .font-size(14);
    width: 90%;
    height: 40px;
    font-weight: 500;
  }

  &__send-otp {
    margin-top: 20px;
    font-weight: 500;
  }

  &__paynow-btn {
    margin: 10px 0px 20px 0px;
    .font-size(14);
    width: 90%;
    height: 40px;
    background: transparent;
    border: 1px solid @treeboColor;
    border-radius: 2px;
    color: @treeboColor;
    font-weight: 500;
  }
  &__error-msg {
    padding: 0px 0px 20px 20px;
    .font-size(12);
    color: red;
  }
}

