@import "variables.less";
@import "mixins.less";
@import "static-page.less";

.joinus{
	background:white;
	margin: 45px 0px;
	&__video{
		height:532px;
	}

	&__video-image-center{
		width:100px;
		height:75px;
		top:140px;
		left:550px;
		margin-top:60px;
	}
	&__video-play-image{
		cursor:pointer;
	}

	&__sub-images{
		border-radius:80px;
		margin-bottom:25px;
	}

	&__video-bottom{
		color: white;
   	 	bottom: 0px;
    	width: 1180px;
    	background: @transparentBg;
    	height: 160px;
    	>*{
    		flex-grow:1;

    	}
	}
	&__video-quote{
		padding-left:80px;
	}

	&__joinTeam{
		.font-size(25);
		color:white;
		font-weight: 100;
	}

	&__joinTeam-border{
			border:1px solid white;
			padding: 15px 20px;
	}


	&__video-partnerText{
		.font-size(25);
		margin-bottom: 20px;
		margin-top: 30px;
	}

	&__video-SalesText{
		.font-size(45);
		font-weight:bold;
	}

	&__sales-marketing{
		border-bottom:1px solid #ebebeb;
	}
	&__marketing-item{
		margin-left: 60px;
		margin-bottom: 30px;
	}
	&__guest_service{
		border-bottom:1px solid #ebebeb;
		padding-bottom:40px;
	}
	&__best-interest{
		border-bottom:1px solid #ebebeb;
		background:#D0D7DA;
	}

	&__heading{
		.font-size(45);
		color:#6E6E6E;

	}
	&__sales-heading{
		padding-left: 80px;
		padding-right: 130px;
		margin-top: 100px;
		margin-bottom: 60px;
	}
	&__service-heading{
		padding:0px 80px;
		margin-top: 100px;
		margin-bottom: 60px;	
	}
	&__owner-heading{
		padding-right: 120px;
		padding-left: 80px;
		margin-top: 100px;
		margin-bottom: 40px;
	}
	&__sales-status{
		width:70%;
	}


	&__guest-service-status{
		width:55%
	}

	&__stat{
		.font-size(30);
		font-weight:100;
		color:#6E6E6E;
		margin-bottom: 10px;
	}

	&__stat-description{
		.font-size(14);
		color:#6E6E6E;
	}

	&__quote{
		.font-size(22);
		font-weight:100;
		font-style:italic;
		color:green;
	}
	&__quote-speaker{
		margin-top: 40px;

	}
	&__quote-top{
		margin-top: 100px;
	}

	&__speaker-name{
		.font-size(20);
		font-weight:100;
		color:#6E6E6E;
		margin-bottom: 10px;
	}

	&__speaker-detail{
		.font-size(18);
		color:#6E6E6E;
	}

	&__interest-img{
		padding-left:60px;
	}

	&__monthly-settlement{
		max-width:172px;
		left:-20px;
	}

	&__ecosystem{
		max-width:172px;
	}

/*	&__fields{
		margin-left: 160px;
		>*{
		flex-grow:1;
		}
	}*/

	&__network {
		background:#7DB361;
	}

	&__network-title {
		.font-size(35);
		font-weight:500;
		color:white;
	}

	&__network-para{
		padding-left:260px;
		padding-right:260px;
		.font-size(18);
		color:white;

	}

	&__service-item {
		width:175px;
	}

	&__multi-year-contract-width {
		width:175px;
	}
	&__stats-sales{
		padding-left: 80px;
	}
	&__stats-service{
		padding-left: 50px;
	}
	&__multi-year{
		margin-bottom: 40px;
		padding:0px 25px;
	}
	&__timely-payment{
		margin-bottom: 40px;
	}
}


.treebo-init {

	margin-top: 100px;
	margin-bottom: 60px;



	&__header{
		.font-size(25);
		font-weight:bold;
		margin-bottom: 40px;
	}
	&__fields{
	margin-left: 160px;
	}
	&__alpha{
		.font-size(20);
		font-weight:600;
	}

	&__friends{
		.font-size(20);
		font-weight:600;
	}

	&__quality{
		.font-size(20);
		font-weight:600;
	}

	&__alpha-friends-image {
		width:100px;
		height:110px;
		margin-bottom: 30px;
		margin-left: 70px;
	}

	&__alpha-desc{
		.font-size(18);
		color:#6E6E6E;
		margin-top: 10px;
		margin-bottom: 80px;
	}

	&__friends-desc{
		.font-size(18);
		color:#6E6E6E;
		margin-top: 10px;
	}

	&__quality-desc{
		.font-size(18);
		color:#6E6E6E;
		margin-top: 10px;
	}

	&__width {
		width:260px;
	}
	&__item{
		margin-left: 40px;
	}
	&__quality-image{
		margin-bottom: 30px;
		padding-top: 20px;
		margin-left: 80px;
	}

}

.joinusForm{

	background:#ebebeb;
	&__form{
		position:relative;
		top:-80px;
		background:white;
		margin:0px 260px;
		padding-top: 50px;
	}

	&__info1-left{
		width:50%;
		padding-left: 30px;
	}

	&__info1-right{
		width:50%;
	}

	&__input-text {
		width:263px;
		height:40px;
		margin: 5px 0px 10px 0px;
	}

	&__input-address-text{
		width:453px;
		height:40px;
		margin: 5px 0px 10px 0px;
	}

	&__input-city-text{
		width:155px;
		height:40px;
		margin: 10px 0px;
	}

	&__input-room-text{
		width:120px;
		height:40px;
		margin: 5px 0px 10px 0px;
	}

	&__input-additional-text{
		width:490px;
		height:100px;
		margin: 5px 0px 10px 0px;
	}

	&__label{
		.font-size(14);
		font-weight:600;
	}

	&__button{

		width:150px;
		height:50px;
	}
	&__info1-address-city{
		padding-left: 30px;
	}
	&__input-right-margin{
		margin-right: 30px;
	}
	&__submit-button{
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.youtube {
	&__youtubeVideo{

		width:800px;
		height:500px;
		border:5px solid black;
	}
}

#stop-cross{
		top:-10px;
		right:-40px;
		.font-size(25);
		font-weight:800;
		color:white;
	}
