@import "variables.less";
@import "mixins.less";
@searchBoxHeight: 115px;

.home-page {
    color: @textColor1;
}

.find-treebo {
    padding: 20px;
    background: @lightGray;

    &__title {
        font-weight: 600;
        margin: 15px 0;
        .font-size(18);
    }
    &__name{
      text-overflow: ellipsis;
      overflow: hidden;
      .font-size(14);
      font-weight: 500;
    }
    &__desc {
        .font-size(18);
    }

    &__btn {
        padding: 15px 10px;
        text-align: left;
        color: inherit;
        margin: 3px 0;
        font-size: 0.8rem;
        line-height: 0.8rem;
        border-color: @borderDark;
    }
}

.spotlight {
    padding: 15px 0;
    background: @lightGray;

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__list {

    }

    &__list-item {
        background: @white;
        padding: 10px;
        margin: 5px 0;
        height: 95px;
    }
}
