@import "variables.less";
@import "mixins.less";
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 200px #f3f3f3 inset;
}

// #googleLogin,
// #googleSignup {
//     display: none;
// }
.forgot {
    &__sucess, &__error {
        margin: 10px 0;
    }
}
.reset-button {
    margin-bottom: 20px;
}

.float-labels__input {
    background: 0 0!important;
    width: 100%;
}

.auth-page {
    padding: 0 15px;
    &__header {
        color: @textColor2;
        .font-size(20);
        margin-top: 10px;
        text-align: center;
        font-family: @brandFont;
    }
}

.auth {
    &__social {
        &__button {
            height: 40px!important;
        }
        &.row {
            font-size: 0;
        }
    }
    &__via {
        margin: 20px 0;
        text-align: center;
    }
    &__button {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        line-height: 30px;
    }
    &__social {
        margin-bottom: 10px;
    }
    &__login-back-link {
        margin: 10px 0 30px 0;
        display: inline-block;
    }
    &__loggedin-user {
        padding: 20px 0;
        text-align: center;
    }
}

.login {
    &__register {
        line-height: 50px;
        color: @treeboColor;
    }
    &__forgot-link {
        right: 10px;
        bottom: 0px;
        .font-size(14);
        line-height: 30px;
    }
    &__error {
        margin-top: 10px;
    }
}

.signup {
    &__terms {
        margin-top: 20px;
    }
    &__isuser {
        margin: 20px 0;
        text-align: center;
    }
}

.social-pipe {margin: 0 4px;}
