@import "variables.less";
@import "mixins.less";

.price-breakup__modal {
    z-index: 1111;
    color: @textColor1;

    .modal__footer {
        height: auto;
    }

    .modal__header {
        height: auto;
        background: #edefed;
        z-index: 1;
    }

    .price-detail-table {
        width: 100%;
    }

    .price-popup-modal-body {
        height: 100%;
    }

    .price-detail-header {
        .price-detail-title {
            text-align: left;
            font-size: 16px;
            margin-bottom: 25px;
        }
    }

    .price-detail-days {
        margin: 20px;
        color: @textColor3;
    }

    .price-table-scroll {
        overflow-y: auto;
        width: 100%;
        padding: 0 10px 120px;

        table {
            border-collapse: collapse;

            td {
                font-size: 12px;
                padding: 5px;
                text-align: center;
            }

            th {
                font-size: 14px;
                width: 25%;
                font-weight: 500;
                color: @textColor1;
            }

            td,
            th {
                border: 1px solid #ccc;
                padding: 10px;
            }

            td {
                color: @textColor2;
            }

            tr:first-child th {
                border-top: 0;
            }

            tr:last-child td {
                border-bottom: 0;
            }

            tr td:first-child,
            tr th:first-child {
                border-left: 0;
            }

            tr td:last-child,
            tr th:last-child {
                border-right: 0;
            }
        }
    }


    .price-detail-footer {
        margin: 15px 0;
        display: inline-block;
        padding: 0 5px;
        .price-detail-footer__tax {
            margin-left: 15px;
        }

    }

    .done-button-block {
        background: #edefed;
        width: 100%;
        text-align: right;

        input {
            height: 50px;
            width: 100%;
        }
    }
}

.price-detail__item {
    line-height: 25px;
    float: left;
    .font-size(13);

    &+& {
        margin-left: 10px !important;
    }
}
.grayTxt {
    color: @textColor3;
}
