@import "variables.less";
@import "mixins.less";
@import "static-page.less";


table.price-detail-table{
    width: 100%;
    th {
        .font-size(16);
        padding: 15px;
        color:@textColor2;
        text-align: center;
        font-weight: 300;
        &:first-child{
            text-align:left;
            width:100px;
        }
    }

    td {
        border-bottom: 1px solid @lightGray;
        padding: 12px;
        .font-size(15);
        text-align: center;
        &:first-child{
            text-align:left;
            width:100px;
        }
    }
}

.price-detail-footer{
        justify-content: flex-end;
        color:@textColor2;
        font-weight: 300;
        .font-size(16);
        width:100%;

        &__inclusive{
            .font-size(10);
        }

        &__total{
            color: black;
            .font-size(16);
            font-weight: 300;
        }
        &__item{
            margin-bottom: 5px;
            font-weight: 300;
        }
        &__room{
            width:240px;
        }
        &__tax{
            width:120px;
        }
        &__cost{
            width:245px;
        }
        &__amount{
            .font-size(16);
            font-weight: 300;
        }
        &__total-cost{
            .font-size(17);
            font-weight: 300;
        }
        &__done{
            margin-top: 50px;
            height:45px;
            width:150px;
            border-radius: 3px;
        }
}

.price-popup-modal-body{
    padding: 40px 60px;
    width: 810px;
    height:570px;
    max-width: 910px;
}
.price-detail-title {
    .font-size(22);
    color:@textColor2;
    margin-bottom:15px;
}
.price-detail-days{
    .font-size(14);
}

.price-table-scroll{
    margin-top:20px;
    min-height: 30px;
    max-height: 180px;
    overflow-y:auto;
    margin-bottom: 20px;
    width:100%;
}
.price-detail-header{
    width:100%;
}
