@import "variables.less";
@import "mixins.less";

body {
	background-color: @color;
}

.referral {

	&__block-text {
		color: @textColor3;
		.font-size(12);
		text-align: center;
		margin: 32px 0 16px 0;
		&__login {
			margin: 16px 0;
		}
	}

	&__signup-text {
		text-align: center;
		margin-top: 32px;
	}

	&__link {
		color: @treeboColor;
	}

	.gift {
		color: @treeboColor;
		padding: 32px 40px 0 40px;
		text-align: center;
		&__icon {
			.font-size(40);
			margin-bottom: 8px;
		}
		&__text {
			.font-size(12);
		}
	}

	.signup-social {
		padding: 0 32px;
		.btn {
			.font-size(14);
			height: 40px;
			margin-bottom: 16px;
			box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.26);
			border: none;
			[class^=icon-] {
				margin-right: 3px;
				// padding: 14px 5px 15px 0;
				// border-right: solid 1px @borderLight;
			}
			&--facebook {
				// color: @fb-blue;
				// background-color: @color;
			}
			&--google {
				// color: @google-red;
				// background-color: @color;
			}
			&--email {
				width: 100%;
				margin: 0 auto;
				display: block;
				text-transform: none;
			}
		}
	}

	.signup-form {
		padding: 30px 15px;
		.float-labels__input {
			width: 100%;
			&:focus {
				border-color: @treeboColor;
			}
		}
		&__submit {
			margin-top: 15px;
			.font-size(14);
			width: 100%;
			height: 40px;
		}
	}

	.popup {
		.modal {
			background-color: rgba(0, 0, 0, 0.8);
			&__body {
				background-color: @color;
				margin: 50px 20px;
				padding: 0;
			}
		}
		&__title {
			.font-size(18);
			margin-bottom: 12px;
			padding: 15px 20px 0 20px;
		}
		&__subtitle {
			.font-size(14);
			color: @textColor3;
			padding: 0 20px;
		}
		&__edit {
			.font-size(10);
			color: @treeboColor;
		}
		.float-labels {
			position: relative;
			padding: 0 40px 0 0;
			margin: 15px 0 20px 20px;
			&__input {
				width: 100%;
				&:focus {
					border-color: @treeboColor;
				}
			}
			&__input-link {
				position: absolute;
				bottom: 7px;
				right: 40px;
				.font-size(12);
				color: @treeboColor;
			}
			.parsley-errors-list {
				margin-right: 20px;
			}
		}
		&__submit {
			.font-size(14);
			width: 100%;
			height: 40px;
		}
	}

}
