@import "variables.less";
@import "mixins.less";
@import "price_detail_popup.less";


//ios Safari scrolling causes HTML elements to disappear and reappear with a delay
.results__row {
    transform: translate3d(0, 0, 0);
}
//end

.column__left {
    position: relative;
    z-index: 13;
}

.column__right {
    width: 340px;
}

.result-page {
    &__title {
        margin-bottom: 5px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__search-container {
        background: @lightGray;
        position: relative;
    }

    &__content {
        background: #F0F0F0;
        margin-bottom: 20px;
    }

    &__count {
        color: @textColor2;
        font-size: 13px;
        font-weight: 400;
        line-height: 40px;
        height: 40px;
    }

    &__breadcrumb {
        margin-bottom: 20px;
    }

    &__banner {
        margin: 10px;
        background: #fff;

        &__cont {
            img {
                width: 100%;
            }
        }
    }

    &__filter-container {
        padding-left: 10px;
    }
}

.result-search {
    padding: 15px 10px;

    &__icon {
        position: absolute;
        margin-top: 5px;
    }

    &__body {
        margin-left: 20px;
        line-height: 1.5rem;
    }

    &__text {
        font-size: 0.9rem;
        line-height: 1.2;
    }

    &__modify {
        width: 100px;
        height: 35px;
        background: white;
        border: 1px solid white;
        color: @textColor1;
        box-shadow: 0px 2px 4px;
        position: absolute;
        right: 15px;
    }
}

.results-filter {
    .checkbox__input {
        top: 2px;
    }
    .checkbox__input-field:before{
      color: @textColor3 !important;
    }

    .checkbox__input-field:checked:before{
      color: @treeboColor !important;
    }
    .icon-returnarrows {
        display: inline-block;
        transform: rotate(90deg);
    }
    .sort__text {
        margin-right: 4px;
    }

    &__item {
        height: 40px;
        line-height: 40px;
         .font-size(13);
        // & + & {
        //     border-left: 1px solid @borderLight;
        // }

        &--sort {
            // width: 70px;
            border: 1px solid transparent;
            border-bottom: 0;
            &--open{
                background: #fff;
                border: 1px solid @borderLight;
                border-bottom: 0;
                .sort__title {background: #fff;}
            }
        }

        &--flt {
            // width: 70px;
        }

        &--available {
            padding: 0 10px;
        }
        &__icon {margin-right: 3px;}
    }
}

.sort {
    &__title {
        padding: 0 10px;
        height: 100%;
        align-items: center;
        z-index: 15;
        position: relative;

    }

    &__seleted {}

    &__dd {
        top: 38px;
        width: 100%;
        display: none;
        background: #fff;
        border-top: none;
        z-index: 13;
        right: -1px;
        width: 150px;
        border: 1px solid @borderLight;

        &--show {
            display: block;
        }

        &__title {
            padding: 15px;
            color: @treeboColor;
        }
    }
}

.flt-item {
    margin: 10px 0;
    font-size: 14px;

    .checkbox__label {
        display: block;
        line-height: 25px;
    }
}

.filters {
    color: @textColor1;

    &__dd {
        background: #fff;
    }

    &__title {
        padding: 0 10px;
        height: 100%;
        align-items: center;

        &--text {
            text-transform: uppercase;
        }

        &--fltcount {
            color: @textColor3;
            font-size: 12px;
        }
    }

    &__container {
        padding: 50px 0;
    }

    &__item {
        &__title {
            margin: 14px 0;
            color: @textColor1;
            text-transform: uppercase;
            font-size: 15px;
            padding: 10px 20px 0;

        }
        &--budget{
            .flt-item {
                display: inline-block;
                margin-right: 10px;
            }
        }
        &__options {
            padding: 0 20px;
        }
    }

    &__actions {
        height: 50px;

        &__clear {
            padding: 0 20px;
            color: @textColor2;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            width: 50%;
            background: @bgDark;
        }

        &__apply {
            height: 50px;
            width: 50%;
        }
    }

    &__view-more {
        color: @treeboColor;
    }

    &__header {
        background: #fff;
        z-index: 11;
        border-bottom: 1px solid @borderLight;
    }
}

.results {
    &__row {
        background: #fff;
        padding: 10px;
        margin-bottom: 5px;
    }

    .carousel__img {
        height: 75px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    // &__item {
    //     padding: 30px 0;
    //     border-bottom: 1px solid @borderDark;
    // }

    &__nearby {
        font-size: 1.2rem;
        color: @textColor2;
        margin: 20px 10px;
    }
}

.hotel {
    &__images {
        width: 75px;
        height: 75px;
        overflow: hidden;
        position: absolute;
        left: 0;
    }

    &__img-cont {
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &__details {
        padding-left: 85px;
        position: relative;
        min-height: 75px;
    }

    &__footer {
        margin-top: 10px;
    }

    &__promo {
        color: @treeboColor;
        font-size: 14px;
        padding-left: 25px;
        margin-bottom: 10px;
        position: relative;

        .icon-deals {
            color: @textColor1;
            position: absolute;
            top: -4px;
            left: 0;
            font-size: 1.3rem;
        }
    }

    &__name {
        font-size: 1.1rem;
        margin-bottom: 5px;
        font-weight: 600;
        &__link {
            color: @textColor1;
            display: block;
        }
    }

    &__address {
        color: @textColor2;
        font-size: 0.9rem;
    }

    &__from {
        .font-size(12);
        color: @textColor3;
        margin-top: 3px;
    }

    &__info {
        width: 100%;
    }

    &__price {
        color: @textColor1;
        text-align: right;

        &__label {
            font-size: 0.9rem;
            color: @textColor3;
            float: left;
        }
        &__room-label {
            color: red;
            .font-size(12);
            float: left;
        }
        &--best {
            font-size: 0.8rem;
            color: @textColor2;
        }

        .offer {
            color: #f26522;
        }

        &--available {
            margin-top: 5px;
            line-height: 16px;
            margin-left: auto;
            width: 150px;
        }
        //&__breakup {
        //    display: none;
        //
        //    .results__row:hover & {
        //        display: block;
        //    }
        //
        //    .title {
        //        font-size: 13px;
        //        // color: @textColor2;
        //    }
        //
        //    &__popup {
        //        width: 275px;
        //    }
        //}
    }

    &__about {}

    &__review {
        padding-left: 20px;
    }

    &__action {
        height: 40px;

        &__book {
            padding: 10px;
            float: right;
            width: 160px;
        }
    }

    &__review {
        font-size: 12px;
        color: #46862E;
    }

    &__last-purchased {
        font-size: 13px;
        margin-top: 10px;
        color: @textColor2;
    }
}

.seo-city {
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: @textColor2;
    background: #fff;

    &__title {
        margin: 10px 0;
        font-family: @brandFont;
    }
}

.paging-info {
    bottom: 0;
    width: 100%;
    text-align: right;
}
// .side-widget {
//     &__carousel {
//         margin-bottom: 20px;
//         height: 340px;
//
//         &__item {
//             &__title {
//                 color: #fff;
//                 margin-bottom: 20px;
//                 font-size: 22px;
//                 line-height: 26px;
//             }
//
//             &__text {
//                 padding: 20px;
//                 bottom: 0;
//             }
//
//             &__action {
//                 display: inline-block;
//                 padding: 7px 15px;
//                 font-size: 13px;
//             }
//         }
//
//         img {
//             width: 100%;
//             height: 100%;
//         }
//     }
//
//     &__image {
//         margin: 20px 0;
//
//         img {
//             max-width: 100%;
//         }
//     }
// }
// .tripadviser-rating {
//     display: inline-block;
//     width: 14px;
//     height: 14px;
//     border-radius: 50%;
//     background: #fff;
//     border: 2px solid #46862E;
//     position: relative;
//
//     &.filled {
//         &:after {
//             content: "";
//             width: 6px;
//             height: 6px;
//             border-radius: 50%;
//             background: #46862E;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//         }
//     }
// }

#noFilterResult .no-result__container {
    border-bottom: none;
}

.no-result {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;

    &__container {}

    &__icon {
        position: absolute;
        margin-top: 10px;
    }

    &__text {
        margin-left: 150px;
        line-height: 1.3rem;
    }

    &__title {
        font-size: 1.3rem;
        color: @textColor2;
        margin-bottom: 10px;
    }

    &__sub {
        color: @textColor3;
        font-size: 0.9rem;
    }
}

.hotelAvailibility-False {
     .grayscale();
}

.filter__inr {
    align-items: center;
    color: @textColor3;
    text-transform: lowercase;
    margin-left: 5px;

    .icon-rupee {
        margin-left: 5px;
        margin-top: 2px;
        font-size: 13px;
    }
}

.modal--search {
    .search-box__header {
        display: none;
    }
}
// .budget-checkbox {
//     display: inline-block;
//     margin-right: 10px;
//     margin-bottom: 10px;
//
//     &__item {
//         left: -9999px;
//         &:empty ~ label {
//             display: inline-block;
//             text-align: center;
//             width: 100px;
//             height: 70px;
//             padding: 15px;
//             line-height: 20px;
//             user-select: none;
//             box-shadow: 1px 2px 9px 0 rgba(0, 0, 0, .17);
//         }
//
//         &:checked ~ label {
//             background: @treeboColor;
//             color: #fff;
//         }
//     }
// }

#showOnlyAvailable {margin-top: 20px;}
#marketingBanner {height: 90px;
    img{height: 90px; width: 100%;}
}
