@import "variables.less";
@import "mixins.less";

.referrals-share {
	.btn {
		.font-size(14);
		width: 32.5%;
		text-transform: none;
		text-align: center;
		border: none;
		box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.26);
		height: 40px;
		line-height: 28px;
		&--facebook {
			margin-right: 3px;
		}
		&--whatsapp {
			background-color: @treeboColor;
			margin-right: 3px;
		}
	}
	.email-invite {
		.modal {
			background-color: rgba(0, 0, 0, 0.8);
			&__body {
				background-color: @color;
				margin: 50px 20px;
				padding: 0;
			}
			.icon-cross {
				position: absolute;
				right: 25px;
				top: 55px;
			}
		}
		&__title {
			.font-size(18);
			margin-bottom: 12px;
			padding: 15px 20px 0 20px;
		}
		&__subtitle {
			.font-size(14);
			color: @textColor3;
			padding: 0 20px;
		}
		.float-labels {
			position: relative;
			padding: 0 40px 0 0;
			margin: 15px 0 20px 20px;
			&__input {
				width: 100%;
				&:focus {
					border-color: @treeboColor;
				}
			}
			.parsley-errors-list {
				margin-right: 20px;
			}
		}
		&__submit {
			.font-size(14);
			width: 100%;
			height: 40px;
		}
	}
}
