@import "variables.less";
@import "mixins.less";


.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}

.mt80 {
    margin-top: 80px;
}

.mt100 {
    margin-top: 100px;
}

.mt140 {
    margin-top: 140px;
}

.mt150 {
    margin-top: 150px;
}


.mr20 {
    margin-right: 20px;
}


.mr30 {
    margin-right: 30px;
}

.mr65 {
    margin-right: 65px;
}
.mr260 {
    margin-right: 260px;
}


.mb5 {
    margin-bottom: 5px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb130 {
    margin-bottom: 130px;
}

.mb140 {
    margin-bottom: 140px;
}

.mb150 {
    margin-bottom: 150px;
}

.mb160 {
    margin-bottom: 160px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}
.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml80 {
    margin-left: 80px;
}

.ml100 {
    margin-left: 100px;
}

.ml120 {
    margin-left: 120px;
}

.ml140 {
    margin-left: 140px;
}
.ml150 {
    margin-left: 150px;
}
.ml160 {
    margin-left: 160px;
}
.ml170 {
    margin-left: 170px;
}
.ml180 {
    margin-left: 180px;
}

.ml260 {
    margin-left: 260px;
}

.ptrbl20{

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.ph25 {
    padding-right: 25px;
    padding-left: 25px;
}

.ph30 {
    padding-right: 30px;
    padding-left: 30px;
}

.ph40 {
    padding-right: 40px;
    padding-left: 40px;
}

.ph60 {
    padding-right: 60px;
    padding-left: 60px;
}

.ph80 {
    padding-right: 80px;
    padding-left: 80px;
}
.ph100 {
    padding-right: 100px;
    padding-left: 100px;
}

.ph120 {
    padding-right: 120px;
    padding-left: 120px;
}

.ph150 {
    padding-right: 150px;
    padding-left: 150px;
}

.ph245 {
    padding-right: 245px;
    padding-left: 245px;
}
.ph250 {
    padding-right: 250px;
    padding-left: 250px;
}

.pt2 {
    padding-top: 2px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt40 {
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}

.pl3 {
    padding-left: 3px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl80 {
    padding-left: 80px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pr60 {
    padding-right: 60px;
}

.pr120 {
    padding-right: 120px;
}

.pr130 {
    padding-right: 130px;
}

.pr140 {
    padding-right: 140px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb20 {
    padding-bottom: 20px;
}