@import "variables.less";
@import "mixins.less";
@import "static-page.less";


ul,ol {padding-left:10px;}

.li-class {
	padding-left:5px;
	margin: 4px 0;
}
.termsPage{
	color:#676769;
	padding:15px;
	&__title {
		.font-size(40);
		font-weight:600;
	}

	&__content{
		.font-size(15);
		p {
			margin:0 0 10px 0;
		}
	}

	&__heading{
		.font-size(20);
		font-weight:600;
	}

	&__content-heading{
		.font-size(18);
		font-weight:500;
		margin: 20px 0 10px 0 !important;
	}

	&__officer{
		.font-size(16);
		font-weight:400;
	}

	&__link{
		color: #676769;
	}
}
