@import "variables.less";
@import "mixins.less";

#commonLoader{display: none;}

.tp {
    text-align: center;
    padding-bottom: 150px;
    &__header {
        padding: 35px 0;
    }

    &__info {
        .font-size(28);
        color: @textColor1;
        margin: 20px 0;
        font-weight: 200;
    }

    &__warning {
        .font-size(18);
        color: @textColor2;
        font-weight: 200;
        padding: 0 20px
    }
}

.progress-bar {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    height: 12px;
    overflow: hidden;
    width: 80%;
    margin: 40px auto;
    background: #C2C2C2;
    &__fill {
        background: @treeboColor;
        height: 12px;
        transform: translate3d(-100%, 0px, 0px);
        transition: all 200ms ease;
    }
}
