{% extends "root-desktop.html" %} {% block content %}
    <div class="container">
        <input type="hidden" id="context-data" value="{{ referrer_details }}" >
        <div id="referral-content"></div>
    </div>
{% endblock %}