<!DOCTYPE html>
<html>

<head>
    <title>Treebo | Search</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body class="">
    <div class="emialBody" style="width:640px;margin: 0 auto;padding:0px 20;">
        <div class="mailHeader" style="clear:both;overflow:hidden; height:70px; ">
            <div style="background:#7CBD30; padding:10px; font-size: 18px; height:70px; color:#fff; float:left; text-align:center"></div>
            <img src="{% get_image_url %}images/email/logomailer.png" style="margin-right:20px; float:left;">
            <div style="background:#7CBD30; padding:10px; width: 400px; font-size: 18px; color:#fff; float:left; text-align:center; height:70px;">
                <div style="margin-bottom: 5px;">{{hotel name}}</div>
                <div>Quality Dashboard, {{date}}</div>
            </div>
            <div style="width:0; height:0; border: 35px solid transparent; border-left-color:#7CBD30; border-right:0px;float:left;">&nbsp;</div>
            <div style="clear:both"></div>
        </div>
        <div style="display:table; width:100%;color:#fff; border-spacing:15px; ">
            <div style="display:table-cell; padding:15px; margin-right: 20px; width:440px;;vertical-align:middle; border: 3px solid #7CBD30; border-radius:10px;-webkit-border-radius:10px; color: #000; ">
                <div style="text-align:left;">
                    <div style="font-size:23px; font-weight:bold;">Net Promoter Score</div>
                    <div style="font-size:12px;">Measure the chance that our guests will recommended stay at {hotel}</div>
                </div>
                <div style="margin-top:30px; text-align:center;">
                    <div style="float:left; width: 60px; text-align:center; font-size:12px">
                        <div>Promoters</div>
                        <div>{percent}%</div>
                        <div>Passives</div>
                        <div>{percent}%</div>
                        <div>Detractors</div>
                        <div>{percent}%</div>
                    </div>
                    <div style="float:left; width: 90px;">
                        <div style="font-size:16px; font-weight: bold;">NPS</div>
                        <div style=""></div>
                        <div style="font-size:14px">Score {score}</div>
                    </div>
                    <div style="float:left; width: 110px;">
                        <div style="font-size:16px; font-weight: bold;"> Treebo's Rank</div>
                        <div style="">
                            <span style="font-size:40px; color:#EB4643;">{rank}</span>
                            <span style="font-size:14px; font-weight: bold;">/{no of treebos}</span>
                        </div>
                        <div style="font-size:16px;">{{Feedback_rank}}</div>
                    </div>
                    <div style="float:left; width: 80px;">
                        <div style="font-size:16px; font-weight: bold;">Treebo's</div>
                        <div style="font-size:12px;"><img src="" alt=""><span>Best * <br />{}</span></div>
                        <div style="font-size:12px;"><img src="" alt=""><span>Over all ** <br />{}</span></div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="font-size:11px;">
                    <div>* <span> Best NPS score among all treebo properties</span></div>
                    <div>**<span>NPS for overall customer feedback across treebo properties</span></div>
                </div>
            </div>
            <div style="display:table-cell; color:#000; padding:15px;width:160px;vertical-align:middle; border: 3px solid #7CBD30; border-radius:3px;-webkit-border-radius:10px;">
                <img src="" alt="">
                <div><span style="font-size:25px">{tarank}</span><span style="font-size:14px;">/{tatotal}</span></div>
            </div>
        </div>
        <div style="padding:15px; margin:0 20px; vertical-align:middle; border: 3px solid #7CBD30; border-radius:3px;-webkit-border-radius:10px; font-size:13px;">
            <div style="font-size:15px; font-weight:bold; text-align:center; margin-bottom: 20px;">Voice of the customer</div>
            <div style="float:left; width:48%; padding-right:10px;">
                <div style="font-size:15px; font-weight:bold;">Feedback from promoters</div>
                <div>{}</div>
                <div style="margin: 0 5px;"><b>Read full version at</b> <a style="color:#7CBD30; text-decoration:none;" href="">{link}</a></div>
                <div>{}</div>
            </div>
            <div style="float:left; width:50%;">
                <div style="font-size:15px; font-weight:bold;">Feedback from detractor and passives</div>
                <div>{}</div>
                <div style="margin: 0 5px;"><b>Read full version at</b> <a href="">{link}</a></div>
                <div>{}</div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="padding:15px; margin:15px 20px; vertical-align:middle; border: 3px solid #7CBD30; border-radius:3px;-webkit-border-radius:10px;">
            <span style="font-weight:bold">For better customer experience at your property, following best practices will help you always:</span>
            <div>
                <ol style="margin: 10px 0 0 -15px; ">
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
        </div>
    </div>
</body>

</html>
