<!DOCTYPE html>
<html lang="en">
{% load staticfiles %} {% load url_hashifier %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style type="text/css">

    </style>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important !important;}
    </style>
    <![endif]-->

    <style type="text/css">


        body {
            margin: 0 !important;
            padding: 0;
        }

        #emailContainer {
            border-spacing: 0;
            font-family: sans-serif;
            color: #333333;
            border: 1px solid black;
            border-collapse: collapse;
        }

        tr, td {
            border: 1px solid black;border-collapse: collapse;
        }

    </style>

</head>
<body style="margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
<table border="0" cellpadding="0" cellspacing="0" id="bodyTable">
    <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
        <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
            <table cellpadding="20" cellspacing="0"
                   width="600" id="emailContainer" style="border-spacing:0;font-family:sans-serif;color:#333333;border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Guest Name</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ guest_name }}</td>
                </tr>
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Guest Email</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ guest_email }}</td>
                </tr>
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Guest Phone</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ guest_phone }}</td>
                </tr>
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Hotel</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ hotel_name }}</td>
                </tr>
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Checkin</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ checkin }}</td>
                </tr>
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Checkout</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ checkout }}</td>
                </tr>
                <tr style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >Special Request</td>
                    <td style="border-width:1px;border-style:solid;border-color:black;border-collapse:collapse;" >{{ special_pref }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
