{% extends "root-mobile.html" %} {% load url_tag %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

	<div class="container">
		<div class="faqPage faqs">
		<p class="faqPage__headline">FREQUENTLY ASKED QUESTIONS</p>
		<div class="faqPage__intro">
			<p>Hello there, </p>
			<p>We are thrilled that you want to reach out to us! Here are a few resources that should come in real handy. </p>
		</div>
		<div class="faqs__wrapper">
			<div class="faqs__right_portion">

					<div class="faq-block faqs-desc" id="trivia">
						<a href="#trivia"><div class="faq-block__title">Treebo Trivia</div></a>
						<div class="faq-block-queries">
							<div class="faq-block__qa">
								<div class="faq-block__q pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What is Treebo Hotels? </div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Treebo Hotels is a new-age budget hotel brand where you will get all necessities for a comfortable stay, delivered with a smile.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Which cities are we present in?</div>
										</div>
									</div>
									<i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Currently, we have 100+ plus hotels across the following {{treebo_cities|length}} locations in India:
												<ul class="faq-block__ul-location">
													{% for city in treebo_cities %}
														<li class="faq-block__li-class">{{city}}</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How are we different?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>We are obsessed with delivering high quality experience to our guests. What makes us unique is our commitment to 100% quality guarantee and our 30-minute service guarantee. <a href="http://blog.treebo.com/we-deliver-what-we-promise-treebo-quality-assurance-guarantee-program/" class="anchor" target="_blank">Click here </a>to learn more.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="gaurantee-block faqPage__heading faqs-desc" id="gaurantee-questions">
						<a href="#gaurantee-questions"><div class="faq-block__title">Our Amenities & 100% Quality Guarantee Programme</div></a>
						<div class="faq-block-queries">
							<p class="gaurantee-block__para">As a valued Treebo guest, you are entitled to the following assured essentials and amenities as covered under our quality guarantee program:</p>
								<ul class="faq-block__ul-aminities">
									<li class="faq-block__li-class">Flawless linen</li>
									<li class="faq-block__li-class">Spotless bath and hand towels</li>
									<li class="faq-block__li-class">Fully functional bathrooms</li>
									<li class="faq-block__li-class">Free Wifi<sup>*</sup></li>
									<li class="faq-block__li-class">Complimentary breakfast</li>
									<li class="faq-block__li-class">Air Conditioned rooms<sup>*</sup></li>
									<li class="faq-block__li-class">TV with cable/DTH connection</li>
									<li class="faq-block__li-class">Tea/Coffee maker</li>
									<li class="faq-block__li-class">Complimentary bottled water</li>
									<li class="faq-block__li-class">Branded toiletries </li>
								</ul>

							<div><sup>*</sup>Not applicable for hill stations</div>
							<br>
							<p class="gaurantee-block__para"> If we slip up on any of the above, we set it right for you within 30 minutes or we compensate you. Find more details <a href="{% get_static_url %}desktop/docs/guarantee_policy.pdf" class="anchor" target="_blank">here</a>.</p>

							<h3 class="mt20 gaurantee-block__subheading">Other Facilities Related Questions:</h3>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Are there facilities to store my luggage in the room?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>All our rooms are furnished with cupboards to keep your luggage. Some of our rooms have safety locker facility as well.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Do I get parking space in Treebo Hotels? </div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Parking may be available at some of our hotels. For information about a specific hotel, please check the hotel information page for exact details.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What are the facilities available for food in Treebo Hotels?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>The breakfast is complimentary at all Treebo Hotels. For other meals and snacks, most of our hotels have room service available, wherein food is either prepared in house or can be facilitated from nearby restaurants on request.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Is there any facility for laundry in Treebo Hotels?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Laundry facilities are available in most of our hotels but it is charged at an extra price varying from hotel to hotel.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Does your hotel make arrangements for airport transportation?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>We encourage guests to arrange for their own transport. We can arrange the same at an extra cost in exceptional cases.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>I am coming with a lot of luggage. Will I get help to get it to my room?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Our hotel staff will be happy to help you with all your luggage transfer within the hotel premises.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Is extra bed provided in all rooms? Is it included in room tariff? </div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Extra mattress can be arranged for in most of our hotels at extra charge. This is subject to the maximum permissible occupancy for the given room category.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Can I ask for a smoking room?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Most of our hotels have non-smoking rooms except for a few. For exact details, please refer to the hotel information section on our website.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="policies faqPage__heading faqs-desc" id="important-policies">
						<a href="#important-policies"><div class="faq-block__title">Important Policies</div></a>
						<div class="faq-block-queries">
							<h3 id="checkin-checkout-policy" class="faq-block__policy"> Checkin-Checkout</h3>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What is the standard check in - check out time in Treebo Hotels?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">A.</span>Across all Treebo properties, the standard check-in time is 12:00 PM and standard check-out time is 11:00 AM.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What documents are required at the time of check-in at the hotel?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Booking confirmation E-mail/ SMS (with Booking ID) and a valid Photo ID (with address) is required for all the guests. Photo ID proofs accepted are Driver's License, Voters Card, Passport, Ration Card.<br><b>Note: </b>PAN Cards will not be accepted as valid Photo ID card.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What if I am arriving earlier than 12 PM. Will there be any extra charges for early check-in?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Our policy with regards to early check-in is:
												<ol type="i" class="pl10">
													<li class=""> Early check-in between 6 AM and 12 PM can be allowed without any extra charges, but will be subject to availability.</li>
													<li class="">Early check-in for guests arriving before 6 AM will be charged at full previous day's rate.</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What about late check-out?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Our policy with regards to early check-out is:
												<ol type="i" class="pl10">
													<li class=""> Late check-out upto 3 PM can be accommodated at no extra charges, but will be subject to availability.</li>
													<li class=""> Late check-out after 3 PM will be charged at full next day's rate.</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="mt30">
								<h3 id="cancellation-policy" class="faq-block__policy"> Cancellation Policy</h3>

								<p class="mb10 faq-block__para">What is the cancellation policy at Treebo Hotels?</p>

								<ul class="faq-block__ul-location">
									<li class="faq-block__cancel-policy-term">No charges will be levied if the room is cancelled more than 24 hours prior to the standard check-in time (12 PM).</li>
									<li class="faq-block__cancel-policy-term">Any cancellation request within 24 hours prior to check-in time (12 PM), will attract charges equivalent to 1 night's stay (including taxes) which will be deducted as Standard Cancellation Fee.</li>
									<li class="faq-block__cancel-policy-term">In case of any late cancellations (during the stay) or a guest no-show (guest not arriving), hotel reserves the right to charge an equivalent of one night's stay charges including taxes.</li>
									<li class="faq-block__cancel-policy-term">For prepaid bookings, refund will be processed within 10-15 days after making the appropriate deductions.</li>
                                    <li class="faq-block__cancel-policy-term">For 'Pay at Hotel' bookings, you are requested to make a partial payment to confirm. We reserve the rights to cancel bookings where partial payments have not been made. Payment made will be adjusted against the final amount payable at hotel.</li>
                                    <li class="faq-block__cancel-policy-term">For 'Pay at Hotel' bookings, we will contact you before the checkin date in order to reconfirm your stay. If we are not able to reach you, we reserve the rights to cancel the booking.</li>
                                </ul>
							</div>

							<div class="">
								<h3 class="faq-block__policy"> Child Policy</h3>
								<p class="faq-block__para">We provide free accommodation to only one child below the age of 8 years. Breakfast is complimentary but no extra bed or mattress will be provided.</p>
							</div>

							<div class="">
								<h3 class="faq-block__policy"> Occupancy Policy</h3>
								<p class="faq-block__para">The maximum number of occupants in a room depends on the hotel and the room category. This can be found out during booking of the rooms for different hotels.</p>
							</div>

							<div class="">
								<h3 class="faq-block__policy"> Visitor Policy</h3>
								<p class="faq-block__para">Our visitor policy varies depending upon the specific hotel. However, visitors are not allowed beyond 10 PM in any of our hotels. Non-resident guests must get registered as an extra occupant in the room to stay beyond this time.</p>
							</div>

							<div class="">
								<h3 class="faq-block__policy"> Pet Policy</h3>
								<p class="faq-block__para">No pets are allowed inside the premises/property where the accommodation is situated.</p>
							</div>

							<div class="">
								<h3 class="faq-block__policy"> Right of Admission</h3>
								<p class="faq-block__para">Our hotels reserve the right of admission to ensure safety and comfort of guests. This may include cases such as local residents, unmarried and unrelated couples among others.</p>
							</div>
						</div>
					</div>

					<div class="modification-cancellation-policy faqPage__heading faqs-desc" id="modification-cancellation">
						<a href="#modification-cancellation"><div class="faq-block__title">Booking | Modification | Cancellation</div></a>
						<div class="faq-block-queries">
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What are the various payment modes available while booking via Treebo hotels website?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You can make payment via multiple avenues such as credit card, debit card or net- banking. There is also an option to pay at hotel directly.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What are the different ways of making a reservation at Treebo Hotels?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You can make a reservation at any of our hotels through the following channels:
												<ul class="faq-block__ul-location">
													<li class="">Through our website <a href="/" target="_blank">www.treebo.com </a></li>
													<li class="">Calling on our customer care helpline at <b>+91 9322-800-100</b></li>
													<li class="">Through various online travel sites like Make My Trip, Cleartrip, Booking.com etc.</li>
												</ul>

											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How can I cancel/amend my reservation?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>For all cancellations and amendments, please call us on <b>+91 9322-800-100</b> if the booking  is made via our website (<a href="/" target="_blank">www.treebo.com</a>) or customer care helpline. In cases where booking is made via other online travel websites like makemytrip etc, all modifications have to be made at the concerned website only.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What happens if I do not cancel my reservation and do not turn up at Treebo on the arrival date?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Such a case is termed as No Show. As per the policy, one night's charges will be deducted from the total amount.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>I am unable to make a reservation on the website. What should I do?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>In cases where you are unable to complete the reservation through our website, please call us on <b>+91 9322-800-100</b> and we will be glad to assist you.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What happens after I make the booking via your website?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>After booking, you will receive a confirmation mail with all check in - checkout details, directions & contact details of the hotel. In case you did not receive the mail, you can reach out to us on <a href="mailto:alerts.webbooking@treebohotels.com?subject=We are interested in collaborating with Treebo" target="_top"><b>alerts.webbooking@treebohotels.com</b></a> or call us on <b>+91 9322-800-100</b> to confirm your booking.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How can I make bulk or corporate bookings? </div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You may call us on <b>+91 9322-800-100</b> or leave your details and requests regarding bulk bookings and corporate booking with us on <a href="mailto:alerts.webbooking@treebohotels.com?subject=We are interested in collaborating with Treebo" target="_top"><b>alerts.webbooking@treebohotels.com</b></a>.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="friends-of-treebo faqPage__heading faqs-desc" id="fot">
						<a href="#fot"><div class="faq-block__title">Friends of Treebo</div></a>
						<div class="faq-block-queries">
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What is Friends of Treebo?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Friends of Treebo is a community of travel enthusiasts, who stay across our Treebo hotels and give us their valuable feedback. It’s a crowd-sourced mystery audits program, where smart members like yourself help us ensure quality at our properties. In return, our members stay at our hotels for free, and earn loads of rewards like free nights, vacations, exciting vouchers etc.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How do I enroll in the program?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You can sign-up for the program, and complete an online evaluation test. Based on your score, you would be granted membership of the program. Once you become a member, you are free to conduct audits at Treebo properties of your choice.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>I didn’t get through the evaluation process. How do I still become a member?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You can write to us at <a href="mailto:friends@treebohotels.com" target="_top">friends@treebohotels.com</a> to schedule a telephonic interview. One of our team members will speak to you soon.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What is an audit stay?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>An audit stay is a single night booking at any of the treebo hotels anywhere in India. After your stay, you give us a detailed feedback about the hotel and your experience. Your feedback helps us take quick actions, and keep a tight vigil on our quality standards.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Do we have to pay to book an audit stay?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Absolutely not. Your stay is on us, and enjoy all privileges of a normal bookings - all amenities, free breakfast etc. And you are free to bring your spouse, or one of your relative or friend along with you. However, we do not encourage unmarried couples due to certain policy restrictions imposed by our hotel partners.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What do I get in return of conducting an audit?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>We offer you many different kinds of rewards once you successfully submit your feedback, ranging from free movie ticket vouchers to paytm cash. However, our most popular reward option is Treebo credits using which you can redeem more free nights on hotel bookings. You will have the opportunity to earn different number of credits for different hotels that you audit, so you can smartly customize your travel to earn more rewards.</div>
										</div>
									</div>
								</div>
							</div>

							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How do I submit the feedback?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You will get a link of the feedback form when you schedule your audit, along with instructions to conduct a great audit. The form will guide you through various aspects of stay - cleanliness, breakfast, staff behavior etc. You can also send pics of your stay to <a href="mailto:friends@treebohotels.com" target="_top">friends@treebohotels.com</a>.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>By when do I have to submit the feedback?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>You need to submit your feedback within 24 hours of checking-out. Failing to do so can lead to blocking of your account, and you will not be able to submit further audits or redeem your free nights.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What action do you take on the feedback we submit?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Your feedback is super important. It is carefully analyzed by our central quality team, and passed onto the respective hotels and city teams. We may not be able to share the individual impact of the feedback with you, but rest assured that every feedback is carefully analyzed.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>My account has been blocked. How do I get it unblocked?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Your account can get automatically blocked if you do not submit your feedback within 24 hours of checking-out. To unblock your account, write to us at <a href="mailto:friends@treebohotels.com" target="_top">friends@treebohotels.com</a>. Someone from our team will get in touch with you shortly to sort the issue.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What are credits, and how do I redeem them for free nights?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
                                            <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>Treebo credits is an awesome way to help you earn free hotel stays or get some cool discount on your existing bookings. Simply log into your account and generate a voucher for the number of credits you want to redeem. Apply that voucher to the booking you make at <a href="/" class="link" target="_blank">treebo.com</a>, and you are all set!</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How many audits can I conduct at Treebo hotels?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>There is no upper limit on the number of audits that you can conduct. Our team will reach out to you whenever there is an audit slot available at your preferred destination.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Can I keep auditing in the same hotel always?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>We would love you to stay at multiple Treebo hotels and share a different perspective in each of your feedback. That being said, you leave the task of scheduling audits for you to our team. Our team will help you schedule audits at particular hotels whenever we need some important feedback.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="offers faqPage__heading faqs-desc" id="offers">
						<a href="#offers"><div class="faq-block__title">On-going offers and discounts</div></a>
						<div class="faq-block-queries">
							<p class="faq-block__para">Details of our offers can be found on our website (available <a href="/offers/" target="_blank">here</a>) or on our social media pages. </p>
						</div>
					</div>

					<div class="tie-ups faqPage__heading faqs-desc" id="tieUps">
						<a href="#tieUps"><div class="faq-block__title">Tie-ups and collaborations</div></a>
						<div class="faq-block-queries">
							<p class="faq-block__para">Please reach out to us on <b>+91 9322-800-100</b> or drop us a mail on <a href="mailto:alerts.webbooking@treebohotels.com?subject=We are interested in collaborating with Treebo" target="_top"><b>alerts.webbooking@treebohotels.com</b></a>.</p>
						</div>
					</div>

					<div class="hotel-direction faqPage__heading faqs-desc" id="hotelAddress">
						<a href="#hotelAddress"><div class="faq-block__title">Our Hotel Addresses and Directions</div></a>
						<div class="faq-block-queries">
							<p class="faq-block__para">Directions and contact details of your booked hotel can be found in the booking confirmation E-mail that you receive after booking or in the SMS that you receive a day prior to your check-in. Alternatively, directions can be found in the hotel information page on our website.  For any queries or assistance, you can reach out to us on <b>+91 9322-800-100</b>.</p>
						</div>
					</div>

          <div class="faq-block referral-block faqPage__heading faqs-desc" id="referral">
						<a href="#referral"><div class="faq-block__title">Referral</div></a>
						<div class="faq-block-queries">
							<div class="faq-block__qa">
								<div class="faq-block__q pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>What is the Treebo Referral Program?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                                <p>This is an exclusive program to connect with Treebo. The Referral Program lets you refer and invite friends to stay at Treebo Hotels.</p>
                                                <p><b>Benefits</b>: It’s a win-win for both of you.</p>
                                                <p class="faq-block__referral-text"><span class="faq-block__referral-tags">The Referrer</span>: Once the friend you referred, completes his/her first stay at Treebo (i.e. after check out), we’ll send you a reward voucher of Paytm cash worth Rs. 500. You will receive this voucher within 48 hours, after your friend checks out, in the email id you registered with.</p>
                                                <p><span class="faq-block__referral-tags">The Referred</span>: As your friend uses the link, he/she will land on treebo.com’s homepage, while they book their stay, they will get a discount worth Rs. 500 through an auto-applied coupon.</p>
                                            </div>
										</div>
									</div>
								</div>
							</div>

                            <div class="faq-block__subheader">
                                When you are the Referrer.
                            </div>


							<div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How can I refer Treebo.com to my friends?</div>
										</div>
									</div>
									<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
                                          <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                            <p>
                                                You can invite your friends to join Treebo.com through either of the following options:
                                            </p>
                                            <p class="">Invite via e­mail:</p>
                                            <ul class="faq-block__ul-location">
                                              <li>On the Referral page, click on the "Refer via e­mail" option</li>
                                              <li>Enter the e­mail ids of friends you wish to invite </li>
                                              <li>Click "Send Invitation"</li>
                                            </ul>

                                            <p class="">Share on Facebook:</p>
                                            <ul class="faq-block__ul-location">
                                              <li>On the Referral page, click on the Facebook icon.</li>
                                              <li>You will be redirected to the Facebook’s login page.</li>
                                              <li>When you log in, the referral link appears on the page with an option to share it publically or tag friends individually.</li>
                                              <li>Share this link with your Facebook friends to invite them to Treebo.com</li>
                                            </ul>

                                            <p class="">Share on WhatsApp:</p>
                                            <ul class="faq-block__ul-location">
                                              <li>On the Referral page of your mobile site, click on the WhatsApp icon to get redirected to your WhatsApp chat page</li>
                                              <li>Select a friend’s contact to share the link</li>
                                              <li>And invite friends to Treebo.com</li>
                                            </ul>

                                            <p class="">Easy share link:</p>
                                            <ul class="faq-block__ul-location">
                                              <li>You will get an unique referral link on you Email ID, which you can share with your near & dear ones through WhatsApp or Email or Facebook.</li>
                                            </ul>
                                          </div>
										</div>
									</div>
								</div>
							</div>

                            <div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Is there a limit on the number of email invites I can send?</div>
										</div>
									</div>
									<i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                                No, you can invite unlimited friends to Treebo.com.
											</div>
										</div>
									</div>
								</div>
							</div>

                            <div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Can I invite anyone?</div>
										</div>
									</div>
									<i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                                Yes, you can invite any of your friends or acquaintances. However, to ensure that users don't get spammed,
                                                please ensure that you only send invites to people you are acquainted with.
											</div>
										</div>
									</div>
								</div>
							</div>

                            <div class="faq-block__qa">
								<div class="faq-block__q flex-row pos-rel">
									<div class="faq-block__qatext faq-block__status">
										<div class="faq-block__highlight">
											<div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How long is the referral link valid for?</div>
										</div>
									</div>
									<i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
								</div>
								<div class="faq-block__a">
									<div class="faq-block__qatext">
										<div class="faq-block__highlight">
											<div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                                Every referral link is unique and has lifetime validity.
											</div>
										</div>
									</div>
								</div>
							</div>

                          <div class="faq-block__qa">
                            <div class="faq-block__q flex-row pos-rel">
                              <div class="faq-block__qatext faq-block__status">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>How do I get Paytm cash?</div>
                                </div>
                              </div>
                              <i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                            </div>
                            <div class="faq-block__a">
                              <div class="faq-block__qatext">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                    You’ll receive the Paytm cash voucher of Rs.500 within 48 hours from your referred friend’s check out date.
                                    The voucher stays valid till 31st March 2017 and will be sent to your registered email id. Instructions to redeem Paytm voucher and add cash to your Paytm wallet can be found
                                    <a href="https://s3-ap-southeast-1.amazonaws.com/treebo/static/files/referral_redemption_coupon_steps.pdf" class="link" target="_blank"> here</a>.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="faq-block__qa">
                            <div class="faq-block__q flex-row pos-rel">
                              <div class="faq-block__qatext faq-block__status">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Are there any restrictions on using the Paytm cash?</div>
                                </div>
                              </div>
                              <i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                            </div>
                            <div class="faq-block__a">
                              <div class="faq-block__qatext">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                    Please read Paytm terms and conditions to know more about this.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="faq-block__qa">
                            <div class="faq-block__q flex-row pos-rel">
                              <div class="faq-block__qatext faq-block__status">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Does Paytm cash have an expiry date?</div>
                                </div>
                              </div>
                              <i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                            </div>
                            <div class="faq-block__a">
                              <div class="faq-block__qatext">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                    Please read Paytm terms and conditions to know more about this.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="faq-block__qa">
                            <div class="faq-block__q flex-row pos-rel">
                              <div class="faq-block__qatext faq-block__status">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>Why did I not get Paytm cash for an invite that was accepted?</div>
                                </div>
                              </div>
                              <i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                            </div>
                            <div class="faq-block__a">
                              <div class="faq-block__qatext">
                                <div class="faq-block__highlight">
                                  <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                    <p>Under one of following conditions, you will not be eligible for referral bonus:</p>
                                    <ul class="faq-block__ul-location">
                                      <li class="">The person who clicked the link was already a Treebo.com member</li>
                                      <li class="">The referred member hasn’t made the first booking yet</li>
                                      <li class="">The referred member booked a Treebo, but hasn’t checked out yet</li>
                                      <li class="">Treebo Referral Program <a href="https://treeboreferral.squarespace.com" target="_blank">Terms & Conditions</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                            <div class="faq-block__subheader">
                                When you are the Referred Friend.
                            </div>

                              <div class="faq-block__qa">
                                <div class="faq-block__q flex-row pos-rel">
                                  <div class="faq-block__qatext faq-block__status">
                                    <div class="faq-block__highlight">
                                      <div class="faq-block__question"> <span class="faq-block__q-tag">Q.</span>
                                          What do I need to do? After getting the referral link, what are the steps I need to complete to redeem the discount voucher worth Rs.500?
                                      </div>
                                    </div>
                                  </div>
                                  <i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                                </div>
                                <div class="faq-block__a">
                                  <div class="faq-block__qatext">
                                    <div class="faq-block__highlight">
                                      <div class="faq-block__question faq-block__answer"> <span class="faq-block__q-tag">A.</span>
                                        All you need to do is, click on the referral link & land on treebo.com’s homepage, select the said hotel with check-in & check-out dates.
                                          You will get a discount worth 500 INR through an auto-applied coupon for your first booking.
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
