<div id="corporate-travelagent-form" class="">
	<h4 class="contactus__subheading mb20">Tell us more about your requirement</h4>
	<form id="corporate">

		<div class="flex-column">
			<div class="form-labels">
				<label class="form-labels__label">Contact Person's Name *</label>
				<input id="agent" name="name" type="text" class="form-labels__input form-labels__border" required="true"
								    	data-parsley-required="true"
		    	                        data-parsley-trigger="change"
		            	                data-parsley-type-message="Enter guest name"
		                	            data-parsley-required-message="Please enter contact person name here "/>

			</div>

			<div class="form-labels ">

				<label class="form-labels__label">Mobile No. *</label>
	    		<input id="mobile" name="mobile" type="number" class="form-labels__input form-labels__border" required="true"
	    								data-parsley-type="number"
	    								data-parsley-trigger="change"
	    								data-parsley-type-message="Enter valid mobile number"
	    								data-parsley-required-message="Please enter valid mobile number"
	    								data-parsley-minlength="10"
	    								data-parsley-maxlength="10" />


			</div>

			<div class="form-labels">

				<label class="form-labels__label">Email ID</label>
				<input id="email" name="email" type="email" class="form-labels__input form-labels__border" />


			</div>

			<div class="form-labels">
				<label class="form-labels__label">Company Name </label>
				<input id="company" name="company" type="text" class="form-labels__input form-labels__border"/>
			</div>

			<div class="form-labels">

				<label class="form-labels__label">City where company based out of</label>
				<input id="city" name="city" type="text" class="form-labels__input form-labels__border"/>
			</div>

			<div class="form-labels">

				<label class="form-labels__label">Comments (if any)</label>
				<textarea id="comment" name="comment" rows="5" cols="65" class="form-labels__input-area form-labels__border"> </textarea>

			</div>
		</div>
		<div class="separator"></div>
				<div class="text-left">
						<input id="submit" type="submit" class="mt30 btn contactus__submit submit" value="submit"/>
				</div>
	</form>

</div>
