{% extends "root-mobile.html" %} {% load url_tag %} {% block header %} {% include "mobile/includes/header.html" %} {% endblock %} {% block content %}
{% if referral_msg %}
<div class="deals">
	<p class="deals__text">
		{{referral_msg}}
	</p>
</div>
{% endif %}
<div class="login-page auth-page">

    {% include "login/login.html" %}

    <div class="signup text-center mb20">
        <span class="new-msg">New to Treebo? </span><a class="signup anchor login__register" href="/register/">Register here</a>
    </div>
</div>
{% endblock %}
