{% load url_tag %}
<div class="auth-page__header">LOGIN</div>
<div class="login__error error"></div>
<form id="loginForm" action = "/login">
    <div class="float-labels">
        <input id="loginEmailInput" type="email" name="email" pattern=".+" required="true" class="float-labels__input" placeholder="Email address" data-parsley-whitespace="trim" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change"
            data-parsley-type-message="Enter valid email" data-parsley-required-message="Please enter valid email ID">
        <label class="float-labels__label">Email ID</label>
    </div>

    <div class="login__full float-labels">
        <input id="loginPassowrdlInput" class="float-labels__input login__full" type="password" pattern=".+" value="" placeholder="Password" required="true" data-parsley-minlength="6" data-parsley-required-message="Oops! You forgot to enter your password" />
        <label class="float-labels__label">Password</label>
        <a class="forgotpassword anchor pos-abs login__forgot-link" href="/user/forgot-password/">Forgot?</a>
    </div>
    <button type="submit" id="loginButton" class="js-login-btn btn auth__button" />LOGIN</button>

</form>
<div class="auth__via">OR</div>

<div class="auth__social row">
    <button id="fbLogin" class="btn btn--facebook auth__social__button col col-1">
        <i class="icon-fb"></i><span class="social-pipe">|</span><span class="facebook">LOGIN</span>
    </button>
    <button id="googleLogin" class="btn btn--google auth__social__button col col-2">
        <i class="icon-google"></i><span class="social-pipe">|</span><span class="google">LOGIN</span>
    </button>
</div>
