<!DOCTYPE html>
<html lang="en">
<body>
Hi,
<br>
  {{hotel_name}} ( {{ hotel_hx_id }} ) is now accepting {{ local_id_or_couple_friendly_type }} . This change occurred  on {{time }}, Please take note and update the assisted sales hotel list accordingly.
</body>
</html>