<!DOCTYPE html>
<html lang="en">
<body>
Hi,
<br>
  {{hotel_name}} ( {{ hotel_hx_id }} ) does not accept {{ local_id_or_couple_friendly_type }} anymore. This change occurred  on {{time }}, Please take note in case you receive any escalations regarding any future bookings.
</body>
</html>