/* @author : A3it Jain*/
@import "normalize";
@import "../variables.less";
@import "../mixins.less";

*::selection {
    background: none repeat scroll 0 0 @bg-selection;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



html {
    font-size: 16px;
}

// img {
//     position: relative;
//     &:after {
//         content: "Broken image of " attr(alt);
//         display: block;
//         color: @textColor1;
//         font-style: normal;
//         position: absolute;
//         top: 0px;
//         left: 0;
//         width: 100%;
//         text-align: center;
//         box-sizing: border-box;
//         .font-size(14);
//         padding: 20px;
//         background: @lightGrayBg;
//     }
// }
//
html,
body {
    height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @textColor1;
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    cursor: pointer;
}

 :focus {
    outline: none;
}

sup {
  top: -0.2em;
}

img{border: none; border-color: transparent;}
[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="url"],
[type="number"],
[type="tel"],
textarea,
select {
    display: block;
    padding: 8px 10px;
    // width: 100%;
    border: 1px solid @inputBorderColor;
    -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        border-radius: 0;

}

[type="text"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="number"]:focus,
[type="tel"]:focus,
textarea:focus,
select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    border-color: @inputBorderColorFocus;
    border-radius: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}
/* reomves yellow shadow on chrome*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 200px white inset;
}
/*** custom checkboxes ***/
input[type=checkbox] {
    position: relative;
    margin-right: 10px;
}
/* to hide the checkbox itself */
label>input[type=checkbox]:before {
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-family: 'icomoon' !important;
    display: inline-block;
    content: "\e936";
    letter-spacing: 10px;
    color: @treeboColor;
}
/* space between checkbox and label */
label>input[type=checkbox]:checked:before {
    font-family: 'icomoon' !important;
    display: inline-block;
    content: "\e937";
    letter-spacing: 5px;
    color: @treeboColor;
}
/* allow space for check mark */
button:focus {
    outline: 0;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

.unselectable {
    user-select: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hide {
    display: none !important;
}

.c-hide {
    display: none;
}

.uc {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

.i-b {
    display: inline-block;
}

.line-through {
    text-decoration: line-through;
}


/* float label start
ex :
<div class="float-labels">
    <input type="text" name="couponCode" pattern=".+" required="" class="float-labels__input" placeholder="Discount Coupon" value="">
    <label class="float-labels__label">Discount Coupon</label>
</div>
*/
.float-labels {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    .parsley-errors-list {
        position: absolute;
        bottom: -15px;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 9px;
        transition: all 0.3s linear;
        color: #999;
        font-size: 12px;
        font-weight: normal;
        // color:@treeboColor;
    }

    &__input {
        margin-top: 15px;
        border-width: 0;
        border-bottom: 1px solid #c4c4c4;
        padding-left: 0;
        padding-right: 2px;
        padding-bottom: 5px;

        &--textarea {
            margin-top: 22px;
        }
    }

    .parsley-error + .parsley-errors-list + .float-labels__label {
        opacity: 0;
    }

    .parsley-success +.parsley-errors-list + .float-labels__label {
        opacity: 1;
    }

    &__input:invalid + &__label {
        top: 9px;
        opacity: 0;
    }

    &__input:valid + &__label {
        opacity: 1;
        top: 6px;
    }

    &__input:focus {
        outline: none;
    }
    // input:focus + label { color:@treeboColor; }
}
/* ends */
.img-lazy {
    opacity: 1;
    transition: opacity 0.3s;
}

.img-lazy[data-src] {
    opacity: 0;
}

img[data-lazy]{
    display: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.icon {
    text-align: center;
    z-index: 1;
    font-size: @fs1;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.h-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.row {
    margin: 3px 0;
    .col {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 49%;
        word-wrap: break-word;
        &.col-1 {
            margin-right: 1%;
            padding-right: 5px;
        }
        &.col-2 {
            margin-left: 1%;
            padding-left: 5px;
        }
    }
    &.col-3 {
        .col {
            width: 32.25%;
            padding: 0 10px;
        }
    }
}


.input-text {
    .font-size(16);
    -webkit-appearance: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 1px;
    background-color: #fff;
    color: @lightGray;
    transition: border-color 0.2s;
}
/* select dropdown style */
select {
    -webkit-appearance: none;
    background: #fff !important;
    border-radius: 1px;
}

.select-box {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    select {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 2em;
    }
    &:before {
        content: '\25bc';
        position: absolute;
        pointer-events: none;
        color: #82888a;
        top: 0;
        bottom: 1px;
        padding-top: 0.7em;
        line-height: 1;
        right: 0;
        width: 2em;
        text-align: center;
        transform: scale(0.84, 0.42);
    }
}


/* end */
.anchor,
a {
    background: transparent;
    text-decoration: none;
    color: @linkColor;
    cursor: pointer;
}

.anchor--white {
    color: @white;
}

.bold {
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: @treeboColor;
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border: 1px solid @treeboColor;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    // width: 100%;
    padding: 5px 10px;
    border-radius: 0;
    text-transform: uppercase;

    &--secondary {
        border-color: @treeboColor;
        background: @white;
        color: @treeboColor;
        font-weight: 400;
        // border-bottom-width: 1px;
        &.loading {
            color: rgba(51, 51, 51, 0.5);
            .btn-loading-mixin(#333, #fff, #e6ebef);
        }
    }

    &--loading {
        position: relative;
        color: rgba(255, 255, 255, 0.5);
        .btn-loading-mixin(#fff, @treeboColor, #8AC007);
    }

    &--disabled {
        background: @lightGray;
        pointer-events: none;
        border-color: @lightGray;
    }

    &--white {
        background: @white;
    }

    &--round {
        border-radius: 3px;
    }

    &--facebook {
        border-color: #3b5998;
        background: #3b5998;
    }

    &--google {
        border-color: #d73d32;
        background: #d73d32;
    }

    &--transparent {
        background: transparent!important;
    }

    &--block {
        width: 100%;
        height: 100%;
    }

    &--large {
        padding: 15px 10px;
    }
}
/**/
.error {
    color: @errorColor;
    margin-bottom: 5px;
    font-weight: 700;
    .font-size(14);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}
/* alert start*/
.alert {
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 3px;

    &--success {
        color: #468847 !important;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
    }

    &--info {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    &--warning {
        color: #c09853;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }

    &--error {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;

        &.alert--top {
            border-left: 5px solid #E0BFC8;
        }
    }

    &--top {
        border-radius: 0;
        text-align: center;

        &__close {
            right: 10px;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);

            .fa {
                line-height: 12px;
            }
        }
    }
}


/* end */
ul {
    list-style: none;
}

.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.box-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.hand {
    cursor: pointer;
}

.icon-eventHosting:before {
    &:extend(.icon-event-hosting1:before); /* to do udpate with correct icon */
}


.icon-gym:before {
    &:extend(.icon-gym:before);
}

.icon-guestLaundry:before {
    &:extend(.icon-laundry:before);
}

.icon-ironBoard:before {
    &:extend(.icon-iron-board:before);
}

.icon-parking:before {
    &:extend(.icon-parking:before);
}

.icon-airDistance:before, .icon-airport:before  {
    &:extend(.icon-airport:before);
}

.icon-railDistance:before, .icon-railway:before {
    &:extend(.icon-railway:before);
}
.icon-busstand:before {
    &:extend(.icon-bus-stand:before);
}

.icon-roomservice:before {
    &:extend(.icon-room-service:before);
}

.icon-travelDesk:before {
    &:extend(.icon-travel-desk:before);
}
.icon-premises:before {
    &:extend(.icon-restaurant:before);
}

.form {
    &__group {
        position: relative;
        padding-top: 15px;
        margin: 0 0 15px;
    }

    &__control {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 2rem;
        line-height: 2rem;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        padding: 0;
        box-sizing: content-box;
        transition: all 0.3s;

        &:focus:not([readonly]) {
            border-bottom: 1px solid @ocean-green;
            box-shadow: 0 1px 0 0 @ocean-green;
        }
        &:focus:not([readonly])+label {
            color: @ocean-green;
        }
    }

    &__label {
        color: #9e9e9e;
        font-size: 0.8rem;
        cursor: text;
        transition: .2s ease-out;
        position: absolute;
        top: 0;
    }

    &__help-block {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: @textColor3;

        &--error {
            color: @errorColor;
        }
    }
}

.select {
    position: relative;
    display: inline-block;
}

.select select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2em
}

.select:before {
    content: '\25bc';
    position: absolute;
    pointer-events: none;
    color: #82888a;
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    line-height: 1;
    right: 0;
    width: 2em;
    text-align: center;
    transform: scale(0.84, 0.42);
}

.logo {
  height:43px;
}
