@import "../libs/calendar.less";
@import "base.less";
@import "header.less";
@import "footer.less";
@import "fonts.less";
@import "toastr.less";
@import "searchwidget.less";
@import "../libs/slick/slick.less";
@import "../libs/slick/slick-theme.less";

@sidebar-width: 265px;

#pageContainer {
    min-height: 100%;
}

.page {
    background: inherit;
    z-index: 1;
    position: relative;
    transition: margin 200ms ease;

    &__footer {
        margin-top: auto;
        position: relative;
        z-index: 12;
    }

    &--open {
        margin-left: -265px;
        margin-right: 265px;
    }
}

.modal,
.modal-fix {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 115;
    height: auto;
    background: @lightGrayBg;
    opacity: 1;
    position: fixed;
    overflow: auto;
    color: @textColor1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    // -webkit-transform: translate3d(0,0,0);

    .icon-close {
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        font-size: 18px;
        color: @treeboColor;
    }

    &__header {
        height: 50px;
        line-height: 50px;
        .font-size(18);
        padding: 0 10px;
        width: 100%;
        font-family: @brandFont;
        font-size: 18px;
        position: fixed;
        background: inherit;
        z-index: 20;
        -webkit-backface-visibility: hidden;
    }

    &__body {
        padding-top: 50px;
        padding-bottom: 80px;
        max-width: 800px;
        margin: auto;
    }

    &__footer {
        position: fixed;
        z-index: 20;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50px;
        background: inherit;
        -webkit-backface-visibility: hidden;
    }

    &__action {
        margin-top: 20px;
    }

    &--open {
        overflow: hidden;
    }
}

.treebo-color {
    color: @treeboColor;
}

.sprite {
    background: url("/dist/mobile/images/hotelDetailSprite.png") no-repeat top left;
    width: 45px;
    height: 34px;
}

.sprite-illustration {
    background: url("/dist/mobile/images/illustration-sprite.png") no-repeat top left;
    display: inline-block;

    &--quality-guarantee {
        background-position: -59px -46px;
        width: 204px;
        height: 87px;
    }

    &--quality-guarantee-transparent {
        background-position: -311px -56px;
        width: 157px;
        height: 67px;
    }

    &--empty {
        background-position: -54px -166px;
        width: 133px;
        height: 94px;
    }

    &--gift {
        background-position: -263px -184px;
        width: 65px;
        height: 58px;
    }

    &--tip {
        background-position: -429px -190px;
        min-width: 45px;
        width: 45px;
        height: 46px;
    }

    &--paid {
        background-position: -571px -182px;
        width: 65px;
        height: 65px;
    }

    &--unpaid {
        background-position: -571px -316px;
        width: 65px;
        height: 65px;
    }

    &--clean-fresh {
        background-position: -75px -319px;
        width: 91px;
        height: 63px;
    }

    &--assured {
        background-position: -272px -310px;
        width: 68px;
        height: 81px;
    }

    &--30min-service {
        background-position: -429px -313px;
        width: 77px;
        height: 76px;
    }
}
// /* slick slider override */
// .slick-arrow {
//     position: absolute;
//     top: 50%;
//     /*transform: translateY();*/
//     // padding: 10px;
//     z-index: 10;
//     display: inline-block;
//     font-family: icomoon!important;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//     z-index: 1;
//
//     &:before {
//         color: #fff;
//         font-size: 24px;
//         width: 23px;
//         height: 24px;
//         border-radius: 50%;
//         background: @transparentBg;
//         display: inline-block;
//     }
// transform: translate3d(0, -50%, 0);
// }
//
// .slick-prev {
//     left: 0;
//
//     &:before {
//         content: "\e919";
//     }
// }
//
// .slick-next {
//     right: 0;
//
//     &:before {
//         content: "\e926";
//     }
// }
//
// .slick-slider {
//     margin-bottom: 0;
// }
//
// .slick-track,
// .slick-list {
//     height: 100%;
// }
//
// .slick-dots {
//     bottom: 0;
//
//     li {
//         width: 10px;
//         height: 10px;
//         border-radius: 50%;
//         background: #fff;
//         margin-bottom: 20px;
//         opacity: 0.6;
//
//         &.slick-active {
//             opacity: 1;
//         }
//
//         button {
//             /* remove default style*/
//             &:before {
//                 content: '';
//             }
//         }
//     }
// }
// /* end */

.parsley-errors-list {
    text-align: left;
    .font-size(12);
    color: @errorColor;
}

.bread-crumb {
    &__item {
        font-size: 12px;
        font-weight: 600;
        color: @textColor3;
        display: inline-block;

        a {
            color: @textColor3;
        }
        text-transform: capitalize;

        &+& {
            margin-left: 5px;

            &:before {
                content: '>\0000a0';
                position: relative;
                left: -1px;
                font-size: 12px;
                color: @textColor3;
            }
        }
    }
}

#commonLoader {
    position: fixed !important;
}

.loader-container {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @transparentBg;
    text-align: center;
    z-index: 222;

    &--inline {
        background: rgba(255,255,255, 0.7);
    }

    .loader-box {
        width: 100%;
        position: absolute !important;
    }
}

.sk-fading-circle {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    position: relative;

    &.small {
        width: 30px;
        height: 30px;
    }
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: @treeboColor;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%,
    100%,
    39% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%,
    100%,
    39% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.dd-arrow {
    transition: transform 0.2s;
    margin-left: auto;

    &--open {
        transform: rotate(180deg);
    }

    &--close {
        transform: rotate(0deg);
    }
}

.dr-month-switcher-month {
    margin: auto;
}

.drawer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: @sidebar-width;
    height: auto;
    overflow: auto;
    overflow-scrolling: touch;
    z-index: 0;
}

.call {
    background: inherit;
    border-color: @jumbo-gray;
    color: @jumbo-gray;
    padding: 5px 0px;
    border-width: 0px;

    &__icon {
        margin-right: 9px;
        color: inherit;
    }
}

.unavailable {
    padding: 20px;
    text-align: center;

    &__title {
        color: @textColor2;
        .font-size(28);
        margin: 40px 0 30px;
        font-weight: 400;
    }

    &__info {
        .font-size(14);
        color: @textColor2;
    }

    &__city-links {
        margin-top: 20px;
    }

    .error-page {
        min-height: 500px;
    }
}

.slick-slider {
    margin-bottom: 0;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.2);
    font-family: 'icomoon';
    text-rendering: auto;
    z-index: 1;
    border-radius: 15px;
    transform: translate3d(0, -50%, 0);

    &:before {
        color: #fff;
        .font-size(24);
    }
}

.slick-prev {
    left: 0;

    &:before {
        content: "\e919";
    }
}

.slick-next {
    right: 0;

    &:before {
        content: "\e926";
    }
}

.deals {
    background: @gray;
    color: @white;
    font-size: 0.8rem;
    position: relative;
    width: 100%;
    min-height: 50px;

    &:nth-of-type(1n+2) {
        margin-top: 5px;
    }

    &__icon {
        position: absolute;
        top: 15px;
        left: 10px;
        .font-size(24);
        line-height: 17px;
    }

    &__text {
        padding: 0px 10px 0px 50px;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        color:#fff;
        font-weight: 600;
    }
}

.home-card {
    position: relative;

    &__img {
        position: absolute;

        img {
            height: 75px;
            width: 75px;
        }
    }

    &__details {
        padding-left: 85px;
    }

    &__title {
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 1rem;
        color: initial;
    }

    &__desc {
        font-size: 0.7rem;
        margin-bottom: 5px;
        color: @textColor3;
    }

    &__link {
        font-size: 0.8rem;
    }
}
