@import "../mixins.less";
@import "../variables.less";


//#mixpanelAnalyics{
//    bottom:0px;
//    left:4px;
//}

.footer {
    background-color: @grayBg;
    color: @color;
    padding: 40px 20px;

    &__call {
        margin: 0 auto 40px;
        border-width: 1px !important;
        padding: 10px 20px !important;
    }

    &__title {
        .font-size(18);
        margin-bottom: 10px;
        font-family: @brandFont;
    }

    &__column {
        margin-bottom: 30px;

        &--right,
        &--long .footer__navitem:nth-child(even) {
            padding-left: 40px;
        }
    }

    &__navitem {
        .font-size(16);
        line-height: 30px;
        white-space: nowrap;
    }

    &__navitemlink {
        color: @jumbo-gray;
    }

    &__copyright {
        font-size: 0.8rem;
    }
}

.icon-holder {
    margin: 20px 0;

    &__social-icon-cont {
        display: inline-block;
        text-align: left;
        margin: 0 5px;
    }
    &__social-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 0.8rem;
        border-radius: 50%;
        background: rgba(26, 26, 26, 0.69);
        display: inline-block;
        text-align: center;
    }
}
