@import "../variables.less";
@import "../mixins.less";
.navigation {
    width: 100%;
}
.header {
    background: #fff;
    color: @treeboColor;
    height: 50px;
    border-bottom: 1px solid @boxBorderColor;
    &__hm-icon {
        right: 0;
        width: 50px;
        height: 50px;
        font-size: @fs13;
        width: 50px;
        height: 50px;
        line-height: 47px;
        color: @treeboColor;
    }
    &__logo {
        height: 50px;
        margin: 0 50px;
        text-align: center;
    }
    .header-nav__link {
        margin-top: 4px;
        display: inline-block;
    }
    i {
        margin-left: 20px;
    }
}
.drawer {
    background: @grayBg;
    &__navigation {
        color: #fff;
        .font-size(19);
    }
    &__title {
        color: #fff;
        padding: 0 10px;
        height: 50px;
        .logo {
            margin-top: 5px;
        }
        border-bottom: 1px solid @grayBorder;
    }
    .user__name {
        .font-size(18);
        padding: 15px 0 20px 20px;
        line-height: 30px;
        height: 40px;
        color: #fff;
    }
}
.menu-nav {
    margin-top: 10px;
    padding: 0 10px;
    &__item {
        padding: 10px;
    }
    &__link {
        display: block;
        line-height: 30px;
        height: 30px;
        color: #fff;
        .font-size(18);
    }
}
.contact-no {
    bottom: 20px;
    width: 100%;
    padding-left: 15px;
}

.whatsapp-no {
    bottom: 60px;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 25px;
}

.contactus-text{
  color: #848484;
  padding-bottom: 2px;
}