@import "../variables.less";
@import "../mixins.less";
@borderColor: #ccc;

.initial-load {
    background: #fff !important;
    display: block !important;
    bottom: 50px !important;
}

#searchLoader {
    margin: auto;
}

.config-options-list {
    max-height: 200px;
    overflow: auto;
}

.icon-search {
    margin-right: 8px;
    font-size: 15px;
    font-weight: bold;
}

.search-box {
    padding: 20px;
    background: #fff;

    &__header {
        font-size: 20px;
        margin: 20px 0;
        font-family: @brandFont;
    }

    &__title {
        color: @textColor1;
    }

    &__input-container {
        flex-basis: 280px;
        background: #fff;
        height: 53px;
        // border: 1px solid @borderColor;
    }

    &__input {
        flex: 1 1 auto;
        border: none;
        padding-top: 0;
    }

    &__calendar {
        margin-bottom: 15px;
        height: 50px;
    }

    &__room-widget {
        height: 50px;
        margin-bottom: 15px;

    }

    &__submit {
        padding: 10px;
        height: 50px;
    }
}

.daterange .dr-input {
    flex: 1;
}

.dd {
    &__item {
        border-bottom: #6d7275;
        overflow: hidden;
        padding: 5px 15px !important;
        cursor: pointer;
        padding: 0 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 26px;
        text-align: left;
        border-bottom: 1px solid #e6e6e6;
        font-size: 13px;
        color: #6d7275;
        cursor: pointer;

        &:hover {
            background: #EDF4EF !important;
        }

        &--selected {
            background: #ccc;
            background: #EDF4EF !important;
            font-weight: bold;
        }
    }
}

.room-widget {

    &__header {
        height: 53px;
        justify-content: space-between;
        margin: 0;
    }

    &__dd {

        &--show {
            display: block;
        }
    }

    &__options,
    &__config {
        width: 100%;
        z-index: 11;
        background: #fff;
        // border: 1px solid #ccc;
        box-shadow: 0 2px 6px rgba(0,0,0,.3);

        &--show {
            display: block;
        }

        &__title {

        }

        &__item {
            &--customise {
                color: @treeboColor;
                padding: 10px 15px 0;
                cursor: pointer;
            }
        }
    }
    &__action {
        height: 50px;
    }
    &__options {

        &__customise-info {
            font-size: 12px;
            color: @textColor1;
            padding: 0 15px 10px;
        }
    }

    &__config {

        &__item {
            padding: 5px 15px;
            margin-bottom: 10px;
            position: relative;
        }

        &__add-room {
            cursor: pointer;
            color: @treeboColor;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;

            .icon-plus-circle {
                margin-right: 5px;
            }
        }
    }

    &--show &__title {
        color: @treeboColor;
    }

    &--show &__total {
        border-color: @treeboColor;
    }
}

.room-config {
    font-size: 14px;

    &__label {
        font-size: 13px;
        color: @textColor3;
        padding: 10px 10px 0;
    }

    &__room {
        width: 65px;
        margin-right: 5px;
    }

    &__adults {
        width: 45px;
    }

    &__children {
        width: 45px;
    }

    .select select {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .select:before {
        padding-top: 6px;
    }

    &__remove-link {
        font-size: 18px;
        line-height: 17px;
        position: absolute;
    }
    &__error{
        .font-size(12);
        font-weight:400;
        margin-top:5px;
    }
}

.daterange .dr-selections .dr-calendar {
    min-width: 280px;
    padding: 20px;
}

.extra-cities {
    &__item {
        justify-content: space-between;
    }
}
// safari bug....
.dr-dates-col {
    width: 117px;
}
