{% load url_tag %}
<div class="itinerary-page__guests">
    <div class="itinerary-page__review__heading">
        <h3 class="heading">GUEST DETAILS</h3>
    </div>
    <div class="itinerary-page__guests__content">
        <form method="post" action="{% url "pages:payment" %}" id="travellerValidations" class="traveller-form">
            <div class="itinerary-page__guests__content__form">
                <div class="float-labels guest-details__name">
                    <input id="guestName" type="text" name="name" data-parsley-whitespace="trim" pattern=".+" required="true" class="float-labels__input" placeholder="Name" value="{{ request.user.first_name }}" data-parsley-required="true" data-parsley-required-message="Please enter valid name">
                    <label class="float-labels__label">Name</label>
                </div>
                <div class="float-labels guest-details__mobile">
                    <input id="guestMobile" type="number" name="mobile" pattern=".+" required="true" class="float-labels__input" placeholder="Mobile number" value="{{ request.user.phone_number }}" data-parsley-whitespace="trim" data-parsley-type="number" data-parsley-trigger="change" data-parsley-type-message="Enter valid mobile number"
                        data-parsley-required-message="Please enter valid phone number" data-parsley-minlength-message="Please enter 10 digit mobile number" data-parsley-maxlength-message="Please enter 10 digit mobile number" data-parsley-minlength="10" data-parsley-maxlength="10">
                    <label class="float-labels__label">Mobile Number</label>
                </div>
                <div class="float-labels guest-details__email">
                    <input id="guestEmail" type="text" name="email" pattern=".+" required="true" class="float-labels__input" placeholder="Email address" value="{{ request.user.email}}" data-parsley-whitespace="trim" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-type-message="Enter valid email"
                        data-parsley-required-message="Please enter valid email ID">
                    <label class="float-labels__label">Email ID</label>
                </div>
                <input type="hidden" id="booking_request_id" name="bid" value="{{ bid }}" />
                <input type="hidden" id="final_hidden_coupon_code" name="final_hidden_coupon_code" value="{{hidden_coupon_code}}" />
                <input type="hidden" id="final_hidden_discount_value" name="final_hidden_discount_value" value="{{hidden_discount_value}}" />
                <input type="hidden" id="final_hidden_checkin" name="final_hidden_checkin" value="{{hidden_checkin}}" />
                <input type="hidden" id="final_hidden_checkout" name="final_hidden_checkout" value="{{hidden_checkout}}" />
                <input type="hidden" id="final_hidden_total_cost" name="final_hidden_total_cost" value="{{grand_total}}" />
                <input type="hidden" id="final_hidden_hotel_id" name="final_hidden_hotel_id" value="{{hidden_hotel_id}}" />
                <input type="hidden" id="channel" name="channel" value="mobile" />
                <input type="hidden" id="final_hidden_otp_verified_number" name="final_hidden_otp_verified_number" value="" />
                <div id="hiddenrow"></div>
            </div>
            <div class="itinerary-page__guests__content__special special-requests" data-toggle="modal" data-target="#specialRequestsModal">
                <h4 class="sub-heading">SPECIAL REQUESTS<i class="icon-right rfloat"></i></h4>
                <p class="special-requests__default">Specify checkin check out date or any other requirements</p>
                <div class="special-requests__content row hide">
                    <div class="form__group col">
                        <p class="special-requests__checkin">12 pm</p>
                        <label class="form__label">
                            Check in
                        </label>
                    </div>
                    <div class="form__group col">
                        <p class="special-requests__checkout">11 am</p>
                        <label class="form__label">
                            Check out
                        </label>
                    </div>
                    <p class="special-requests__text"></p>
                </div>
            </div>
            <div id="specialRequestsModal" class="modal modal-container pos-abs special-request-modal itinerary-page__guests__content__modal hide">
                <div class="modal__header">
                    SPECIAL REQUESTS
                    <div class="hand icon icon-close pos-abs js-modal__close">
                        <i class="icon-cross"></i>
                    </div>
                </div>
                <div class="modal__body">
                    <div class="itinerary-page__request-info">Please note that we cannot guarantee these requests, and they may incur additional charges.</div>
                    <div class="itinerary-page__guests__content__modal__request">
                        <h4>Specify Check in and check out time</h4>
                        <div class="clearfix">
                            <div class="form__group checkin__timepicker lfloat">

                                <select id="checkInTime" class="form__control" name="check_in_time">
                                    <option value="12pm" selected="selected">12 pm</option>
                                    <option value="7am">07 am</option>
                                    <option value="8am">08 am</option>
                                    <option value="9am">09 am</option>
                                    <option value="10am">10 am</option>
                                    <option value="11am">11 am</option>
                                    <option value="12pm">12 pm</option>
                                    <option value="1pm">01 pm</option>
                                    <option value="2pm">02 pm</option>
                                    <option value="3pm">03 pm</option>
                                    <option value="4pm">04 pm</option>
                                    <option value="5pm">05 pm</option>
                                    <option value="6pm">06 pm</option>
                                    <option value="7pm">07 pm</option>
                                    <option value="8pm">08 pm</option>
                                    <option value="9pm">09 pm</option>
                                    <option value="10pm">10 pm</option>
                                    <option value="11pm">11 pm</option>
                                </select>
                                <label class="form__label">
                                    Check in
                                </label>
                            </div>
                            <div class="form__group checkin__timepicker rfloat">
                                <select id="checkOutTime" class="form__control" name="check_out_time">
                                    <option value="1am">01 am</option>
                                    <option value="2am">02 am</option>
                                    <option value="3am">03 am</option>
                                    <option value="4am">04 am</option>
                                    <option value="5am">05 am</option>
                                    <option value="6am">6 am</option>
                                    <option value="7am">07 am</option>
                                    <option value="8am">08 am</option>
                                    <option value="9am">09 am</option>
                                    <option value="10am">10 am</option>
                                    <option value="11am" selected="selected">11 am</option>
                                    <option value="12pm">12 pm</option>
                                    <option value="1pm">01 pm</option>
                                    <option value="2pm">02 pm</option>
                                    <option value="3pm">03 pm</option>
                                </select>
                                <label class="form__label">
                                    Check out
                                </label>
                            </div>
                        </div>
                        <div class="other__requests">
                            <label>
                                Specify any other requests
                            </label>
                            <textarea id="guestRequest" name="message" placeholder="type message here"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal__footer">
                    <a class="btn js-modal__close itinerary-page__guests__content__modal__button analytics-special-req">Done</a>
                </div>
            </div>
            {% csrf_token %}
        </form>
        <div id="Otp"></div>
    </div>

    <div class="itinerary-page__action pos-fix row">
          {% if paynow_enabled %}
          <button paytype="PAYNOW" type="submit" id="payNow" class="analytics-pay itinerary-page__action__button btn  {% if not pah_enabled %}  btn--large btn--block {% else %} col {% endif %}" name="button">Pay Now</button>
          {% endif %}
          {% if pah_enabled %}
          <button paytype="PAH" type="submit" id="payatHotel" class="analytics-pay js-modal__close itinerary-page__action__button  step-action__button {% if not paynow_enabled %} btn btn--large btn--block {% else %} itinerary-page__pah-btn pay-hotel-button col {% endif %}" name="button">PAY AT HOTEL</button>
          {% endif %}
    </div>
</div>
