{% extends "root-mobile.html" %} {% load url_tag %}
{% block header %}
    <div class="itinerary-steps">
        <a href="{{ city_url }}" class="back js-back-link sub-heading itinerary-steps__heading">
            <i class="icon-back"></i> Back
        </a>
        <ul class="itinerary-steps__indicator">
            <li class="itinerary-steps__indicator__item active">1</li>
            <li class="itinerary-steps__indicator__item">2</li>
            <li class="itinerary-steps__indicator__item">3</li>
            {% if not request.user.is_authenticated %}
            <li class="itinerary-steps__indicator__item">4</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
{%if sold_out %}
<div id="soldOutPopup" class="modal-fix flex-column soldout-modal">
{% else %}
<div id="soldOutPopup" class="modal-fix flex-column soldout-modal hide">
{% endif %}
    <div class="modal-fix__body pos-rel soldout-modal__body">
        <div class="soldout-modal__title">Oops! The hotel you picked is no longer available.</div>
        <div class="soldout-modal__info">Please choose another hotel or modify your travel dates.</div>
        <div class="soldout-modal__action">
            <div class="">
                <a href="{{ city_url }}" class="soldout-modal__action__item btn uc">Choose Another Hotel</a>
            </div>
            <div class="">
                <a href="{{ hd_url }}&modify=open" class="soldout-modal__action__item btn btn--secondary uc">Modify Travel Dates</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="itinerary-page">
        <div class="itinerary-page__review step step-1">
            <div id="itineraryError" class="itinerary-error alert alert--error alert--top pos-rel hide">
                <div class="icon icon-close pos-abs js-close alert--top__close">
                    <i class="icon-cross"></i>
                </div>
                <span class="alert__msg"></span>
            </div>
            <div class="itinerary-page__review__heading">
                <h3 class="heading">REVIEW YOUR ITINERARY</h3>
            </div>
            <div class="itinerary-page__review__content">
                <div class="itinerary-page__review__content__hotel">
                    <img class="itinerary-page__review__content__hotel__img" src="{% get_image_url %}files/{{image_url}}?w=75&h=75&fit=crop&fm=pjpg">
                    <div class="itinerary-page__review__content__hotel__info">
                        <h3 class="heading">{{hotel.name}}</h3>
                        <p class="itinerary-page__review__content__hotel__p">{{hotel.street}}, {{hotel.locality.name}}</p>
                    </div>
                </div>
                <div class="itinerary-page__review__content__room">
                    <div class="itinerary-page__review-item itinerary-page__review__content__room__block">

                        <div class="clearfix"><span class="analytics-checkin">{{checkin}}</span> - <span class="analytics-checkout">{{checkout}}</span> <span class="rfloat">({{days}} Night{{days|pluralize}})</span></div>
                        <div class="clearfix">{{adults}} Adult{{adults|pluralize}}{% if children > 0 %},&nbsp;{{children}} Kid{{children|pluralize}}{%endif%} {{room_count}} Room{{room_count|pluralize}} <span class="rfloat">{{room_type}}</span></div>
                    </div>
                    <div class="itinerary-page__review-item itinerary-page__review__content__room__price">
                        <div class="ip-info__item">
                            Base price
                            <span class="rfloat">
                                &nbsp;&nbsp;&#8377;
                                <span class="pretax-price" id="pretaxPrice">
                                    {{pretax_price}}
                                </span>
                            </span>
                        </div>
                        <div class="ip-info__item">
                            Tax
                            <span class="rfloat">&nbsp;&nbsp;&#8377;
                                <span class="total-tax" id="totalTax">
                                    {{total_tax}}
                                </span>
                            </span>
                        </div>
                        <div class="ip-info__item">
                            Discount
                            <span class="rfloat">-&nbsp;&nbsp;&#8377;
                              {% if voucherAmount %}
                                <span class="total-discount" id="discountValue">
                                    {{voucherAmount|floatformat:"0"}}
                                </span>
                              {% else %}
                                <span class="total-discount" id="discountValue">
                                    {{discount_amount|floatformat:"0"}}
                                </span>
                              {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="itinerary-page__review-item itinerary-page__review__content__room__total">
                        <div class="total-cost">
                            Total cost
                            <span class="rfloat">
                            &nbsp;&nbsp;&#8377;
                                <span  id="grandTotal">{{actual_total_cost|floatformat:"0"}}</span>
                            </span>
                        </div>
                        <a href="" class="view-complete-breakup analytics-breakup" data-toggle="modal" data-target="#completeBreakupModal">View complete break up</a>
                    </div>
                </div>
            </div>
            <div class="itinerary-view__discount flex-row" id="discountCouponContainer"></div>
            <div class="itinerary-page__action pos-fix">
                <button class="btn next analytics-next itinerary-page__action__button">Next</button>
            </div>
        </div>
        <div class="step step-2 hide">
            {% if not request.user.is_authenticated %}
                 {% include "mobile/itinerary/login.html" %}
            {% else %}
                {% include "mobile/itinerary/guest.html" %}
            {% endif %}

        </div>
        {% if not request.user.is_authenticated %}
        <div class="step step-3 hide">
            {% include "mobile/itinerary/guest.html" %}
        </div>
        {% endif %}

    </div>

    <div id="completeBreakupModal" class="modal modal-container pos-abs price-breakup__modal hide">

    </div>
</div>
<input type="hidden" id="hiddenData" name="hidden_booking_data" value="{{hotel.id}}||{{rooms}}||{{room_type}}||{{guest}}||{{ checkin }}||{{ checkout }}||{{room.maxpax}}||{{ total_nights }}" />
    <input type="hidden" id="hidden_rooms_json" name="hidden_rooms_json" value="{{rooms_json}}" />
{% endblock %}
