{% load url_tag %}
<!-- <div id="userLoggedin" class="auth-page">
    <div class="auth__loggedin-user">
        <span class="itinerary-header">Welcome!</span>
        <span>You are logged in as
            <span class="guest-login__name">{{request.user.first_name}}</span>&nbsp;</span>
    </div>
    <button class="btn next itinerary-page__action__button">Next</button>
</div> -->
<div class="itinerary-page__auth auth-page">
    <div id="postLogin" class="pre-post-login hide">
        <div id="userLoggedin" class="auth-page">
            <div class="auth__loggedin-user">
                <span class="itinerary-header">Welcome!</span>
                <span>You are logged in as
                <span class="guest-login__name">{{request.user.first_name}}</span>&nbsp;</span>
                <!-- <a id="changeUser" href="/logout/" class="">Change User?</a> -->
            </div>
            <button class="btn next itinerary-page__action__button">Next</button>

        </div>
    </div>
    <div class="pre-post-login">
        <div id="itineraryLogin" data-type="login" class="js-auth-toggle auth__login">
            {% include "login/login.html" %}
            <button id="countinueGuest" class="analytics-guest auth__button btn btn--secondary next">Continue as Guest</button>
            <div class="signup text-center mb20">
                <span class="new-msg">New to Treebo? </span><a class="js-auth-toggle__link signup anchor login__register" href="/auth/register/">Register here</a>
            </div>
        </div>
        <div id="itinerarySignup" data-type="signup" class="js-auth-toggle auth__signup hide">
            {% include "register/signup.html" %}
            <div class="auth__social row">
                <button id="fbSignup" class="btn btn--facebook auth__social__button js-fblogin col col-1 ">
                    <i class="icon-fb"></i><span class="social-pipe">|</span><span class="facebook">SIGNUP</span>
                </button>
                <button id="googleSignup" class="btn btn--google auth__social__button js-google-login col col-2">
                    <i class="icon-google"></i><span class="social-pipe">|</span><span class="google">SIGNUP</span>
                </button>
            </div>
            <div class="signup__isuser">
                Already have a Treebo Account? <a class="anchor js-login-link js-auth-toggle__link" href="/login/">Login</a>
            </div>
        </div>
    </div>
</div>
