{% extends "root-mobile.html" %} {% load url_tag %}
{% block header %}
   {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}

<div id="accountPage" class="account-page ap">

</div>
<input id="bookingDetailData" type="hidden" class="hide" value="{{context}}">
<input id="referralData" type="hidden" class="hide" value="{{referral}}">

{% endblock %}
