<div id="booking-form" class="hide">
		<h4 class="contactus__subheading mb20">Tell us more about your requirement</h4>
		
		<form id="booking">
				<div class="flex-row">	
					<div class="flex-column">
						<div class="form-labels">
							<div>
								<label class="form-labels__label mb20">Category *</label>
							</div>
							<div class="select">	
							    <select id="select" name="category" class="form-labels__input form-labels__border booking__select" required="true"
							    	data-parsley-required="true"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="choose issue name" 
	                            	data-parsley-required-message="choose issue name" 
	                	            >

 									<option policytoshow="confirmation-policy" value="Confirmation">Booking Confirmation</option>
									<option policytoshow="modification-policy" value="Modification">Booking Modification</option>
									<option policytoshow="cancellation-policy" value="Cancellation">Booking Cancellation</option>
								
								</select>
					    	</div>
						</div>

						<div class="form-labels">
							<div>
								<label class="form-labels__label">Source *</label>
							</div>
							<div class="select">    
							    <select id="source" name="source" class="form-labels__input form-labels__border">
	 								<option value="Website">Website</option>
	 								<option value="Call Center">Call Center</option>
	 								<option value="Corporate Booking">Corporate Booking</option>
	 								<option value="Booking.com">Booking.com</option>
	 								<option value="MakemyTrip">MakemyTrip</option>
	 								<option value="GoIbibo">GoIbibo</option>
	 								<option value="Yatra">Yatra</option>
	 								<option value="Cleartrip">Cleartrip</option>
	 								<option value="Expedia">Expedia</option>
									<option value="Others">Others</option>
								</select>
						    </div>
						</div>

						<div class="form-labels">
							<div>
								<label class="form-labels__label">Mode of Payment</label>
							</div>
							<div class="select">  
							    <select id="payment" name="payment" class="form-labels__input form-labels__border">

	 								<option value="cash">Cash</option>
									<option value="debit card">Debit card</option>
									<option value="credit card">Credit card</option>
									<option value="net banking">Net Banking</option>
									
								</select>
						    </div>
						</div>

						<div class="form-labels">
								<label class="form-labels__label">Name of the Primary Guest *</label>
							    <input id="primary-guest" name="primaryguest" type="text" class="form-labels__input form-labels__border mr20" required="true"
						 		   	data-parsley-required="true"
	                     	       data-parsley-trigger="change" 
	                     	      data-parsley-type-message="Enter guest name" 
	                      	      data-parsley-required-message="Please enter guest name here"/>
						    
						</div>
					</div>
					<div class="cancel-modi-policy">
						<div id="confirmation-policy">
						</div>
						<div id="modification-policy" class="form_policy text-left hide">
							<h3 class="form_policy__heading"> Modification Policy: </h3>
							<ul class="form_policy__ul">
								<li class="form_policy__li-class">No charges will be levied if the room is cancelled more than 24 hours prior to the standard check-in time (12 noon).</li>
								<li class="form_policy__li-class">Any cancellation request within 24 hours prior to check-in time (12 noon), will attract charges equivalent to 1 night's stay (including taxes) which will be deducted as Standard Cancellation Fee.</li>
								<li class="form_policy__li-class">In case of any late cancellations (during the stay) or a guest no-show (guest not arriving), hotel reserves the right to charge an equivalent of one night's stay charges including taxes.</li>
								<li class="form_policy__li-class">Refund will be processed within 10-15 days.</li>
							</ul>
							<p class="pl30"><a href="/faq/#modification-cancellation" target="_blank">Click here</a> to see more</p>

						</div>

						<div id="cancellation-policy" class="form_policy text-left hide">
							<h3 class="form_policy__heading"> Cancellation Policy: </h3>
							<ul class="form_policy__ul">
								<li class="form_policy__li-class">No charges will be levied if the room is cancelled more than 24 hours prior to the standard check-in time (12 noon).</li>
								<li class="form_policy__li-class">Any cancellation request within 24 hours prior to check-in time (12 noon), will attract charges equivalent to 1 night's stay (including taxes) which will be deducted as Standard Cancellation Fee.</li>
								<li class="form_policy__li-class">In case of any late cancellations (during the stay) or a guest no-show (guest not arriving), hotel reserves the right to charge an equivalent of one night's stay charges including taxes.</li>
							</ul>
							<p class="pl30"><a href="/faq/#modification-cancellation" target="_blank">Click here</a> to see more</p>
						</div>
					</div>

			</div>
					
				
			<div class="group flex-row">
					
					<div class="form-labels mr20">
						<label class="form-labels__label">Hotel Name *</label>
					    <input id="hotel" name="hotel" type="text" class="form-labels__input form-labels__border" required="true"
				 		   	data-parsley-required="true"
                 	       data-parsley-trigger="change" 
                 	      data-parsley-type-message="Enter hotel name" 
                  	      data-parsley-required-message="Enter hotel name here"/>
				    
					</div>
					<div class="form-labels flex-column">
						<label class="form-labels__label">Check in Date *</label>
					    <input id="checkin" name="checkindate" type="date" class="form-labels__input-date form-labels__border"
					    		required="true"
           				        data-parsley-required="true"
           				       	 
					    />
					    
					</div>

					<div class="form-labels flex-column">
						<label class="form-labels__label">Check out Date *</label>
					    <input id="checkout" name="checkoutdate" type="date" class="form-labels__input-date form-labels__border" 
					    		required="true"
           				        data-parsley-required="true"
					    />
					    
					</div>

			</div>
				

			<div class="flex-row">
				<div class="form-labels mr20">
					
						<label class="form-labels__label">Contact Number *</label>
				    	<input id="mobile" name="mobile" type="number" class="form-labels__input form-labels__border" required="true"
				    	data-parsley-type="number"
                    	data-parsley-trigger="change" 
                    	data-parsley-type-message="Enter valid mobile number" 
                    	data-parsley-required-message="Please enter valid mobile number"
                    	data-parsley-minlength="10"
                    	data-parsley-maxlength="10"

                    	/>
              	   
				    
				</div>

				<div class="form-labels" style="width:20%">

					
						<label class="form-labels__label">Email ID *</label>
				   		<input id="email" name="email" type="email"  class="form-labels__input form-labels__border" required="true" 
				    	data-parsley-type="email"
                    	data-parsley-trigger="change" 
                    	data-parsley-type-message="Enter valid email" 
                    	data-parsley-required-message="Please enter a valid email address"
                    	/>
                	
				    
				</div>
			</div>
				

			<div class="form-labels">
				<label class="form-labels__label">Comments (if any)</label>
			    <textarea id="comment" name="comment" rows="5" cols="65" class="form-labels__input-area form-labels__border"> </textarea>
			    
			</div>

			<div class="separator"></div>
			<div class="text-left">
				<input id="submit" type="submit" class="mt30 btn contactus__submit submit" value="submit"/>
			</div>

				
		</form>
</div>