<div id="hotel-rooms-availability-form" class="">
		<h4 class="contactus__subheading mb20">Tell us more about your requirement</h4>
					<form id="rooms">
						
					<div class="flex-column">
						<div class="form-labels">
							<label class="form-labels__label">Name of the guest *</label>
						    <input id="guest-name" type="text" name="guestname" class="form-labels__input form-labels__border" required="true"
						    	data-parsley-required="true"
	                            data-parsley-trigger="change" 
	                            data-parsley-type-message="Enter guest name" 
	                            data-parsley-required-message="Please enter guest name here"/>
						    
						</div>

						<div class="form-labels">
							<div>
								<label class="form-labels__label">City of stay *</label>
							</div>
							<div class="select">
							    <select id="city" name="cityname" class="form-labels__input form-labels__border">

	 								<option value="Bengaluru">Bengaluru</option>
									<option value="Chennai">Chennai</option>
									<option value="Goa">Goa</option>
									<option value="Delhi">Delhi</option>
									<option value="Gurgaon">Gurgaon</option>
									<option value="Pune">Pune</option>
									<option value="Mumbai">Mumbai</option>
									<option value="Kolkata">Kolkata</option>
									<option value="Hyderabad">Hyderabad</option>
									<option value="Jaipur">Jaipur</option>
									<option value="Mysuru">Mysuru</option>

								</select>
						    </div>
						</div>


						<div class="form-labels">
							<label class="form-labels__label mb20">Hotel Name</label>
						    <input id="hotel" name="hotelname" type="text" class="form-labels__input form-labels__border"/>
						    
						</div>
					</div>


						
					
					<div class="group flex-row">
							
							<div class="form-labels flex-column">
								<label class="form-labels__label">Check in Date *</label>
							    <input id="checkin" name="checkindate" type="date" class="form-labels__input-date form-labels__border"
							    		required="true"
                   				        data-parsley-required="true"
                   				        data-parsley-required-message="Please enter valid dates"
                   				     
							    />
							    
							</div>

							<div class="form-labels flex-column">
								<label class="form-labels__label">Check out Date *</label>
							    <input id="checkout" name="checkoutdate" type="date" class="form-labels__input-date form-labels__border" 
							    		required="true"
                   				        data-parsley-required="true"
                   				        data-parsley-required-message="Please enter valid dates"
							    />
							    
							</div>

							<div class="form-labels">
								<label class="form-labels__label">No. of adults *</label>
							    <input id="adult" name="adult" type="number" class="form-labels__input-kid-adult form-labels__border" 
							    		required="true"
							    		data-parsley-type="number"
                   				        data-parsley-required="true"
                   				       	data-parsley-trigger="change"
                            			data-parsley-required-message="Enter no. of adults"

							    />
							    <p class="form-labels__instruction"> Above 8 years *</p>
							    
							</div>

							<div class="form-labels">
								<label class="form-labels__label">No. of kids *</label>
							    <input id="kids" name="kid" type="number" class="form-labels__input-kid-adult form-labels__border" 
							    		required="true"
							    		data-parsley-type="number"
                   				        data-parsley-required="true"
                   				       	data-parsley-trigger="change"
                            			data-parsley-required-message="Enter no. of kids"
							    />
							    <p class="form-labels__instruction"> 8 years or below </p>
							</div>

							<div class="form-labels">
								<label class="form-labels__label">No. of rooms *</label>
							    <input id="room" name="room" type="number" class="form-labels__input-kid-adult form-labels__border" 
							    		required="true"
							    		data-parsley-type="number"
                   				        data-parsley-required="true"
                   				       	data-parsley-trigger="change"
                            			data-parsley-required-message="Enter no. of rooms"

							    />
							    
							</div>

					</div>
					

						<div class="flex-row">
							<div class="form-labels ">
								
									<label class="form-labels__label">Contact Number *</label>
							    	<input id="mobile" type="number" name="mobile" class="form-labels__input mr20 form-labels__border" required="true"
							    	data-parsley-type="number"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="Enter valid mobile number" 
	                            	data-parsley-required-message="Please enter a valid mobile number"
	                            	data-parsley-minlength="10"
	                            	data-parsley-maxlength="10"

	                            	/>
	                      	   
							    
							</div>

							<div class="form-labels" style="width:20%">

								
									<label class="form-labels__label">Email *</label>
							   		<input id="email" type="email" name="email" class="form-labels__input form-labels__border" required="true" 
							    	data-parsley-type="email"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="Enter valid email" 
	                            	data-parsley-required-message="Please enter a valid email address"
	                            	/>
	                        	
							    
							</div>
						</div>
						

						<div class="form-labels">
							<label class="form-labels__label">Comments (if any)</label>
						    <textarea id="comment" name="comment" rows="5" cols="65" class="form-labels__input-area form-labels__border"> </textarea>
						    
						</div>

						<div>
							<input id="checkbox" name="travel-agent" type="checkbox" class="mt20" /> <small class="form-labels__label">Are you an agent? </small>
						</div>
						<div class="separator"></div>
						<div class="text-left">
							<input id="submit" type="submit" class="mt30 btn contactus__submit submit" value="submit"/>
						</div>
						
					</form>
				</div>
	