<div id="others-form" class="hide">
		<h4 class="contactus__subheading mb20">Tell us more about your requirement</h4>
					<form id="others">
						
					<div class="flex-column">
						<div class="form-labels">
							<label class="form-labels__label">Contact Person Name *</label>
						    <input id="name" name="name" type="text" class="form-labels__input form-labels__border" required="true"
						    	data-parsley-required="true"
	                            data-parsley-trigger="change" 
	                            data-parsley-type-message="Enter guest name" 
	                            data-parsley-required-message="Please enter contact person name here "/>
						    
						</div>
					</div>
					

						<div class="flex-row">
							<div class="form-labels mr20">
								
									<label class="form-labels__label">Contact Number *</label>
							    	<input id="mobile" name="mobile" type="number" class="form-labels__input form-labels__border" required="true"
							    	data-parsley-type="number"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="Enter valid mobile number" 
	                            	data-parsley-required-message="Please enter valid mobile number"
	                            	data-parsley-minlength="10"
	                            	data-parsley-maxlength="10"

	                            	/>
	                      	   
							    
							</div>

							<div class="form-labels">

								
									<label class="form-labels__label">Email *</label>
							   		<input id="email" name="email" type="email" class="form-labels__input form-labels__border" required="true" 
							    	data-parsley-type="email"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="Enter valid email" 
	                            	data-parsley-required-message="Please enter a valid email address"
	                            	/>
	                        	
							    
							</div>
						</div>
						

						<div class="form-labels">
							<label class="form-labels__label">Comments (if any)</label>
						    <textarea id="comment" name="comment"rows="5" cols="65" class="form-labels__input-area form-labels__border"> </textarea>
						    
						</div>
						<div class="separator"></div>
						<div class="text-left">
						<input id="submit" type="submit" class="mt30 btn contactus__submit submit" value="submit"/>
						</div>
						
					</form>
				</div>
	