<div id="refund-form" class="hide">
		<h4 class="contactus__subheading mb20">Tell us more about your requirement</h4>
					<form id="refund">
						
					<div class="flex-column">
						<div class="form-labels">
							<div>
								<label class="form-labels__label">Source *</label>
							</div>
							<div class="select">
							    <select id="select" name="source" class="form-labels__input form-labels__border">
	 								<option value="Website">Website</option>
	 								<option value="Call Center">Call Center</option>
	 								<option value="Corporate Booking">Corporate Booking</option>
	 								<option value="Booking.com">Booking.com</option>
	 								<option value="MakemyTrip">MakemyTrip</option>
	 								<option value="GoIbibo">GoIbibo</option>
	 								<option value="Yatra">Yatra</option>
	 								<option value="Cleartrip">Cleartrip</option>
	 								<option value="Expedia">Expedia</option>
									<option value="Others">Others</option>
								</select>	
							</div>			    
						</div>

						<div class="form-labels">
									<label class="form-labels__label">Name of the Primary Guest *</label>
								    <input id="primary-guest" name="primaryguest" type="text" class="form-labels__input form-labels__border" required="true"
							 		   	data-parsley-required="true"
		                     	       data-parsley-trigger="change" 
		                     	      data-parsley-type-message="Enter guest name" 
		                      	      data-parsley-required-message="Please enter guest name here"/>
							    
						</div>


						<div class="form-labels">
							<label class="form-labels__label ">Hotel Name *</label>
						    <input id="hotel" name="hotel" type="text" class="form-labels__input form-labels__border" required="true"
						    		data-parsley-required="true"
		                     	    data-parsley-trigger="change" 
		                     	    data-parsley-type-message="Enter Hotel name" 
		                      	    data-parsley-required-message="Enter hotel name here" />
						    
						</div>

						<div class="form-labels">
								<label class="form-labels__label">Amount to be refunded *</label>
								<input id="amount" name="amount" type="text" class="form-labels__input form-labels__border" required="true"
							 		data-parsley-required="true"
		                     	    data-parsley-trigger="change" 
		                     	    data-parsley-type-message="Enter Amount" 
		                      	    data-parsley-required-message="Enter valid amount here"/>
							    
						</div>

						<div class="group flex-row">
							<div class="form-labels flex-column">
								<label class="form-labels__label">Check in Date *</label>
							    <input id="checkin" name="checkindate" type="date" class="form-labels__input-date form-labels__border mr20"
							    		required="true"
                   				        data-parsley-required="true"
                   				    
							    />
							    
							</div>

							<div class="form-labels flex-column">
								<label class="form-labels__label">Check out Date *</label>
							    <input id="checkout" name="checkoutdate" type="date" class="form-labels__input-date form-labels__border" 
							    		required="true"
                   				        data-parsley-required="true"
							    />	    
							</div>
						</div>

					</div>

					

						<div class="flex-row">
							<div class="form-labels mr20">
								
									<label class="form-labels__label">Contact Number *</label>
							    	<input id="mobile" name="mobile" type="number" class="form-labels__input form-labels__border" required="true"
							    	data-parsley-type="number"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="Enter valid mobile number" 
	                            	data-parsley-required-message="Please enter valid mobile number"
	                            	data-parsley-minlength="10"
	                            	data-parsley-maxlength="10"

	                            	/>
	                      	   
							    
							</div>

							<div class="form-labels">

								
									<label class="form-labels__label">Email *</label>
							   		<input id="email" name="email" type="email" class="form-labels__input form-labels__border" required="true" 
							    	data-parsley-type="email"
	                            	data-parsley-trigger="change" 
	                            	data-parsley-type-message="Enter valid email" 
	                            	data-parsley-required-message="Please enter a valid email address"
	                            	/>
	                        	
							    
							</div>
						</div>
						

						<div class="form-labels">
							<label class="form-labels__label">Details:</label>
						    <textarea id="comment" name="comment" rows="5" cols="65" class="form-labels__input-area form-labels__border"> </textarea>
						    
						</div>

						
						<div class="separator"></div>
						<div class="text-left">
						<input id="submit" type="submit" class="mt30 btn contactus__submit submit" value="submit"/>
						</div>
						
					</form>

				</div>
	