{% extends "root-desktop.html" %} {% block content %}

<div class="container">
	<div class="page">
		<div class="offers ph60 mt40 mb40">
			<div class="offers__heading mb30 mt20">
				<h1>Offers</h1>
			</div>

			<div class="offers_block pb20">

				{% for offer in offers %}
					<div class="offer mb30">

						<div class="mb10">				
								<h3> {{offer.tagline}} </h3>											
						</div>

						<div class="offer__desc">
								<p class=""> {{offer.value}} </p>
								<div class="mb10"></div>
								<p class=""> {{offer.code}} </p>
								<div class="mb10"></div>
						</div>

						<ol class="pl40 mt10" type="1">
							{% for term in offer.terms %}
							<li class="mt10 pl10">{{term}}</li>
							{% endfor %}
						</ol>

					</div>

				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}