<div class="itinerary-view box-shadow">
    <div class="itinerary-view__header pos-rel">
        <img class="" src="{% get_image_url %}files/{{image_url}}?w=340&h=185&fit=crop&fm=pjpg">
        <div class="pos-abs itinerary-view__hotel-info flex-column">
            <div class="itinerary-view__hotel-info__name">{{hotel.name}}</div>
            <div class="itinerary-view__hotel-info__address">{{hotel.street}}, {{hotel.locality.name}}</div>
        </div>
    </div>

    <div class="itinerary-view__body">
        <div class="itinerary-view__booking">
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label"><i class="icon-check-in"></i>CheckIn</div>
                <div checkin="{{checkin}}" class="itinerary-view__booking-info analytics-checkin">{{checkin}}</div>
            </div>
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label"><i class="icon-check-out"></i>CheckOut</div>
                <div checkout="{{checkout}}" class="itinerary-view__booking-info analytics-checkout">{{checkout}}</div>
            </div>
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label"><i class="icon-person"></i>Guest</div>
                <div class="itinerary-view__booking-info">{{adults}} adult{{adults|pluralize}}{% if children > 0 %},&nbsp;{{children}} kid{{children|pluralize}}{%endif%}</div>
            </div>
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label"><i class="icon-hotel-room"></i>Rooms</div>
                <div class="itinerary-view__booking-info flex-row">
                    <span>{{room_count}}</span>
                    <div class="itinerary-view__room-config hover-popup">
                        <div class="title link">View Configuration</div>
                        <div class="hover-popup__body hover-popup__twisty hover-popup__twisty--bottom">

                            <div class="breakup__item flex-row flex--space-between">
                                <div class="breakup__label itinerary-view__room-config__room">&nbsp;</div>
                                <div class="itinerary-view__room-config__adults">Adults</div>
                                <div class="itinerary-view__room-config__children">Kids</div>
                            </div>

                            {% for room in room_config%}
                            <div class="breakup__item flex-row flex--space-between">
                                <div class="breakup__label itinerary-view__room-config__room">Room {{forloop.counter0|add:1}}</div>
                                <div class="itinerary-view__room-config__adults">{{room.adults}}</div>
                                <div class="itinerary-view__room-config__children">{{room.children}}</div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label"><i class="icon-tag"></i>Room Type</div>
                <div class="itinerary-view__booking-info">{{room_type}}</div>
            </div>

            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label"><i class="icon-tag"></i>Length of stay</div>
                <div class="itinerary-view__booking-info">
                    {% if days == 1 %}
                        {{days}} NIGHT
                    {% endif %}

                    {% if days > 1 %}
                         {{days}} NIGHTS
                    {% endif %}
                </div>
            </div>

            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label">CHECK-IN TIME</div>
                <div class="itinerary-view__booking-info">
                  {{hotel.checkin_time}}
                </div>
            </div>

            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__booking-label">CHECK-OUT TIME</div>
                <div class="itinerary-view__booking-info">
                  {{hotel.checkout_time}}
                </div>
            </div>
        </div>

        <div class="itinerary-view__price">
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__price-label">Room Price</div>
                <div class="itinerary-view__price-info">&nbsp;&nbsp;&#8377;
                    <span id="roomPrice">{{pretax_price}}</span>
                </div>
            </div>
            <div class="itinerary-view__item flex-row">
                <div class="itinerary-view__price-label">Tax</div>
                <div class="itinerary-view__price-info">&nbsp;&nbsp;&#8377;
                    <span id="totalTax">{{total_tax}}</span>
                </div>
            </div>
            <div class="itinerary-view__item flex-row" id="discountFromCoupon">
                <div class="itinerary-view__price-label">Discount</div>
                <div class="itinerary-view__price-info">-&#8377;
                  {% if voucherAmount %}
                    <span id="voucherValue">{{voucherAmount}}</span>
                  {% else %}
                    <span id="discountValue">{{discount_amount}}</span>
                  {% endif %}

                </div>
            </div>
        </div>
        <div class="itinerary-view__discount flex-row" id="discountCouponContainer"></div>
        <div class="flex-row">
            <div class="itinerary-view__total">
                <span class="total label">TOTAL</span>
                <div class="itinerary-view__total_amount">&#8377;
                    <span id="grandTotal">{{actual_total_cost|floatformat:"0"}}</span>
                </div>
                <span class="incl label">Incl of all Taxes</span>
            </div>

            <div class="pl20 pt10 text-center breakup__per-night-price link" id="price-detail-itinerary">Show breakup details</div>
        </div>
    </div>

</div>
