<div class="treebo-promise">
    <div class="treebo-promise__image flex-row">
        <i class="sprite-illustration sprite-illustration--quality-guarantee"></i>
    </div>
    <div class="treebo-promise__title">We have got you covered</div>
    <div class="treebo-promise__info">
       <span class="treebo-promise__info__sep">Complimentary breakfast and Wi-Fi, TV with DTH</span>
       <span class="treebo-promise__info__sep">Clean AC rooms, spotless bed linens, towels and toiletries</span>
       <span class="treebo-promise__info__sep">Something's not right, we fix it within 30 minutes</span></div>
</div>
