@import "../mixins.less";
@import "../static-page.less";

.fotpage{
	width:100%;
	height:100%;
	background-color: white;
}
.user-blocked{
	padding:10px 10px;
	background: @white;
	&__popup-header{
		color: @treeboColor;
		.font-size(20);
		font-weight: 600;
	}
	&__popup-subheading{
		margin: 50px 0 30px 0px;
	}
	&__popup-desc{
		margin-top: 5px;
	}
	&__signupfail-desc{
		margin-top: 30px;
	}
	&__popup-btn{
		margin-top: 60px;
		margin-bottom: 30px;
		width:100%;
		height:40px;
	}
}
.fot-image{
	color:white;
	&__banner{
		width:100%;
		height:250px;
	}
	&__image-content{
		top:55px;
		left:20px;
		width: 90%;
	}

	&__heading{
		margin-bottom: 8px;
		font-family: @brandFont;
	}
	&__subheading{
		.font-size(15);
		font-weight: 400;
		margin-bottom: 10px;
	}
	&__desc{
		.font-size(15);
		height: 80px;
	}
	&__buttons{
		margin-top: 0px;
	}
	&__submit{
		width:45%;
		height:40px;
		margin-right: 20px;
		background: @treeboColor;
		box-shadow: 0px 2px 4px @textColor2;
		border-radius: 2px;
	}
	&__schedule-btn{
		width:100%;
		margin-right: 0px;
	}
	&__complete-btn{
		width:100%;
		margin-right: 0px;
	}
	&__booking-btn{
		width:100%;
		margin-right: 0px;
	}
	&__down-arrow{
		width:100%;
		bottom: 8px;
	}
	&__arrow-image{
		width:8%;
		height:8%;
	}
	&__email{
		color: #7bc4fb;
	}

}
.process{
	padding: 50px 0px 50px 22px;
	color: @textColor2;

	&__heading{
		.font-size(18);
	}
	&__subheading{
		.font-size(18);
		color: @textColor1;
		font-family: @brandFont;
	}
	&__steps{
		margin: 30px 0px;
	}
	&__step{
		width:100%;
	}
	&__numbering{
		.font-size(25);
		color: @textColor3;
	}
	&__step-title{
		.font-size(15);
		color: @textColor1;
		margin-bottom: 8px;
		font-weight: 600;
	}
	&__step-desc{
		.font-size(14);
		color: @textColor3;
		margin-bottom: 15px;

	}

}

.testimonials{
	color: @textColor2;
	width:80%;
	margin:auto;

	&__heading{
		.font-size(18);
	}
	&__subheading{
		.font-size(18);
		color: @textColor1;
		font-family: @brandFont;
	}
	&__content{
		margin:auto;
	}
	&__testimonial{
		padding-top: 20px;
	}
	&__comma{
		width:80%;
		margin-left: 40px;
		.font-size(35);
		color: @textColor3;
	}
	&__image{
		border-radius: 40px;
		margin: auto auto 15px auto;
		height:80px;
		width:80px;
	}
	&__desc{
		.font-size(15);
		color: @textColor3;
		height:215px;
		width: 80%;
		margin: auto;

	}
	&__name{
		.font-size(16);
		padding-bottom: 5px;
		font-weight: 600;
		color: @treeboColor;
	}
	&__city{
		.font-size(14);
		margin-bottom: 30px;
		color: @textColor3;
	}
	&__designation{
		.font-size(15);
		color: @textColor2;
	}
}

.testimonial-margin{
	margin: 0px 120px;
}

.signup-schedule{
	margin: 40px auto;
	width: 90%;
	&__header{
		width:95%;
		.font-size(15);
		color: @textColor1;
		font-family: @brandFont;
		margin:auto auto 30px auto;
	}
	&__submit{
		width:170px;
		height:45px;
		margin-right: 40px;
		font-weight: 600;
		background: @treeboColor;
		border-radius: 2px;
	}
	&__login{
		width:45%;
		height:40px;
		background: white;
		color: black;
		box-shadow: 0px 2px 4px @textColor2;
		border: 1px solid white;
		border-radius: 2px;
	}
	&__continue{
		width:250px;
	}
	&__buttons{
		margin:auto;
	}

}
