@import "../variables.less";
@import "../mixins.less";

.searchpage{
	margin:10px;
	padding: 20px;
	background: white;
	.font-size(16);
	color: @textColor2;
	&__header{
		.font-size(22);
		font-family: @brandFont;
		margin-bottom: 30px;
		color: @treeboColor;
	}
	&__desc{
		margin-bottom: 20px;
	}
	&__book-treebo-desc{
		margin-bottom: 20px;
	}
	&__book-btn{
	    background: @treeboColor;
	    height:35px;
	    .font-size(18);
	    width: 70%;
	}

}
