@import "../variables.less";
@import "../mixins.less";
@import "~selectize/dist/css/selectize.css";

.signupPage{
	margin: 10px 0px 0px 0px;
	padding:10px 10px;
	background: @white;
	&__header{
		margin: 10px 10px;
	}
	&__heading{
		.font-size(16);
		margin-bottom: 5px;
		font-family: @brandFont;
	}
	&__desc{
		.font-size(13);
	}
	&__popup-header{
		color: @treeboColor;
		.font-size(20);
		font-weight: 600;
	}
	&__modal-popup{
		padding:0px 20px;
	}
	&__popup-subheading{
		margin: 50px 0 30px 0px;
	}
	&__popup-desc{
		width: 100%;
	}
	&__signupfail-desc{
		margin-top: 30px;
	}
	&__popup-btn{
		margin-top: 60px;
		width:90%;
		height:40px;
	}
}

.signup-page{
	padding: 10px 10px;
	&__section{
		padding-top:10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	&__header{
		margin-bottom: 10px;
	}
	&__heading-text{
		width:100%;
		.font-size(15);
	}
	&__numbering{
		width: 20px;
	    height: 18px;
	    display: inline-block;
	    background: black;
	    color: white;
	    text-align: center;
	    margin-right: 10px;
	    border-radius: 10px;
	}
	&__ques-number{
		position: absolute;
		margin-left: -20px;
		padding-right: 15px;
		line-height: 1.5;
		font-weight: bold;
		display: inline-block;
	}
	&__signup-text {
		display: inline-block;
		font-family: @brandFont;
	}
	&__enter-detail{
		padding: 10px 10px 20px 30px;
		background:white;
	}
	&__desc{
		.font-size(12);
	}
	&__notification{
		margin-top: 30px;
		.font-size(18);
	}
}

.fot-form{
	margin-top: 15px;
	color: @textColor2;
	&__label{
		.font-size(14);
		color: @textColor1;
		font-weight: bold;
		line-height: 1.5;
	}
	&__input{
		margin-top: 5px;
		width:93%;
		height:30px;
		.font-size(13);
		color: @textColor2;
	}
	&__input-city {
		margin-top: 5px;
		width: 93%;
	}
	&__continue{
		margin-top:30px;
		width:93%;
		height:40px;
	}
	&__cities{
		margin-top: 5px;
	}
	&__check{
	    position: relative;
	    display: block;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	&__textbox{
		margin-top: 5px;
		.font-size(13);
		color: @textColor2;
	}
	&__answers{
	    padding-left: 25px;
	    margin-bottom: 0;
	    .font-size(13);
	    cursor: pointer;
	    display: inline-block;
	    max-width: 100%;
	}
	&__checkbox-input{
		position: absolute;
		margin-left: -25px;
		font-size: 15px;
	}
	&__profession{
		margin-top: 5px;
		padding-right: 0px;
	}
	&__questions{
		width:100%;
	}
	&__image{
		margin: 20px 0px 10px 0px;
		width:100%;
		height:150px;
	}
}

.inline-block{
	display: inline-block;
}
.test-user-detail{
	padding: 0px 10px;
}
.signup-steps {
    padding: 15px;
    background: @white;
    text-align: center;
		font-weight: 600;
    &__heading {
        float: left;
        color: @treeboColor;
        padding-top: 3px;
        position: absolute;
        left: 10px;
    }
    &__indicator {
        &__item {
            text-align: center;
            border-radius: 50%;
            margin: 0 14px;
            display: inline-block;
            position: relative;
            border: 1px solid @lightGray;
            color: @textColor1;
            width: 25px;
            height: 25px;
            line-height: 23px;
            .font-size(13);
            .icon-tick {
                .font-size(10);
            }
            &.complete {
                border-color: @treeboColor;
                color: @treeboColor;
                font-weight: bold;
            }
            &:before {
                content: '';
                position: absolute;
                top: 11px;
                left: -30px;
                width: 30px;
                z-index: 1;
                height: 1px;
                background: @treeboColor;
            }
        }
        &__item:first-child::before {
            display: none;
        }
        .active {
            background: @treeboColor;
            color: @white;
        }
        .active ~ li::before {
            background: @lightGray;
        }
    }
}
