{% extends "fot-root-desktop.html" %} {% block content %}
<div class="">
	<div class="fotpage">
		<div class="flex-column text-center">
			<div class="fot-image pos-rel">
				    <div class="home-page-nav pos-abs">
				        {% include "desktop/includes/fotHeader.html" %}
				    </div>
				<div class="pos-abs fot-image__image-content flex-column text-left">
					<div class="fot-image__heading">FRIENDS OF TREEBO</div>
					<div class="fot-image__subheading">INDIA'S FASTEST GROWING COMMUNITY OF TRAVEL ENTHUSIASTS</div>
					{% if isLogin %}

						{% if registrationStatus == "BLOCKED" %}
							<div class="fot-image__desc">Schedule an audit for a delightful Treebo experience. Give us detailed feedback of your experience, and earn even more rewards - free nights, movie tickets, vacations and much more.</div>

							<div id="userBlocked" class="modal popup-modal pos-abs flex-column">
						        <div class="modal__body popup-modal__body pos-rel user-blocked">
						            <div class="flex-column text-center">
						                <div class="user-blocked__header">
						                    <span class="user-blocked__title">Your account has been blocked!</span>
						                </div>

						                <div class="user-blocked__desc">
						                    <p>It seems you did not turn up for your last audit, or have not submitted your feedback.</p>
						                    <p>Don't worry! Write to <a href="mailto:friends@treebohotels.com" class="fot-image__email" target="_top"><span>friends@treebohotels.com</span></a> to unblock your account.</p>
						                    <p class="mt10">Please book a Treebo room if you are looking for accommodation.</p>
						                </div>

						                <div class="text-center mt30">
											<a href="/" value=""><div class="btn user-blocked__book-btn submit">BOOK A TREEBO</div></a>
						                </div>

						                <div class="user-blocked__desc">
						                	Have any queries? Check out the <a href="/faq/#fot" target="_blank"><u>FAQs</u></a>.
						                </div>
						            </div>

						        </div>
						    </div>

						{% else %}

							{% if registrationStatus == "IN_PROGRESS" %}

							<div class="fot-image__desc">You are just a step away from becoming part of the community.Registration will take just few minutes to complete. Grab yourself a hot drink and let’s get started.</div>

							{% elif registrationStatus == "PASSED" %}
								<div class="fot-image__desc">Schedule an audit for a delightful Treebo experience. Give us detailed feedback of your experience, and earn even more rewards - free nights, movie tickets, vacations and much more.</div>

							{% else %}
							<div class="fot-image__desc">Oops! It seems you did not clear the evaluation process and so we cannot offer you free stays. If you are still interested in becoming a Friend of Treebo, please write to us at <a href="mailto:friends@treebohotels.com" target="_top">friends@treebohotels.com</a>. Or, you can always stay at a Treebo by booking online.</div>

							{% endif %}

						{% endif %}


					{% else %}
						<div class="fot-image__desc">Give us detailed feedback of your experience and earn rewards.</div>

					{% endif %}


					<div class="fot-image__buttons">
						{% if isLogin %}
							{% if registrationStatus == "BLOCKED" %}
									<div class="fot-image__schedule">
										<a href="/fot/search" value=""><div class="btn fot-image__submit submit">SCHEDULE AUDIT</div></a>
									</div>
							{% else %}
								{% if registrationStatus == "IN_PROGRESS" %}

								<div class="fot-image__continue">
									<a href="/fot/signup/" value=""><div class="btn fot-image__submit fot-image__complete-btn submit">CONTINUE REGISTRATION</div></a>
								</div>

								{% elif registrationStatus == "PASSED" %}
									<div class="fot-image__schedule">
										<a href="/fot/search" value=""><div class="btn fot-image__submit submit">SCHEDULE AUDIT</div></a>
									</div>

								{% else %}
								<div class="fot-image__schedule">
									<a href="/" value=""><div class="btn fot-image__submit submit">BOOK A TREEBO</div></a>
								</div>

								{% endif %}
							{% endif %}


						{% else %}
						<div class="fot-image__signup flex-row">
							<a href="https://goo.gl/forms/UwcWFKYUUKGJimWx2" target="_blank" value=""><div class="btn fot-image__submit submit">JOIN US</div></a>
							{% if not request.session.isAuthenticated %}
							<a href="javascript:void(0);"><div class="js-headerlogin btn signup-schedule__login submit">LOGIN</div></a>
							{% endif %}
						</div>

						{% endif %}

					</div>
				</div>

				<div id="downArrow" class="pos-abs fot-image__down-arrow text-center">
					<img src="{% get_static_url %}desktop/images/fot-images/arrow.png" class="fot-image__arrow-image">
				</div>
				<img src="{% get_static_url %}desktop/images/fot-images/fot_banner.jpg" class="fot-image__banner">
			</div>

			<div id="process" class="process">
				<div class="text-center flex-column">
					<div class="process__heading">JOURNEY</div>
					<div class="process__subheading">HOW IT WORKS?</div>
				</div>

				<div class="flex-column text-left">
					<div class="process__steps flex-row flex--space-around">
						<div class="flex-column process__step">
							<div class="process__numbering">01</div>
							<div class="process__step-title">SIGN-UP</div>
							<div class="process__step-desc">Join the community, and become a Friend of Treebo by filling a simple online application.</div>
						</div>

						<div class="flex-column process__step">
							<div class="process__numbering">02</div>
							<div class="process__step-title">BOOK A FREE STAY</div>
							<div class="process__step-desc">Schedule audit by booking a room in a treebo hotel of your choice, in any city - completely free of cost. You are welcome to bring your spouse / relative with you.</div>
						</div>
					</div>

					<div class="process__steps flex-row flex--space-around">
						<div class="flex-column process__step">
							<div class="process__numbering">03</div>
							<div class="process__step-title">GIVE YOUR FEEDBACK</div>
							<div class="process__step-desc">Stay at the hotel and wear your detective hat. Share the detailed feedback of your experience with us.</div>
						</div>

						<div class="flex-column process__step">
							<div class="process__numbering">04</div>
							<div class="process__step-title">EARN AWESOME REWARDS</div>
							<div class="process__step-desc">For every successful feedback you submit, get another free night that can be redeemed anywhere in {{ citiesCount }} cities in {{hotelsCount}} hotels in India.</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testimonials flex-column">
				<div class="text-center flex-column">
					<div class="testimonials__heading">TESTIMONIALS</div>
					<div class="testimonials__subheading">WHAT OUR FRIENDS SAY ABOUT US</div>
				</div>

				<div class="testimonials__content text-center flex--space-between flex-row">
					<div class="testimonials__testimonial flex-column text-center">
						<div class="testimonials__comma text-left">
							“
						</div>
						<div>
							<img src="{% get_static_url %}desktop/images/fot-images/vinol.jpg" class="testimonials__image">
						</div>
						<div class="testimonials__desc">
							Treebo has perfected its art of customer obsession by letting travellers quality audit their properties. Knowing that your feedback is taken seriously and see it transform the way these hotels operate gives you immense satisfaction. You stay free ! you get another stay free ! Breakfast free !! What else can you ask for?
						</div>

						<div class="flex-column">
							<div class="testimonials__name">Vinol Joy D’Souza</div>
							<div class="testimonials__designation">Senior Analyst, Flipkart</div>
							<div class="testimonials__city">Bangalore</div>
						</div>
					</div>

					<div class="testimonials__testimonial testimonial-margin flex-column text-center">
						<div class="testimonials__comma text-left">
							“
						</div>
						<div>
							<img src="{% get_static_url %}desktop/images/fot-images/rashi.jpg" class="testimonials__image">
						</div>
						<div class="testimonials__desc">
							I have been doing audits for Treebo since a quarter of a year now. Treebo takes our every suggestion seriously and also acknowledge and appreciate our work. They always keeps you updated, which makes you feel feel like a part of them. It is fun to be a Friend of Treebo.
						</div>

						<div class="flex-column">
							<div class="testimonials__name">Rashi Desai</div>
							<div class="testimonials__designation">Freelance Mystery Shopper</div>
							<div class="testimonials__city">Mumbai</div>
						</div>
					</div>

					<div class="testimonials__testimonial flex-column text-center">
						<div class="testimonials__comma text-left">
							“
						</div>
						<div>
							<img src="{% get_static_url %}desktop/images/fot-images/palak.jpg" class="testimonials__image">
						</div>
						<div class="testimonials__desc">
							Quality work and friendliness is what made me a mystery auditor of Treebo. The best part is that they make their auditors glued to their upcoming contests, new location surprises, new updates etc. Makes me feel how Treebo as a company is customer oriented towards their friends!
						</div>

						<div class="flex-column">
							<div class="testimonials__name">Palak Shetty</div>
							<div class="testimonials__designation">Happiness Manager, Decathalon</div>
							<div class="testimonials__city">Bangalore</div>
						</div>
					</div>

				</div>
			</div>


			<div class="signup-schedule text-center">
				<div class="signup flex-column text-center">

					{% if isLogin %}
						{% if registrationStatus == "BLOCKED" %}
							<div class="signup-schedule__header">HELP US BUILD AN AWESOME BRAND!</div>
						{% else %}
							{% if registrationStatus == "IN_PROGRESS" %}

							<div class="signup-schedule__header">COME BE A PART OF FRIENDS OF TREEBO COMMUNITY!</div>

							{% elif registrationStatus == "PASSED" %}
								<div class="signup-schedule__header">HELP US BUILD AN AWESOME BRAND!</div>

							{% else %}
							<div class="signup-schedule__header">LOOKING FOR A GREAT PLACE TO STAY?</div>

							{% endif %}
						{% endif %}

					{% else %}
						<div class="signup-schedule__header">JOIN OUR COMMUNITY, AND START TRAVELLING FOR FREE!</div>

					{% endif %}
					<div class="flex-row text-center signup-schedule__buttons">
						{% if isLogin %}
							{% if registrationStatus == "BLOCKED" %}
								<div class="fot-image__schedule">
									<a href="/fot/search" value=""><div class="btn fot-image__submit submit">SCHEDULE AUDIT</div></a>
								</div>
							{% else %}
								{% if registrationStatus == "IN_PROGRESS" %}
								<div class="fot-image__continue">
									<a href="/fot/signup/" value=""><div class="btn fot-image__submit fot-image__complete-btn submit">CONTINUE REGISTRATION</div></a>
								</div>
								{% elif registrationStatus == "PASSED" %}
									<div class="fot-image__schedule">
										<a href="/fot/search" value=""><div class="btn fot-image__submit submit">SCHEDULE AUDIT</div></a>
									</div>
								{% else %}
								<div class="fot-image__schedule">
									<a href="/" value=""><div class="btn fot-image__submit submit">BOOK A TREEBO</div></a>
								</div>
								{% endif %}
							{% endif %}
						{% else %}
						<div class="fot-image__signup flex-row">
							<a href="/fot/signup/" value=""><div class="btn fot-image__submit submit">JOIN US</div></a>
							{% if not request.session.isAuthenticated %}
							<a href="javascript:void(0);"><div class="js-headerlogin btn signup-schedule__login submit">LOGIN</div></a>
							{% endif %}
						</div>

						{% endif %}
					</div>
				</div>

				<div class="schedule flex-column hide">
					<div class="signup-schedule__header">Schedule your first audit, and stay for free!</div>
					<div class="text-center signup-schedule__buttons">
						<input id="scheduleBtn" type="submit" class="btn signup-schedule__submit submit mb20" value="Schedule Audit"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
