@import "../mixins.less";
@import "../static-page.less";

.fotpage{
	width:100%;
	height:100%;
	background-color: #fff;
}
.user-blocked{
	color: @textColor2;
	padding:20px 40px;
	&__header{
        padding: 20px 0px;
        .font-size(20);
        font-weight: 600;
    }
    &__title{
    	.font-size(20);
        color: @textColor2;
    }
    &__desc{
        .font-size(15);
    }
    &__book-btn{
    	width: 180px;
    	height: 45px;
    	font-weight: bold;
    	padding-top: 12px;
    	border-radius: 2px;
    	margin: auto;
    	margin-bottom: 20px;
    }
}
.fot-image{
	color:#fff;
	&__banner{
		width:100%;
		height:700px;
	}
	&__image-content{
		top:200px;
		left:100px;
		width: 45%;
	}

	&__heading{
		.font-size(30);
		margin-bottom: 8px;
		font-family: @brandFont;
	}
	&__subheading{
		.font-size(18);
		margin-bottom: 25px;
		font-family: @brandFont;
	}
	&__desc{
		.font-size(16);
	}
	&__buttons{
		margin-top: 30px;
	}
	&__submit{
		width:170px;
		height:45px;
		margin-right: 40px;
		font-weight: 600;
		background: @treeboColor;
		padding-top: 12px;
		border-radius: 2px;
		box-shadow: 0px 2px 4px @textColor2;
	}
	&__complete-btn{
		width:250px;
	}
	&__down-arrow{
		width:100%;
		bottom: 45px;
	}
	&__arrow-image{
		width:47px;
		height:47px;
	}
	&__email{
		color: #7bc4fb;
	}

}
.process{
	padding: 50px 60px;
	color: @textColor2;

	&__heading{
		.font-size(18);
		font-family: @brandFont;
	}
	&__subheading{
		.font-size(22);
		color: @textColor1;
		font-weight: 600;
		font-family: @brandFont;
	}
	&__steps{
		margin: 60px 40px;
	}
	&__step{
		width:325px;
	}
	&__numbering{
		.font-size(60);
		color: @textColor3;
		font-family: @brandFont;
	}
	&__step-title{
		.font-size(24);
		color: @textColor1;
		margin-bottom: 8px;
		font-family: @brandFont;
	}
	&__step-desc{
		.font-size(16);
		color: @textColor3;

	}

}

.testimonials{
	padding: 50px 0px;
	color: @textColor2;
	width:80%;
	margin:auto;

	&__heading{
		.font-size(18);
		font-family: @brandFont;
	}
	&__subheading{
		.font-size(22);
		color: @textColor1;
		font-weight: 600;
		font-family: @brandFont;
	}
	&__content{
		margin:auto;
	}
	&__testimonial{
		padding-top: 50px;
		width:250px;
	}
	&__comma{
		width:100%;
		.font-size(35);
		color: @textColor3;
	}
	&__image{
		border-radius: 40px;
		margin-bottom: 20px;
		height:80px;
		width:80px;
	}
	&__desc{
		.font-size(16);
		color: @textColor3;
		height:240px;

	}
	&__name{
		.font-size(18);
		color: @treeboColor;
		font-family: @brandFont;
		padding-bottom: 5px;
	}
	&__city{
		.font-size(16);
		margin-bottom: 30px;
		color: @textColor3;
	}
	&__designation{
		.font-size(16);
		color: @textColor2;
	}
}

.testimonial-margin{
	margin: 0px 120px;
}

.signup-schedule{
	margin: 40px 0px;
	&__header{
		.font-size(24);
		color: @textColor1;
		margin-bottom: 30px;
		font-family: @brandFont;
	}
	&__submit{
		width:170px;
		height:45px;
		margin-right: 40px;
		font-weight: 600;
		background: @treeboColor;
		border-radius: 2px;
	}
	&__login{
		padding-top: 12px;
		width:170px;
		height:45px;
		background: #fff;
		color: #000;
		font-weight: 600;
		border: 1px solid white;
		border-radius: 2px;
		box-shadow: 0px 2px 4px @textColor2;
	}
	&__continue{
		width:250px;
	}
	&__buttons{
		margin:auto;
	}

}

.header-nav__link {
	color: white !important;
}

.user__name {
	color: white !important;
}
