@import "../variables.less";
@import "../mixins.less";
@import "../price_detail_popup.less";


.column__left {
    position: relative;
    z-index: 13;
    width:695px;
}

.column__right {
    width: 312px;
}

.search-fot-loader{
    width:830px;
    margin:auto;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@-moz-document url-prefix() {
    .select select{
        padding-top: 3px;
    }
    option {
        padding-left: 8px;
        padding-bottom: 5px;
    }
}
.search-fot-box {
    z-index: 11;

    &__label {
        padding: 6px 10px 0;
        .font-size(11);
        color: @textColor3;
        text-transform: uppercase;
    }

    &__title {
        color: @textColor1;
    }

    &__input-container {
        flex-basis: 280px;
        background: #fff;
        height: 57px;
    }

    &__input {
        flex: 1 1 auto;
        border: none;
        padding-top: 0;
    }

    &__submit {
        flex-basis: 130px;
        font-weight: normal;
    }
}
.audit-point{
    width:290px;
    background-color: white;
    &__my-audit{
        padding: 20px 0px;
        .font-size(18);
        color: @textColor2;
        font-weight: 600;
        font-family: @brandFont;
        border-bottom: 1px solid lightGray;
    }
    &__detail{
        padding: 20px 0px;
    }
    &__info{
        margin-top: 10px;
        .font-size(15);
    }
    &__credit-point{
        .font-size(25);
        font-weight: bold;
        color:@treeboColor;
    }
}

.popup-modal {
    &__body{
        padding: 30px 30px;
        width: 570px;
    }
}

.auditPopup{
    &__title{
        .font-size(24);
        margin-bottom: 25px;
        color: @textColor2;
        font-family: @brandFont;
    }
    &__term{
        padding-top: 10px;
        .font-size(15);
        color: @textColor2;
    }
    &__subtitle{
        padding:30px 0px;
        .font-size(20);
        color: @textColor2;
    }
    &__desc{
        margin-bottom: 20px;
    }
    &__submit{
        width:170px;
        height:50px;
        border-radius: 2px;
        font-weight: 500;
    }
    &__li-class{
        margin-left: 15px;
        margin-bottom: 10px;
        padding-left: 8px;
        .font-size(15);
        color: @textColor3;
    }
    &__highlight{
        font-weight: bold;
    }
}

.cancel-audit{
    color: @textColor2;
    &__header{
        .font-size(20);
        font-weight: 700;
        font-family: @brandFont;
    }
    &__desc{
        padding: 30px 0px;
        color: @textColor3;
    }
    &__subheading{
        padding: 20px 0px;
        .font-size(18);
    }
    &__button{
        padding-top: 12px;
        width:220px;
        height:45px;
        border-radius: 3px;
        font-weight: bold;
        margin: auto;
    }
}

.yes-no-popup{
    &__popup-btn{
        padding-top:20px;
        padding-left:80px;
        padding-bottom: 15px;
    }
    &__yes-btn{
        width:140px;
        height:40px;
        border-radius: 3px;
        font-weight: bold;
    }
    &__no-btn{
        width:140px;
        height:40px;
        border-radius: 3px;
        margin-left: 65px;
    }

}
.fot-success-fail{
    color: @textColor3;
    &__header{
        .font-size(20);
        color: @textColor2;
        margin-bottom: 15px;
        font-family: @brandFont;
    }
    &__desc{
        padding-top: 15px;
        line-height: 1.5;
        .font-size(16);
        color: @textColor2;
    }
    &__submit{
        height:50px;
        width:250px;
        border-radius: 2px;
        margin-bottom: 20px;
    }
    &__login{
        padding-top: 12px;
        width:170px;
        height:45px;
        color: white;
        font-weight: 600;
        border-radius: 2px;
        margin:auto;
    }
    &__book-audit{
        padding-top: 12px;
        width:250px;
        height:45px;
        color: white;
        font-weight: 600;
        border-radius: 2px;
        margin:auto;
        margin-bottom: 20px;
    }
    &__audit-button{
        padding-top: 12px;
        width:180px;
        height:45px;
        border-radius: 2px;
        margin-left:50px;
    }
    &__back{
        padding-top: 12px;
        width:180px;
        height:45px;
        background: transparent;
        color: @treeboColor;
        margin-left:50px;
        border-radius: 2px;
    }
}

.night-redemption{
    color: @textColor2;
    &__header{
        padding-bottom: 20px;
        .font-size(24);
        border-bottom: 1px solid @textColor3;
        font-family: @brandFont;
    }
    &__avail-credit-key{
        margin-top: 30px;
        .font-size(20);
        font-family: @brandFont;
    }
    &__avail-credit-value{
        margin-top: 10px;
        .font-size(40);
        color: @treeboColor;
    }
    &__redeem-notification{
        .font-size(16);
        margin-bottom: 40px;
        color: @textColor3;
    }
    &__amount{
        padding-top: 12px;
        .font-size(16);
        border: 1px solid #E0E0E0;
        width:72%;
        height:45px;
    }
    &__form-input{
        padding-left: 30px;
        width:140px;
        height:45px;
        border: 1px solid #E0E0E0;
    }
    &__submit{
        width:265px;
        height:45px;
        .font-size(16);
        font-weight: 600;
    }
    &__subheading{
        .font-size(18);
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 44px;
    }
    &__freenight{
        color: @treeboColor;
        font-family: @brandFont;
    }
    &__confirm-cancel-btn{
        margin-top:40px;
        margin-bottom:10px;
    }
    &__buttons{
        width:150px;
        height:40px;
        border-radius: 2px;
        font-weight: bold;
    }
    &__cancel{
        padding-top: 10px;
        width:150px;
        height:40px;
        background: transparent;
        color: @treeboColor;
        font-weight: 600;
        border-radius: 2px;
    }
    &__voucher{
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 10px;
        width:100%;
        height:45px;
        border: 2px dotted gray;
        .font-size(18);
        font-weight: 600;
    }
    &__suspend-redemption-text {
      padding-top: 30px;
      .font-size(18);
      font-weight: 500;
    }
    &__fot-email {
      padding-top: 40px;
      .font-size(16);
      font-weight: 400;
    }
}

.fot{
    .font-size(16);
    &__search-border{
        border: antiquewhite;
    }
    &__search-city{
        width:300px;
        font-weight: 400;
    }
    &__search-roomconfig{
        width:200px;
        font-weight: 400;
    }
    &__search-input{
        width:200px;
        height:57px;
        background: #fff;
        &--border{
          border: 1px solid #D5D5D5;
          border-width: 0 1px;
        }
        .dr-input {
          border: 0;
        }
    }
    &__auditdate{
      padding-top: 3px;
      font-weight: 400;
    }
}

.fot__search-input .dr-input .dr-dates .dr-date{
    padding-top: 6px;
    color: @textColor1;
}

.result-page {
    &__search-container {
        background: @lightGray;
        height: 115px;
        position: relative;
        z-index: 111;
    }

    &__content {
        background: #F0F0F0;
        padding: 30px 0;
        margin-bottom: 20px;
    }

    &__banner {
        padding: 0 20px;
        background: #fff;

        &__cont {
            padding: 20px 0;
            border-bottom: 1px solid @borderDark;

            img {
                width: 760px;
                max-height: 170px;
            }
        }
    }
    &__audit-error{
        background-color: @treeboColor;
        padding:15px;
        color:white;
    }
    &__link{
        color: #003eff;
    }
}

.results {
    &__row {
        background: #fff;
        padding: 0 20px;

        &:hover {
            // background: #e6e6e6;
        }
        // &+& {
        //     .results__item {
        //         border-top: 1px solid @borderDark;
        //     }
        // }
    }

    .carousel__img {
        height: 200px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &__item {
        padding: 30px 0;
        border-bottom: 1px solid @borderDark;
    }
}
.hotel {
    &__images {
        width: 250px;
        height: 200px;
        overflow: hidden;

        .slick-dots {
            padding-right: 10px;
            text-align: right;
            background: @transparentBgGradient;
            padding-top: 10%;

            li {
                display: none;
                color: #fff;
                background: transparent;
                font-size: 13px;
                margin-bottom: 13px;

                &.slick-active {
                    display: inline-block;
                    width: 50px;
                }
            }
        }
    }

    &__content {
        width: 400px;
        margin-left: 20px;
        align-items: flex-start;
        align-content: stretch;
        flex-wrap: wrap;
    }

    &__footer {
        margin-top: auto;
        width: 100%;
    }

    &__promo {
        color: @treeboColor;
        font-size: 14px;
        padding-left: 25px;
        margin-bottom: 10px;
        text-transform: uppercase;
        position: relative;

        .icon-deals {
            color: @textColor1;
            position: absolute;
            // top: 2px;
            left: 0;
            font-size: 18px;
        }
    }

    &__name {
        font-size: 21px;
        color: @textColor1;
        font-weight: 600;
        margin-bottom: 10px;
        &__link {
            color: @textColor1;
        }
    }



    &__address {
        color: @textColor3;
        width: 370px;

        .icon-location {
            color: @treeboColor;
            position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            // margin-top: 2px;
            left: -4px;
        }

        .street {
            font-size: 16px;
            line-height: 17px;
            padding-left: 20px;
        }
    }

    &__from {
        font-size: 12px;
        color: @textColor3;
        margin-top: 3px;
        padding-left: 20px;
    }

    &__info {
        width: 100%;
    }

    &__review {
        padding-left: 20px;
    }

    &__action {
        margin-top: auto;
        align-items: flex-end;
        justify-content: flex-end;

        &__book {
            height: 45px;
            line-height: 42px;
            margin-left: 20px;
            font-weight: 500;
            .results__row:hover & {
                background: @treeboColor;
                color: #fff;
            }
        }

        &__details {
            display: none;

            .results__row:hover & {
                display: block;
            }
    font-size: 14px;
        }
    }
    &__credits{
        left: 0px;
        bottom: 0px;
        .font-size(15);
        color: @treeboColor;
    }

    &__review {
        font-size: 12px;
        color: #46862E;
    }

    &__last-purchased {
        font-size: 13px;
        margin-top: 10px;
        color: @textColor2;
    }
}

.paging-info {
    bottom: 0;
    width: 100%;
    text-align: right;
}

.side-widget {
    &__carousel {
        margin-bottom: 20px;
        height: 340px;

        &__item {
            &__title {
                color: #fff;
                margin-bottom: 20px;
                font-size: 22px;
                line-height: 26px;
            }

            &__text {
                padding: 20px;
                bottom: 0;
            }

            &__action {
                display: inline-block;
                padding: 7px 15px;
                font-size: 13px;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__image {
        margin: 20px 0;

        img {
            max-width: 100%;
        }
    }
}

#noFilterResult .no-result__container{
    border-bottom: none;
}
.no-result {
    background: #fff;
    padding: 20px;

    &__container {
        height: 170px;
        border-bottom: 1px solid @borderDark;

    }

    &__icon {
        width: 200px;
    }

    &__title {
        font-size: 24px;
        color: @textColor2;
        margin-bottom: 10px;
    }

    &__sub {
        font-size: 18px;
        color: @textColor3;
    }
}

.hotelAvailibility-soldout{
    filter:grayscale(1);
}
.hotelAvailibility-closedaudit{
    filter:grayscale(1);
}
.filter__inr {
    display: flex;
    align-items: center;
    color: @textColor3;
    text-transform: lowercase;
    .icon-rupee {
        margin-left: 5px;
        margin-top: 2px;
        font-size: 13px;
    }
    margin-left: 5px;
}
