@import "../variables.less";
@import "../mixins.less";
@import "~selectize/dist/css/selectize.css";
@import "search_audit_fot.less";


.signupPage{
	background:white;
	margin:45px 0px;
	&__header{
		padding:45px;
		border-bottom: 2px solid @borderLight;
	}
	&__heading{
		.font-size(24);
		margin-bottom: 10px;
		font-family: @brandFont;
	}
	&__desc{
		.font-size(16px);
		color: @textColor2;
	}

}

.signup-page{
	width:100%;
	padding-top:20px;
	&__section{
		padding-top:15px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid @borderLight;
	}
	&__header{
		margin-bottom: 10px;
	}
	&__heading-text{
		width:85%;
		padding-left: 20px;
		.font-size(18);
		font-family: @brandFont;
	}
	&__enter-detail{
		padding: 10px 200px 20px 70px;
		background:white;
	}
	&__edit-info{
		right:20px;
		padding-top: 3px;
		cursor:pointer;
		height:27px;
		width:80px;
		box-shadow: 1px 1px 1px #888888;
		background-color: lightGray;
	}
	&__signup-success{
		.font-size(15);
		color: @treeboColor;
		right:20px;
	}
	&__already-signup{
		.font-size(15);
		color: @treeboColor;
		right:20px;
	}
	&__notification{
		margin-top: 60px;
		.font-size(18);
	}
	&__numbering{
		width: 28px;
	    height: 23px;
	    background: black;
	    color: white;
	    text-align: center;
	    margin-right: 10px;
	    border-radius: 10px;
	}
	&__ques-number{
		padding-right: 15px;
		line-height: 1.7;
		font-weight: bold;
	}
	&__desc{
		.font-size(15);
		top:-22px;
		left:58px;
		padding-right: 200px;
	}
	&__error{
		margin-left: 29px;
	}
}

.fot-form{
	margin-top: 40px;
	color: @textColor2;
	&__label{
		.font-size(17);
		color: @textColor1;
		font-weight: bold;
		line-height: 1.7;
	}
	&__input{
		margin-top: 15px;
		width:450px;
		.font-size(14);
	}
	&__image{
		margin: 20px 0px 10px 28px;
	}
	&__check{
		margin-top: 15px;
		margin-right: 10px;
		margin-left: 28px;
	}
	&__checkbox{
		margin-right: 15px;
	}
	&__terms-check{
		margin-bottom: 20px;
	}
	&__textbox{
		margin-top: 15px;
		margin-left: 28px;
	}
	&__dropdown{
		margin-left: 28px;
	}
	&__continue{
		margin-bottom: 20px;
		margin-top:50px;
		.font-size(18);
		width:150px;
		height:40px;
	}
}
.book-hotel{
	width:250px;
	height:45px;
	background-color:@treeboColor;
	padding-top: 12px;
	margin: auto;
	&__text{
		color: white;
	}
}
.fot-input{
	margin-left: 28px;
	margin-top: 15px;
	width:450px;
}
.select:before{
	top:15px;
}
