{% extends "root-desktop.html" %} {% block content %}

	<div class="container">
		<div class="faqPage faqPage__para faqs">
		<p class="faqPage__headline">FREQUENTLY ASKED QUESTIONS</p>
		<div class="faqPage__intro">
			<p>Hello there, </p>
			<p>We are thrilled that you want to reach out to us! Here are a few resources that should come in real handy. </p>
		</div>
		<div class="flex-row faqs__wrapper">
			<div class="side-nav flex-column">

					<div class="side-nav__item flex-row flex--align-center"><a href="#faq-questions" class="link">Treebo Trivia</a></div>
					<div class="side-nav__item flex-row flex--align-center"><a href="#gaurantee-questions" class="link">Amenities</a></div>
					<div class="side-nav__item flex-row flex--align-center mb10"><a href="#important-policies" class="link">Policies</a></div>
					<div class="side-nav__item flex-row flex--align-center mb10"><a href="#modification-cancellation" class="link">Booking | Modification |<p>Cancellation</p></a>
					</div>
					<div class="side-nav__item flex-row flex--align-center"><a href="#fot" class="link">Friends of Treebo</p></a>
					</div>

					<div class="side-nav__item flex-row flex--align-center"><a href="#offers" class="link">Offers</a></div>

					<div class="side-nav__item flex-row flex--align-center"><a href="#tie-ups" class="link">Tie-ups</a></div>

					<div class="side-nav__item flex-row flex--align-center"><a href="#hotel-direction" class="link">Directions</a></div>
					<div class="side-nav__item flex-row flex--align-center"><a href="#referral" class="link">Referral</a></div>
			</div>
			<div class="flex-column faqs__right_portion">

				<div class="faq-block">
					<div id="faq-questions" class="faq-block__title">TREEBO TRIVIA</div>
					<div class="faq-block__qa">
						<div class="faq-block__q flex-row pos-rel">
							<div class="faq-block__qtext faq-block__status">
								<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What is Treebo Hotels?</span></p>
							</div>
							<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
						</div>
						<div class="faq-block__a ph flex-column">

							<div class="flex-row faq-block__answer">
								<div class="faq-block__highlight ">A. </div>
								<p class="faq-block__adesc">
									Treebo Hotels is a new-age budget hotel brand where you will get all necessities for a comfortable stay, delivered with a smile.
								</p>
							</div>
						</div>
					</div>

					<div class="faq-block__qa">
						<div class="faq-block__q flex-row pos-rel">
							<div class="faq-block__qtext faq-block__status">
								<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Which cities are we present in? </span></p>
							</div>
							<i  class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
						</div>
						<div class="faq-block__a ph flex-column ">

							<div class="flex-row faq-block__answer">
								<div class="faq-block__highlight">A. </div>
								<div>
									<p class="faq-block__adesc">
										Currently, we have 100+ plus hotels across the following {{treebo_cities|length}} locations in India:
									</p>

									<ul class="faq-block__adesc faq-block__ul-location">
										{% for city in treebo_cities %}
											<li class="faq-block__li-class">{{city}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>

					</div>

					<div class="faq-block__qa">
						<div class="faq-block__q flex-row pos-rel">
							<div class="faq-block__qtext faq-block__status">
								<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How are we different?</span></p>
							</div>
							<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
						</div>
						<div class="faq-block__a ph flex-column ">

							<div class="flex-row faq-block__answer">
								<div class="faq-block__highlight">A. </div>
								<p class="faq-block__adesc">
									We are obsessed with delivering high quality experience to our guests. What makes us unique is our commitment to 100% quality guarantee and our 30-minute service guarantee. <a href="http://blog.treebohotels.com/we-deliver-what-we-promise-treebo-quality-assurance-guarantee-program/" class="link" target="_blank">Click here </a>to learn more.
								</p>
							</div>
						</div>

					</div>


				</div>

						<div class="gaurantee-block faqPage__heading" id="gaurantee-questions">
							<div id="faq-questions" class="faq-block__title">OUR AMENITIES & 100% QUALITY GUARANTEE PROGRAMME</div>
							<p>As a valued Treebo guest, you are entitled to the following assured essentials and amenities as covered under our quality guarantee program:</p>
								<ul class="faq-block__ul-aminities">
									<li class="faq-block__li-class">Flawless linen</li>
									<li class="faq-block__li-class">Spotless bath and hand towels</li>
									<li class="faq-block__li-class">Fully functional bathrooms</li>
									<li class="faq-block__li-class">Free Wifi<sup>*</sup> </li>
									<li class="faq-block__li-class">Complimentary breakfast</li>
									<li class="faq-block__li-class">Air Conditioned rooms<sup>*</sup></li>
									<li class="faq-block__li-class">TV with cable/DTH connection</li>
									<li class="faq-block__li-class">Tea/Coffee maker</li>
									<li class="faq-block__li-class">Complimentary bottled water</li>
									<li class="faq-block__li-class">Branded toiletries </li>
								</ul>

								<div><sup>*</sup>Not applicable for hill stations</div>
								<br>
								<p> If we slip up on any of the above, we set it right for you within 30 minutes or we compensate you. Find more details <a href="{% get_static_url %}desktop/docs/guarantee_policy.pdf" class="link" target="_blank">here</a>.</p>

								<h3 class="mt20 faq-block__subheading">OTHER FACILITIES RELATED QUESTIONS:</h3>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Are there facilities to store my luggage in the room?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											All our rooms are furnished with cupboards to keep your luggage. Some of our rooms have safety locker facility as well.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Do I get parking space in Treebo Hotels? </span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Parking may be available at some of our hotels. For information about a specific hotel, please check the hotel information page for exact details.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What are the facilities available for food in Treebo Hotels? </span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											The breakfast is complimentary at all Treebo Hotels. For other meals and snacks, most of our hotels have room service available, wherein food is either prepared in house or can be facilitated from nearby restaurants on request.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Is there any facility for laundry in Treebo Hotels?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Laundry facilities are available in most of our hotels but it is charged at an extra price varying from hotel to hotel.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Does your hotel make arrangements for airport transportation?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											We encourage guests to arrange for their own transport. We can arrange the same at an extra cost in exceptional cases.

											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">I am coming with a lot of luggage. Will I get help to get it to my room?	</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Our hotel staff will be happy to help you with all your luggage transfer within the hotel premises.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Is extra bed provided in all rooms? Is it included in room tariff? </span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Extra mattress can be arranged for in most of our hotels at extra charge. This is subject to the maximum permissible occupancy for the given room category.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Can I ask for a smoking room?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Most of our hotels have non-smoking rooms except for a few. For exact details, please refer to the hotel information section on our website.
											</p>
										</div>
									</div>

								</div>

						</div>

						<div class="policies faqPage__heading" id="important-policies">
							<div class="faq-block__title">IMPORTANT POLICIES</div>
								<h3 id="checkin-checkout-policy" class="faq-block__subheading"> CHECKIN-CHECKOUT</h3>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What is the standard check in - check out time in Treebo Hotels?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Across all Treebo properties, the standard check-in time is 12:00 PM and standard check-out time is 11:00 AM.
											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p id="required-documents" class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What documents are required at the time of check-in at the hotel?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Booking confirmation E-mail/ SMS (with Booking ID) and a valid Photo ID (with address) is required for all the guests. Photo ID proofs accepted are Driver's License, Voters Card, Passport, Ration Card.

											<b>Note: </b>PAN Cards will not be accepted as valid Photo ID card.

											</p>
										</div>
									</div>

								</div>

								<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What if I am arriving earlier than 12 PM and want to leave post 11 AM?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<div class="faq-block__adesc">
												<p>Our policy with regards to early check-in/check-out is:</p>
												<ol type="i" class="pl10">
													<li class="">Our standard check-in/ check-out time is 12 pm/11:00 am respectively.</li>
                                                    <br />
													<li class="">Thanks to our loyal guests like yourself, most of the rooms at our properties are sold out throughout the year. Unfortunately, as much as we would like to, we are not in a position to guarantee an early check-in or a late check-out. However, we will certainly try to offer you an early check-in (free of charge) from 10 am to 12 pm as long as we do not have other guests already staying in the booked room, or a late check out up to 1 pm (free of charge) provided we do not have other guests arriving immediately. Complimentary breakfast is not served on the day of check-in.</li>
												</ol>
											</div>
										</div>
									</div>

								</div>

								<div class="faq-block__policy mt30">
									<h3 id="cancellation-policy" class="faq-block__subheading"> CANCELLATION POLICY</h3>
									<p class="mb10">What is the cancellation policy at Treebo Hotels?</p>

									<ul class="faq-block__ul-location">
										<li class="">No charges will be levied if the room is cancelled more than 24 hours prior to the standard check-in time (12 PM).</li>
										<li class="">Any cancellation request within 24 hours prior to check-in time (12 PM), will attract charges equivalent to 1 night's stay (including taxes) which will be deducted as Standard Cancellation Fee.</li>
										<li class="">In case of any late cancellations (during the stay) or a guest no-show (guest not arriving), hotel reserves the right to charge an equivalent of one night's stay charges including taxes.</li>
										<li class="">For prepaid bookings, refund will be processed within 10-15 days after making the appropriate deductions.</li>
                                        <li class="">For 'Pay at Hotel' bookings, you are requested to make a partial payment to confirm. We reserve the rights to cancel bookings where partial payments have not been made. Payment made will be adjusted against the final amount payable at hotel.</li>
                                        <li class="">For 'Pay at Hotel' bookings, we will contact you before the checkin date in order to reconfirm your stay. If we are not able to reach you, we reserve the rights to cancel the booking.</li>
                                    </ul>
								</div>

								<div class="faq-block__policy">
									<h3 class="faq-block__subheading"> CHILD POLICY</h3>
									<p>A maximum of 1 infant upto the age of 2 years and 1 child upto the age of 8 years is allowed free of charge subject to room occupancy capacity. Breakfast will be included in stay but no extra bed or mattress will be provided. Extra person charges are applicable for anyone above 8 years of age.</p>
								</div>

								<div class="faq-block__policy">
									<h3 class="faq-block__subheading"> OCCUPANCY POLICY</h3>
									<p>The maximum number of occupants in a room depends on the hotel and the room category. This can be found out during booking of the rooms for different hotels.</p>
								</div>

								<div class="faq-block__policy">
									<h3 class="faq-block__subheading"> VISITOR POLICY</h3>
									<p>Our visitor policy varies depending upon the specific hotel. However, visitors are not allowed beyond 10 PM in any of our hotels. Non-resident guests must get registered as an extra occupant in the room to stay beyond this time.</p>
								</div>

								<div class="faq-block__policy">
									<h3 class="faq-block__subheading"> PET POLICY</h3>
									<p>No pets are allowed inside the premises/property where the accommodation is situated.</p>
								</div>

								<div class="faq-block__policy">
									<h3 class="faq-block__subheading" id="right-to-admission"> RIGHT OF ADMISSION</h3>
									<p>Our hotels reserve the right of admission to ensure safety and comfort of guests. This may include cases such as local residents, unmarried and unrelated couples among others.</p>
								</div>

						</div>

						<div class="modification-cancellation-policy faqPage__heading" id="modification-cancellation">
							<div class="faq-block__title">BOOKING | MODIFICATION | CANCELLATION</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What are the various payment modes available while booking via Treebo hotels website?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											You can make payment via multiple avenues such as credit card, debit card or net- banking. There is also an option to pay at hotel directly.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What are the different ways of making a reservation at Treebo Hotels?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<div class="faq-block__adesc">
												<p>	You can make a reservation at any of our hotels through the following channels:</p>
												<ul class="faq-block__ul-location">
													<li class="">Through our website <a href="/" class="link" target="_blank">www.treebo.com </a></li>
													<li class="">Calling on our customer care helpline at <b>{{ treebo_contact }}</b></li>
													<li class="">Through various online travel sites like Make My Trip, Cleartrip, Booking.com etc.</li>
												</ul>
											</div>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How can I cancel/amend my reservation?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											For all cancellations and amendments, please call us on <b>{{ treebo_contact }}</b> if the booking  is made via our website (<a href="/" class="link" target="_blank">www.treebo.com</a>) or customer care helpline. In cases where booking is made via other online travel websites like makemytrip etc, all modifications have to be made at the concerned website only.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What happens if I do not cancel my reservation and do not turn up at Treebo on the arrival date?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Such a case is termed as No Show. As per the policy, one night's charges will be deducted from the total amount.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">I am unable to make a reservation on the website. What should I do?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
                                            In cases where you are unable to complete the reservation through our website, please call us on <b>{{ treebo_contact }}</b> and we will be glad to assist you.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What happens after I make the booking via your website?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											After booking, you will receive a confirmation mail with all check in - checkout details, directions & contact details of the hotel. In case you did not receive the mail, you can reach out to us on <a href="mailto:alerts.webbooking@treebohotels.com?subject=We are interested in collaborating with Treebo" class="link" target="_top"><b>alerts.webbooking@treebohotels.com</b></a> or call us on <b>{{ treebo_contact }}</b> to confirm your booking.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How can I make bulk or corporate bookings? </span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											You may call us on <b>{{ treebo_contact }}</b> or leave your details and requests regarding bulk bookings and corporate booking with us on <a href="mailto:alerts.webbooking@treebohotels.com?subject=We are interested in collaborating with Treebo" class="link" target="_top"><b>alerts.webbooking@treebohotels.com</b></a>.
											</p>
										</div>
									</div>

							</div>

						</div>

						<div class="friends-of-treebo faqPage__heading" id="fot">
							<div class="faq-block__title">FRIENDS OF TREEBO</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What is Friends of Treebo?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Friends of Treebo is a community of travel enthusiasts, who stay across our Treebo hotels and give us their valuable feedback. It’s a crowd-sourced mystery audits program, where smart members like yourself help us ensure quality at our properties. In return, our members stay at our hotels for free, and earn loads of rewards like free nights, vacations, exciting vouchers etc.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How do I enroll in the program?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											You can sign-up for the program, and complete an online evaluation test. Based on your score, you would be granted membership of the program. Once you become a member, you are free to conduct audits at Treebo properties of your choice.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">I didn’t get through the evaluation process. How do I still become a member?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											You can write to us at <a href="mailto:friends@treebohotels.com" class="link" target="_top">friends@treebohotels.com</a> to schedule a telephonic interview. One of our team members will speak to you soon.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What is an audit stay?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											An audit stay is a single night booking at any of the treebo hotels anywhere in India. After your stay, you give us a detailed feedback about the hotel and your experience. Your feedback helps us take quick actions, and keep a tight vigil on our quality standards.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Do we have to pay to book an audit stay?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Absolutely not. Your stay is on us, and enjoy all privileges of a normal bookings - all amenities, free breakfast etc. And you are free to bring your spouse, or one of your relative or friend along with you. However, we do not encourage unmarried couples due to certain policy restrictions imposed by our hotel partners.
											</p>
										</div>
									</div>

							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What do I get in return of conducting an audit?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											We offer you many different kinds of rewards once you successfully submit your feedback, ranging from free movie ticket vouchers to paytm cash. However, our most popular reward option is Treebo credits using which you can redeem more free nights on hotel bookings. You will have the opportunity to earn different number of credits for different hotels that you audit, so you can smartly customize your travel to earn more rewards.
											</p>
										</div>
									</div>
							</div>

							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How do I submit the feedback?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											You will get a link of the feedback form when you schedule your audit, along with instructions to conduct a great audit. The form will guide you through various aspects of stay - cleanliness, breakfast, staff behavior etc. You can also send pics of your stay to <a href="mailto:friends@treebohotels.com" class="link" target="_top">friends@treebohotels.com</a>.
											</p>
										</div>
									</div>
							</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">By when do I have to submit the feedback?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											You need to submit your feedback within 24 hours of checking-out. Failing to do so can lead to blocking of your account, and you will not be able to submit further audits or redeem your free nights.
											</p>
										</div>
									</div>
							</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What action do you take on the feedback we submit?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Your feedback is super important. It is carefully analyzed by our central quality team, and passed onto the respective hotels and city teams. We may not be able to share the individual impact of the feedback with you, but rest assured that every feedback is carefully analyzed.
											</p>
										</div>
									</div>
							</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">My account has been blocked. How do I get it unblocked?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											Your account can get automatically blocked if you do not submit your feedback within 24 hours of checking-out. To unblock your account, write to us at <a href="mailto:friends@treebohotels.com" class="link" target="_top">friends@treebohotels.com</a>. Someone from our team will get in touch with you shortly to sort the issue.
											</p>
										</div>
									</div>
							</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What are credits, and how do I redeem them for free nights?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
                                                Treebo credits is an awesome way to help you earn free hotel stays or get some cool discount on your existing bookings. Simply log into your account and generate a voucher for the number of credits you want to redeem. Apply that voucher to the booking you make at <a href="https://www.treebo.com" target="_blank">treebo.com</a>, and you are all set!
											</p>
										</div>
									</div>
							</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How many audits can I conduct at Treebo hotels?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											There is no upper limit on the number of audits that you can conduct. Our team will reach out to you whenever there is an audit slot available at your preferred destination.
											</p>
										</div>
									</div>
							</div>
							<div class="faq-block__qa">
									<div class="faq-block__q flex-row pos-rel">
										<div class="faq-block__qtext faq-block__status">
											<p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Can I keep auditing in the same hotel always?</span></p>
										</div>
										<i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
									</div>
									<div class="faq-block__a ph flex-column ">

										<div class="flex-row faq-block__answer">
											<div class="faq-block__highlight">A. </div>
											<p class="faq-block__adesc">
											We would love you to stay at multiple Treebo hotels and share a different perspective in each of your feedback. That being said, you leave the task of scheduling audits for you to our team. Our team will help you schedule audits at particular hotels whenever we need some important feedback.
											</p>
										</div>
									</div>
							</div>
						</div>

						<div class="offers faqPage__heading" id="offers">
							<div class="faq-block__title">ON-GOING OFFERS AND DISCOUNTS</div>

							<p>Details of our offers can be found on our website (available <a href="/offers/" class="link" target="_blank">here</a>) or on our social media pages. </p>
						</div>

						<div class="tie-ups faqPage__heading" id="tie-ups">
							<div class="faq-block__title">TIE-UPS AND COLLABORATIONS</div>

							<p>Please reach out to us on <b>{{ treebo_contact }}</b> or drop us a mail on <a href="mailto:alerts.webbooking@treebohotels.com?subject=We are interested in collaborating with Treebo" class="link" target="_top"><b>alerts.webbooking@treebohotels.com</b></a>.</p>
						</div>

						<div class="hotel-direction faqPage__heading" id="hotel-direction">
							<div class="faq-block__title">OUR HOTEL ADDRESSES AND DIRECTIONS</div>

							<p>Directions and contact details of your booked hotel can be found in the booking confirmation E-mail that you receive after booking or in the SMS that you receive a day prior to your check-in. Alternatively, directions can be found in the hotel information page on our website.  For any queries or assistance, you can reach out to us on <b>{{ treebo_contact }}</b>.</p>
						</div>

            <div class="faqPage__heading" id="referral">
                <div class="faq-block__title">REFERRAL</div>
                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">What is the Treebo Referral Program?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <div>
                                <p class="faq-block__adesc">
                                    This is an exclusive program to connect with Treebo. The Referral Program lets you refer and invite friends to stay at Treebo Hotel.<br>
                                    <b>Benefits</b>: It’s a win-win for both of you.
                                </p>
                                <p class="faq-block__adesc faq-block__referral-text">
                                    <span class="faq-block__referral-tags">The Referrer</span>: Once the friend you referred, completes his/her first stay at Treebo (i.e. after check out), we’ll send you a reward voucher of Paytm cash worth Rs. 500. You will receive this voucher within 48 hours, after your friend checks out, in the email id you registered with.
                                </p>

                                <p class="faq-block__adesc">
                                    <span class="faq-block__referral-tags">The Referred</span>: As your friend uses the link, he/she will land on treebo.com’s homepage, while they book their stay, they will get a discount worth Rs. 500 through an auto-applied coupon.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="faq-block__subheader">
                    When you are the Referrer.
                </div>

                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How can I refer Treebo.com to my friends?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <div class="faq-block__adesc">
                                <p>
                                    You can invite your friends to join Treebo.com through either of the following options:
                                </p>
                                <p class="">Invite via e­mail:</p>
                                <ul class="faq-block__ul-location">
                                    <li>On the Referral page, click on the "Refer via e­mail" option</li>
                                    <li>Enter the e­mail ids of friends you wish to invite </li>
                                    <li>Click "Send Invitation"</li>
                                </ul>

                                <p class="">Share on Facebook:</p>
                                <ul class="faq-block__ul-location">
                                    <li>On the Referral page, click on the Facebook icon.</li>
                                    <li>You will be redirected to the Facebook’s login page.</li>
                                    <li>When you log in, the referral link appears on the page with an option to share it publically or tag friends individually.</li>
                                    <li>Share this link with your Facebook friends to invite them to Treebo.com</li>
                                </ul>

                                <p class="">Share on WhatsApp:</p>
                                <ul class="faq-block__ul-location">
                                    <li>On the Referral page of your mobile site, click on the WhatsApp icon to get redirected to your WhatsApp chat page</li>
                                    <li>Select a friend’s contact to share the link</li>
                                    <li>And invite friends to Treebo.com</li>
                                </ul>

                                <p class="">Easy share link:</p>
                                <ul class="faq-block__ul-location">
                                    <li>You will get an unique referral link on you Email ID, which you can share with your near & dear ones through WhatsApp or Email or Facebook.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Is there a limit on the number of email invites I can send?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                No, you can invite unlimited friends to Treebo.com.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Can I invite anyone?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                Yes, you can invite any of your friends or acquaintances. However, to ensure that users don't get spammed,
                                please ensure that you only send invites to people you are acquainted with.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How long is the referral link valid for?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                Every referral link is unique and has lifetime validity.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">How do I get Paytm cash?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                You’ll receive the Paytm cash voucher of Rs.500 within 48 hours from your referred friend’s check out date. The voucher stays valid till 31st December 2017 and will be sent to your registered email id. Instructions to redeem Paytm voucher and add cash to your Paytm wallet can be found
                                <a href="https://s3-ap-southeast-1.amazonaws.com/treebo/static/files/referral_redemption_coupon_steps.pdf" class="link" target="_blank"> here</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Are there any restrictions on using the Paytm cash?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                Please read Paytm terms and conditions to know more about this.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Does Paytm cash has an expiry date?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                Please read Paytm terms and conditions to know more about this.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">Why did I not get Paytm cash for an invite that was accepted?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <div class="faq-block__adesc">
                                <p>
                                    Under one of following conditions, you will not be eligible for referral bonus ­
                                </p>
                                <ul class="faq-block__ul-location">
                                    <li>The person who clicked the link was already a Treebo.com member</li>
                                    <li>The referred member hasn’t made the first booking yet</li>
                                    <li>The referred member booked a Treebo, but hasn’t checked out yet</li>
                                    <li>Treebo Referral Program <a href="https://treeboreferral.squarespace.com" target="_blank">Terms & Conditions</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="faq-block__subheader">
                    When you are the Referred Friend.
                </div>

                <div class="faq-block__qa">
                    <div class="faq-block__q flex-row pos-rel">
                        <div class="faq-block__qtext faq-block__status">
                            <p class="faq-block__highlight flex-row">Q.<span class="faq-block__question">
                                What do I need to do? After getting the referral link, what are the steps
                                I need to complete to redeem the discount voucher worth Rs.500?</span></p>
                        </div>
                        <i class="up-down-arrow faq-block__icon fa fa-times text-right faq-block__status pos-abs icon-down-arrow rotate-reset"></i>
                    </div>
                    <div class="faq-block__a ph flex-column ">

                        <div class="flex-row faq-block__answer">
                            <div class="faq-block__highlight">A. </div>
                            <p class="faq-block__adesc">
                                All you need to do is, click on the referral link & land on treebo.com’s homepage, select the said hotel with check-in & check-out dates.
                                You will get a discount worth 500 INR through an auto-applied coupon for your first booking.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
