<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivago File Upload</title>
</head>
<body>


    {% block content %}
        <form action="{% url 'thirdparty:trivago-upload'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
            <input type="submit" value="upload" />
        </form>

    {% endblock %}



</body>
</html>