{% extends "root-mobile.html" %} {% load url_tag %}
{% block header %}
    {% include "mobile/includes/header.html" %}
{% endblock %}
{% block content %}
<div class="page container">
	<div class="termsPage">
    	<div class="">
    		<div class="termsPage__heading mb30">
					<p>Terms of use for use of the Website and the Mobile application </p>
			</div>
    		<div class="termsPage__content mb20">
    			<p>
    				Welcome to our portal <a href="//www.treebo.com" target="_blank">www.treebo.com</a> (the <b>"Website"</b>) and our Mobile Application Platform <b>"Treebo Hotels"</b> (the <b>"App"</b>). </p>

    			<p>
    				The Website, App and its content is owned and operated by Ruptub Solutions Private Limited (<b>"Treebo"</b>, <b>"us"</b> or <b>"we"</b>), a company incorporated under the provisions of the Companies Act, 2013 having its registered office at No. G801, Springfields, Kaikonadahalli, Sarjapur Road, Bangalore - 560102. </p>

    			<p>
    				Treebo facilitates the connection of a user with independent third party hotel operators or owners (<b>"Stay Partner"</b>) who offer clean and fresh budget hotel rooms and such other accommodations on rent (<b>"Accomodations"</b>), through the Website/ App to the users, with assured essentials and prompt services (<b>"Services"</b>). Reference to <b>"you"</b>, <b>"guest"</b>, <b>"your"</b> or <b>"user"</b>, whether registered or not, in these Terms of Use (as defined below) refers to the users of this Website, whether or not you access the services offered by us (<b>"Services"</b>) or consummate a transaction on the Website or the App. </p>

    			<ol class="pl20" type="1">
    				<li class="li-class"><p class="termsPage__content-heading">ACCEPTANCE OF THE TERMS OF USE </p>
    					<ol type="i">
    						<li class="mb10 li-class">These terms and conditions, the Privacy Policy and the Stay Policy and such other policy or terms as may be prescribed by Treebo (collectively these <b>" Terms of Use"</b>) forms a legally binding agreement between Treebo and the user(s) of the Website or the App, as the case may be.</li>

    						<li class="mb10 li-class">We request you to carefully go through these Terms of Use to understand the different features of the Services. By using the Website or the App, you irrevocably accept all the obligations stipulated in these Terms of Use and agree to abide by them. Accessing the Website or the App through any medium, including but not limited to services on mobile phones, is also subject to these Terms of Use. These Terms of Use supersede all previous oral and written terms and conditions (if any) for the use of the Website or App communicated to you.
							</li>
    					</ol>
    				</li>

    				<li class=" li-class mt20"><p class="termsPage__content-heading">MODIFICATION OF THE TERMS OF USE</p>
    					<p>Treebo reserves the right, in its sole discretion, to change, modify, or otherwise amend these Terms of Use, and any other documents incorporated by reference herein for complying with legal and regulatory framework and for other legitimate business purposes, at any time. If at any time you find these Terms of Use unacceptable or if you do not agree to these Terms of Use, please do not use or continue to use the Website and/or App. We may revise these Terms of Use at any time without notice to you. It is your responsibility to review these Terms of Use periodically.
    					</p>
    				</li>

    				<li class="li-class mt20"><p class=" termsPage__content-heading ">PRIVACY AND OTHER POLICIES </p>
    					<ol type="i">
    						<li class="li-class mb10">Treebo has established a privacy policy that explains to users how their information is collected and used (<b>"Privacy Policy"</b>). Your use of the Website and/or App is governed by the Privacy Policy. The Privacy Policy is available <a href="/policy/" target="_blank">here</a>.</li>

    						<li class="li-class">Treebo and/or the Stay Partners may prescribe certain entry/stay conditions and policies to the users in connection with their stay at the Accommodations (<b>"Stay policy"</b>). The Stay Policy is available <a href="{% get_static_url %}desktop/docs/stay_policy.pdf" target="_blank">here</a>. Details of the cancellation and refund policy, among other things are set out in the Stay Policy.
    						</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class=" termsPage__content-heading">LICENSE TO ACCESS </p>
    					<ol type="i">
    						<li class="li-class mb10">Treebo hereby grants you a non-exclusive, revocable license to use the Website and/or App on the terms and conditions as set forth in these Terms of Use, provided, however, that:
    							<ol class="pl10 ml10" type="a">
    								<li class="li-class">you will not copy, distribute, or make derivative works of the Website and/or App in any medium without prior written consent of Treebo and/or its affiliates, as may be applicable; </li>
    								<li class="li-class">you will not alter or modify any part of the Website and/or App other than as may be reasonably necessary to use the Website and/or App for its intended purposes; and </li>
    								<li class="li-class">you will otherwise act in accordance with these Terms of Use and in accordance with all applicable laws of India.</li>
    							</ol>

    						</li>

    						<li class="li-class mb10">The Website and/or App or any portion thereof (including but not limited to any copyrighted material, trademarks, or other proprietary information) may not be reproduced, duplicated, copied, sold, resold, visited, distributed or otherwise exploited for any commercial purpose without the prior written consent of Treebo and/or its affiliates, as may be applicable.
    						</li>

    						<li class="li-class mb10">You will not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Treebo and its affiliates without their prior written consent. You will not use any meta tags or any other <b>"hidden text"</b> utilizing Treebo's or its affiliates' names or trademarks without the prior written consent of Treebo and/or its affiliates, as may be applicable. Any unauthorized use will terminate the permission or license granted by Treebo and/or its affiliates, as may be applicable.</li>

    						<li class="li-class">You will not delete or modify any content of the Website and/or App, including but not limited to, legal notices, disclaimers or proprietary notices such as copyright or trademark symbols, logos, that you do not own or have express permission to modify.</li>
    					</ol>
    				</li>

    				<li class="mt20 li-class"><p class=" termsPage__content-heading">WEBSITE/APP </p>
    					<ol type="i">
    						<li class="li-class mb10">The Website and/or the App allows the users to browse through Accommodations offered by various Stay Partners at the specified prices at various locations across India and make bookings/reservation for the Accommodations required by the users.</li>

    						<li class="li-class mb10">The Website and/or App are platforms that you may utilise to interact with the Stay Partners for your transactions and service need. We are not and cannot be a party to or control in any manner any transaction between you and the Stay Partners.
    						</li>

    						<li class="li-class mb10">You acknowledge that Treebo will not be liable for any lack or deficiency in service attributable to the Stay Partners at the Accommodations booked by you. You further acknowledge that the Stay Partner is an entity completely separate from Treebo and Treebo does not work as an agent or representative of the Stay Partner. You also acknowledge that by making a reservation/booking at any of the accommodations listed, you are entering into a commercial or contractual agreement as agreed to between the Stay Partner and you.
    						</li>

    						<li class="li-class mb10">We do not make any representation or warranty as to specifics (such as quality, value, saleability, etc.) of the Accommodations offered for rent on the Website and/or App. We accept no liability for any errors or omissions, whether on behalf of ourselves, Stay Partners or third parties. We are not responsible for any non-performance or breach of any contract entered into between you and the Stay Partners. We cannot and do not guarantee that you and/or the Stay Partners will perform any transaction concluded on the Website and/or App. We shall not and are not required to mediate or resolve any dispute or disagreement between you and the Stay Partners.</li>

    						<li class="li-class">By using the Website /App, you hereby acknowledge and agree that Treebo is not to be characterized as an owner, operator, lessee or a contractor of the hotel or property offering the Accommodations and that Treebo has no control over the conduct or behavior of the Stay Partner or the quality, fitness or the suitability of the services provided by the Stay Partner. By using the Website and/or App, you agree that any legal remedy or liability that you seek to obtain for actions or omissions of the Stay Partners or other third parties will be limited to a claim against the particular Stay Partner or other third parties who caused you harm and you agree not to attempt to impose liability on, or seek any legal remedy from us with respect to such actions or omissions.</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">CRITERIA TO USE THE WEBSITE/APP </p>
    					<ol type="i">
    						<li class="li-class mb10">Treebo does not charge a fee for registration and hence you can register on the Website or the App free of cost. If you do not agree to all or any or part of the Terms of Use in their entirety, you must not use this Website/ App and should exit/logout immediately. Your continued use of the Website/App would imply that you consent to the usage terms. Treebo has a right at its sole discretion to refuse to provide access to or terminate the access of any person(s) whatsoever with or without notice.
    						</li>

    						<li class="li-class">Use of the Website and/or App is available only to individuals who are at least 18 (Eighteen) years old and can form legally binding contracts under applicable law in India. In case of a non-natural person, you represent that you are a company/partnership/other entity validly incorporated and registered under the applicable laws. You represent, acknowledge and agree that you are at least 18 (Eighteen) years of age, and that:
    							<ol type="a">
    								<li class="li-class">all registration information that you submit is truthful and accurate;</li>
    								<li class="li-class">you will maintain the accuracy of such information; and </li>
    								<li class="li-class">your use of the Website, App or any services offered through the Website and/or App do not violate any applicable law or regulation in India. Your Account may be terminated without warning if we, at our discretion, believe that you are under the age of 18 (Eighteen) or that you are not complying with any applicable laws, rules or regulations in India.</li>
    							</ol>

    						</li>

    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">ACCOUNT AND REGISTRATION </p>
    					<ol type="i">
    						<li class="li-class mb10">Treebo offers services to you through their Website/App once you have registered with Treebo by providing Treebo with the requisite information such as an email address and password (collectively, the <b>"Account Information"</b>). The Website/App also facilitates booking for users (the <b>"Guest"</b>) who do not intend on registering with Treebo. The Guest can select any Accommodation of their choice and proceed to book the same by providing information such as their Name, address, phone number and email address. (collectively the <b>"Guest Information"</b>). You acknowledge that you are solely responsible for maintaining the confidentiality of the Account Information or the Guest Information that you have provided to Treebo. You agree to immediately notify Treebo of any unauthorized use of your account by a third party and you acknowledge that Treebo will not be liable for any direct or indirect damage caused to you as a result of such unauthorized use of Account Information or Guest Information by a third party. We reserve the right to suspend or terminate your Account and your access to the Website and/or App if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete.</li>

    						<li class="li-class mb10">When you use the Website/App, you agree that you are involved in the transmission of sensitive and personal information including but not limited to Account Information and Guest Information (collectively <b>"SPI"</b>) which falls within the ambit of the Information Technology (Reasonable Security practices and procedures and sensitive personal data or information) Rules, 2011. You consent to receiving communications from Treebo or the Stay Partner on a periodic basis vide these SPI transmitted by you to Treebo. Treebo agrees to take all necessary steps to secure and maintain the confidentiality of the SPI that you have transmitted in consonance with the Information Technology (Reasonable Security practices and procedures and sensitive personal data or information) Rules, 2011. However, you acknowledge that Treebo will not be liable for any disclosure of your SPI as a result of an error in transmission or unauthorized actions of third parties.
    						</li>

    						<li class="li-class mb10">You may also register for an account using your existing Facebook, Twitter, Instagram, Pinterest or other platform account and log-in credentials (<b>"Third-Party Account"</b>).You represent that you are entitled to disclose your Third Party Account login information to us and grant us access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating us to pay any fees or making us subject to any usage limitations imposed by such third party service providers. By granting us access to any Third Party Accounts, you understand that we will access, make available, and store (if applicable) any content or information that you have provided to and stored in your Third Party Account (<b>"Third Party Account Content"</b>) so that it is available on and through your Treebo account. Unless otherwise specified in these Terms of Use, all Third Party Account Content, if any, will be considered to be your content for all purposes of these Terms of Use. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, personally identifiable information that you post to your Third Party Accounts will be available on and through your Treebo account on the Website and/or App. Please note that if a Third Party Account or associated service becomes unavailable or our access to such Third Party Account is terminated by the third party service provider, then Third Party Account Content will no longer be available on and through the Website and/or App.
    						</li>

    						<li class="li-class mb10">Without prejudice to the foregoing, you agree that Treebo shall not be held liable or responsible for 'phishing attacks' on you. You agree that you shall not use/access this Website/ App from unsecure computers, unsecure communication links, unsecure mobile phones. You may accept or decline the cookies when you access the Website/ App. It is the user's responsibility to set his browser to alert him to accept or to reject cookies.</li>

    						<li class="li-class">You agree, acknowledge and confirm that before placing any order, you shall check the Service description and price of the Accommodation carefully and by placing an order for an Accommodation, you agree to be bound by the Terms of Use as provided in the Website/App. Treebo shall not be liable for any deficiency in the performance of services or any other form of direct or indirect damage as a result of the Stay Partner's actions or omissions as a result of your reservation of the Accommodation provided by the Stay Partner.</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">PAYMENT OPTIONS </p>
    					<ol type="i">
    						<li class="li-class mb10">You agree and acknowledge that you will have to make a payment for the services availed by way of your use of the Website/App to book/reserve a specific Accommodation vide the payment option provided by Treebo on the Website/App. You hereby agree and understand that you will have to pay the room price as mentioned on the Website/App for the concerned Accommodation via the payment mode provided on the Website/App pursuant to which your requested reservation will be confirmed.
    						</li>

    						<li class="li-class mb10">We offer multiple payment options to you on the Website and/or App:
    							<ol type="a">
    								<li class="li-class mb10">Where payment is made by you through the Website and/or App and collected by Treebo on behalf of the Stay Partners, you can make online payments using either your credit card, debit card, net banking, digital wallets or other payment options as made available by Treebo from time to time; </li>
    								<li class="li-class">Where payment is made by you directly to the Stay Partners directly, you can complete the booking/reservation on the Website/App and then make payments to the Stay Partner by cash, card or other modes, as per the terms and conditions of the Stay Partners. </li>

    							</ol>

    						</li>

    						<li class="li-class mb10">We/Stay Partners will collect the total amount in accordance with these Terms of Use or the Stay Partners' terms of use, as applicable, and the pricing terms set forth in the applicable listing of the Accommodation for the particular Stay Partner. Please note that we cannot control any amount that may be charged to you by your bank or other payment facilitator related to collection of the total amount, and we disclaim all liability in this regard.
    						</li>

    						<li class="li-class mb10">Treebo employs third party payment gateways and/or electronic wallets to receive payments from you. Treebo is not responsible for delays or erroneous transaction execution or cancellation of reservation due to payment issues. Treebo takes utmost care to enable a smooth functioning of third party gateways and/or electronic wallets to process payments, but does not control their systems, processes, technology and work flows and hence cannot be held responsible for any fault at the end of these payment gateways and/or electronic wallets.</li>

    						<li class="li-class mb10">The user authorizes Treebo to process any and all transactions initiated through the use of any of your SPI, digital certificate, passwords and/or pass phrases. You agree and acknowledge that the transactions may call for and require additional verification of or information from you which may also fall within the ambit of SPI and you undertake to provide complete, correct and proper information. You shall be solely responsible for maintaining the confidentiality of the SPI, digital certificate, passwords and pass phrases assigned to you. You must immediately notify Treebo of any unauthorized use of your SPI, digital certificate, and passwords or pass phrases. You shall be responsible for any unauthorized activities, charges and/or liabilities made on or through your SPI, digital certificate, passwords or pass phrase. In no event shall Treebo be liable to the user for the unauthorized use or misuse of your SPI, digital certificate, passwords or pass phrase or security authentication option.</li>

    						<li class="li-class ">In a credit or debit card transaction, you must use your own credit or debit card towards which you have a full right and authority to validly use such Credit or Debit Card for making a payment to Treebo. Treebo shall not be liable for any credit or debit card fraud. The liability of using a card fraudulently will be on the user and the onus to 'prove otherwise' shall also be exclusively on the user.</li>
    					</ol>
    				</li>


    				<li class="li-class mt20"><p class=" termsPage__content-heading">PROMO CODE </p>
    					<ol type="i">
    						<li class="li-class mb10"><b>"Promo Code"</b> is a code, consisting of letters or numbers or both that you can enter into a promotional box on the Website and/or App checkout page to obtain a discount on your booking/reservation, such as a percentage off the order or other discount.</li>

    						<li class="li-class mb10">We/Stay Partner have the right to refuse the usage of any Promo Code at any point of time. Promo Codes which have expired cannot be used on the Website and/or App. We/Stay Partner can at any time ask you for the proof of having received the Promo Code. Promo Codes can be used only on specific bookings/reservations as deemed fit by us/Stay Partner.

    						</li>

    						<li class="li-class mb10">Promo Codes, at our/Stay Partners' discretion, are applicable on certain Accommodations, on specific bookings/reservations, or on specific dates and occasions. Unless otherwise specified, Promo Codes cannot be clubbed with any other special offer running on the Website and/or App.
    						</li>

    						<li class="li-class ">For a payment received after the expiry of the Promo Code the discount will not be applicable on such booking/reservation.</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">REPRESENTATIONS AND WARRANTIES: </p>
    					<p>By using the Website or the App, you represent and warrant that: </p>

    					<ol type="i">
    						<li class="li-class mb10">You are 18 years of age or older and that your use of the Website/App and / or Services shall not violate any applicable law or regulation.
    						</li>

    						<li class="li-class mb10">All registration information you submit is truthful and accurate and that you agree to maintain the accuracy of such information.
    						</li>

    						<li class="li-class mb10">Your use of this Website/App shall be subjected to the following restrictions:
    							<ol class="ml10" type="a">
    								<li class="li-class ">you may not modify any content of the Website or App, including but not limited to, any public display, description, performance, sale, rental and pricing of the Services; </li>
    								<li class="li-class ">you may not decompile, reverse engineer, or disassemble the content; or</li>
    								<li class="li-class ">you may not remove any copyright, trademark registration, or other proprietary notices from the Website or the App. You further agree not to access or use this Website or App in any manner that may be harmful to the operation of this Website or App or its content. </li>

    							</ol>

    						</li>

    						<li class="li-class mb10">You will not:
    							<ol type="a">
    								<li class="li-class ">advertise or sell the Services (whether or not for profit), for commercial purposes of any kind; or </li>
    								<li class="li-class ">use the Website or App and / or Services in any way that is unlawful, or harms Treebo or any other person or entity, as determined by Treebo at its sole discretion.</li>

    							</ol>

    						</li>

    						<li class="li-class mb10">You will not post, submit, upload, distribute, or otherwise transmit or make available any software or other computer files that contain a virus or other harmful component, or otherwise impair or damage the Website/ App and / or Services or any connected network, or otherwise interfere with any person or entity's use or enjoyment of the Website/App and / or Services.
    						</li>

    						<li class="li-class mb10">You will not engage in any form of antisocial, disrupting, or destructive acts, including <b>"flaming,"</b> <b>"spamming,"</b> <b>"flooding,"</b> <b>"trolling,"</b> and <b>"phishing"</b> as those terms are commonly understood and used on the Internet.	</li>

    						<li class="li-class mb10">You will not delete or modify any content of the Website or App and / or Services, including but not limited to, legal notices, disclaimers or proprietary notices such as copyright or trademark symbols, logos, that you do not own or have express permission to modify.</li>

    						<li class="li-class mb10">Treebo cannot and will not assure that other users are or will be complying with the foregoing rules or any other provisions of these Terms of Use, and, as between you and Treebo, you hereby assume all risk of harm or injury resulting from any such lack of compliance.</li>

    						<li class="li-class mb10">All information, content and material contained in the Website or App and / or Services are Treebo's intellectual property.  All trademarks, services marks, trade names, and trade dress are proprietary to Treebo. No information, content or material from the Website or the App and / or Services may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way without Treebo's express written permission.</li>

    						<li class="li-class mb10">You acknowledge that when you access a link that leaves the Website/App, the site you will enter into is not controlled by Treebo and different terms of use and privacy policies may apply. By accessing links to other sites, you acknowledge that Treebo is not responsible for those sites. Treebo reserves the right to disable links from third-party sites to the Website/App, although Treebo is under no obligation to do so.</li>

    						<li class="li-class">You expressly understand and agree: (i) that Treebo does not warrant that the functions contained in content, information and materials on the Website/App, including, without limitation any third party sites or services linked to the Website/App will be uninterrupted, timely or error-free; (ii) that the defects will be rectified; (iii) that the Website/App or the servers that make such content, information and materials available are free of viruses or other harmful components; (iv) that the quality of the Website/App and service would meet your expectations; or (v) Any material downloaded or otherwise obtained through the Website/App are accessed at your own risk, and you will be solely responsible for any damage or loss of data that results from such download to your computer system.</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">DISCLAIMER OF WARRANTY </p>
    					<p >TREEBO PROVIDES ACCESS TO THE WEBSITE/APP ON AN <b>"AS IS"</b> BASIS AND HEREBY DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF FITNESS FOR PARTICULAR PURPOSE, MERCHANTABILITY, NON-INFRINGEMENT OR TITLE. THE USER ACKNOWLEDGES THAT TREEBO HAS NOT REPRESENTED OR WARRANTED THAT THE USE OF THE WEBSITE OR THE APP WILL BE UNINTERRUPTED, ERROR FREE OR WITHOUT DELAY.</p>
    					<p>Treebo shall have no liability to the user for any interruption or delay, to access the Website/App irrespective of the cause.</p>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">INDEMNIFICATION </p>
    					<p>You agree to indemnify and hold harmless Treebo, its affiliates, officers, directors, employees, consultants, licensors, agents, and representatives from any and all third party claims, losses, liability, damages, and/or costs (including reasonable attorney fees and costs) arising from your access to or use of Services, violation of these Terms of Use, or infringement, or infringement by any other user of his/her/its account, of any intellectual property or other right of any person or entity. Treebo will notify you promptly of any such claim, loss, liability, or demand, and in addition to your foregoing obligations, you agree to provide us with reasonable assistance, at your expense, in defending any such claim, loss, liability, damage, or cost.</p>

    				</li>


    				<li class="li-class mt20"><p class="termsPage__content-heading">LIMITATION OF LIABILITY </p>
    					<ol type="i">
    						<li class=" li-class mb10">In no event, shall Treebo, or any of its directors, officers, employees, agents or content or service providers (collectively, the <b>"Protected Entities"</b>) be liable for any direct, indirect, special, incidental, consequential, exemplary or punitive damages arising from, or directly or indirectly related to, the use of, or the inability to use, the Website or the App or the content, materials and functions related thereto, the Services, user's provision of information via the Website, lost business, even if such Protected Entity has been advised of the possibility of such damages. In no event shall the Protected Entities be liable for:
    							<ol type="a">
    								<li class="li-class">provision of or failure to provide all or any service by Stay Partners to users contacted or managed through the Website or App; </li>
    								<li class="li-class">any content posted, transmitted, exchanged or received by or on behalf of any user or other person on or through the Website;</li>
    								<li class="li-class">any unauthorized access to or alteration of your transmissions of SPI; or</li>
    								<li class="li-class">any other matter relating to the Website/App or the Service.</li>
    							</ol>

    						</li>

    						<li class="li-class">In no event shall the total aggregate liability of the Protected Entities to a user for all damages, losses, and causes of action (whether in contract or tort, including, but not limited to, negligence or otherwise) arising from these Terms of Use or a user's use of the Website/App or the Services exceed the total price actually paid by such user for booking/reserving an Accommodation through the Website/App.
    						</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">INTELLECTUAL PROPERTY </p>
    					<ol type="i">

    						<li class="li-class mb10">All information, content and material contained in the Website, the App and / or Services including but not limited to trademarks, copyrights, patents and designs and all other forms of proprietary and non-proprietary information provided by you or Treebo in facilitating the services is the sole intellectual property of Treebo. All trademarks, services marks, trade names, and trade dress are proprietary to Treebo. No information, content or material from the Website/App and / or Services may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way without Treebo's express written permission.
    						</li>

    						<li class="li-class ">You also provide a royalty-free, perpetual, irrevocable, nonexclusive right and license for Treebo to adopt, publish, reproduce, disseminate, transmit, distribute, copy, use, create derivative works from, display worldwide, or act on such content without additional approval or consideration in any form, media, or technology now known or later developed for the full term of any rights that may exist in such content, and you waive any claim to the contrary over all feedback, comments, ideas or suggestions or any other content provided by you to Treebo by way of this Website/App.
    						</li>
    					</ol>
    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">SEVERABILITY </p>

    						<p >Each paragraph, clause, sub-clause and provision of these Terms of Use shall be severable from each other and if for any reason, any paragraph, clause, sub-clause or provision is invalid or unenforceable, such invalidity or enforceability shall not prejudice or in any way affect the validity or enforceability of any other paragraph, clause, sub-clause or provision, which shall be read and construed so as to give thereto, the full effect thereof, subject only to any contrary provision of the law to the effect that where this provision of these Terms of Use or any paragraph, clause, sub-clause or provision hereof would be but for the provisions of this paragraph read and construed as being void or ineffective it shall nevertheless be a valid term and condition, paragraph, clause, sub-clause or provision, as the case may be, to the full extent to which it is not contrary to any provision of the law.
    						</p>

    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">GOVERNING LAW AND DISPUTE RESOLUTION </p>

    						<p>These Terms of Use are governed by the laws of India. Any action, suit, or other legal proceeding, which is commenced to resolve any matter arising under or relating to these Terms of Use, shall be subject to the jurisdiction of the courts at Bangalore.
    						</p>

    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">WAIVER </p>

    						<p>Any failure of Treebo to exercise or enforce any right or provision of these Terms of Use shall not operate as a waiver of such right or provision.
    						</p>

    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">THIRD PARTY LINKS </p>

    						<p>The Website or the App may contain links belonging to third parties and the user acknowledges that Treebo does not endorse any of these third party links or the services or goods provided by way of these links. Treebo will not be liable for the nature of the content provided on any of these third party links or the privacy practices followed by these third parties. Treebo does not provide any warranty with regard to the materials posted on such third party websites or the services offered by them and disclaims all responsibility for the quality of the services offered by any of these linked sited. You acknowledge that it is upon your own risk that you view the contents of any linked site listed in the Website or the App.
    						</p>

    				</li>

    				<li class="li-class mt20"><p class=" termsPage__content-heading">THIRD PARTY CONTROL  </p>

    						<p>The flow of data over the internet depends in large part on the performance of connections and services provided by third parties. Failure of such third parties to perform their services correctly can disrupt internet sessions, thereby interrupting the Services. Treebo cannot guarantee such events will not occur, and disclaims any and all liability, claims or losses resulting from or relating to such events.
    						</p>

    				</li>

    				<li class="li-class mt20"><p class="termsPage__content-heading">GRIEVANCE REDRESSAL   </p>

    						<p>If you believe that your rights have been violated by any Services or have any other grievance due to use of the Website and/or App, the name and contact details of the Grievance Officer to redress the same is provided below:

    						</p>
    				</li>
                </ol>
     		</div>
    	    <div class="termsPage__officer mb20 pl25">
                <p>Email Address: <a href="mailto:alerts.webbooking@treebohotels.com?subject=Grievance Redressal" target="_top" class="">alerts.webbooking@treebohotels.com</a></p>
            </div>
   		 </div>
	</div>
</div>
{% endblock %}
