{% extends "head-less-mobile.html" %} {% load url_hashifier %} {% load staticfiles %} {% block content %}
 <link rel="stylesheet" href="{% get_static_url %}{{ 'mobile/css/voucher.css'|hashify }}">
<div class="container new-voucher ph pt70">
	<header class="new-voucher__header">
		<div class="title">
			Booking Confirmation
		</div>
		<div class="text-right">
			Treebo Hotels
		</div>
		<div style="clear:both;"></div>
	</header>

	<div class="details pt30">
		<div class="mb30">
			<div class="hotelmeta">
				<h2 class="mb10"><span class="hotelname"> {{ hotel.name }}</span>,<span class="city">{{ hotel.city.name }}</span></h2>
				<p class="mb10">
					{{ hotel.street }}<br>
					{{ hotel.locality.name }}
				</p>
			</div>
			<div class="text-right">
				<div class="mb10">
					<div >Booking Reference Number</div>
					<h4>{{ booking_code }}</h4>
				</div>
				<div>
					<div>Booking in the name of</div>
					<h4>{{ guest_name }}</h4>
				</div>
			</div>
		</div>
		<div class="bookingmeta pb30">
			<div class="">
				<div class="dates">
					<div class="">
						<div class="voucher__title">Check In Date</div>
						<div class="voucher__body"><span class="voucher__date">{{ checkin }}</span>&nbsp;<span class="voucher__year">{{ checkin_year }}</span></div>
						<div class="voucher__day">{{ checkin_day }}</div>
					</div>
					<div>
						<div class="voucher__nights">
							<div class="num text-center">{{ days }}</div>
							<div>night{{ days|pluralize }}</div>
						</div>
					</div>
					<div>
						<div class="voucher__title">Check Out Date</div>
						<div class="voucher__body"><span class="voucher__date">{{ checkout }}</span>&nbsp;<span class="voucher__year"> {{ checkout_year }}</span></div>
						<div class="voucher__day">{{ checkout_day }}</div>
					</div>
					<div styles="clear:both;"></div>
				</div>
			</div>
			<div class="roomconfig">
				<div class="">
						<div class="voucher__title">Rooms</div>
						<div class="voucher__rooms">{{ room_count }}</div>
						<div class="voucher__day">{{ room.room_type_code }}</div>
				</div>

				<div class="">
						<div class="voucher__title">Guests</div>
						<div class="voucher__day">{{ adults }} Adult{{ adults|pluralize }} {{ children }} Kid{{ children|pluralize }}</div>

				</div>
				<div styles="clear:both;"></div>
			</div>

		</div>

		<div class="voucher__fare">
			<div class="farehead pt30 pb30">
				Fare Breakup
			</div>
			<div class="faredetails flex-row mb20">
				<div class="breakup">
					<div>Room charges for {{ days }} night{{ days|pluralize }}</div>
					<div>Tax</div>
					<div>Discount</div>
					<div>Total Fare</div>
				</div>
				<div class="breakup">
					<div>&#8377; {{ pretax_price | floatformat:"0" }}</div>
					<div>&#8377; {{ total_tax | floatformat:"0" }}</div>
					<div>&#8377; {{ discount_amount | floatformat:"0"}}</div>
					<div>&#8377; {{ actual_total_cost | floatformat:"0" }}</div>
				</div>
			</div>
			<div class="payment pb30">
				<div class="left ">
					<div>
						{% if pah == 0 %}
							Final Payment done
						{% endif %}

						{% if pah == 1 %}
							Total Amount to be paid
						{% endif %}
					</div>

				</div>

				<div class="right ">

					<div class="voucher__final">
						&#8377; {{ actual_total_cost | floatformat:"0" }}
					</div>
					<div >
						{% if pah == 0 %}
						<img width="30px" height="30px" src="{%get_static_url%}/mobile/images/paid-stamp-new.png">
						{% endif %}

						{% if pah == 1 %}
						<img width="30px" height="30px" src="{%get_static_url%}/mobile/images/to-be-paid-stamp-new.png">
						{% endif %}


						{{ payment_text }}

					</div>

				</div>
				<div style="clear:both;"></div>
			</div>

			<div class="voucher__about pt30 pb30">
				<div class="uc pb30">About this trip</div>
				<div class="voucher__list">
					<div><span class="mr5">1.</span> <span>All guests need to carry a valid photo ID at time check-in.</span></div>
					<div><span class="mr5">2.</span> <span>No charges if booking is cancelled 24 hours prior to check-in.</span></div>
					<div><span class="mr5">3.</span> <span>Early check-in and late check-out is subject to available of rooms.</span></div>
				</div>
			</div>

			<div>

					<div class="footer pt30 pb30">
						<div class="left">
							<div class="mr10 imgcontainer"><img height="40px" width="40px" src="{%get_static_url%}mobile/images/telephone.png"/></div>
							<div class="detail">
								<div class="voucher__footerlabel">
									For help and support - Call our helpline number
								</div>
								<div class="voucher__footerinfo">
									080 - 1200 - 400 -100
								</div>
							</div>
						</div>
						<div class="right">
							<div class="mr10 imgcontainer"><img height="40px" width="40px"  src="{%get_static_url%}mobile/images/mail.png"/></div>
							<div class="detail ">
								<div class="voucher__footerlabel">
									For feedback and any queries mailus at
								</div>
								<div class="voucher__footerinfo">
									customersupport@treebohotels.com
								</div>
							</div>
						</div>
						<div style="clear:both;"> </div>
					</div>


					<div class="voucher__treebo flex-row flex--align-center flex--justify-center">
						www.treebo.com
					</div>

			</div>

		</div>
	</div>

</div>
{% endblock %}
