{% extends "fot-root-desktop.html" %} {% block content %}

<div class="container">
	<div class="signupPage">
		<div class="flex-column">
			<div class="flex-column signupPage__header">
				<div class="signupPage__heading">SIGN UP FOR FRIENDS OF TREEBO</div>
				<div class="signupPage__desc">Join India’s most enthusiastic community of travellers. Sign-up below to start traveling for free.</div>
			</div>
		</div>

		<input id="fotSignup" type="hidden" name="city" value="{{isFotSignup}}">
		<input id="isAuthenticate" type="hidden" name="authentication" value="{{request.session.isAuthenticated}}">

		<div class="signup-page">
			<div class="accordion signup-page__section flex-column">
				<div class="flex-row pos-rel signup-page__header">
					<div class="signup-page__heading-text flex-row">
						<div class="signup-page__numbering">1</div> <div>SIGN UP DETAIL</div>
					</div>
					<div class="signup-page__signup-success text-left pos-abs {% if not isSignup or not request.session.isAuthenticated %} hide {% endif %}"><i class="icon-checkmark-circle mr5"></i>Signed up successfully</div>
					<div class="signup-page__already-signup text-left pos-abs hide"><i class="icon-checkmark-circle mr5"></i>Already signed up</div>
				</div>

				<div class="signup-page__enter-detail flex-column {% if isSignup or request.session.isAuthenticated %} hide {% endif %}">
					<form class="signup-detail-form">
						<div class="fot-form">
							<label class="fot-form__label">Name *</label>
						    <input id="userName" name="user" pattern=".+" type="text" class="fot-form__input fot-form__border mr20" required="true" value="{{personalDetails.name}}"
					 		data-parsley-required="true"
	                 	    data-parsley-trigger="change"
	                 	    data-parsley-type-message="Enter FOT user name"
	                  	    data-parsley-required-message="Please enter FOT user name here."/>

						</div>

						<div class="fot-form">
							<label class="fot-form__label">Email ID *</label>
					   		<input id="email" name="email" type="email"  class="fot-form__input fot-form__border" required="true"
					    	value="{{personalDetails.email}}" data-parsley-type="email"
	                    	data-parsley-trigger="change"
	                    	data-parsley-type-message="Enter valid email"
	                    	data-parsley-required-message="Please enter a valid email address."
	                    	/>
						</div>

						<div class="fot-form">
							<label class="fot-form__label">Contact Number *</label>
					    	<input id="mobile" name="mobile" type="number" class="fot-form__input fot-form__border" required="true" value="{{personalDetails.phone}}"
					    	data-parsley-type="number"
	                    	data-parsley-trigger="change"
	                    	data-parsley-type-message="Enter valid mobile number"
	                    	data-parsley-required-message="Please enter valid mobile number."
	                    	data-parsley-minlength="10"
	                    	data-parsley-maxlength="10"
	                    	data-parsley-minlength-message="The value is too short. It should have 10 characters."
	                    	data-parsley-maxlength-message="The value is too long. It should have 10 characters." />
						</div>

						<div class="fot-form">
							<label class="fot-form__label">Password *</label>
							<input id="pwd" type="password" name="password" class="fot-form__input" required="true"
						 		data-parsley-required="true"
		                    	data-parsley-trigger="change"
		                    	data-parsley-type-message="Enter valid password"
		                    	data-parsley-required-message="Please enter a valid password."
		                    	data-parsley-minlength="6"/>
						</div>

						<div class="fot-form">
							<label class="fot-form__label">Confirm Password *</label>
							<input id="confirmPwd" type="password" name="confirm-password" class="fot-form__input" required="true"
								data-parsley-equalto="#pwd"
						 		data-parsley-required="true"
		                    	data-parsley-trigger="change"
		                    	data-parsley-type-message="Enter valid password"
		                    	data-parsley-required-message="Oops! This value does not match your new password."
		                    	data-parsley-minlength="6"/>
						</div>

						<div class="">
							<input id="signupSubmit" type="submit" class="mt30 btn fot-form__continue submit" value="Continue"/>
						</div>

					</form>
				</div>
			</div>
		</div>

		<div class="test-user-detail">
				<div class="accordion signup-page__section flex-column">
					<div class="flex-row pos-rel signup-page__header">
						<div class="signup-page__heading-text flex-row">
							<div class="signup-page__numbering">2</div> <div>PERSONAL INFORMATION</div>
						</div>
						<div class="accordion text-center signup-edit-action accordion__action signup-page__edit-info hide pos-abs"> EDIT </div>
					</div>
					<form id="testFormOne" class="test-form">
						<div id="personal-info" class="signup-page__enter-detail pos-rel flex-column {% if registrationStatus or not request.session.isAuthenticated %} hide {% endif %}">
							<div class="signup-page__desc pos-abs">
								Please answer the questions below. Your information will be kept confidential and will not be shared with anyone.
							</div>
							<div class="fot-form">
								<label class="fot-form__label">Current Address *</label>
							    <input id="address" name="address" type="text" class="fot-form__input fot-form__border" 				required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-error-message="Please enter your address here."/>
							</div>

							<div class="fot-form">
								<div>
									<label class="fot-form__label">Resident city *</label>
								</div>
								<div class="select">
								    <select id="cityList" name="city" class="fot-form__input">
		 								<option value="Agra">Agra</option>
										<option value="Ahmedabad">Ahmedabad</option>
										<option value="Ajmer">Ajmer</option>
										<option value="Alappuzha">Alappuzha</option>
										<option value="Alibag">Alibag</option>
										<option value="Allahabad">Allahabad</option>
										<option value="Alwar">Alwar</option>
										<option value="Ambala">Ambala</option>
										<option value="Amritsar">Amritsar</option>
										<option value="Anand">Anand</option>
										<option value="Ankleshwar">Ankleshwar</option>
										<option value="Aurangabad">Aurangabad</option>
										<option value="Baddi">Baddi</option>
										<option value="Bangalore">Bangalore</option>
										<option value="Baramati">Baramati</option>
										<option value="Bareilly">Bareilly</option>
										<option value="Bathinda">Bathinda</option>
										<option value="Bharuch">Bharuch</option>
										<option value="Bhavnagar">Bhavnagar</option>
										<option value="Bhilai">Bhilai</option>
										<option value="Bhilwara">Bhilwara</option>
										<option value="Bhiwadi">Bhiwadi</option>
										<option value="Bhopal">Bhopal</option>
										<option value="Bhubaneswar">Bhubaneswar</option>
										<option value="Bikaner">Bikaner</option>
										<option value="Bodhgaya">Bodhgaya</option>
										<option value="Calicut">Calicut</option>
										<option value="Chandigarh">Chandigarh</option>
										<option value="Chennai">Chennai</option>
										<option value="Chittorgarh">Chittorgarh</option>
										<option value="Coimbatore">Coimbatore</option>
										<option value="Coonoor">Coonoor</option>
										<option value="Coorg">Coorg</option>
										<option value="Corbett Ramnagar">Corbett Ramnagar</option>
										<option value="Cuttack">Cuttack</option>
										<option value="DIU">DIU</option>
										<option value="Dahej">Dahej</option>
										<option value="Dalhousie">Dalhousie</option>
										<option value="Daman">Daman</option>
										<option value="Darjeeling">Darjeeling</option>
										<option value="Dehradun">Dehradun</option>
										<option value="Delhi">Delhi</option>
										<option value="Deoghar">Deoghar</option>
										<option value="Dewas">Dewas</option>
										<option value="Dharamshala">Dharamshala</option>
										<option value="Digha">Digha</option>
										<option value="Dwarka">Dwarka</option>
										<option value="Faridabad">Faridabad</option>
										<option value="Gandhidham">Gandhidham</option>
										<option value="Gandhinagar">Gandhinagar</option>
										<option value="Gangtok">Gangtok</option>
										<option value="Ghaziabad">Ghaziabad</option>
										<option value="Gir">Gir</option>
										<option value="Goa">Goa</option>
										<option value="Gorakhpur">Gorakhpur</option>
										<option value="Gurgaon">Gurgaon</option>
										<option value="Guruvayur">Guruvayur</option>
										<option value="Guwahati">Guwahati</option>
										<option value="Gwalior">Gwalior</option>
										<option value="Haldwani">Haldwani</option>
										<option value="Haridwar">Haridwar</option>
										<option value="Himatnagar">Himatnagar</option>
										<option value="Hisar">Hisar</option>
										<option value="Hubli Dharwad">Hubli Dharwad</option>
										<option value="Hyderabad">Hyderabad</option>
										<option value="Indore">Indore</option>
										<option value="Jabalpur">Jabalpur</option>
										<option value="Jaipur">Jaipur</option>
										<option value="Jaisalmer">Jaisalmer</option>
										<option value="Jalandhar">Jalandhar</option>
										<option value="Jammu">Jammu</option>
										<option value="Jamnagar">Jamnagar</option>
										<option value="Jamshedpur">Jamshedpur</option>
										<option value="Jhansi">Jhansi</option>
										<option value="Jodhpur">Jodhpur</option>
										<option value="Kakinada">Kakinada</option>
										<option value="Kannur">Kannur</option>
										<option value="Kanpur">Kanpur</option>
										<option value="Kanyakumari">Kanyakumari</option>
										<option value="Karnal">Karnal</option>
										<option value="Karwar">Karwar</option>
										<option value="Kasauli">Kasauli</option>
										<option value="Kashipur">Kashipur</option>
										<option value="Kasol">Kasol</option>
										<option value="Katra">Katra</option>
										<option value="Kausani">Kausani</option>
										<option value="Kaziranga">Kaziranga</option>
										<option value="Khajuraho">Khajuraho</option>
										<option value="Khandala">Khandala</option>
										<option value="Kochi">Kochi</option>
										<option value="Kodaikanal">Kodaikanal</option>
										<option value="Kolhapur">Kolhapur</option>
										<option value="Kolkata">Kolkata</option>
										<option value="Kollam">Kollam</option>
										<option value="Kota">Kota</option>
										<option value="Kovalam">Kovalam</option>
										<option value="Kuala Lumpur">Kuala Lumpur</option>
										<option value="Kumarakom">Kumarakom</option>
										<option value="Kumbakonam">Kumbakonam</option>
										<option value="Kurnool">Kurnool</option>
										<option value="Lavasa">Lavasa</option>
										<option value="Leh Ladakh">Leh Ladakh</option>
										<option value="Lonavala">Lonavala</option>
										<option value="Lucknow">Lucknow</option>
										<option value="Ludhiana">Ludhiana</option>
										<option value="Madurai">Madurai</option>
										<option value="Mahabaleshwar">Mahabaleshwar</option>
										<option value="Malacca">Malacca</option>
										<option value="Manali">Manali</option>
										<option value="Mandarmoni">Mandarmoni</option>
										<option value="Mangalore">Mangalore</option>
										<option value="Matheran">Matheran</option>
										<option value="Mathura">Mathura</option>
										<option value="Mcleod Ganj">Mcleod Ganj</option>
										<option value="Meerut">Meerut</option>
										<option value="Mirik">Mirik</option>
										<option value="Mount Abu">Mount Abu</option>
										<option value="Mukteshwar">Mukteshwar</option>
										<option value="Mumbai">Mumbai</option>
										<option value="Mundra">Mundra</option>
										<option value="Munnar">Munnar</option>
										<option value="Mussoorie">Mussoorie</option>
										<option value="Mysore">Mysore</option>
										<option value="Nagpur">Nagpur</option>
										<option value="Nainital">Nainital</option>
										<option value="Nashik">Nashik</option>
										<option value="Nathdwara">Nathdwara</option>
										<option value="Neemrana">Neemrana</option>
										<option value="Nellore">Nellore</option>
										<option value="Noida">Noida</option>
										<option value="Ooty">Ooty</option>
										<option value="Orchha">Orchha</option>
										<option value="Pachmarhi">Pachmarhi</option>
										<option value="Pahalgam">Pahalgam</option>
										<option value="Panipat">Panipat</option>
										<option value="Paradip">Paradip</option>
										<option value="Patiala">Patiala</option>
										<option value="Patna">Patna</option>
										<option value="Penang Island">Penang Island</option>
										<option value="Petaling Jaya">Petaling Jaya</option>
										<option value="Pinjore">Pinjore</option>
										<option value="Pondicherry">Pondicherry</option>
										<option value="Porbandar">Porbandar</option>
										<option value="Pune">Pune</option>
										<option value="Puri">Puri</option>
										<option value="Pushkar">Pushkar</option>
										<option value="Pushpagiri">Pushpagiri</option>
										<option value="Raipur">Raipur</option>
										<option value="Rajahmundry">Rajahmundry</option>
										<option value="Rajkot">Rajkot</option>
										<option value="Rameshwaram">Rameshwaram</option>
										<option value="Ranchi">Ranchi</option>
										<option value="Ranikhet">Ranikhet</option>
										<option value="Ranthambore">Ranthambore</option>
										<option value="Ratnagiri">Ratnagiri</option>
										<option value="Rewari">Rewari</option>
										<option value="Rishikesh">Rishikesh</option>
										<option value="Rohtak">Rohtak</option>
										<option value="Rudrapur">Rudrapur</option>
										<option value="Salem">Salem</option>
										<option value="Sangli">Sangli</option>
										<option value="Shah Alam">Shah Alam</option>
										<option value="Shantiniketan">Shantiniketan</option>
										<option value="Shillong">Shillong</option>
										<option value="Shimla">Shimla</option>
										<option value="Shirdi">Shirdi</option>
										<option value="Siliguri">Siliguri</option>
										<option value="Somnath">Somnath</option>
										<option value="Sonipat">Sonipat</option>
										<option value="Srinagar">Srinagar</option>
										<option value="Surat">Surat</option>
										<option value="Surathkal">Surathkal</option>
										<option value="Thanjavur">Thanjavur</option>
										<option value="Thrissur">Thrissur</option>
										<option value="Tirupati">Tirupati</option>
										<option value="Trichy">Trichy</option>
										<option value="Trivandrum">Trivandrum</option>
										<option value="Udaipur">Udaipur</option>
										<option value="Udupi Manipal">Udupi Manipal</option>
										<option value="Ujjain">Ujjain</option>
										<option value="Vadodara">Vadodara</option>
										<option value="Vapi">Vapi</option>
										<option value="Varanasi">Varanasi</option>
										<option value="Varkala">Varkala</option>
										<option value="Vellore">Vellore</option>
										<option value="Vijayawada">Vijayawada</option>
										<option value="Visakhapatnam">Visakhapatnam</option>
										<option value="Vrindavan">Vrindavan</option>
										<option value="Warangal">Warangal</option>
										<option value="Wayanad">Wayanad</option>
									</select>
							    </div>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Marital Status *</label><br>
								<div id="marital-errors"></div>
							    <input type="radio" name="marital-status" class="fot-form__check" value="Married (With Kids)" 			required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-error-message="Please select your marital status."
										data-parsley-errors-container="#marital-errors">Married (With Kids)<br>
							    <input type="radio" name="marital-status" class="fot-form__check" value="Married"/>Married<br>
							    <input type="radio" name="marital-status" class="fot-form__check" value="Single"/>Single
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Social profile</label>
							    <input id="socialProfile" name="social-web-profile" type="text" class="fot-form__input fot-form__border"/>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">Select the assets you own</label><br>
							    <input type="checkbox" name="assets" class="fot-form__check" value="phone">Smartphone<br>
							    <input type="checkbox" name="assets" class="fot-form__check" value="bike">Bike<br>
							    <input type="checkbox" name="assets" class="fot-form__check" value="laptop">Laptop<br>
							    <input type="checkbox" name="assets" class="fot-form__check" value="car">Car<br>
							    <input type="checkbox" name="assets" class="fot-form__check" value="home">Home
							</div>

							<div class="fot-form">
								<div>
									<label class="fot-form__label">Which of the following best describes your occupation? *</label>
								</div>
								<div class="select">
								    <select id="profession" name="profession" class="fot-form__input fot-form__border">
		 								<option value="Education">Education</option>
		 								<option value="Art and Entertainment">Art and Entertainment</option>
		 								<option value="Legal">Legal</option>
		 								<option value="Healthcare">Healthcare</option>
		 								<option value="Media">Media</option>
		 								<option value="Agriculture">Agriculture</option>
		 								<option value="Social Service">Social Service</option>
		 								<option value="Engineering Services">Engineering Services</option>
		 								<option value="Banking and Financial Services">Banking and Financial Services</option>
		 								<option value="Hospitality">Hospitality</option>
		 								<option value="Food">Food</option>
		 								<option value="Construction">Construction</option>
		 								<option value="Travel and Transport">Travel and Transport</option>
		 								<option value="Sportsperson">Sportsperson</option>
		 								<option value="Student">Student</option>
		 								<option value="Homemaker">Homemaker</option>
		 								<option value="Others">Others</option>
									</select>
							    </div>
							</div>

							<div class="fot-form">
								<label class="fot-form__label">How many audits are you likely to conduct in a month? *</label><br>
								<div id="audits-errors"></div>
							    <input type="radio" name="audit-duration" class="fot-form__check" value="week" required="true"
								 		data-parsley-required="true"
				                    	data-parsley-trigger="change"
				                    	data-parsley-type-message="Enter valid info"
				                    	data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#audits-errors">Once a week<br>
							    <input type="radio" name="audit-duration" class="fot-form__check" value="fortnight">Once a fortnight<br>
							    <input type="radio" name="audit-duration" class="fot-form__check" value="month">Once a month<br>
							    <input type="radio" name="audit-duration" class="fot-form__check" value="travel">Only on planned travels
							</div>
							<div class="">
								<input id="" type="button" class="fotContinue mt30 btn fot-form__continue submit" value="Continue"/>
							</div>
						</div>
					</form>
				</div>

				<div class="accordion signup-page__section flex-column">
					<div class="flex-row pos-rel signup-page__header">
						<div class="signup-page__heading-text flex-row">
							<div class="signup-page__numbering">3</div> <div>PROBLEM SOLVING</div>
						</div>
						<div class="accordion text-center signup-edit-action accordion__action signup-page__edit-info hide pos-abs"> EDIT </div>
					</div>
					<form id="testFormTwo" class="test-form">
						<div class="signup-page__enter-detail flex-column pos-rel hide">
							<div class="signup-page__desc pos-abs">Please take a moment to answer the questions below. <b>There are no right or wrong answers.</b> We are just trying to evaluate your problem solving skills.</div>
							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">1.</div>
									<div>
										<label class="fot-form__label">If you are staying at a hotel on a vacation with family, what would you do if you find rats in a room you just checked in? *</label>
									</div>
								</div>
								<div id="3_1-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="3_1" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_1-errors"/>
							    	</div>
							    	<div>
							    		Get the room cleaned and give feedback to the hotel manager.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_1" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		Request for a change of room and check-out next day to stay in a new hotel.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_1" class="fot-form__checkbox" value="C"/>
							    	</div>
							    	<div>
							    		Request for a change of room and write a review of hotel on Tripadvisor.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_1" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		Report the issue to the manager, but won’t bother too much. You are prepared to face such issues during travel.
							    	</div>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">2.</div>
									<div>
										<label class="fot-form__label">What would you do if you win a million Rupees in a lottery? *</label>
									</div>
								</div>
								<div id="3_2-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="3_2" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_2-errors"/>
							    	</div>
							    	<div>
							    		I will travel the world.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_2" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		I will spend on new adventures like sky-diving, scuba diving, bungee-jumping etc.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_2" class="fot-form__checkbox" value="C"/>
							    	</div>
							    	<div>
							    		I would donate the part of it, and buy gifts for friends and family.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_2" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		I will invest the money in real estate, debt or stocks.
							    	</div>
							    </div>
							</div>

							<div class="fot-form hide">
								<input type="radio" name="3_3" class="fot-form__checkbox" checked value="C"/>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">3.</div>
									<div>
										<label class="fot-form__label">You are on a beach in Goa. Your friend/spouse wants to go deep in the water but the there are some signs on the beach that say "Do not go into the water due to high tides". What would you do? *</label>
									</div>
								</div>
								<div id="3_4-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="3_4" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_4-errors"/>
							    	</div>
							    	<div>
							    		You both will go a bit deep in the water and then decide whether to go further or not.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_4" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		Who thinks this much? Lifeguards are always there for any mishap!
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_4" class="fot-form__checkbox" value="C"/>
							    	</div>
							    	<div>
							    		You'll ask your friend/spouse to wait till you go yourself and check the waves.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_4" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		You'll be harsh and make him/her sit at the beach.
							    	</div>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">4.</div>
									<div>
										<label class="fot-form__label">It's late night, your best friend is waiting for you to cut his/her birthday cake and you are stuck at a 3 minute long traffic signal with no Traffic at all. What would you do in this situation? *</label>
									</div>
								</div>
								<div id="3_5-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="3_5" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_5-errors"/>
							    	</div>
							    	<div>
							    		Friendship is most important - you'll just cross the signal.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_5" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		You'll look around, and drive slowly if there is no traffic police at the signal.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_5" class="fot-form__checkbox" value="C"/>
							    	</div>
							    	<div>
							    		Yes it sucks, but your friend will understand. So you'll wait for the signal to turn green.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_5" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		You will wait at the signal, but call up your friend and tell him you would be late.
							    	</div>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">5.</div>
									<div>
										<label class="fot-form__label">It’s Friday evening, and you are about to leave your office for a party with friends. But your Boss just turns up and requests you to stay for 2 more hours to complete an urgent assignment. You had planned your party long back, and your friends are waiting for you. How would you handle the situation? *</label>
									</div>
								</div>
								<div id="3_6-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="3_6" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_6-errors"/>
							    	</div>
							    	<div>
							    		Tell him that you had informed about the party long back, and are done with work you promised. Staying back would be unprofessional.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_6" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		Politely inform your Boss that your friends are waiting, and you would not be able to stay back.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_6" class="fot-form__checkbox" value="C"/>
							    	</div>
							    	<div>
							    		Negotiate with your Boss to complete the assignment after party or early next day.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_6" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		Stay back - because work comes first - and tell your friends that you would not be able to join them for the party.
							    	</div>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">6.</div>
									<div>
										<label class="fot-form__label">One of your colleagues at the workplace asks you to lend him Rs.20,000 for a month for some personal emergency. You don’t know him well enough and are not comfortable lending money to him. What would you do? *</label>
									</div>
								</div>
								<div id="3_7-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="3_7" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#3_7-errors"/>
							    	</div>
							    	<div>
							    		Take a risk and lend him money anyways. After all, he is a professional, and can’t run 	away with your money.
							    	</div>
							    </div>

							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="3_7" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		Ask other employees about his conduct, and evaluate if his concern is genuine before lending him money. Although, he may mind you doing this inspection.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							   	 		<input type="radio" name="3_7" class="fot-form__checkbox" value="C"/>
							   	 	</div>
							   	 	<div>
							   	 		Diplomatically make an excuse that you are running low on funds. You would be not be speaking truth, but your professional relationship will remain intact.
							   	 	</div>
							   	</div>
							   	<div class="flex-row fot-form__check">
							   		<div>
							    		<input type="radio" name="3_7" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		Honestly tell him that you can’t lend him money, at the risk of ruining your professional relationship.
							    	</div>
							    </div>
							</div>

							<div class="">
								<input id="" type="button" class="fotContinue mt30 btn fot-form__continue submit" value="Continue"/>
							</div>
						</div>
					</form>
				</div>

				<div class="accordion signup-page__section flex-column">
					<div class="flex-row pos-rel signup-page__header">
						<div class="signup-page__heading-text flex-row">
							<div class="signup-page__numbering">4</div> <div>ABOUT FRIENDS OF TREEBO</div>
						</div>
						<div class="accordion text-center signup-edit-action accordion__action signup-page__edit-info hide pos-abs"> EDIT </div>
					</div>
					<form id="testFormThree" class="test-form">
						<div class="signup-page__enter-detail flex-column pos-rel hide">
							<div class="signup-page__desc pos-abs">Tell us how much you understand the program. You can refer to our <a href="/faq/#fot" target="_blank" class="bold">FAQ</a> section here for more details. And do tell us some interesting stories about yourself, and your travels.</div>
							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">1.</div>
									<div>
										<label class="fot-form__label">What documents do you need to check-in into the hotel for conducting an audit? *</label>
									</div>
								</div>
								<div id="4_1-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="4_1" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#4_1-errors"/>
							    	</div>
							    	<div>
							    		A photo based identity card issued by any Indian authority.
							    	</div>
							    </div>

							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="4_1" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		A non-local photo based identity card, with address of a different state.
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							   	 		<input type="radio" name="4_1" class="fot-form__checkbox" value="C"/>
							   	 	</div>
							   	 	<div>
							   	 		Any valid address proof, including Bank passbook or identity card issued by a company or a university.
							   	 	</div>
							   	</div>
							   	<div class="flex-row fot-form__check">
							   		<div>
							    		<input type="radio" name="4_1" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		Since I am below 18 years, I don’t need to present any photo based identity card.
							    	</div>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">2.</div>
									<div>
										<label class="fot-form__label">After completing your free audit stay, what is the maximum allowed time to submit the feedback? *</label>
									</div>
								</div>
								<div id="4_2-errors" class="signup-page__error"></div>
								<div class="flex-row fot-form__check">
									<div>
							    		<input type="radio" name="4_2" class="fot-form__checkbox" value="A" required="true"
										data-parsley-required="true"
										data-parsley-trigger="change"
										data-parsley-type-message="Enter valid info"
										data-parsley-error-message="You forgot to answer this question :)"
										data-parsley-errors-container="#4_2-errors"/>
							    	</div>
							    	<div>
							    		On same day of check-out
							    	</div>
							    </div>

							    <div class="flex-row fot-form__check">
							    	<div>
							    		<input type="radio" name="4_2" class="fot-form__checkbox" value="B"/>
							    	</div>
							    	<div>
							    		Within 24 hours
							    	</div>
							    </div>
							    <div class="flex-row fot-form__check">
							    	<div>
							   	 		<input type="radio" name="4_2" class="fot-form__checkbox" value="C"/>
							   	 	</div>
							   	 	<div>
							   	 		Within 1 week of check-out
							   	 	</div>
							   	</div>
							   	<div class="flex-row fot-form__check">
							   		<div>
							    		<input type="radio" name="4_2" class="fot-form__checkbox" value="D"/>
							    	</div>
							    	<div>
							    		Within 2 weeks after completing the audit
							    	</div>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">3.</div>
									<div>
										<label class="fot-form__label">Please describe your best travel experience till date.</label>
									</div>
								</div>
							    <textarea rows='4' cols='100' name="travel-experience" class="fot-form__textbox fot-form__border" value=""></textarea>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">4.</div>
									<div>
										<label class="fot-form__label">
											<p>Tell us something interesting about yourself.</p>
											<p>(Your hobbies, your special talents, any weird stories, or anything interesting about your life.)</p></label>
									</div>
								</div>
							    <textarea rows='4' cols='100' name="about-yourself" class="fot-form__textbox fot-form__border" value=""></textarea>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">5.</div>
									<div>
										<label class="fot-form__label">Explain in at-least 50 words why do you want to be part of this program.</label>
									</div>
								</div>
							    <textarea rows='4' cols='100' name="why-treebo" class="fot-form__textbox fot-form__border" value=""></textarea>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">6.</div>
									<div>
										<label class="fot-form__label">Please tell us how did you get to know about the program?</label>
									</div>
								</div>
								<div class="select">
								    <select name="sourceWebsite" class="fot-form__dropdown fot-form__input fot-form__border">
								    	<option value="Facebook">Facebook</option>
		 								<option value="Twitter">Twitter</option>
		 								<option value="Treebo Website">Treebo Website</option>
		 								<option value="Internet">Internet</option>
		 								<option value="Friend">Friend</option>
		 								<option value="Others">Others</option>
									</select>
							    </div>
							</div>

							<div class="fot-form">
								<div class="flex-row">
									<div class="signup-page__ques-number">7.</div>
									<div>
										<label class="fot-form__label">If you were referred by a friend, please mention his/her name. (We may surprise your friend with some cool rewards)</label>
									</div>
								</div>
							    <input type="text" name="friend-name" class="fot-input fot-form__border" value=""/>
							</div>

							<div class="signup-page__notification">Please read the details below and fill in the relevant checkboxes.</div>
							<div class="fot-form__terms-check">
								<div>
									<input id="ageCheck" type="checkbox" name="age" class="fot-form__check" value="18plus"
									required="true"
							 		data-parsley-required="true"
			                 	    data-parsley-trigger="change"
			                 	    data-parsley-type-message="Please Check it"
			                  	    data-parsley-required-message="You forgot to check this box :)">I am above 18 years of age.<br>
								</div>
								<div>
									<input id="termsCheck" type="checkbox" name="terms" class="fot-form__check" value="terms"
									required="true"
							 		data-parsley-required="true"
			                 	    data-parsley-trigger="change"
			                 	    data-parsley-type-message="Please Check it"
			                  	    data-parsley-required-message="You forgot to check this box :)">I agree to Friends of Treebo’s <a href="https://s3-ap-southeast-1.amazonaws.com/treebo/static/files/FOT_Termsandconditions.pdf" target="_blank">terms and conditions</a>.<br>
								</div>
							</div>
							<div class="">
								<input id="testSubmit" type="button" class="mt30 btn fot-form__continue submit" value="Submit"/>
							</div>
						</div>
					</form>
				</div>
		</div>

		<div class="modal popup-modal pos-abs flex-column fot-success-fail hide">
	        <div class="modal__body popup-modal__body pos-rel">

	           	<div id="alreadySignup" class="hide">
		            <div class="flex-column text-center">
		                <div class="fot-success-fail__header">
		                    <span class="fot-success-fail__congo-sorry-text">OOOPS!</span>  WE ARE SORRY!
		                </div>

		                <div class="fot-success-fail__desc">
		                    It seems that you are already signed up with given email OR phone number. Please try login.
		                </div>

		                <div class="text-center mt30">
		                    <a href="javascript:void(0);"><div id="alreadySignupLogin" class="js-headerlogin btn fot-success-fail__login submit">LOGIN</div></a>
		                </div>
		            </div>
		        </div>
	            <div id="signupSuccess" class="hide">
		            <div class="flex-column text-center">
		                <div class="fot-success-fail__header">
		                    <span class="fot-success-fail__congo-sorry-text">THANKS FOR SIGNING-UP WITH FRIENDS OF TREEBO</span>
		                </div>

		                <div class="fot-success-fail__desc">
		                    Congratulations! You have successfully created your account. Now take a short evaluation test to complete your registration. It won't take more than few minutes, so grab yourself a hot drink and let’s get started!
		                </div>

		              	<div class="text-center mt30">
		                    <input id="continueToForm" type="submit" class="btn fot-success-fail__submit submit mb20" value="Continue to Registration"/>
		                </div>
		            </div>
		        </div>

	            <div id="signupFail" class="hide">
		            <div class="flex-column text-center">
		                <div class="fot-success-fail__header">
		                    <span class="fot-success-fail__congo-sorry-text">OOOPS! </span>WE ARE SORRY!
		                </div>

		                <div class="fot-success-fail__desc">
		                   	We cannot offer you audit slots at the moment. Please try to register again later. In case of any queries, please write to us at <a href="mailto:friends@treebohotels.com" target="_blank">friends@treebohotels.com</a>. You can always stay at a Treebo by booking online.
		                </div>

		                <div class="text-center mt30">
		                    <a href="/" target="_blank"><input id="redirectHomeBtn" type="submit" class="btn fot-success-fail__submit submit mb20" value="BOOK A TREEBO HOTEL"/></a>
		                </div>
		            </div>
		        </div>

		       	<div id="testSuccess" class="hide">
		            <div class="flex-column text-center">
		                <div class="fot-success-fail__header">
		                    <span class="fot-success-fail__congo-sorry-text">WELCOME TO FRIENDS OF TREEBO</span>
		                </div>

		                <div class="fot-success-fail__desc">
		                    Congratulations! You have successfully completed the registration process. Now get started to the wonderful life of free traveling by scheduling your first audit.
		                </div>

		                <div class="text-center mt30">
		                	<div class="book-hotel text-center">
		                    	<a href="/fot/search" class="schedule-first-audit book-hotel__text"/>SCHEDULE YOUR FIRST AUDIT</a>
		                    </div>
		                </div>
		            </div>
		        </div>

		       	<div id="testFail" class="hide">
		            <div class="flex-column text-center">
		                <div class="fot-success-fail__header">
		                    <span class="fot-success-fail__congo-sorry-text">WE ARE SORRY!</span>
		                </div>

		                <div class="fot-success-fail__desc">
		                    Oops! It seems you did not clear the evaluation process and so we cannot offer you free stays. If you are still interested in becoming a Friend of Treebo, please write to us at <a href="mailto:friends@treebohotels.com">friends@treebohotels.com</a>. Or, you can always stay at a Treebo by booking online.
		                </div>

		                <div class="text-center mt30">
		                	<div class="book-hotel text-center">
		                    	<a href="/" class="make-booking book-hotel__text"/>BOOK A TREEBO</a>
		                    </div>
		                </div>
		            </div>
		        </div>

	        </div>
	    </div>
	</div>
</div>

{% endblock %}
