
//todo: Have to covert it to less standards
.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
    border-top: none;
    z-index: 2001;
}
.pac-container, .pac-container .pac-item:last-child {
    border-radius: 0 0 2px 2px;
}
// .pac-item:nth-child(odd) {
//     background: #f5f5f5;
// }
.pac-item {
    border-bottom: #6d7275;
    overflow: hidden;
    padding: 5px 15px !important;
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 26px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999;
    cursor: pointer;
    &:hover,&-selected {background: #EDF4EF !important;}
}

.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px;
    display:none;
}
.pac-icon, .pac-icon-marker {
    display: none;
}
.pac-icon-marker {
    background-position: -1px -161px;
}
.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000;
    color: #6d7275;
}
.pac-matched {
    font-weight: 700;
}

.extra-cities{
    border-radius:0 0 2px 2px;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);
    width:280px;
    top:53px;
    left:157px;
    z-index:100;
    height: 206px;
    overflow: scroll;

    li{
        color: #5c5c5c;
        padding: 5px 15px !important;
        border-bottom: #6d7275;
        cursor: pointer;;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 30px;
        text-align: left;
        border-top: 1px solid #e6e6e6;
        font-size:14px;
        background-color: white;
    }
    li:hover{
        background:#EDF4EF!important;
    }


}
