/* @author : A3it Jain*/
@import "../variables.less";
@import "../mixins.less";

*::selection {
    background: none repeat scroll 0 0 @bg-selection;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @textColor1;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background: #f3f3f3;
}

 :focus {
    outline: none;
}

sup {
  top: -0.2em;
}


img{border: none; border-color: transparent;}
[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="url"],
[type="number"],
[type="tel"],
textarea,
select {
    display: block;
    padding: 8px 10px;
    // width: 100%;
    border: 1px solid @inputBorderColor;
    -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';

}

[type="text"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="number"]:focus,
[type="tel"]:focus,
textarea:focus,
select:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    border-color: @inputBorderColorFocus;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}
/* reomves yellow shadow on chrome*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 200px white inset;
}
/*** custom checkboxes ***/
input[type=checkbox] {
    position: relative;
    margin-right: 10px;
}
/* to hide the checkbox itself */
label>input[type=checkbox]:before {
    position: absolute;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    font-family: 'icomoon' !important;
    display: inline-block;
    content: "\e936";
    letter-spacing: 10px;
    color: @textColor1;
}
/* space between checkbox and label */
label>input[type=checkbox]:checked:before {
    font-family: 'icomoon' !important;
    display: inline-block;
    content: "\e937";
    letter-spacing: 5px;
    color: @treeboColor;
}
/* allow space for check mark */
button:focus {
    outline: 0;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.iblock {
    letter-spacing: normal;
    display: inline-block;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

.no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
  color: @treeboColor;
  cursor: pointer;
}
.unselectable {
    user-select: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hide {
    display: none !important;
}

.c-hide {
    display: none;
}

.uc {
    text-transform: uppercase;
}

.cap {
    text-transform: capitalize;
}

.i-b {
    display: inline-block;
}

.line-through {
    text-decoration: line-through;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}


.mt40 {
    margin-top: 40px;
}


.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}


.mr30 {
    margin-right: 30px;
}


.mb0 {
    margin-bottom: 0;
}


.mb5 {
    margin-bottom: 5px;
}


.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}


.ph {
    padding-right: 15px;
    padding-left: 15px;
}

.pt20 {
    padding-top: 20px;
}



.pl15 {
    padding-left: 15px;
}


.pl20 {
    padding-left: 20px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}


/* float label start
ex :
<div class="float-labels">
    <input type="text" name="couponCode" pattern=".+" required="" class="float-labels__input" placeholder="Discount Coupon" value="">
    <label class="float-labels__label">Discount Coupon</label>
</div>
*/
.float-labels {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    .parsley-errors-list {
        position: absolute;
        bottom: -15px;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 9px;
        transition: all 0.3s linear;
        color: #999;
        font-size: 12px;
        font-weight: normal;
        // color:@treeboColor;
    }

    &__input {
        margin-top: 15px;
        border-width: 0;
        border-bottom: 1px solid #c4c4c4;
        padding-left: 0;
        padding-right: 2px;
        padding-bottom: 5px;

        &--textarea {
            margin-top: 22px;
        }
    }

    .parsley-error + .parsley-errors-list + .float-labels__label {
        opacity: 0;
    }

    .parsley-success +.parsley-errors-list + .float-labels__label {
        opacity: 1;
    }

    &__input:invalid + &__label {
        top: 9px;
        opacity: 0;
    }

    &__input:valid + &__label {
        opacity: 1;
        top: 6px;
    }

    &__input:focus {
        outline: none;
    }
    // input:focus + label { color:@treeboColor; }
}
/* ends */
.img-lazy {
    opacity: 1;
    transition: opacity 0.3s;
}

.img-lazy[data-src] {
    opacity: 0;
}

img[data-lazy]{
    display: none;
}
.icon {
    text-align: center;
    z-index: 1;
    font-size: @fs1;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.h-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    .font-size(30)
}

.input-text {
    .font-size(16);
    -webkit-appearance: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 1px;
    background-color: #fff;
    color: @lightGray;
    transition: border-color 0.2s;
}
/* select dropdown style */
select {
    -webkit-appearance: none;
    background: #fff !important;
    border-radius: 1px;
}

.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.select select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 2em;
}

.select.medium select {
    padding-top: 4px;
    padding-bottom: 8px;
    padding-right: 27px;
}

.select.medium:before {
    padding-top: 8px;
}

.select:before {
    content: '\25bc';
    position: absolute;
    pointer-events: none;
    color: #82888a;
    top: 0;
    bottom: 1px;
    padding-top: 0.7em;
    line-height: 1;
    right: 0;
    width: 2em;
    text-align: center;
    transform: scale(0.84, 0.42);
}

.select-block {
    display: block;
    width: 100%;
}

.select-large {
    font-size: 16px;
}

.select-large select {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* end */
.anchor,
a {
    background: transparent;
    text-decoration: none;
    color: @linkColor;
    cursor: pointer;
}

.anchor-white {
    background: transparent;
    text-decoration: none;
    color: @white;
}

.bold {
    font-weight: bold;
}

.btn {
    background-color: @treeboColor;
    color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border: 1px solid @treeboColor;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    // width: 100%;
    padding: 0 10px;
    text-transform: uppercase;

    &__flex-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    &--secondary {
        border-color: @treeboColor;
        background: #fff;
        color: @treeboColor;
        font-weight: 400;
        // border-bottom-width: 1px;
        &.loading {
            color: rgba(51, 51, 51, 0.5);
            .btn-loading-mixin(#333, #fff, #e6ebef);
        }
    }

    &--loading {
        position: relative;
        color: rgba(255, 255, 255, 0.5);
        .btn-loading-mixin(#fff, @treeboColor, #8AC007);
    }

    &--disabled {
        background: @lightGray;
        pointer-events: none;
        border-color: @lightGray;
    }

    &--white {
        background: @white;
    }

    &--round {
        border-radius: 3px;
    }

    &--facebook {
        border-color: #3b5998;
        background: #3b5998;
    }

    &--google {
        border-color: #d73d32;
        background: #d73d32;
    }

    &--transparent {
        background: transparent!important;
        color: #fff;
    }

    &--block {
        width: 100%;
        height: 100%;
    }

    &--large {
        padding: 15px 10px;
    }
}
/**/
.error {
    color: @errorColor;
    margin-bottom: 5px;
    font-weight: 700;
    .font-size(14);
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}
/* alert start*/
.alert {
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 3px;

    &--success {
        color: #468847 !important;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
    }

    &--info {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    &--warning {
        color: #c09853;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }

    &--error {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;

        &.alert--top {
            border-left: 5px solid #E0BFC8;
        }
    }

    &--top {
        border-radius: 0;
        text-align: center;

        &__close {
            right: 10px;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);

            .fa {
                line-height: 12px;
            }
        }
    }
}

.success {
    color: #468847;
}
/* end */
ul {
    list-style: none;
}
/* -----  flex start  -----*/
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.flex-row--reverse {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.flex-column--reverse {
    flex-direction: column-reverse;
}

.flex--justify-center {
    justify-content: center;
}

.flex--content-center {
    align-content: center;
}

.flex--align-center {
    align-items: center;
}

.flex--align-stretch {
    align-items: stretch;
}

.flex--align-baseline {
    align-items: baseline;
}

.flex--space-between {
    justify-content: space-between;
}

.flex--space-around {
    justify-content: space-around;
}

.flex--justify-right {
    justify-content: flex-end;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}
/* end */
.underline {
    text-decoration: underline;
}

.strike {
    text-decoration: line-through;
}

.box-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.hand {
    cursor: pointer;
}

.separator {
    height: 30px;
    background: white;
    width: 100%;
}

.separator--transparent {
    background: transparent;
}

.column {
    justify-content: space-between;

    &__left {
        width: 800px;
    }

    &__right {
        width: 340px;
    }
}

.br {
    border-right: 1px solid #ddd;
}

.icon-eventHosting:before {
    &:extend(.icon-event-hosting1:before); /* to do udpate with correct icon */
}


.icon-gym:before {
    &:extend(.icon-gym:before);
}

.icon-guestLaundry:before {
    &:extend(.icon-laundry:before);
}

.icon-ironBoard:before {
    &:extend(.icon-iron-board:before);
}

.icon-parking:before {
    &:extend(.icon-parking:before);
}

.icon-airDistance:before, .icon-airport:before  {
    &:extend(.icon-airport:before);
}

.icon-railDistance:before, .icon-railway:before {
    &:extend(.icon-railway:before);
}
.icon-busstand:before {
    &:extend(.icon-bus-stand:before);
}

.icon-roomservice:before {
    &:extend(.icon-room-service:before);
}

.icon-travelDesk:before {
    &:extend(.icon-travel-desk:before);
}
.icon-premises:before {
    &:extend(.icon-restaurant:before);
}

.logo{
  height:47px;
}
