@import "normalize";
@import "../libs/calendar.less";
@import "base.less";
@import "header.less";
@import "footer.less";
@import "fonts.less";
@import "toastr.less";
@import "searchwidget.less";
@import "../libs/slick/slick.less";
@import "../libs/slick/slick-theme.less";

.dummy {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#pageContainer {
    min-height: 100%;
}

.page {
    &__footer {
        margin-top: auto;
        position: relative;
        z-index: 12;
    }
}

.modal,
.modal-fix {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 115;
    height: auto;
    background: @transparentBg;
    opacity: 1;
    position: fixed;
    flex-wrap: nowrap;
    overflow: auto;

    .icon-close {
        top: 0;
        right: 0;
        width: 30px;
        height: 40px;
        font-size: 18px;
        color: @textColor1;
    }

    .fa-times {
        margin: auto;
    }

    &__header {
        // height: 50px;
        // line-height: 50px;
        // .font-size(18);
        // padding: 0 50px;
        // width: 100%;
        // font-weight: 500;
        text-align: center;
        font-size: 24px;
        color: @textColor1;
        margin-bottom: 20px;
        font-family: @brandFont;
    }

    &__body {
        background: #fff;
        max-width: 800px;
        margin: auto;
    }

    &__action {
        margin-top: 20px;
    }
}

// .feedback-invoker {
//     height: 40px;
//
//     .icon-feedback-icon {
//         margin-right: 10px;
//     }
//     position: fixed;
//     z-index: 100;
//     right: -58px;
//     top: 50%;
//     margin-top: -20px;
//     transform: rotate(270deg);
//     background: @treeboColor;
//     color: white;
//     padding: 10px 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .font-size(20);
// }

.feedback-modal {
    .float-labels__input {
        width: 100%;
    }

    &__body {
        padding: 30px 60px;
        width: 570px;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: @textColor2;
        text-align: center;
        line-height: 20px;
    }

    &__action {
        &--save {
            margin-right: 20px;
            width: 150px;
            height: 45px;
            background: @treeboColor;
            border: 1px solid @treeboColor;
            color: white;
            box-shadow: 0px 2px 4px;
        }

        &--cancel {
            margin-right: 20px;
            width: 150px;
            height: 45px;
            background: white;
            border: 1px solid white;
            color: @textColor2;
            box-shadow: 0px 2px 4px;
        }
    }

    &__success {
        display: none;
        margin-top: 20px;
    }
}

.search-widget-body {
    padding: 20px 15px;
}

.treebo-color {
    color: @treeboColor;
}

.red-color {
    color: @redTextColor;
}

.orange-color {
    color: @orangeTextColor;
}

.blue-color {
    color: @blueTextColor;
}

.sprite {
    background: url("/dist/desktop/images/hotelDetailSprite.png") no-repeat top left;
    width: 45px;
    height: 34px;
}

.sprite-illustration {
    background: url("/dist/desktop/images/illustration-sprite.png") no-repeat top left;
    display: inline-block;

    &--quality-guarantee {
        background-position: -59px -46px;
        width: 204px;
        height: 87px;
    }

    &--quality-guarantee-transparent {
        background-position: -311px -56px;
        width: 157px;
        height: 67px;
    }

    &--empty {
        background-position: -54px -166px;
        width: 133px;
        height: 94px;
    }

    &--gift {
        background-position: -263px -184px;
        width: 65px;
        height: 58px;
    }

    &--tip {
        background-position: -429px -190px;
        min-width: 45px;
        width: 45px;
        height: 46px;
    }

    &--paid {
        background-position: -571px -182px;
        width: 65px;
        height: 65px;
    }

    &--unpaid {
        background-position: -571px -316px;
        width: 65px;
        height: 65px;
    }

    &--clean-fresh {
        background-position: -75px -319px;
        width: 91px;
        height: 63px;
    }

    &--assured {
        background-position: -272px -310px;
        width: 68px;
        height: 81px;
    }

    &--30min-service {
        background-position: -429px -313px;
        width: 77px;
        height: 76px;
    }
}
/* slick slider override */
.slick-arrow {
    position: absolute;
    top: 50%;
    /*transform: translateY();*/
    // padding: 10px;
    z-index: 10;
    display: inline-block;
    font-family: icomoon!important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    z-index: 1;

    &:before {
        color: #fff;
        font-size: 24px;
        width: 23px;
        height: 24px;
        border-radius: 50%;
        background: @transparentBg;
        display: inline-block;
    }
    transform: translate3d(0, -50%, 0);
}

.slick-prev {
    left: 0;

    &:before {
        content: "\e919";
    }
}

.slick-next {
    right: 0;

    &:before {
        content: "\e926";
    }
}

.slick-slider {
    margin-bottom: 0;
}

.slick-list,
.slick-track {
    height: 100%;
}

.slick-dots {
    bottom: 0;

    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        margin-bottom: 20px;
        opacity: 0.6;

        &.slick-active {
            opacity: 1;
        }

        button {
            /* remove default style*/
            &:before {
                content: '';
            }
        }
    }
}
/* end */
/* Login/Signup */
.btn--facebook {
    background: @fb-blue;
    height: 45px;
    border-color: @fb-blue;
    width: 48%;
    margin-right: 2%;

    .icon-fb {
        font-size: 21px;
    }
    justify-content: flex-start;
}

.btn--google {
    background: @google-red;
    height: 45px;
    border-color: @google-red;
    width: 48%;
    margin-left: 2%;
    justify-content: flex-start;

    .icon-google {
        font-size: 21px;
    }
}

.social-pipe {
    margin: 0 6px;
    font-size: 21px;
}

.login {
    &__mintxt {
        .font-size(14);
    }

    &__button {
        height: 45px;
    }

    &__form {
        width: 450px;
        padding: 30px 45px;
        height: 605px;
    }

    &__full {
        width: 100%;
    }

    &__btn--green {
        background-color: @ocean-green;
        border: none;
        .font-size(16);
        font-weight: 100;
        color: @gallery-gray;
        height: 45px;
    }

    &__newtotreebo {
        width: 80%;
        bottom: 0;
        height: 70px;
        font-weight: 500;
        border-top: 1px solid lightgray;
        line-height: 4;
    }

    &__darktxt {
        font-family: @brandFont;
    }

    &__reminput {
        margin-right: 0 !important;
    }
}

.auth__img,
.login__img {
    height: 605px;
}

.signup {
    &__form {
        width: 450px;
        padding: 30px 45px;
        height: 605px;
    }

    &__full {
        width: 100%;
    }

    &__btn--green {
        background-color: @ocean-green;
        border: none;
        .font-size(16);
        font-weight: 100;
        color: @gallery-gray;
        height: 45px;
    }

    &__button {
        height: 45px;
        margin-top: 10px;
    }

    &__newtotreebo {
        width: 80%;
        bottom: 0;
        height: 70px;
        border-top: 1px solid lightgray;
        line-height: 4;
    }

    &__facebook {
        color: @white;
    }

    &__darktxt {
        font-weight: 700;
    }

    &__terms {
        .font-size(13);
        text-align: left;
        margin: 10px 0;
    }
}

.forgot {
    &__form {
        width: 450px;
        padding: 30px 45px;
        height: 605px;
    }

    .forget-password-link {
        margin-left: auto;
    }

    &__full {
        width: 100%;
    }

    &__btn {
        width: 100%;
        height: 45px;
    }

    &__desc {
        .font-size(14);
    }

    &__back {
        font-weight: 300;
        color: #333;
        .font-size(14);
    }
}
/* Ends */
/*search box starts*/
/* end */
/* hover tooltip starts*/
.hover-popup {
    position: relative;

    &:hover {
        .hover-popup__body {
            &.hover-popup__twisty--left {
                transform: translate(10px, -50%);
            }

            &.hover-popup__twisty--bottom {
                transform: translate(-50%, 10px);
            }
            opacity: 1;
            visibility: visible;
        }
    }

    &__twisty {
        &:after,
        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
        }

        &:before {
            border-width: 12px;
        }

        &--left {
            &:after,
            &:before {
                top: 50%;
                border-right-color: #fff;
                left: -20px;
                transform: translateY(-50%);
            }

            &:before {
                left: -24px;
                border-right-color: #F7F0F0;
            }
        }

        &--bottom {
            &:after,
            &:before {
                left: 50%;
                border-bottom-color: #fff;
                top: -20px;
                transform: translateX(-50%);
            }

            &:before {
                top: -24px;
                border-bottom-color: #F7F0F0;
            }
        }
    }

    &__body {
        &.hover-popup__twisty--left {
            margin-left: 10px;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        &.hover-popup__twisty--bottom {
            margin-top: 10px;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
        }
        position: absolute;
        background: #fff;
        z-index: 10;
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 2px 2px 6px rgba(0,0,0,.3);
        filter:drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
        opacity: 0;
        transition: 0.3s ease;
        visibility: hidden;
    }
}
/* end */
.breakup {
    &__item {
        padding: 5px;
        font-size: 13px;

        &--total {
            margin-top: 5px;
            border-top: none !important;

            .total-price {
                font-size: 16px;
                font-weight: bold;
            }

            .inc {
                color: @textColor3;
                font-size: 12px;
            }
        }

        &+& {
            border-top: 1px solid @borderLight;
        }
    }

    &__label {
        color: @textColor2;
        text-transform: upperCase;
    }

    &__per-night-price {
        .font-size(12);
        margin-top: 20px;
    }
}

.grayTxt {
    color: @jumbo-gray;
}

.inc-hint {
    font-size: 12px;
    color: @textColor3;
}

.label-text {
    color: @textColor3;
}

.parsley-errors-list {
    text-align: left;
    .font-size(12);
    color: @errorColor;
}

.bread-crumb {
    &__item {
        font-size: 12px;
        font-weight: 400;
        color: @textColor3;

        a {
            color: @textColor3;
        }
        text-transform: capitalize;

        &+& {
            margin-left: 5px;

            &:before {
                content: '>\0000a0';
                position: relative;
                left: -1px;
                font-size: 12px;
                color: @textColor3;
            }
        }
    }
}

#commonLoader {
    position: fixed !important;
}

.loader-container {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @transparentBg;
    text-align: center;
    z-index: 222;

    &--inline {
        background: rgba(255,255,255, 0.7);
    }

    .loader-box {
        width: 100%;
        position: absolute !important;
    }
    /*.bbl {
        animation: bubble 1000ms forwards infinite;
        background: @treeboColor;
        border-radius: 40%;
        box-shadow: 0 0 0px @treeboColor;
        display: inline-block;
        height: 9px;
        width: 9px;
        margin: 3px;
        transform: scale(0, 0);
        &:nth-child(2),
        &:nth-child(4) {
            animation-delay: 125ms;
        }
        &:nth-child(1),
        &:nth-child(5) {
            animation-delay: 250ms;
        }
    }*/
}
/*@keyframes bubble {
    0% {
        transform: scale(0, 0);
    }
    12% {
        transform: scale(1.5, 1.5);
    }
    23% {
        transform: scale(0.5, 0.5);
    }
    34% {
        transform: scale(1.2, 1.2);
    }
    45% {
        transform: scale(1, 1);
    }
    85% {
        transform: scale(0, 0);
    }
}*/
.sk-fading-circle {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    position: relative;

    &.small {
        width: 30px;
        height: 30px;
    }
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: @treeboColor;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
    0%,
    100%,
    39% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}
@keyframes sk-circleFadeDelay {
    0%,
    100%,
    39% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.unavailable {
    background: #fff;

    &__title {
        color: @textColor2;
        font-size: 35px;
        margin: 70px 0 30px;
    }

    &__info {
        font-size: 14px;
        color: @textColor2;
    }

    &__city-links {
        font-size: 14px;
        margin-top: 20px;
    }

    .error-page {
        justify-content: center;
        min-height: 500px;
        align-items: center;
    }
}

.treebo-promise {
    padding: 30px;
    background: #fff;

    &__image {
        justify-content: space-around;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 18px;
        color: textColor2;
        margin-bottom: 10px;
        text-align: center;
        color: @textColor2;
    }

    &__info {
        font-size: 13px;
        color: @textColor3;
        line-height: 18px;

        &__sep {
            &+& {
                margin-left: 7px;

                &:before {
                    display: inline-block;
                    position: relative;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: @textColor2;
                    left: -3px;
                    top: -2px;
                }
            }
        }
    }
}

.dd-arrow {
    transition: transform 0.2s;
    margin-left: auto;

    &--open {
        transform: rotate(180deg);
    }

    &--close {
        transform: rotate(0deg);
    }
}

.category-tag {
    background: #FFE8CB;
    color: #D0A176;
    padding: 2px 7px;
    font-size: 13px;
    line-height: 19px;
    border-radius: 3px;
    margin-left: 10px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 400;
}

.dr-month-switcher-month {
    margin: auto;
}

.feedbackMessage {
    &__head {
        .font-size(25);
        font-weight: 600;
    }

    &__para {
        margin-top: 30px;
        padding: 0 30px;
        .font-size(15);
    }
}

.tab {
    &__content {
        display: none;

        &--active {
            display: inherit;
        }
    }
}

.deals {
    background: @gray;
    color: @white;
    font-size: 0.8rem;
    position: relative;
    width: 100%;
    min-height: 50px;

    &__icon {
        position: absolute;
        top: 15px;
        left: 10px;
        .font-size(24);
        line-height: 17px;
    }

    &__text {
        padding: 0px 10px 0px 50px;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        color:#fff;
        width: 100%;
        text-align: center;
    }
}
