@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot?w7l4zv');
    src:    url('../../fonts/icomoon.eot?w7l4zv#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?w7l4zv') format('truetype'),
        url('../../fonts/icomoon.woff?w7l4zv') format('woff'),
        url('../../fonts/icomoon.svg?w7l4zv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    /*font-weight: normal;*/
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-google-plus:before {
  content: "\e93d";
}
.icon-instagram:before {
  content: "\e93c";
}
.icon-inr:before {
  content: "\f156";
}
.icon-rupee:before {
  content: "\f156";
}
.icon-event-hosting1:before {
  content: "\e938";
}
.icon-event-hosting2:before {
  content: "\e939";
}
.icon-Landmark:before {
  content: "\e93a";
}
.icon-trilights:before {
  content: "\e93b";
}
.icon-expand:before {
  content: "\e934";
}
.icon-expand3:before {
  content: "\e935";
}
.icon-AC:before {
  content: "\e900";
}
.icon-airport:before {
  content: "\e901";
}
.icon-alert:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-breakfast:before {
  content: "\e906";
}
.icon-bus-stand:before {
  content: "\e907";
}
.icon-calendar-full:before {
  content: "\e908";
}
.icon-check-in:before {
  content: "\e909";
}
.icon-check-out:before {
  content: "\e90a";
}
.icon-checkmark-circle:before {
  content: "\e90b";
}
.icon-cross-circle:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\e90d";
}
.icon-deals:before {
  content: "\e90e";
}
.icon-down-arrow:before {
  content: "\e90f";
}
.icon-download:before {
  content: "\e910";
}
.icon-fb:before {
  content: "\e911";
}
.icon-feedback-icon:before {
  content: "\e912";
}
.icon-google:before {
  content: "\e913";
}
.icon-gym:before {
  content: "\e914";
}
.icon-hotel-room:before {
  content: "\e915";
}
.icon-iron-board:before {
  content: "\e916";
}
.icon-king-bed:before {
  content: "\e917";
}
.icon-laundry:before {
  content: "\e918";
}
.icon-left-circle:before {
  content: "\e919";
}
.icon-linkedin:before {
  content: "\e91a";
}
.icon-location:before {
  content: "\e91b";
}
.icon-mail:before {
  content: "\e91c";
}
.icon-parking:before {
  content: "\e91d";
}
.icon-person:before {
  content: "\e91e";
}
.icon-plus-circle:before {
  content: "\e91f";
}
.icon-pool:before {
  content: "\e920";
}
.icon-print:before {
  content: "\e921";
}
.icon-queen-bed:before {
  content: "\e922";
}
.icon-railway:before {
  content: "\e923";
}
.icon-restaurant:before {
  content: "\e924";
}
.icon-returnarrows:before {
  content: "\e925";
}
.icon-right-circle:before {
  content: "\e926";
}
.icon-right:before {
  content: "\e927";
}
.icon-room-service:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
.icon-share:before {
  content: "\e92a";
}
.icon-single-bed:before {
  content: "\e92b";
}
.icon-tag:before {
  content: "\e92c";
}
.icon-telephone:before {
  content: "\e92d";
}
.icon-tick:before {
  content: "\e92e";
}
.icon-time:before {
  content: "\e92f";
}
.icon-travel-desk:before {
  content: "\e930";
}
.icon-tv:before {
  content: "\e931";
}
.icon-twitter:before {
  content: "\e932";
}
.icon-wifi:before {
  content: "\e933";
}
.icon-gift:before {
  content: "\e7ff";
}
.icon-checkbox-unchecked:before {
  content: "\e936";
}
.icon-checkbox-checked:before {
  content: "\e937";
}
