@import "../mixins.less";
@import "../variables.less";

#mixpanelAnalyics {
  bottom: 0;
  left: 4px;
}

.sitefooter {
  background-color: @mineshaft-gray;
  color: @white;
  padding: 40px 0;
}

.footer {
  flex-grow: 1;
  padding: 10px;

  &__navitem {
    margin-bottom: 4px;
    .font-size(18);
    line-height: 30px;

    &:first-child {
      .font-size(20);
      margin-bottom: 30px;
      color: @gallery-gray;
      font-weight: 100;
      font-family: @brandFont;
    }
    letter-spacing: 1px;
    font-weight: 400;
    color: @mineshaft-gray;
  }

  .anchor--white {
    color: @white;
    text-decoration: none;
  }

  &__navitemlink {
    color: @jumbo-gray;
    line-height: 26px;
    text-decoration: none;
    display: inline-block;
  }

  &__column {
    flex-grow: 1;
  }

  &__quality {
    .font-size(16);
    color: @gallery-gray;
    font-weight: 100;
  }
  // &__joinuswrapper{
  //     width:400px;
  // }
  &__title {
    .font-size(20);
    font-family: @brandFont;
  }

  &__email {
    width: 55%;
    display: inline-block;
  }

  &__btn--green {
    background-color: @parsley-green;
    display: inline-block;
    border: none;
    width: 45%;
    .font-size(16);
    font-weight: 100;
    color: @gallery-gray;
    .font-size(14);
  }

  &__seo-hotel-heading {
    padding-top: 30px;
    .font-size(24);
    color: white;
    margin-bottom: 30px;
    font-family: @brandFont;
  }

  &__seo-hotel-link {
    line-height: 1.7;
    margin-top: 30px;
    padding-bottom: 40px;
    .font-size(16);
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__hotel-link {
    color: @jumbo-gray;
    .font-size(16);
    flex-basis: 235px;
  }
}

.seo-hover-hotel:hover {
  color: white;
}

.copyright {
  background-color: @black;
  color: @gallery-gray;
  .font-size(14);
  padding-bottom: 25px;
}

.icon-holder {
  padding-bottom: 20px;

  &__social-icon-cont {
    width: 62px;
    display: inline-block;
    text-align: left;
  }

  &__social-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 50%;
    background: rgba(26, 26, 26, 0.69);
    display: inline-block;
    text-align: center;
  }
}

.footer {
  background-color: #4a4a4a;
  color: #f1f1f1;
  padding: 50px 0;

  .heading-1 {
    font-size: 21px;
  }
  /* &__refer {
    margin-bottom: 8.8rem;

    &__title {
      color: var(--color-quinary);
      margin-bottom: 1.6rem;
      font-size: 3rem;
    }

    &__text {
      color: var(--color-quinary);
      line-height: 1.4;
    }
  } */
  &__links {
    display: flex;
    justify-content: space-between;

    a {
      color: #9b9b9b;
    }

    &__title {
      color: #f1f1f1;
      margin-bottom: 16px;
    }

    &__list {
      & li {
        opacity: 0.7;
        margin: 12px 0;
      }
    }
  }

  &__social-icon {
    margin-right: 8px;
    position: relative;
    top: 1px;
  }
}

.seo-footer {
  .heading-2 {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 500;
    color: #4a4a4a;
  }
  background-color: #e0e0e0;
  padding: 50px 0;
  color: #9b9b9b;

  a {
    color: #9b9b9b;
  }

  &__title {
    font-size: 16px;
    margin-top: 24px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 12px;
    line-height: 1.3;
    margin: 8px 0;
  }

  &__cities {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin-top: 24px;
    display: inline-block;

    &__image {
      width: 193px;
    }
  }

  &__link {
    margin-right: 4px;

    &:after {
      content: ',';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}