@import "../variables.less";
@import "../mixins.less";
.navigation {
    width: 100%;
}

#home {
  padding-left: 0px;
}

.icon-telephone {margin-right: 5px;}
.home-page-nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    padding-bottom: 4%;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
}
.header-container {
    background : #fff;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.16);
}
@hederHight : 60px;
.header-nav {
    width: 100%;
    height: @hederHight;
    padding-left: 0px;
    &__item {
        display: flex;
        align-items: center;
        margin: 0 2px;
        &:first-child {
            margin-right: auto;
        }
    }
    &__link {
        line-height: @hederHight;
        padding-right: 8px;
        // padding: 0 20px;
        color:#4a4a4a;
        // text-shadow: 0px 1px 15px rgba(150, 150, 150, 1);
        font-weight: 600;
    }
}

.header-auth{
    color: #fff;
    padding: 0 17px;
    &__mini{
        padding:0px 3px;
    }
}

.user {
    position: relative;
    right:3px;
    &__name{
        background-color: transparent;
        color: @textColor1;
        font-weight: 600;
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-transform: capitalize;

    }
    &__content{
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
    }
    &__link{
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;
    }
}

.dropdown-content .dropdown-link:hover {
    background-color: @lightGray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: @treeboColor;
    color: #fff;
}
