@import "../variables.less";
@import "../mixins.less";
@import "autocomplete.less";
@borderColor: #ccc;

.initial-load {
    background: #fff !important;
    display: block !important;
    width: 465px !important;
    left: 143px !important;
}

#searchLoader {
    width: 868px;
    margin: auto;
}

.config-options-list {
    max-height: 200px;
    overflow: auto;
}

.icon-search {
    margin-right: 8px;
    font-size: 15px;
    font-weight: bold;
}

.search-box {
    z-index: 11;

    &__label {
        padding: 6px 10px 0;
        .font-size(10);
        color: @textColor3;
        text-transform: uppercase;
    }

    &__title {
        color: @textColor1;
        font-weight: 400;
        .font-size(16);
    }

    &__input-container {
        flex-basis: 230px;
        background: #fff;
        height: 53px;
        // border: 1px solid @borderColor;
    }

    &__input {
        flex: 1 1 auto;
        border: none;
        padding-top: 0;
    }

    &__calendar {
        flex-basis: 235px;
    }

    &__room-widget {
        flex-basis: 170px;
    }

    &__submit {
        flex-basis: 130px;
        font-weight: 500;
        .font-size(16);
    }
}

.daterange .dr-input {
    flex: 1;
}

.room-widget-container {
    background: #fff;
    // border: 1px solid #ccc;
    border-left: none;
}

.dd {
    &__item {
        border-bottom: #6d7275;
        overflow: hidden;
        padding: 5px 15px !important;
        cursor: pointer;
        padding: 0 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 26px;
        text-align: left;
        border-bottom: 1px solid #e6e6e6;
        font-size: 13px;
        color: #6d7275;
        cursor: pointer;

        &:hover {
            background: #EDF4EF !important;
        }

        &--selected {
            background: #ccc;
            background: #EDF4EF !important;
            font-weight: bold;
        }
    }
}

.room-widget {
    &__header {
        height: 53px;
        justify-content: space-between;
        // padding: 0 15px;
    }

    &__total {
        padding: 0 10px 10px;
    }

    &__dd {
        display: none;
        z-index: 11;

        &--show {
            display: flex;
        }
    }

    &__options,
    &__config {
        z-index: 11;
        display: none;
        background: #fff;
        // border: 1px solid #ccc;
        box-shadow: 0 2px 6px rgba(0,0,0,.3);

        &--show {
            display: flex;
        }

        &__item {
            &--customise {
                color: @treeboColor;
                padding: 10px 15px 0;
                cursor: pointer;
            }
        }
    }

    &__options {
        width: 220px;

        &__customise-info {
            font-size: 12px;
            color: @textColor1;
            padding: 0 15px 10px;
        }
    }

    &__config {
        width: 265px;

        &__item {
            padding: 5px 15px;
            margin-bottom: 10px;
        }

        &__add-room {
            cursor: pointer;
            color: @treeboColor;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;

            .icon-plus-circle {
                margin-right: 5px;
            }
        }
    }
}

.room-config {
    font-size: 14px;

    &__room {
        width: 65px;
        margin-right: 5px;
    }

    &__adults {
        width: 45px;
        margin-right: 30px;
    }

    &__children {
        width: 45px;
        margin-right: 30px;
    }

    .select select {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 20px;
    }

    .select:before {
        padding-top: 6px;
    }

    &__remove-link {
        font-size: 18px;
        line-height: 17px;
    }
    &__error{
        .font-size(12);
        font-weight:400;
        margin-top:5px;
    }
}

.config-option-label {
    font-size: 13px;
    color: @textColor3;
    padding: 10px 15px 0;

    .room-config__children {
        width: 75px;
        margin-right: 0;
    }
}

.daterange .dr-selections .dr-calendar {
    min-width: 280px;
    padding: 20px;
}

.extra-cities {
    &__item {
        justify-content: space-between;
    }
}
// safari bug....
.dr-dates-col {
    width: 117px;
}
